image:
    - Visual Studio 2015
cache:
  - "%LOCALAPPDATA%\pip\Cache"
environment:
    matrix:
        - PYTHON: "C:\\Python27"
        - PYTHON: "C:\\Python34"
        - PYTHON: "C:\\Python35"
        - PYTHON: "C:\\Python36"
        - PYTHON: "C:\\Python27-x64"
        - PYTHON: "C:\\Python34-x64"
        - PYTHON: "C:\\Python35-x64"
        - PYTHON: "C:\\Python36-x64"
init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
install:
    - "%PYTHON%\\python.exe -m pip install -U setuptools pip"
    - "%PYTHON%\\python.exe -m pip install -U virtualenv"
    - "%PYTHON%\\python.exe -m pip --version"
    - "%PYTHON%\\python.exe -m virtualenv --version"
    - "git --version"
    - "%PYTHON%\\python.exe -m pip install -U flake8 pylint codecov"
    - "%PYTHON%\\python.exe -m pip install -U pytest-flake8 pytest-pylint pytest-cov"
build: off
test_script:
    - "%PYTHON%\\python.exe -m pytest -v --cache-clear --flake8 --pylint --cov=. --cov-report term-missing"
on_success:
    - "%PYTHON%\\python.exe -m codecov -X gcov"
on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
skip_branch_with_pr: true
