[MASTER]
jobs = 2

[MESSAGES CONTROL]
disable =
    bad-continuation,
    fixme,
    raise-missing-from,
    super-with-arguments,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-statements,
    useless-object-inheritance

[FORMAT]
max-line-length = 120
