interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.macosx64-fuzzing-debug\",\n
        \ \"taskId\": \"GLRIW6TZR3W8MYSxSywHYA\",\n  \"rank\": 1730962628,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T07:04:57.013Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ba-gYYmtYZufTAJyXFmRLS3U5CZp4M"
      x-for-request-id:
      - 71781863-1ea7-444a-a387-3e5d7ad03e8c
      x-for-trace-id:
      - cc60bd935e3fea05f35f8d9a01888788
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/GLRIW6TZR3W8MYSxSywHYA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T07:04:57.013Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T07:04:57.013Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T07:04:57.013Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/GLRIW6TZR3W8MYSxSywHYA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/GLRIW6TZR3W8MYSxSywHYA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-ftyi7r7KYZjhLy3T+8xy+E6tbjo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/GLRIW6TZR3W8MYSxSywHYA/0/public/build/target.json
      x-for-request-id:
      - 3f4d3bbe-7675-435e-954c-d42b19b5fd4f
      x-for-trace-id:
      - 81139832316fe041bd1a34f7ed4c2877
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/GLRIW6TZR3W8MYSxSywHYA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\": \"20241107065708\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=10.15 -stdlib=libc++ --target=x86_64-apple-darwin\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"mac-fuzzing\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"5af047db1ca9c2f1f6b597b30e9b8c2f1b8ea2da\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"0ff981924fa880e96e5d83964989bd09"'
      Last-Modified:
      - Thu, 07 Nov 2024 07:59:49 GMT
      x-goog-generation:
      - '1730966389106744'
      x-goog-hash:
      - crc32c=LUCRRg==
      - md5=D/mBkk+ogOluXYOWSYm9CQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '416'
    status:
      code: 200
      message: OK
version: 1
