interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux-opt\",\n  \"taskId\":
        \"T5XWArqtT5yY2v6u6W1goQ\",\n  \"rank\": 1730723285,\n  \"data\": {},\n  \"expires\":
        \"2024-12-02T15:08:27.688Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ad-xuLE5L0L4Bv24qu9QqmSrlsKcI8"
      x-for-request-id:
      - 82e5b339-e304-4c4e-a258-f6d3e2ddd670
      x-for-trace-id:
      - 3905323d5a0a1915d5cb6af08e36acc3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/T5XWArqtT5yY2v6u6W1goQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-02T15:08:27.688Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-02T15:08:27.688Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-02T15:08:27.688Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/T5XWArqtT5yY2v6u6W1goQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/T5XWArqtT5yY2v6u6W1goQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-FzrhKexKW8NDCvQuVc0kbLbDcxU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/T5XWArqtT5yY2v6u6W1goQ/0/public/build/target.json
      x-for-request-id:
      - cb1d4b3f-5ff9-4386-93c7-5e68fba39609
      x-for-trace-id:
      - 9047e470730bbb7106df293e1c367dc6
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/T5XWArqtT5yY2v6u6W1goQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -std=gnu99 -m32\",\n
        \ \"buildid\": \"20241104122805\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu
        -std=gnu99 -m32\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -m32\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-i686\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"ccec8d8d37c5472db3b4fe9968f7dfaf8176edf4\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"i686-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"5bbd84d7e72b63fa06c982a0914134f8"'
      Last-Modified:
      - Mon, 04 Nov 2024 15:54:33 GMT
      x-goog-generation:
      - '1730735673548981'
      x-goog-hash:
      - crc32c=eSPDPw==
      - md5=W72E1+crY/oGyYKgkUE0+A==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '371'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.04
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.04.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-05T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.04.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-eHoNPuQ6x7zNdSR/jlAwa3pcsRo"
      x-for-request-id:
      - 24206d5f-d683-4f76-b709-fdc9d6cb61c5
      x-for-trace-id:
      - fe74844d40b4742fe22f4930c2327a55
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.04
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.04.20241104003959\",\n
        \     \"name\": \"20241104003959\",\n      \"expires\": \"2024-12-04T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.04.latest.firefox.linux-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.2024.11.04.latest.firefox.linux-opt\",\n
        \ \"taskId\": \"R90M2gTfRhKuJzLRkr7Suw\",\n  \"rank\": 1730756602,\n  \"data\":
        {},\n  \"expires\": \"2024-12-02T21:52:01.867Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c2-ccLeeIzLKn8fPH+oG7Ev9YHvfyk"
      x-for-request-id:
      - 7b8c2f43-1bdb-45a7-8b36-87488c91d401
      x-for-trace-id:
      - 6a20c1bde471dfd2db2f127eecab05b5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/R90M2gTfRhKuJzLRkr7Suw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-02T21:52:01.867Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/R90M2gTfRhKuJzLRkr7Suw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/R90M2gTfRhKuJzLRkr7Suw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-EIHxdBLNkkriyOFZjSwlft3g0M0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/R90M2gTfRhKuJzLRkr7Suw/0/public/build/target.json
      x-for-request-id:
      - 33e6b43a-fcfb-41b9-9823-5927bdcd890d
      x-for-trace-id:
      - ed8d00348d3249bc0239ae75de06a160
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/R90M2gTfRhKuJzLRkr7Suw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu
        -std=gnu99 -m32\",\n  \"buildid\": \"20241104214322\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -std=gnu99 -m32\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.ccec8d8d37c5472db3b4fe9968f7dfaf8176edf4.firefox.linux-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.ccec8d8d37c5472db3b4fe9968f7dfaf8176edf4.firefox.linux-opt\",\n
        \ \"taskId\": \"T5XWArqtT5yY2v6u6W1goQ\",\n  \"rank\": 1730723285,\n  \"data\":
        {},\n  \"expires\": \"2024-12-02T15:08:27.688Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d8-+CYHwPlgNNLEVoYphZ/ZZnHqgrM"
      x-for-request-id:
      - 4a231b02-1cf1-4c33-9a57-16f7620cbb39
      x-for-trace-id:
      - 293ef235dbe0d0701d3b064886b9400d
    status:
      code: 200
      message: OK
version: 1
