interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-debug\",\n
        \ \"taskId\": \"XX4s4TpeQtuzjQZsQc8MvQ\",\n  \"rank\": 1730923379,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:08:29.571Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b1-RNR9ep7sJhy6S7B2b1xjGeiO7/k"
      x-for-request-id:
      - a2335229-9526-4a0f-ba45-50a781c44090
      x-for-trace-id:
      - 2f1bf759959f175e8fea1aeaf8d27b0f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XX4s4TpeQtuzjQZsQc8MvQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T20:08:29.571Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T20:08:29.571Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/mozharness.zip\",\n
        \     \"expires\": \"2024-12-04T20:08:29.571Z\",\n      \"contentType\": \"application/zip\"\n
        \   },\n    {\n      \"storageType\": \"s3\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XX4s4TpeQtuzjQZsQc8MvQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/XX4s4TpeQtuzjQZsQc8MvQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-ZM9NM9C/jhfqDfSWZkIeeENav4o"
      location:
      - https://firefoxci.taskcluster-artifacts.net/XX4s4TpeQtuzjQZsQc8MvQ/0/public/build/target.json
      x-for-request-id:
      - a65b81de-61b2-463b-9f56-2f43d379c459
      x-for-trace-id:
      - 40c5dbed2929f5c6f5df0e643aae9fd4
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/XX4s4TpeQtuzjQZsQc8MvQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241106200259\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"2855593bdf5b654f7f2f784e1da6ba03daac21f5\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3f7cf89610897d7051e75280fe2d8ffc"'
      Last-Modified:
      - Wed, 06 Nov 2024 20:17:51 GMT
      x-goog-generation:
      - '1730924271544825'
      x-goog-hash:
      - crc32c=qlJGIg==
      - md5=P3z4lhCJfXBR51KA/i2P/A==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '290'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 909bd9ea-cfaa-4aac-b6a7-6767eaa00487
      x-for-trace-id:
      - 62357612600a99332d83845d1d7cfd79
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:36.980Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:18:36.980Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19a-tzPOOGHebJnoHi/c7AECCg7YlnU"
      x-for-request-id:
      - c5de2e8e-342d-4d83-a26a-3f32c2e50d6b
      x-for-trace-id:
      - c532df103aaf7be30d00d6b7a7839dcd
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:37.115Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:18:37.115Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19d-aN3FYuo8ulF9AJ4vhGD4eR0L6Qg"
      x-for-request-id:
      - 2d5e7027-3843-48df-bb65-40ba8d8b3bed
      x-for-trace-id:
      - 5693826c0763ba9854853b24aabce993
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:37.258Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:18:37.258Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19c-Y8bb32renlvzmWK5xsHedqOsPnU"
      x-for-request-id:
      - 894969cd-0ff1-4603-80c9-08cb351e1f88
      x-for-trace-id:
      - 4dceca310ab31c044ef0351f9dbb64b1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:37.393Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:18:37.393Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-UWI2cMPNr7gCW6avGF0qSrIEHBA"
      x-for-request-id:
      - 9817ca13-4397-4285-bb9e-c695365bb948
      x-for-trace-id:
      - 2984b0273ad6ace2a70495368c818b41
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:37.546Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:18:37.546Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a1-1V9vmmRcxLT8pdJU/hlOKLup7/4"
      x-for-request-id:
      - f63f67cc-3302-4d94-86d2-1dc74ce9409b
      x-for-trace-id:
      - 6fb37299f2e1da2c70bbd4e911957284
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:37.706Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:18:37.706Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a4-1M2P6AlnX9ugq19os+9urnXtHjM"
      x-for-request-id:
      - cbdaebb4-0607-42ce-8e2b-c1e12069c215
      x-for-trace-id:
      - ee603dd88ed2266aaada2de14cd4a18c
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/SV5cidxlRKSNXsQj9rjiHQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T01:26:49.335Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/SV5cidxlRKSNXsQj9rjiHQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/SV5cidxlRKSNXsQj9rjiHQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-c3GLZxZ4FigoDiZeYVP+uUBOzFE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/SV5cidxlRKSNXsQj9rjiHQ/0/public/build/target.json
      x-for-request-id:
      - c7418493-b367-4ee3-9191-072a503b2fda
      x-for-trace-id:
      - cca8fe8df49c0c8b47d71f673870385b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/SV5cidxlRKSNXsQj9rjiHQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106011846\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clan[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.2855593bdf5b654f7f2f784e1da6ba03daac21f5.firefox.linux64-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.2855593bdf5b654f7f2f784e1da6ba03daac21f5.firefox.linux64-debug\",\n
        \ \"taskId\": \"XX4s4TpeQtuzjQZsQc8MvQ\",\n  \"rank\": 1730923379,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:08:29.571Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"dc-L1I+tZ002wy+nJroDBYRH/kBk7A"
      x-for-request-id:
      - afb08da0-632a-457c-a55a-eff1f45f5000
      x-for-trace-id:
      - 891567cc0ecccdba8721554889dde869
    status:
      code: 200
      message: OK
version: 1
