interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"e3nbJYEaS7aA1xD4bYwgUQ\",\n  \"rank\": 1731006378,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T19:11:09.933Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"af-YV92jmpDSmNCaqouoQ9HP0rkoUs"
      x-for-request-id:
      - bf8aa03f-4bd2-4091-ae84-6527efeda8b3
      x-for-trace-id:
      - 4ae6cbdf91e6508df9ef44cd7b0f317f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/e3nbJYEaS7aA1xD4bYwgUQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T19:11:09.933Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T19:11:09.933Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/mozharness.zip\",\n
        \     \"expires\": \"2024-12-05T19:11:09.933Z\",\n      \"contentType\": \"application/zip\"\n
        \   },\n    {\n      \"storageType\": \"s3\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/e3nbJYEaS7aA1xD4bYwgUQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/e3nbJYEaS7aA1xD4bYwgUQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-5iHFiKuRdEcY2RoNXIvw/8qglX8"
      location:
      - https://firefoxci.taskcluster-artifacts.net/e3nbJYEaS7aA1xD4bYwgUQ/0/public/build/target.json
      x-for-request-id:
      - b2097c80-94f8-457e-af9d-6fc38e103fcf
      x-for-trace-id:
      - db0776872ae1203ddf8f260995d29b4c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/e3nbJYEaS7aA1xD4bYwgUQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241107190618\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"b1f67d058d56622fc0568818695c0d3753f95389\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ee72bb130c5cb25a80da94d4f3a740b7"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:16:42 GMT
      x-goog-generation:
      - '1731007002853549'
      x-goog-hash:
      - crc32c=Sc1AEQ==
      - md5=7nK7EwxcslqA2pTU86dAtw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '290'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"Vq1jyAmpRG-jfo52pAHUzQ\",\n  \"rank\": 1750773550,\n  \"data\":
        {},\n  \"expires\": \"2025-07-22T14:04:19.262Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b9-Cf9VVSvv1m05HMxm3S0HG2gJ+AI"
      x-for-request-id:
      - e4ab2425-c484-4be6-9568-0a2e00b11306
      x-for-trace-id:
      - 8de156145e70358404ce4adef6fb7b90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Vq1jyAmpRG-jfo52pAHUzQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-22T14:04:19.262Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Vq1jyAmpRG-jfo52pAHUzQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Vq1jyAmpRG-jfo52pAHUzQ/2/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-/UaiD+qyW1BsH3eMYS2t0NTPwn8"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Vq1jyAmpRG-jfo52pAHUzQ/2/public/build/target.json
      x-for-request-id:
      - 4407aaac-7299-49ea-9a23-b74898bf34e4
      x-for-trace-id:
      - ad8b8d167fcf02cd656c2cef002ef03f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Vq1jyAmpRG-jfo52pAHUzQ/2/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20250624135910\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/wo[...]
