interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.win64-ccov-fuzzing-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.win64-ccov-fuzzing-opt\",\n
        \ \"taskId\": \"FEART5gPRnui56fD1SwnTQ\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:52.414Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c6-MmteY8zqC41eNfjkc2Bo/bmb1bA"
      x-for-request-id:
      - 7e97948c-523c-4645-b765-d13297034592
      x-for-trace-id:
      - a4e4f5b556b364fc55f833851a7c84a7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FEART5gPRnui56fD1SwnTQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:52.414Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/chrome-map.json\",\n      \"expires\":
        \"2025-11-07T16:49:52.414Z\",\n      \"contentType\": \"application/json\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/config.status\",\n
        \     \"expires\": \"2025-11-07T16:49:52.414Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FEART5gPRnui56fD1SwnTQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/FEART5gPRnui56fD1SwnTQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-rHgdguVxB70g8p8ibXXEz/vnyqg"
      location:
      - https://firefoxci.taskcluster-artifacts.net/FEART5gPRnui56fD1SwnTQ/0/public/build/target.json
      x-for-request-id:
      - 3ca5ebc1-2df9-4a1a-890b-b38e8e0042e1
      x-for-trace-id:
      - b01a038fdb21030fc06f0c707b307800
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/FEART5gPRnui56fD1SwnTQ/0/public/build/target.json
  response:
    body:
      string: "{\r\n  \"as\": \"D:/task_173099735408275/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\r\n
        \ \"buildid\": \"20241107164615\",\r\n  \"cc\": \"D:/task_173099735408275/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -Xclang -std=gnu99\",\r\n  \"cxx\": \"D:/task_173099735408275/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -std:c++17\",\r\n  \"host\": \"x86_64-pc-mingw32\",\r\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\r\n  \"moz_app_maxversion\":
        \"134.0a1\",\r\n  \"moz_app_name\": \"firefox\",\r\n  \"moz_app_vendor\":
        \"Mozilla\",\r\n  \"moz_app_version\": \"134.0a1\",\r\n  \"moz_pkg_platform\":
        \"win64-fuzzing\",\r\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\r\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\r\n
        \ \"moz_update_channel\": \"default\",\r\n  \"target\": \"x86_64-pc-mingw32\"\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"641c18ccd015b48a7bafd5957f9471a0"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:57:33 GMT
      x-goog-generation:
      - '1731002253594304'
      x-goog-hash:
      - crc32c=8CjSAg==
      - md5=ZBwYzNAVtIp7r9WVf5RxoA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '451'
    status:
      code: 200
      message: OK
version: 1
