interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-aarch64-opt\",\n
        \ \"taskId\": \"cxsX3JgCRt-tEsH-ouLt3Q\",\n  \"rank\": 0,\n  \"data\": {},\n
        \ \"expires\": \"2024-11-22T13:19:34.736Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ba-aBTt0swebgXQGxu8LZ5M1OIxAJo"
      x-for-request-id:
      - c3c96c04-2763-43e3-a799-d11e4e300ee7
      x-for-trace-id:
      - a12f7db80ec1be5638f6e2a544cb50b8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cxsX3JgCRt-tEsH-ouLt3Q/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-11-22T13:19:34.736Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-11-22T13:19:34.736Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-11-22T13:19:34.736Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cxsX3JgCRt-tEsH-ouLt3Q/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/cxsX3JgCRt-tEsH-ouLt3Q/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-Y2FtnUK2NAMwKpTNp+NZLPDdtto"
      location:
      - https://firefoxci.taskcluster-artifacts.net/cxsX3JgCRt-tEsH-ouLt3Q/0/public/build/target.json
      x-for-request-id:
      - 0f972517-1a21-47ba-a743-4f52e674c719
      x-for-trace-id:
      - 67f485d0a244b5aff1d60c4b905982fd
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/cxsX3JgCRt-tEsH-ouLt3Q/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu
        -std=gnu99 --target=aarch64-linux-gnu\",\n  \"buildid\": \"20231123095534\",\n
        \ \"cc\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu
        -std=gnu99 --target=aarch64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu --target=aarch64-linux-gnu\",\n
        \ \"host_alias\": \"x86_64-pc-linux-gnu\",\n  \"host_cpu\": \"x86_64\",\n
        \ \"host_os\": \"linux-gnu\",\n  \"host_vendor\": \"pc\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"122.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"122.0a1\",\n  \"moz_pkg_platform\": \"linux-aarch64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\": \"8366d9b1b0ca63aa3b706dd53ce23f052221c11b\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target_alias\": \"aarch64-pc-linux-gnu\",\n
        \ \"target_cpu\": \"aarch64\",\n  \"target_os\": \"linux-gnu\",\n  \"target_vendor\":
        \"pc\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"993a3dac335c790e15d21e1a47de8ecc"'
      Last-Modified:
      - Thu, 23 Nov 2023 14:07:10 GMT
      x-goog-generation:
      - '1700748430059473'
      x-goog-hash:
      - crc32c=Kx1bvg==
      - md5=mTo9rDNceQ4V0h4aR96OzA==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '403'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64-aarch64-opt\",\n
        \ \"taskId\": \"OOeAHjVLQe2mqfHYCl95Tw\",\n  \"rank\": 1750758255,\n  \"data\":
        {},\n  \"expires\": \"2026-06-24T09:47:58.962Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cd-togKSuaScfNlvStnqjQJHmiNN1Q"
      x-for-request-id:
      - 60a8d7b1-39dd-4e90-a5d5-4811eafc3466
      x-for-trace-id:
      - f388733b011060ba20a0e4102e4558dc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OOeAHjVLQe2mqfHYCl95Tw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-24T09:47:58.962Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OOeAHjVLQe2mqfHYCl95Tw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/OOeAHjVLQe2mqfHYCl95Tw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-hpkhV7bVtDtQr5S79mIkrKiOpGA"
      location:
      - https://firefoxci.taskcluster-artifacts.net/OOeAHjVLQe2mqfHYCl95Tw/0/public/build/target.json
      x-for-request-id:
      - 75bc1cdf-63e9-4059-aaff-0e52c352bf53
      x-for-trace-id:
      - 07eea262a39c45fe3f4435acf8ad97f9
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/OOeAHjVLQe2mqfHYCl95Tw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu
        --target=aarch64-linux-gnu\",\n  \"buildid\": \"20250624094415\",\n  \"cc\":
        \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu
        --target=aarch64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu --target=aarch64-linux-gnu\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"142.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"142.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-aarch64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"a8fced7066fda9df1ca49b6fc4ca01a4d27a2c4f\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target\": \"aarch64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"f39be5b88739b0a2b2d5d53d4913b8cf"'
      Last-Modified:
      - Tue, 24 Jun 2025 11:19:59 GMT
      x-goog-generation:
      - '1750763999729075'
      x-goog-hash:
      - crc32c=2Cwilg==
      - md5=85vluIc5sKKy1dU9SRO4zw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '359'
    status:
      code: 200
      message: OK
version: 1
