interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.11.07
  response:
    body:
      string: "{\n  \"namespaces\": []\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"16-KNMNKbWU6aCVhO3hC4tpOhZobcI"
      x-for-request-id:
      - 01e3632b-0ac4-49f0-9b0f-4bcefa383cea
      x-for-trace-id:
      - 18145c78738af5eff288d7e5666e8046
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.11.07
  response:
    body:
      string: "{\n  \"namespaces\": []\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"16-KNMNKbWU6aCVhO3hC4tpOhZobcI"
      x-for-request-id:
      - 10bfcb6c-fd76-4240-9745-a7d628ddd616
      x-for-trace-id:
      - 2f8e67f07013076aecda54d7d17ee43c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-PLn9VSqIYUUVGwPEHEiBgHUslOc"
      x-for-request-id:
      - c1662fde-c818-44d3-bb3d-f8d40f86d73c
      x-for-trace-id:
      - e947c6c7c71769e5aa8564d149bdcbd8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"XE6h2TubQzK9Bv8_cjaScQ\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:20.424Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-zLHCdLGrnG83Ur6JmaYz1fvBXlU"
      x-for-request-id:
      - 90ba6c97-f547-433f-998c-c2b36ecc5949
      x-for-trace-id:
      - 060b690b034a110e78c786ef642cd38c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:20.386Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:20.386Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-O1oi7LpvY4yseTRebxmruY5i42U"
      x-for-request-id:
      - 3a962215-0f5e-4734-ae03-761a03dabc82
      x-for-trace-id:
      - 89586d1c788e0c4c89b6fb6ea2bb6640
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:20.566Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:20.566Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-V9Y7x5ZL/K7e5B8TD8A1IcPE0T4"
      x-for-request-id:
      - f8b24d0f-cf66-44d1-9b8f-ca075a74271d
      x-for-trace-id:
      - f721256e5257f790997270ad330ed468
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:20.753Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:20.753Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-8XJW96upwZHgQVuZb9XdbmKnR0E"
      x-for-request-id:
      - d19227d5-828e-4d1d-91dc-102a9fcb5b12
      x-for-trace-id:
      - cdf0b6ab193dfb4bdf94d3f32d395df5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:20.894Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:20.894Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-97kJhHBpemXLreJU7ORWgV/CSEQ"
      x-for-request-id:
      - 5acf46fb-38a4-486e-9414-56d1bdbc4289
      x-for-trace-id:
      - f4c628dcd5e8d084ee759f681e125ecc
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:21.026Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:21.026Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-GYesiqXv6ow+eeQgmfJBctpB3r4"
      x-for-request-id:
      - e71f4601-417c-4e1f-83a2-dd9aff8b1c51
      x-for-trace-id:
      - 44f35363f1696126cb0169e0f4c09da3
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:21.165Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:21.165Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-yYm/uxVLAdL1BueCsFX9tyWoy50"
      x-for-request-id:
      - 6ea9e30d-9fa0-44fb-bfa7-e67daee58f23
      x-for-trace-id:
      - c2a4bda037ec4b6f7e18bc09f8d7dc3c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:21.308Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:21.308Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-pfzWpQdXdR2tQ4pEpOI2sgZevT0"
      x-for-request-id:
      - 3e142331-0b1e-4809-8d88-faaf04e9870c
      x-for-trace-id:
      - 18e4cb56584e917ee48ebe73f1907af5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.linux64-opt\",\n
        \ \"taskId\": \"BcKkS09iS8aeske3uVQaqQ\",\n  \"rank\": 1730869531,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T05:11:34.125Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d7-Dgu6CYIckXSncp+rtaaB3paYFYA"
      x-for-request-id:
      - 13046e18-8a63-42c5-a0b9-ba14de0c82d7
      x-for-trace-id:
      - b3f1e075f8c48dfa30452dda562dfedf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:21.575Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:21.575Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-Zh2AwWMGDsQk/pH6fVQMBlwf2gU"
      x-for-request-id:
      - 97348304-aeaa-4340-a7a4-ee1ec02290b1
      x-for-trace-id:
      - fb135e6fcb921ae8fa5c43c097a6aa67
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:21.720Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:21.720Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-WVRYmiT6bC9H25712+KcMeO+czE"
      x-for-request-id:
      - 111118dd-91f9-4231-b65e-403ea1b66dd0
      x-for-trace-id:
      - c4e3764bd4d4bf16ce3b962b94724a35
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:21.870Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:21.870Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-2gkfv40QVrJxjMLXF/FHyFToUCc"
      x-for-request-id:
      - 9a945e72-0069-408a-a62c-932bdf55a80f
      x-for-trace-id:
      - db85bb3816885efa67b400f63a323981
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"Bo9iYoO5R2OqRm7tbNx7Qg\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.929Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cf-w9VDMEMeVP02YkfuAtnKsV7iCkA"
      x-for-request-id:
      - 4a3de3f4-1365-42ba-9089-7f3be3bb5bce
      x-for-trace-id:
      - 5b7d67fa5e3cea9d7cf83a40e6d9683c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:23.129Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:23.129Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-nzjI60FlI8JkS/hqapRyw0cmqk0"
      x-for-request-id:
      - c4db14c0-b4c7-4da7-bdde-1b386b6efee2
      x-for-trace-id:
      - 83003a778bde3b0a830061afa6fd9d02
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:23.289Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:23.289Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-3PzditbOESB9JdHjNqCA3GX5RVE"
      x-for-request-id:
      - d1c36278-dcae-4095-8a48-502e1684a18a
      x-for-trace-id:
      - 08b9b9047ea5cba59b8d3806d54f4175
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:23.423Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:23.423Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-9Aceou8n1nfAOULAG+lfUMqiZlw"
      x-for-request-id:
      - 0bd5d3c7-1d45-4070-9643-91d51d110023
      x-for-trace-id:
      - 553c395bba101208742e77e2e1a7efd0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Bo9iYoO5R2OqRm7tbNx7Qg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:55:11.929Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:55:11.929Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-06T16:55:11.929Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Bo9iYoO5R2OqRm7tbNx7Qg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Bo9iYoO5R2OqRm7tbNx7Qg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-K1s48Ml6cRHxxnhhrTaklC7qTw4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Bo9iYoO5R2OqRm7tbNx7Qg/0/public/build/target.json
      x-for-request-id:
      - 772ba807-3c57-4e99-b117-20246a5e6fc1
      x-for-trace-id:
      - 2b43f221ccdd012fa68dd7e065af4d37
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Bo9iYoO5R2OqRm7tbNx7Qg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106165131\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"99bc294acbabaa903ed0a2174a0e0535"'
      Last-Modified:
      - Wed, 06 Nov 2024 17:21:48 GMT
      x-goog-generation:
      - '1730913708812205'
      x-goog-hash:
      - crc32c=dcjncw==
      - md5=mbwpSsurqpA+0KIXSg4FNQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '365'
    status:
      code: 200
      message: OK
version: 1
