interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-x86_64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-x86_64-opt\",\n
        \ \"taskId\": \"dwxsWgzrRxSJYQNeyiY8Xg\",\n  \"rank\": 1730921054,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T19:29:45.812Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b5-SeBYPJyOgBWYcPCR7kEXDrVRGGI"
      x-for-request-id:
      - 208828cc-fe37-4216-9e14-17ed3602830e
      x-for-trace-id:
      - 231eed77bb9d873ee73d1254ecc57681
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/dwxsWgzrRxSJYQNeyiY8Xg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T19:29:45.812Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T19:29:45.812Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-04T19:29:45.812Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/dwxsWgzrRxSJYQNeyiY8Xg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/dwxsWgzrRxSJYQNeyiY8Xg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-8Oios4NHsOrykW8Vf+boGklKLWU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/dwxsWgzrRxSJYQNeyiY8Xg/0/public/build/target.json
      x-for-request-id:
      - 45dfea12-37a9-4b6b-91ad-2db638b976a7
      x-for-trace-id:
      - 830bbd362fb96e6d22818b1098d1b8a1
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/dwxsWgzrRxSJYQNeyiY8Xg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=x86_64-linux-android21\",\n  \"buildid\": \"20241106192414\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=x86_64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --target=x86_64-linux-android21\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"fennec\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"android-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"aa698bcbe6a604090b6b253e42f0bbfaaed3d1e6\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-android\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"86be8fba9505715ae48c5fb7cfd2c2e5"'
      Last-Modified:
      - Wed, 06 Nov 2024 20:10:30 GMT
      x-goog-generation:
      - '1730923830225457'
      x-goog-hash:
      - crc32c=+s4tCQ==
      - md5=hr6PupUFcVrkjF+3z9LC5Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '360'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - d1d93f7f-6b5e-4236-976c-20e7d03f5d09
      x-for-trace-id:
      - c0901af651b654434adf8b09b6f03831
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.mobile.android-x86_64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest.mobile.android-x86_64-opt\",\n
        \ \"taskId\": \"ElrXIIPHSg6L1Bng3bm5xg\",\n  \"rank\": 1730915875,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T18:03:07.630Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ca-htH1RoRCRZFkpwVfGkdnIjTpV3A"
      x-for-request-id:
      - f0cc9a9e-7993-4e3f-bf2c-80d8bf2df213
      x-for-trace-id:
      - 02818f091b29f99422e2a42ba7c8d8a8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ElrXIIPHSg6L1Bng3bm5xg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T18:03:07.630Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ElrXIIPHSg6L1Bng3bm5xg/artifacts/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/ElrXIIPHSg6L1Bng3bm5xg/1/public/build/en-US/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89-lXficC1fHChMYQr3uZMW2mgAeHY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/ElrXIIPHSg6L1Bng3bm5xg/1/public/build/en-US/target.json
      x-for-request-id:
      - abe07435-a922-493b-86fb-d517e827c777
      x-for-trace-id:
      - 5f7d0379ab712e34a934d7fda6a41217
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/ElrXIIPHSg6L1Bng3bm5xg/1/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang -std=gnu99 --target=x86_64-linux-android21\",\n
        \ \"buildid\": \"20241106175755\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=x86_64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.aa698bcbe6a604090b6b253e42f0bbfaaed3d1e6.mobile.android-x86_64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.aa698bcbe6a604090b6b253e42f0bbfaaed3d1e6.mobile.android-x86_64-opt\",\n
        \ \"taskId\": \"dwxsWgzrRxSJYQNeyiY8Xg\",\n  \"rank\": 1730921054,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T19:29:45.812Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e0-1Ol24ZmqAQt1Oik2sPOqURNd0RA"
      x-for-request-id:
      - 617bdfbc-8383-4e8c-a335-c3d2f2ea6a0d
      x-for-trace-id:
      - f669f0a5166b99596993bc0db3262dcb
    status:
      code: 200
      message: OK
version: 1
