interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-fuzzing-tsan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-fuzzing-tsan-opt\",\n
        \ \"taskId\": \"aH3YPM9uRqupC6RFGsbViw\",\n  \"rank\": 1730999615,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T17:20:00.747Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bc-hJl+NQplqtQJDIkXpWmEJJ+76ME"
      x-for-request-id:
      - 16f70a6d-b5ba-4f47-81a1-4a35d004a4d2
      x-for-trace-id:
      - 0cd0ca767a85478c6e10a7aefe9cbd99
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aH3YPM9uRqupC6RFGsbViw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T17:20:00.747Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T17:20:00.747Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T17:20:00.747Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aH3YPM9uRqupC6RFGsbViw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/aH3YPM9uRqupC6RFGsbViw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-HgEQewLp7AHCGCnOkT1+zwgBgIA"
      location:
      - https://firefoxci.taskcluster-artifacts.net/aH3YPM9uRqupC6RFGsbViw/0/public/build/target.json
      x-for-request-id:
      - f363c810-8ed3-4776-8f8d-32e02c529a50
      x-for-trace-id:
      - 6547395dff4c71ae6d21e7c87ba15155
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/aH3YPM9uRqupC6RFGsbViw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241107171335\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host_alias\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"131.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"131.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-tsan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"702b68d603bdb217fa56f0e257d15259fc45cc79\",\n  \"moz_update_channel\":
        \"default\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"89edbd65243c45b18548b8a636a31896"'
      Last-Modified:
      - Thu, 07 Nov 2024 18:10:45 GMT
      x-goog-generation:
      - '1731003045706708'
      x-goog-hash:
      - crc32c=WdfVsw==
      - md5=ie29ZSQ8RbGFSLimNqMYlg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '365'
    status:
      code: 200
      message: OK
version: 1
