interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.951502a5faeb2d4ede9d2cc7628091f76996d12c.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T20:30:20.850Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.951502a5faeb2d4ede9d2cc7628091f76996d12c.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T20:30:20.850Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ba-PmR/04/tCo9vZnHLHnbTIAoLhPU"
      x-for-request-id:
      - aa960099-1ae1-45fd-ab49-36c1fcf79725
      x-for-trace-id:
      - 96dfa5cda6897f1fbb1b656b3a99f48c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://hg.mozilla.org/mozilla-central/json-rev/951502a5faeb2d4ede9d2cc7628091f76996d12c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://hg-edge.mozilla.org/mozilla-central/json-rev/951502a5faeb2d4ede9d2cc7628091f76996d12c
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://hg-edge.mozilla.org/mozilla-central/json-rev/951502a5faeb2d4ede9d2cc7628091f76996d12c
  response:
    body:
      string: '{

        "node": "951502a5faeb2d4ede9d2cc7628091f76996d12c",

        "date": [1718073174.0, -10800],

        "desc": "Backed out changeset b50c8f1824f0 (bug 1901374) for causing wpt failures
        on field-sizing-computed.html. CLOSED TREE",

        "backedoutby": "",

        "branch": "default",

        "bookmarks": [],

        "tags": [],

        "user": "Tamas Szentpeteri \u003ctszentpeteri@mozilla.com\u003e",

        "parents": ["5433a7f0c9cc0a04a33874dd6bf169c237a2af58"],

        "children": ["e1287caec454f439e2faf508a25643e95cbfe4fb", "a3e2df653647c046b57dcb697c593be0334f9a05"],

        "files": [{

        "file": "dom/base/use_counter_metrics.yaml",

        "status": "modified"

        }, {

        "file": "layout/style/ServoBindings.toml",

        "status": "modified"

        }, {

        "file": "layout/style/nsStyleConsts.h",

        "status": "modified"

        }, {

        "file": "layout/style/nsStyleStruct.cpp",

        "status": "modified"

        }, {

        "file": "layout/style/nsStyleStruct.h",

        "status": "modified"

        }, {

        "file": "layout/style/test/mochitest.toml",

        "status": "modified"

        }, {

        "file": "layout/style/test/property_database.js",

        "status": "modified"

        }, {

        "file": "modules/libpref/init/StaticPrefList.yaml",

        "status": "modified"

        }, {

        "file": "servo/components/style/properties/longhands/ui.mako.rs",

        "status": "modified"

        }, {

        "file": "testing/web-platform/meta/css/css-ui/parsing/field-sizing-computed.html.ini",

        "status": "added"

        }, {

        "file": "testing/web-platform/meta/css/css-ui/parsing/field-sizing-valid.html.ini",

        "status": "added"

        }, {

        "file": "testing/web-platform/tests/css/css-ui/__dir__.ini",

        "status": "removed"

        }],

        "diff": [{

        "blockno": 1,

        "lines": [{

        "t": "-",

        "n": 1,

        "l": "--- a/dom/base/use_counter_metrics.yaml\n"

        }, {

        "t": "+",

        "n": 2,

        "l": "+++ b/dom/base/use_counter_metrics.yaml\n"

        }, {

        "t": "@",

        "n": 3,

        "l": "@@ -16507,33 +16507,16 @@ use.counter.css.page:\n"

        }, {

        "t": "",

        "n": 4,

        "l": "       - https://bugzilla.mozilla.org/show_bug.cgi?id=1852098\n"

        }, {

        "t": "",

        "n": 5,
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.06.11
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.11.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.11.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-06-15T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-3uEsLISlczJ8gQJg5Le7SZyrZhE"
      x-for-request-id:
      - cb87bb8f-8e85-494a-bfeb-3579ad5cc890
      x-for-trace-id:
      - ce390e2e5c744a095178ce7727237d6a
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.06.11
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.11.20240611093624\",\n
        \     \"name\": \"20240611093624\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.11.20240611133415\",\n
        \     \"name\": \"20240611133415\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.11.20240611221035\",\n
        \     \"name\": \"20240611221035\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.11.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-b5x2mco8lXSGgpeZk+m/31T2C58"
      x-for-request-id:
      - 4ad2b03b-7847-414f-bed9-b9480714a184
      x-for-trace-id:
      - 7a473ed4161dab3c96b1e9ed9d071aab
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"DEqweO9HRjGQjSUOstgmZw\",\n  \"rank\": 1718143835,\n  \"data\":
        {},\n  \"expires\": \"2025-06-12T04:03:52.494Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-bQsReiLc6B52Z2dXf2nT0WffATs"
      x-for-request-id:
      - a215c882-8565-419d-b80a-e4d4332e2ef8
      x-for-trace-id:
      - 374dbbda984da17e3fac46b7d2337e8e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-06-12T04:03:52.494Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-06-12T04:03:52.494Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-06-12T04:03:52.494Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-8QLLteLkQzCe1fyYhmHarbIFbTo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.mozinfo.json
      x-for-request-id:
      - d59cdb9d-de9b-414d-b2b3-808793f5cd9b
      x-for-trace-id:
      - 6570a3fe5bddc850c9a2657592a9f2c8
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"pgo\",\n    \"buildtype_guess\":
        \"pgo\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"debug\": false,\n    \"devedition\":
        false,\n    \"domstreams\": true,\n    \"early_beta_or_earlier\": true,\n
        \   \"healthreport\": true,\n    \"isolated_process\": false,\n    \"mozconfig\":
        \"/builds/worker/checkouts/gecko/.mozconfig\",\n    \"nightly_build\": true,\n
        \   \"normandy\": true,\n    \"official\": true,\n    \"os\": \"linux\",\n
        \   \"pgo\": true,\n    \"platform_guess\": \"linux64\",\n    \"processor\":
        \"x86_64\",\n    \"release_or_beta\": false,\n    \"require_signing\": false,\n
        \   \"stylo\": true,\n    \"sync\": true,\n    \"telemetry\": false,\n    \"tests_enabled\":
        true,\n    \"toolkit\": \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n
        \   \"topsrcdir\": \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n
        \   \"ubsan\": false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"4cb49a4774ffde3186c7a143ade183a2"'
      Last-Modified:
      - Wed, 12 Jun 2024 05:53:33 GMT
      x-goog-generation:
      - '1718171613805482'
      x-goog-hash:
      - crc32c=lCeELg==
      - md5=TLSaR3T/3jGGx6FDreGDog==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '410'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1d2-J/8vwd4MccWfXRUCNG+luy0wEcM"
      x-for-request-id:
      - df4aaa2a-974c-44c7-a89f-7769adbdede6
      x-for-trace-id:
      - f427393ced6ee51bc4d3510925fbd625
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.tar.bz2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"86-9NBwV6UCGL7AhEzCiXzdq8+zwFY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.tar.bz2
      x-for-request-id:
      - a27bc872-66ad-447f-b37e-62305e76fc51
      x-for-trace-id:
      - b603f6ae0cda1c3d5b9d0566d1b70498
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-CuV2ZnbGpdCTHkMmlA/Ur0waGgE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 4f970f84-5e87-450e-b2c8-3225b4268208
      x-for-trace-id:
      - b2a8011ae7914974c7e33ae1330f115a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-fNzga0NgB28IKDfmfG8A4N8kri0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.json
      x-for-request-id:
      - 87efec4c-1486-47fe-bb7a-b64d1fd3b681
      x-for-trace-id:
      - 485a73bda3a11dcbb5a15d1fae86d06f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"buildid\": \"20240611221035\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host_alias\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"129.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"129.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"e1287caec454f439e2faf508a25643e95cbfe4fb\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"926e445a713eb105c6279f6b54f52fa1"'
      Last-Modified:
      - Wed, 12 Jun 2024 05:53:31 GMT
      x-goog-generation:
      - '1718171611361418'
      x-goog-hash:
      - crc32c=dx5YEA==
      - md5=km5EWnE+sQXGJ59rVPUvoQ==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '358'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:02.028Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:02.028Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a0-jjsn4twl3V4e63JpR5TJkiS2a2A"
      x-for-request-id:
      - 58aaea43-e4e7-4fae-93d0-34d27e1da9b1
      x-for-trace-id:
      - 8fc36a8806810e852b8d6e5a7617c067
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:02.163Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:02.163Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a7-JuS7msNgoJ6OXxBbhvZdyFktr48"
      x-for-request-id:
      - def689dc-40ba-43b0-8470-8eb7d7226019
      x-for-trace-id:
      - 3ac8c9ebe22f81cfdb8ef4f192181613
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:02.279Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:02.279Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a3-oqmE/9qz4TXuzdDGdMVA2tTk6fc"
      x-for-request-id:
      - 7cbdaac8-d278-46db-9b18-9a547d62a0ac
      x-for-trace-id:
      - 952ca3edc9e9759e3dd1e36d54eb3f42
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.11.revision.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:02.425Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.11.revision.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:02.425Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a6-dx9JEmhMIlazlLPFCmP2GHYpEz0"
      x-for-request-id:
      - e78fadfe-5926-42a9-bf0a-f5a1de846f09
      x-for-trace-id:
      - 0d8e3fe7cb594809bcedc9e2d5d777c0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.11.revision.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:02.552Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.11.revision.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:02.552Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a2-o1KCtJ5BgzdhWIsTzm+r2k+aXLo"
      x-for-request-id:
      - de88f77b-6d0a-4e8d-8555-3789bd1fa97f
      x-for-trace-id:
      - e85377d0028b84bcc0b98cda8e8a77d3
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.11.revision.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:02.674Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.11.revision.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:02.674Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a9-ORFgZU10nOAuLaw+HSOzm/tN4Zs"
      x-for-request-id:
      - f8711210-828b-4ccf-83a9-a6c5ffe199d8
      x-for-trace-id:
      - 2af7dc3aebb5c3de289c76977560ab3d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.11.revision.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:02.809Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.11.revision.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:02.809Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a5-lOW/QvyOLmqtXZ4puGiLixeMTI0"
      x-for-request-id:
      - e55e94d0-2bb2-4b31-ac7e-45bcdb6fe644
      x-for-trace-id:
      - c3c4d0d3107a4385a004ea1aa1243ac6
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.11.20240611093624.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:02.941Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.11.20240611093624.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:02.941Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1ab-wvQTi5qiZJrBjOqqKEMrg8GmA/o"
      x-for-request-id:
      - 56aef213-b449-4d2b-a529-9d82ec7edc43
      x-for-trace-id:
      - 27a1516e303c743c4f7002078d337a11
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.11.20240611093624.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:03.074Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.11.20240611093624.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:03.074Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a7-ZfuXQmhDx0lm8WUvy84EWUuCSQk"
      x-for-request-id:
      - 0f177e68-7deb-463c-b48e-9edf32c13116
      x-for-trace-id:
      - b77b3a911333fe5adab291a3ff4a0794
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.11.20240611093624.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:03.205Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.11.20240611093624.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:03.205Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1ae-Iz/VnhWAmZsOHtb1NXGr9S8G46M"
      x-for-request-id:
      - 39d9a937-d577-4ea6-9c69-76f60fe1e265
      x-for-trace-id:
      - 2f3a816ddcefb77cbdec57b112cafb13
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.11.20240611093624.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:03.349Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.11.20240611093624.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:03.349Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1aa-rtkYJQWHv9qgHsk7iqSDjlRJTp4"
      x-for-request-id:
      - 51ca5c4a-7f1c-4284-84e5-e3d3de2db922
      x-for-trace-id:
      - 42c018aacceb693162e572b065e70450
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.11.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:04.670Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.11.latest.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:04.670Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a3-dmw2p2+vMTfY7A3AQzC99HjjayU"
      x-for-request-id:
      - 4d7d3570-af7b-426c-8a18-1d65214452e6
      x-for-trace-id:
      - aade1bc9073d3b8bc7094c02db92255e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.11.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:04.845Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.11.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:04.845Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19f-tZWc+8blNGY7Y4NLOO7L8fimxWA"
      x-for-request-id:
      - 3e792894-c1b5-4a4f-986b-6ba0fd8da05f
      x-for-trace-id:
      - a9b5ba5de1e249fcdf0fb411d24c1bc9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.11.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
[...]
