interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-asan-nyx-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-asan-nyx-opt\",\n
        \ \"taskId\": \"C9sUN_QrQuiA7SZ9jLBBHQ\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:52.797Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cc-rZtuh1PAhM2HRk+f6NbIcmTBB68"
      x-for-request-id:
      - 4ce76a4b-0859-4794-9ced-5eee7be2b8cf
      x-for-trace-id:
      - b2828f33baf74648665445d992e0fc58
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/C9sUN_QrQuiA7SZ9jLBBHQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:52.797Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T16:49:52.797Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-07T16:49:52.797Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/C9sUN_QrQuiA7SZ9jLBBHQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/C9sUN_QrQuiA7SZ9jLBBHQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-g0vonmJVBgK9jkqOM4k0Z2N4kTs"
      location:
      - https://firefoxci.taskcluster-artifacts.net/C9sUN_QrQuiA7SZ9jLBBHQ/0/public/build/target.json
      x-for-request-id:
      - 79f9a26b-55a5-4536-8a90-08ebf47898cf
      x-for-trace-id:
      - cfa6f8f0c5818a97cf961fda0cc977f0
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/C9sUN_QrQuiA7SZ9jLBBHQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/afl-instrumentation/bin/afl-clang-fast
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241107164615\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/afl-instrumentation/bin/afl-clang-fast --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/afl-instrumentation/bin/afl-clang-fast++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"d5598beec6c146886e302b72badc2329"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:58:10 GMT
      x-goog-generation:
      - '1731002290908006'
      x-goog-hash:
      - crc32c=3py9gA==
      - md5=1VmL7sbBRohuMCtyutwjKQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '382'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-asan-nyx
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:14.329Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-asan-nyx\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-10-29T17:52:14.329Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19c-6MJSdFMTLQxioW6kUdV9HDmOcPM"
      x-for-request-id:
      - 34b9b6f0-585e-4136-a91e-5c38c281aff1
      x-for-trace-id:
      - d474f6939162badc1d7def18202458d7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-fuzzing-asan-nyx-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:14.451Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-fuzzing-asan-nyx-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:14.451Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a3-uKbkjE6EW265vW/93gQolswZIyI"
      x-for-request-id:
      - d56f4d9d-9b8f-45b2-8ceb-06e2e112e3ba
      x-for-trace-id:
      - 8431daf1879e906354aa72ca9eddab78
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-fuzzing-asan-nyx
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:52:14.587Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-fuzzing-asan-nyx\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:52:14.587Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19f-GpwOEE1CH2oSLoMoJMZSAL72yVQ"
      x-for-request-id:
      - ced43502-a7b2-4663-be47-733773d37319
      x-for-trace-id:
      - 2ede3d57bcf5cb60c8f7dafa3aa5a5e4
    status:
      code: 404
      message: Not Found
version: 1
