interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-tsan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-tsan-opt\",\n
        \ \"taskId\": \"YAQ1WtE-R9iufplJo2FLpg\",\n  \"rank\": 1731005078,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T18:51:07.026Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b4-OkpoK4rNqhA9QpRhpt3pEJ85t18"
      x-for-request-id:
      - 3a4019f7-2bd0-4050-bc42-78b12b058a5d
      x-for-trace-id:
      - 27139e66cd711adf4602f7fc3445e398
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/YAQ1WtE-R9iufplJo2FLpg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T18:51:07.026Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T18:51:07.026Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T18:51:07.026Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/YAQ1WtE-R9iufplJo2FLpg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/YAQ1WtE-R9iufplJo2FLpg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-stk6VC3u3YHIrFPS8XNqoqn4k2Y"
      location:
      - https://firefoxci.taskcluster-artifacts.net/YAQ1WtE-R9iufplJo2FLpg/0/public/build/target.json
      x-for-request-id:
      - 7e005e69-53d4-4b3c-9423-2dc9658c0492
      x-for-trace-id:
      - b490be5df407cea1d7626f2c699e14e8
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/YAQ1WtE-R9iufplJo2FLpg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241107184438\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-tsan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"af71ea6f36594991ccbfede21efdf96c2726e10a\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"53ab8de235bc4dfcf273f9158d1e100e"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:20:51 GMT
      x-goog-generation:
      - '1731007250991907'
      x-goog-hash:
      - crc32c=r9UUSA==
      - md5=U6uN4jW8Tfzyc/kVjR4QDg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '360'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:41.668Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.linux64-tsan\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:50:41.668Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"184-Zef2WIUUpX9fwrbBXURPLskwxBQ"
      x-for-request-id:
      - 100868ef-2efd-4125-bbee-2dd6a7306eba
      x-for-trace-id:
      - bead740719dd4192c4a8019e36c99045
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux64-tsan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.sm-linux64-tsan-opt\",\n
        \ \"taskId\": \"Q9Y1WwIgRdKsCHC5APjHnQ\",\n  \"rank\": 1761755457,\n  \"data\":
        {},\n  \"expires\": \"2025-11-26T16:36:25.261Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b7-f+/+BBti7vqH7RcIgJXI1oLaOA8"
      x-for-request-id:
      - 8120b1dc-272e-48b5-be78-fd52f29fff6c
      x-for-trace-id:
      - da5d679f16b6fd5f2a00a044f6dc906f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux64-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:41.917Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-linux64-tsan\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:41.917Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"187-SFtlWF1FhlMFXC6afGJa54WRxZI"
      x-for-request-id:
      - c05ede90-ef3a-433d-93ce-ee5eb8f1d7b1
      x-for-trace-id:
      - 3942976609327170d427152763d2df88
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Q9Y1WwIgRdKsCHC5APjHnQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/llvm-symbolizer.gz\",\n      \"expires\": \"2025-11-26T16:36:25.261Z\",\n
        \     \"contentType\": \"application/gzip\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"publ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Q9Y1WwIgRdKsCHC5APjHnQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Q9Y1WwIgRdKsCHC5APjHnQ/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-WJnztiCfeUOuuEYp4uZs/kd/fxw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Q9Y1WwIgRdKsCHC5APjHnQ/0/public/build/target.json
      x-for-request-id:
      - 970150a0-d950-4ab3-8cd0-6458c66f602c
      x-for-trace-id:
      - aab5fdc93c1c45809e28ecd3981928bb
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Q9Y1WwIgRdKsCHC5APjHnQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"buildid\": \"20251029163057\",\n  \"moz_source_stamp\": \"44981369115dae88a9880ec03345eef7195aaae3\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3880e6aa4075226fdd52fc29069e0eda"'
      Last-Modified:
      - Wed, 29 Oct 2025 17:07:20 GMT
      x-goog-generation:
      - '1761757640378797'
      x-goog-hash:
      - crc32c=Jt8LDg==
      - md5=OIDmqkB1Im/dUvwpBp4O2g==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '111'
    status:
      code: 200
      message: OK
version: 1
