interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.win64-ccov-fuzzing-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.win64-ccov-fuzzing-opt\",\n
        \ \"taskId\": \"FEART5gPRnui56fD1SwnTQ\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:52.414Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c6-MmteY8zqC41eNfjkc2Bo/bmb1bA"
      x-for-request-id:
      - c32d103a-3ab1-4c99-8d34-97415655c615
      x-for-trace-id:
      - 6f93379b85822daaa17ce83a60bec6d1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FEART5gPRnui56fD1SwnTQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:52.414Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/chrome-map.json\",\n      \"expires\":
        \"2025-11-07T16:49:52.414Z\",\n      \"contentType\": \"application/json\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/config.status\",\n
        \     \"expires\": \"2025-11-07T16:49:52.414Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FEART5gPRnui56fD1SwnTQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/FEART5gPRnui56fD1SwnTQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-rHgdguVxB70g8p8ibXXEz/vnyqg"
      location:
      - https://firefoxci.taskcluster-artifacts.net/FEART5gPRnui56fD1SwnTQ/0/public/build/target.json
      x-for-request-id:
      - 65c87a63-2b2b-4720-ab89-5c9a44445f9c
      x-for-trace-id:
      - 19f5741e02327e3f637d220227c8c4d6
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/FEART5gPRnui56fD1SwnTQ/0/public/build/target.json
  response:
    body:
      string: "{\r\n  \"as\": \"D:/task_173099735408275/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\r\n
        \ \"buildid\": \"20241107164615\",\r\n  \"cc\": \"D:/task_173099735408275/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -Xclang -std=gnu99\",\r\n  \"cxx\": \"D:/task_173099735408275/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -std:c++17\",\r\n  \"host\": \"x86_64-pc-mingw32\",\r\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\r\n  \"moz_app_maxversion\":
        \"134.0a1\",\r\n  \"moz_app_name\": \"firefox\",\r\n  \"moz_app_vendor\":
        \"Mozilla\",\r\n  \"moz_app_version\": \"134.0a1\",\r\n  \"moz_pkg_platform\":
        \"win64-fuzzing\",\r\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\r\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\r\n
        \ \"moz_update_channel\": \"default\",\r\n  \"target\": \"x86_64-pc-mingw32\"\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"641c18ccd015b48a7bafd5957f9471a0"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:57:33 GMT
      x-goog-generation:
      - '1731002253594304'
      x-goog-hash:
      - crc32c=8CjSAg==
      - md5=ZBwYzNAVtIp7r9WVf5RxoA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '451'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.win64-ccov-fuzzing
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:22.887Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.win64-ccov-fuzzing\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:22.887Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"196-NnF+BowCfKEdCv3ivxw+XTrHQQA"
      x-for-request-id:
      - 40e4ad67-bddc-49d7-8908-f14cbd6ed83c
      x-for-trace-id:
      - 458f5e8a40f3fd0aa9c918704f4bbabd
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-win64-ccov-fuzzing-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:23.028Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-win64-ccov-fuzzing-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-10-29T17:51:23.028Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19d-CfvM/TY2fWkq3xDlyvRcdjDOTi4"
      x-for-request-id:
      - 4aa2cf37-bf17-496a-9e9f-654cf9e80b34
      x-for-trace-id:
      - 568f7a041191f7b4b138726d74735d4c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-win64-ccov-fuzzing
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:23.155Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-win64-ccov-fuzzing\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-10-29T17:51:23.155Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"199-u1kFxd+7QpzLM+g89o3wzX9PIM0"
      x-for-request-id:
      - cac7f9ea-f228-4db9-8bfc-00d4085ce0e4
      x-for-trace-id:
      - 6c7263b00ae2c85b0db9549ad512adef
    status:
      code: 404
      message: Not Found
version: 1
