interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-debug\",\n
        \ \"taskId\": \"aZQI1DSuR_CJvtAszBb4Hw\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.498Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-HxzSZZ1xJNW3Mlpj0ASf7MsbY1g"
      x-for-request-id:
      - 99d09e17-6fe4-49be-9580-828c0286d8e4
      x-for-trace-id:
      - 67bd19db3632dee5c32715c9eb810376
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aZQI1DSuR_CJvtAszBb4Hw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:55:11.498Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:55:11.498Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-06T16:55:11.498Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aZQI1DSuR_CJvtAszBb4Hw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/aZQI1DSuR_CJvtAszBb4Hw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-AhBR0xxF+gqW6eXi3nBc9w2tVeY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/aZQI1DSuR_CJvtAszBb4Hw/0/public/build/target.json
      x-for-request-id:
      - a9284193-6120-44ef-a356-4b6c85673804
      x-for-trace-id:
      - aa871cdf8fe4b40b77d71e7c6fba452c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/aZQI1DSuR_CJvtAszBb4Hw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106165131\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-fuzzing\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"54f07d3ec1f3a445313f27443ff30ec6"'
      Last-Modified:
      - Wed, 06 Nov 2024 17:22:34 GMT
      x-goog-generation:
      - '1730913754432148'
      x-goog-hash:
      - crc32c=hyO4GQ==
      - md5=VPB9PsHzpEUxPydEP/MOxg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '370'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-PLn9VSqIYUUVGwPEHEiBgHUslOc"
      x-for-request-id:
      - 30b60ccc-2b7a-41c8-9e12-9a9346b4655e
      x-for-trace-id:
      - 9ead825e6703754efea30d3d1ed3f803
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531\",\n
        \     \"name\": \"20241106050531\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106094902\",\n
        \     \"name\": \"20241106094902\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106165131\",\n
        \     \"name\": \"20241106165131\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-rD22QITnTHl00WIs09PHeTAXjAc"
      x-for-request-id:
      - ae344014-bfe9-48da-975d-dfd373910546
      x-for-trace-id:
      - cc261a953d6cfe75cb105726e46ed0e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:38.423Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.linux64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:38.423Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-v43le4p+leVI5+2Fk0QeyD8sDpo"
      x-for-request-id:
      - 8b1d6151-3c3b-4790-bd32-388ca2928bee
      x-for-trace-id:
      - 1b112738ca71bfd92944d980df860228
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:38.557Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:38.557Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b1-CZsOYbv9xAxSmzCrzAWmH8eaw8g"
      x-for-request-id:
      - a9d5fd43-2611-41a7-9508-11df9b8b7c9b
      x-for-trace-id:
      - fa308365bc85c5723c137b14eca59c29
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:38.701Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.linux64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:38.701Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b0-OmT8ParF4D4kcSxGlu1n1jjjGc8"
      x-for-request-id:
      - c10d6259-e688-48c2-9e33-7ecd9b28eb32
      x-for-trace-id:
      - 1fc77438ee721547635df29dc1a89b90
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:38.854Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:38.854Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b3-xs2AygDd0LEgVNN9qMYS1qEBMVw"
      x-for-request-id:
      - fc7e9615-391e-4fb1-a9dd-f4a95a8766fe
      x-for-trace-id:
      - c8eff2b1f7eb212e0a09f47d69172fbc
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.linux64-fuzzing-debug\",\n
        \ \"taskId\": \"UskwBkMURbmtQ3ruvuusEw\",\n  \"rank\": 1730869531,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T05:11:34.326Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e1-EBOCGzjGPBSA1SjobxxOsIH+sQk"
      x-for-request-id:
      - 3285cfe5-2bbf-4b1e-9152-ea0cec5e5a1d
      x-for-trace-id:
      - 1f759cd4e02916723e10f9d2b3aa6856
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/UskwBkMURbmtQ3ruvuusEw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T05:11:34.326Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/UskwBkMURbmtQ3ruvuusEw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/UskwBkMURbmtQ3ruvuusEw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-PXT3O/mUr+g/tnZBE/Kp8zkEbe4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/UskwBkMURbmtQ3ruvuusEw/0/public/build/target.json
      x-for-request-id:
      - 5a9622b6-e4b8-4039-8731-8d8845da8cf2
      x-for-trace-id:
      - 556187ba0bfbc742cfcd9c91c7f8038a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/UskwBkMURbmtQ3ruvuusEw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106050531\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clan[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.linux64-fuzzing-debug\",\n
        \ \"taskId\": \"aZQI1DSuR_CJvtAszBb4Hw\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.498Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f0-9BYWe6Z31MZXpdn0z9X/4Z/X3p0"
      x-for-request-id:
      - 8729d062-e760-4b58-87df-acfde5e404d9
      x-for-trace-id:
      - 735f138d95bbefbee7e4c00cd3bfafdc
    status:
      code: 200
      message: OK
version: 1
