interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:04.976Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:15:04.976Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"198-hAhXhhxs22D7d9vj3nRV/5VrlN0"
      x-for-request-id:
      - b30e2552-cb06-4983-94eb-095c8803726a
      x-for-trace-id:
      - 344195d7ee49b34396855827f021b8e4
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:05.118Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-06T20:15:05.118Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"194-cEDKSymvZyXuFjS1Bt0jiipDFQU"
      x-for-request-id:
      - c7e952d9-7fbf-4c94-af07-403887fbd7ca
      x-for-trace-id:
      - 07e6b16ec1d7aac6e7be3e9506b43793
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:05.257Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-macosx64-aarch64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:15:05.257Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19b-gYWk3uT7UoOBdAh90bxjnp+tP0k"
      x-for-request-id:
      - 4b2ba185-3cab-4b95-bdea-a79c37389f2f
      x-for-trace-id:
      - 25f6919cfd12f9ec44de477468f87df8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-macosx64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:05.407Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-macosx64-aarch64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:15:05.407Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"197-+8pxl6XCtgtxsNQcA5fI+XeWvlg"
      x-for-request-id:
      - 7ed87304-de95-499b-a500-c3fb36b95ba3
      x-for-trace-id:
      - f31cfe3c7d671c7dfc500b0bed818da2
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.macosx64-aarch64-opt\",\n
        \ \"taskId\": \"F6c1bsT5R_iYVVCNkjM9xw\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:19.550Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ce-aJ+uZ/6LmHJqxIanOHuj1QpdKJY"
      x-for-request-id:
      - 99fbc96e-5c4e-4441-96ad-216072a2c53e
      x-for-trace-id:
      - 8f24a2c732e7a859e2c0deffff61fdee
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/F6c1bsT5R_iYVVCNkjM9xw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:55:19.550Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:55:19.550Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-06T16:55:19.550Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/F6c1bsT5R_iYVVCNkjM9xw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/F6c1bsT5R_iYVVCNkjM9xw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-j6KQrQ9YqDllw9BqSSUfVVUSano"
      location:
      - https://firefoxci.taskcluster-artifacts.net/F6c1bsT5R_iYVVCNkjM9xw/0/public/build/target.json
      x-for-request-id:
      - 6c539214-77c9-46f3-ad8c-6d7174b0ce37
      x-for-trace-id:
      - 580b243a9d60042f313ac200058637c1
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/F6c1bsT5R_iYVVCNkjM9xw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=11.0 -std=gnu99 --target=aarch64-apple-darwin\",\n  \"buildid\":
        \"20241106165131\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang -isysroot
        /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=11.0 -std=gnu99
        --target=aarch64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=11.0
        -stdlib=libc++ --target=aarch64-apple-darwin\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\":
        \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"134.0a1\",\n  \"moz_pkg_platform\": \"mac\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\",\n
        \ \"moz_update_channel\": \"nightly\",\n  \"target\": \"aarch64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"094f327d77ee16511ed2da31b98a080b"'
      Last-Modified:
      - Wed, 06 Nov 2024 18:55:34 GMT
      x-goog-generation:
      - '1730919334127673'
      x-goog-hash:
      - crc32c=fftI7A==
      - md5=CU8yfXfuFlEe0toxuYoICw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '409'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-PLn9VSqIYUUVGwPEHEiBgHUslOc"
      x-for-request-id:
      - 539daa08-0730-49d9-ad3c-c19662f121f6
      x-for-trace-id:
      - aa7237e7cc39978bd6578abcd608d197
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531\",\n
        \     \"name\": \"20241106050531\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106094902\",\n
        \     \"name\": \"20241106094902\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106165131\",\n
        \     \"name\": \"20241106165131\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-rD22QITnTHl00WIs09PHeTAXjAc"
      x-for-request-id:
      - 18dc83f9-937c-4ae8-a343-79e29659bf27
      x-for-trace-id:
      - 08ebb648465ca9532ccbdafee775b657
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.macosx64-aarch64-opt\",\n
        \ \"taskId\": \"F6c1bsT5R_iYVVCNkjM9xw\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:19.550Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d9-yge4F7VMXRS8aDuzgHDFQEwKjnU"
      x-for-request-id:
      - 867adb70-29a8-4861-bd80-d777891bd2f9
      x-for-trace-id:
      - 74aa24d664766f27199bc3e22b741d41
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:06.833Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.macosx64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:06.833Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c3-C1APZ5WcTDb6YQS1khwrWq1SOjk"
      x-for-request-id:
      - 06923955-5753-4020-ad4d-3b9694b43850
      x-for-trace-id:
      - 072d23fab55796ba7f659621454f62ad
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.macosx64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:06.980Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.macosx64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:06.980Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1bf-xWyJt6YTo95/DfRvJgYMuKs54VU"
      x-for-request-id:
      - 35063f3d-d0c8-45fd-adb2-4db051baa8bd
      x-for-trace-id:
      - 0fd0e7cab3a90226d7e4cc70d3ead6e2
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.sm-macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:07.117Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.sm-macosx64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:07.117Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c6-qV/d45z0juX37pdu11u347cpjss"
      x-for-request-id:
      - d9ade68d-b3b8-4084-8578-ce35895eac6b
      x-for-trace-id:
      - 7939609e32aa8bab56830c4095bd2803
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.sm-macosx64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:07.257Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.sm-macosx64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:07.257Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c2-C/BTnkBFK7E4ayyKFmoNWbuICkE"
      x-for-request-id:
      - 38943809-3b08-4bdc-80d6-a6b227301048
      x-for-trace-id:
      - 36539a1d7ee5d9462904b6943a62abef
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.macosx64-aarch64-opt\",\n
        \ \"taskId\": \"F6c1bsT5R_iYVVCNkjM9xw\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:19.550Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f9-+Tl3IXkM4iFOnVn4/OqBkXkdp5w"
      x-for-request-id:
      - 58bf3079-72bd-472f-9f7c-ae1dc53fb311
      x-for-trace-id:
      - d2a2856c6e2ce7b2f752ffcd1bb84f15
    status:
      code: 200
      message: OK
version: 1
