interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"133.0b5\",\n
        \   \"FIREFOX_ESR\": \"128.4.0esr\",\n    \"FIREFOX_ESR115\": \"115.17.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"134.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2024-10-28\",\n    \"LAST_RELEASE_DATE\": \"2024-10-29\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2024-10-24\",\n    \"LAST_STRINGFREEZE_DATE\": \"2024-10-25\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_VERSION\": \"132.0.1\",\n    \"NEXT_MERGE_DATE\":
        \"2024-11-25\",\n    \"NEXT_RELEASE_DATE\": \"2024-11-26\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2024-11-21\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2024-11-22\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3ae739757cc3792e89363b6c9742175d"'
      Last-Modified:
      - Wed, 06 Nov 2024 16:25:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.latest.firefox.linux64-asan-opt\",\n
        \ \"taskId\": \"F5CLc0ZNQRew6r05Me5HpQ\",\n  \"rank\": 1730988507,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T14:13:35.696Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bf-5J45Kvde/kycFF93U7ZNqBzpW5Y"
      x-for-request-id:
      - 14229880-cf3a-4bef-9c3b-7db82bd0971d
      x-for-trace-id:
      - 2152282fc1c51505622146e131b6844b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/F5CLc0ZNQRew6r05Me5HpQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T14:13:35.696Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T14:13:35.696Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-07T14:13:35.696Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/F5CLc0ZNQRew6r05Me5HpQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/F5CLc0ZNQRew6r05Me5HpQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-Gw8xjMTvSgvmWQTsrycwW8GtbHQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/F5CLc0ZNQRew6r05Me5HpQ/0/public/build/target.json
      x-for-request-id:
      - 7c045775-e103-4157-b231-cd1f3493bcb1
      x-for-trace-id:
      - 7ef0428fe8c939ea83c1418fc4301af0
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/F5CLc0ZNQRew6r05Me5HpQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241107140827\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host_alias\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"128.*\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\":
        \"Mozilla\",\n  \"moz_app_version\": \"128.5.0\",\n  \"moz_pkg_platform\":
        \"linux-x86_64-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/releases/mozilla-esr128\",\n
        \ \"moz_source_stamp\": \"0031e586618d2570d869792eda221c77a0e95960\",\n  \"moz_update_channel\":
        \"default\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"9b0ec151a60f9f3f8a915a5f37772180"'
      Last-Modified:
      - Thu, 07 Nov 2024 15:01:27 GMT
      x-goog-generation:
      - '1730991687803472'
      x-goog-hash:
      - crc32c=v2ezQw==
      - md5=mw7BUaYPnz+KkVpfN3chgA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '379'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:53.532Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.linux64-asan\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:53.532Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18f-lWtWONsEWdogPgO5qP6Pr0y04ws"
      x-for-request-id:
      - cf9a9d90-180f-40f4-b6c2-6530d5a12cb1
      x-for-trace-id:
      - dbb0d26afe393b3c690c864c0cc36c44
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.sm-linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.latest.firefox.sm-linux64-asan-opt\",\n
        \ \"taskId\": \"AGR1gsDUQ9Co5Oh8K7VwQQ\",\n  \"rank\": 1754446074,\n  \"data\":
        {},\n  \"expires\": \"2025-11-04T02:17:23.433Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c2-dybOY0o9iqd2cJOyvnj56dd0MU8"
      x-for-request-id:
      - b346e459-7709-4f92-af96-01af88848851
      x-for-trace-id:
      - b4267ea3c2d29daa00bab2a7c77907e5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.sm-linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:53.797Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.sm-linux64-asan\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:53.797Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-mYV38sxSfreR3xDNO6WJQJ/Fk5U"
      x-for-request-id:
      - 13b61738-be6f-49e3-a815-37d09dc12597
      x-for-trace-id:
      - 351f7f33a3a8d69e3768d1981b8c3ec9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/AGR1gsDUQ9Co5Oh8K7VwQQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/llvm-symbolizer.gz\",\n      \"expires\": \"2025-11-04T02:17:23.433Z\",\n
        \     \"contentType\": \"application/gzip\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"publ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/AGR1gsDUQ9Co5Oh8K7VwQQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/AGR1gsDUQ9Co5Oh8K7VwQQ/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-//LDcYCjwQB6oKHTHsDrdFcdS4I"
      location:
      - https://firefoxci.taskcluster-artifacts.net/AGR1gsDUQ9Co5Oh8K7VwQQ/0/public/build/target.json
      x-for-request-id:
      - cdd76365-6433-4058-a0ba-085b25f112c2
      x-for-trace-id:
      - 3fe427f295de6603d5781c2ff59ce697
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/AGR1gsDUQ9Co5Oh8K7VwQQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"buildid\": \"20250806020754\",\n  \"moz_source_stamp\": \"f1d1ea578de02840c6f42ea782ea176ad796fbfa\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"5faa5edb4566a6b607fc00b867636bfa"'
      Last-Modified:
      - Wed, 06 Aug 2025 02:39:57 GMT
      x-goog-generation:
      - '1754447997486674'
      x-goog-hash:
      - crc32c=kqMWeg==
      - md5=X6pe20VmprYH/AC4Z2Nr+g==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '111'
    status:
      code: 200
      message: OK
version: 1
