interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.macosx64-opt\",\n
        \ \"taskId\": \"dld9shyOTZuuWapJskM5mw\",\n  \"rank\": 1731005078,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T18:51:07.016Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b0-DuwQ74rNdSoC+ghAmCZIZ7fy2d0"
      x-for-request-id:
      - 06c4ee44-a207-49eb-84ca-2c50f896a754
      x-for-trace-id:
      - 9c706cce666e593e25f17c8ed520e010
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/dld9shyOTZuuWapJskM5mw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T18:51:07.016Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T18:51:07.016Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/mozharness.zip\",\n
        \     \"expires\": \"2024-12-05T18:51:07.016Z\",\n      \"contentType\": \"application/zip\"\n
        \   },\n    {\n      \"storageType\": \"s3\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/dld9shyOTZuuWapJskM5mw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/dld9shyOTZuuWapJskM5mw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-EJyM4b81z8ZHzxwilEsGiUfKrew"
      location:
      - https://firefoxci.taskcluster-artifacts.net/dld9shyOTZuuWapJskM5mw/0/public/build/target.json
      x-for-request-id:
      - b306407c-5c6e-41e4-b382-9b6e25564a82
      x-for-trace-id:
      - 1ec95b67da818761f990aff58d52eb4a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/dld9shyOTZuuWapJskM5mw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241107184438\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"mac\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"af71ea6f36594991ccbfede21efdf96c2726e10a\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"6293ddc5a03d49c1a9dd267ffa751fff"'
      Last-Modified:
      - Thu, 07 Nov 2024 18:58:31 GMT
      x-goog-generation:
      - '1731005911000833'
      x-goog-hash:
      - crc32c=MleK8g==
      - md5=YpPdxaA9ScGp3SZ/+nUf/w==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '295'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.macosx64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.firefox.macosx64-opt\",\n
        \ \"taskId\": \"AUq8kZ13SGSgqbXkMxuhXQ\",\n  \"rank\": 1750773550,\n  \"data\":
        {},\n  \"expires\": \"2025-07-22T14:04:19.943Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ba-Vr4n83vUN9/9EsQWOqH3O/UqcTM"
      x-for-request-id:
      - 9a184a6e-5503-478a-b856-5f91b070a9cc
      x-for-trace-id:
      - ec9a5f5082375205d577e988f4f0368f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/AUq8kZ13SGSgqbXkMxuhXQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-22T14:04:19.943Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/AUq8kZ13SGSgqbXkMxuhXQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/AUq8kZ13SGSgqbXkMxuhXQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-vTJFumlOND0iJW6LaULGsOpyKn8"
      location:
      - https://firefoxci.taskcluster-artifacts.net/AUq8kZ13SGSgqbXkMxuhXQ/0/public/build/target.json
      x-for-request-id:
      - 2fc663bf-9a2a-42e9-a6c2-ddb0ecd435d9
      x-for-trace-id:
      - 3197c253d3b870e589ea59e5a3e60a7c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/AUq8kZ13SGSgqbXkMxuhXQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang -isysroot /builds/worker/fetches/MacOSX15.4.sdk
        -mmacosx-version-min=10.15 --target=x86_64-apple-darwin\",\n  \"buildid\":
        \"20250624135910\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang -isysroot
        /builds/worker/fetches[...]
