interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-tsan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-tsan-opt\",\n
        \ \"taskId\": \"OjgwuHj4S4uS31l8VPdn9g\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:53.243Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c0-c86Gc64ZYuMUe7ArWlk7xC8H2Dk"
      x-for-request-id:
      - 7970a246-e215-4a72-9714-667ab1a8dc78
      x-for-trace-id:
      - 3685dea131e4f5be4066de8f82cac70f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OjgwuHj4S4uS31l8VPdn9g/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:53.243Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T16:49:53.243Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-07T16:49:53.243Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OjgwuHj4S4uS31l8VPdn9g/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/OjgwuHj4S4uS31l8VPdn9g/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-/YUo9ra0Sjst65/8FrJb75FbqKg"
      location:
      - https://firefoxci.taskcluster-artifacts.net/OjgwuHj4S4uS31l8VPdn9g/0/public/build/target.json
      x-for-request-id:
      - 1c462b1a-db11-48ad-881a-0063ad778088
      x-for-trace-id:
      - f25442a63a79785adbf4a231af1c8331
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/OjgwuHj4S4uS31l8VPdn9g/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241107164615\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-tsan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"8c7a0203c10b54436790a3459b22979a"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:19:49 GMT
      x-goog-generation:
      - '1730999989139968'
      x-goog-hash:
      - crc32c=Hf5WGw==
      - md5=jHoCA8ELVENnkKNFmyKXmg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '367'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:18.986Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux64-tsan\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:18.986Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"190-HQ8d4gDiR9JXOv+Fv6mYPkxsoN0"
      x-for-request-id:
      - 12f526d3-2e82-443d-9506-fdbe7f319826
      x-for-trace-id:
      - 19c9913da3198255bb8a83155780a993
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-tsan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-tsan-opt\",\n
        \ \"taskId\": \"dm9W0eg3QgynZV3f_GZQTw\",\n  \"rank\": 1761756970,\n  \"data\":
        {},\n  \"expires\": \"2026-10-29T16:57:30.232Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c3-7h1oxbMy7x7WfCl7e8msb8DFcz0"
      x-for-request-id:
      - fb71daff-5b8c-47c9-910b-ca89bf861245
      x-for-trace-id:
      - 157145ec7bda8648d14327f372da4bfc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:19.245Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-tsan\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:19.245Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"193-9KzCWHzlKvYLWfz2r6FuPz8tquw"
      x-for-request-id:
      - 69d7eda2-920a-4dbd-8a73-66d199424eab
      x-for-trace-id:
      - 71c3f448efa0dc201dde24706fd1da04
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/dm9W0eg3QgynZV3f_GZQTw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/llvm-symbolizer.gz\",\n      \"expires\": \"2026-10-29T16:57:30.232Z\",\n
        \     \"contentType\": \"application/gzip\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"publ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/dm9W0eg3QgynZV3f_GZQTw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/dm9W0eg3QgynZV3f_GZQTw/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-1g0KE5GN+6YMpu3XpCSyIzrguCU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/dm9W0eg3QgynZV3f_GZQTw/0/public/build/target.json
      x-for-request-id:
      - 590e6c1e-8b41-4ce8-8945-130797b1baa3
      x-for-trace-id:
      - a8fbf4f806b140bfbe44816cc8c3313a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/dm9W0eg3QgynZV3f_GZQTw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"buildid\": \"20251029165610\",\n  \"moz_source_stamp\": \"6e0dd1421c8affd4915c151970e6fe9e979c759b\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c55b0d4f382b34a24f733f5e9929182c"'
      Last-Modified:
      - Wed, 29 Oct 2025 17:27:49 GMT
      x-goog-generation:
      - '1761758869427611'
      x-goog-hash:
      - crc32c=zSlgVw==
      - md5=xVsNTzgrNKJPcz9emSkYLA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '109'
    status:
      code: 200
      message: OK
version: 1
