interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.win64-ccov-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.win64-ccov-opt\",\n
        \ \"taskId\": \"UqrCM-qrTSmKTDvCf9CZwQ\",\n  \"rank\": 1,\n  \"data\": {},\n
        \ \"expires\": \"2025-11-06T16:55:11.614Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b5-uCANSbak418SiftPvJGBS9EQfPA"
      x-for-request-id:
      - 24e26bd4-eb59-4865-a3ac-a6f9aecf8607
      x-for-trace-id:
      - d0ab94f2d7e5cc29d6eb08b002155a4e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/UqrCM-qrTSmKTDvCf9CZwQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:55:11.614Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/chrome-map.json\",\n      \"expires\":
        \"2025-11-06T16:55:11.614Z\",\n      \"contentType\": \"application/json\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/config.status\",\n
        \     \"expires\": \"2025-11-06T16:55:11.614Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/UqrCM-qrTSmKTDvCf9CZwQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/UqrCM-qrTSmKTDvCf9CZwQ/1/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-AR99H4F12/8LWtZr5/sD/1VRT3s"
      location:
      - https://firefoxci.taskcluster-artifacts.net/UqrCM-qrTSmKTDvCf9CZwQ/1/public/build/target.json
      x-for-request-id:
      - 1d146261-17f8-4cf4-9217-9cee3ecd868e
      x-for-trace-id:
      - de7b6278a678b52f36e690f8862b43b4
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/UqrCM-qrTSmKTDvCf9CZwQ/1/public/build/target.json
  response:
    body:
      string: "{\r\n  \"as\": \"D:/task_173091269021864/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\r\n
        \ \"buildid\": \"20241106165131\",\r\n  \"cc\": \"D:/task_173091269021864/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -Xclang -std=gnu99\",\r\n  \"cxx\": \"D:/task_173091269021864/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -std:c++17\",\r\n  \"host\": \"x86_64-pc-mingw32\",\r\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\r\n  \"moz_app_maxversion\":
        \"134.0a1\",\r\n  \"moz_app_name\": \"firefox\",\r\n  \"moz_app_vendor\":
        \"Mozilla\",\r\n  \"moz_app_version\": \"134.0a1\",\r\n  \"moz_pkg_platform\":
        \"win64\",\r\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\r\n
        \ \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\",\r\n
        \ \"moz_update_channel\": \"default\",\r\n  \"target\": \"x86_64-pc-mingw32\"\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"25dbe19a55a385429d4b757a6e235fda"'
      Last-Modified:
      - Wed, 06 Nov 2024 18:23:33 GMT
      x-goog-generation:
      - '1730917413000207'
      x-goog-hash:
      - crc32c=0b+A9g==
      - md5=JdvhmlWjhUKdS3V6biNf2g==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '443'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-PLn9VSqIYUUVGwPEHEiBgHUslOc"
      x-for-request-id:
      - f1b9e7a1-a733-456b-87e4-70bbcfa8b313
      x-for-trace-id:
      - 5c30c5912ce39df6013d7caab08527bf
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531\",\n
        \     \"name\": \"20241106050531\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106094902\",\n
        \     \"name\": \"20241106094902\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106165131\",\n
        \     \"name\": \"20241106165131\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-rD22QITnTHl00WIs09PHeTAXjAc"
      x-for-request-id:
      - 66d23197-a175-4e11-ad14-a1417a30fe29
      x-for-trace-id:
      - d6d4acc49669cfb8441fa421cc163fc6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-ccov-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:57.961Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-ccov-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:57.961Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-F+fMmzsvtPrgzFuHU+ar51wGkLU"
      x-for-request-id:
      - bac6070e-3acd-4f91-b446-b913fe5acb06
      x-for-trace-id:
      - ca8b1853cdc729b69252865745fa7327
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-ccov
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:58.098Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-ccov\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:58.098Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-6/+BDWZN2KicLGHaat8SqOEfOeQ"
      x-for-request-id:
      - d74e0827-1cc6-48f2-b318-b2cac234f915
      x-for-trace-id:
      - fceb196e0730953c42bab0f39560f73d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-ccov-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:58.293Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-ccov-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:58.293Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-Oum4YcoyaE3QmnEvObuUPbLMu40"
      x-for-request-id:
      - 0abff7b0-84e9-4033-a188-fdc2dcc0382d
      x-for-trace-id:
      - 997a4b55a0c67403e390c04917437767
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-ccov
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:58.523Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-ccov\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:58.523Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-hbcFe53lwpI2Ri1vLvtpuaDqrc4"
      x-for-request-id:
      - 6b4df5ad-b8c2-483a-9562-b5dd7dc2d785
      x-for-trace-id:
      - 2166c6f3b9d5385fc02e24956b8a51ef
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-ccov-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:58.660Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-ccov-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:58.660Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-5eMF74FZtpHqkKoTnU2/DmF0Q5M"
      x-for-request-id:
      - fc681589-eb9c-4fe9-87e6-c833c6834871
      x-for-trace-id:
      - 8b8fe8f971f8e5038d2a9304d268ce04
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-ccov
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:58.799Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-ccov\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:58.799Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-YGtDS7HVaC5Pf2zqM+F42SRUB94"
      x-for-request-id:
      - d6b1ada5-9138-4f6d-a5e0-862452169026
      x-for-trace-id:
      - c38ea8e904780bd1eeeb7dd9210f14b6
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-ccov-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:58.944Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-ccov-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:58.944Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ac-/SWLTSwMdf39+NDFmn7JDSOb1MI"
      x-for-request-id:
      - 1d371ca9-fbf1-4413-bf85-e29ef2592a24
      x-for-trace-id:
      - de1f1ee454959c0d69a9bbf7e33ac75e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-ccov
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:59.085Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-ccov\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:59.085Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a8-K+zd0HLoxmZC980sUIw7pY9taew"
      x-for-request-id:
      - c2f22765-8bd6-486b-91ad-513ebc569705
      x-for-trace-id:
      - 8f0d5e66132a7897f9e3e3c2f65c7492
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.win64-ccov-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.win64-ccov-opt\",\n
        \ \"taskId\": \"RnstFjvsTHy9BhIC0gU8AQ\",\n  \"rank\": 1,\n  \"data\": {},\n
        \ \"expires\": \"2025-11-06T05:11:34.440Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d1-Cxw8ZBzxNQlIpIheSePEXb2Tk0g"
      x-for-request-id:
      - 8bc2a910-bf7b-47a5-b6b9-fad071a60c90
      x-for-trace-id:
      - 6375bcc6d615efb12b7b880fbcb9d7cd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/RnstFjvsTHy9BhIC0gU8AQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T05:11:34.440Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/RnstFjvsTHy9BhIC0gU8AQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/RnstFjvsTHy9BhIC0gU8AQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-XJyKwBT/l685Z8aLTEkqKlFpSYQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/RnstFjvsTHy9BhIC0gU8AQ/0/public/build/target.json
      x-for-request-id:
      - 2bbfcc08-622e-48c4-bcdb-556e4bea8b90
      x-for-trace-id:
      - 2636f0b7919c61d39a889dca8fcf24bd
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/RnstFjvsTHy9BhIC0gU8AQ/0/public/build/target.json
  response:
    body:
      string: "{\r\n  \"as\": \"D:/task_173087023602888/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\r\n
        \ \"buildid\": \"20241106050531\",\r\n  \"cc\": \"D:/task_173087023602888/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -Xclang -std=gnu99\",\r\n  \"cxx\": \"D:/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.win64-ccov-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.win64-ccov-opt\",\n
        \ \"taskId\": \"UqrCM-qrTSmKTDvCf9CZwQ\",\n  \"rank\": 1,\n  \"data\": {},\n
        \ \"expires\": \"2025-11-06T16:55:11.614Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e0-1vAxlxvxQ90wqHThJY/grKSE9fU"
      x-for-request-id:
      - bbca92a5-46a8-40a2-8776-5824cce51e7a
      x-for-trace-id:
      - b8070b9f59b6ca7bfeda16d9c2155ce3
    status:
      code: 200
      message: OK
version: 1
