interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2025.06.12
  response:
    body:
      string: "{\n  \"namespaces\": []\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"16-KNMNKbWU6aCVhO3hC4tpOhZobcI"
      x-for-request-id:
      - 905a63ee-8e1e-451b-86e2-d45ca9ea9e60
      x-for-trace-id:
      - db554ec9ec89ba23f831b758d9dfeefb
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2025.06.12
  response:
    body:
      string: "{\n  \"namespaces\": []\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"16-KNMNKbWU6aCVhO3hC4tpOhZobcI"
      x-for-request-id:
      - e772e758-d47b-4cf9-956a-4d58ed985c94
      x-for-trace-id:
      - da31231e704525ef421d218571d137e0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2025.06.11
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2025.06.11.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2026-06-13T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2025.06.11.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2026-06-14T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-MhGm2A35OkyXWMBsKLIzzp6HsaM"
      x-for-request-id:
      - 5c687bb3-bc9e-4858-86f0-209b16ac7dde
      x-for-trace-id:
      - 4f90794ce0bfb175bff58c75a4e38ac6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:46.822Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:46.822Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a4-GHXhynA0yXu2JGkOOl267Yb77FE"
      x-for-request-id:
      - c34ce2e4-2be2-4fa8-a4c7-9ef3eb139beb
      x-for-trace-id:
      - a63140bd1216edfc90e4f0a8848c0088
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:46.927Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:46.927Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-o7litfXpk2hmeP8Hn4kQqYwj5SE"
      x-for-request-id:
      - 0ffac5f2-f1ed-412e-8de2-37fc6edcc9b2
      x-for-trace-id:
      - 6703bd8154a090ef5cffad263bb6dbd1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:47.042Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:47.042Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-OItJKJ58s/4zIGDXVyS9CHuBuXY"
      x-for-request-id:
      - 1bd57bf0-c87f-4864-b813-e4af2d20817c
      x-for-trace-id:
      - 29e2636ef185021750e454d1ddea47a6
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:47.145Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:47.145Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-3YFQD4m+V6uV171tdOuMCqKKqrM"
      x-for-request-id:
      - b8483bd2-7527-4c03-a1c9-c583f3d3d926
      x-for-trace-id:
      - df1b4864837677a1452538eedcaddf1b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:47.239Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:47.239Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-JlaPhWFIRCPwcYpg0Fmb/CuD5rc"
      x-for-request-id:
      - abd2b2c7-bcbe-4033-ae00-5da3de4afb13
      x-for-trace-id:
      - 380e3253bb03c30ae8090a38c6972c23
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:47.335Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:47.335Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-tAJgyVILQfwPNifGLcLvnDbj00M"
      x-for-request-id:
      - 5700dd14-9f8f-46eb-a069-8d57f1680738
      x-for-trace-id:
      - 98cc1fd9bc1b829387d7c305b39f22c0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:47.429Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:47.429Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-IRD1lFqSDBp/JLJIJbvD/T8+HYo"
      x-for-request-id:
      - 5efa823f-edff-47ba-9aa9-407c4a2aafd4
      x-for-trace-id:
      - 26800b4456c6376b617531f2e209fade
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:47.524Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:47.524Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-LP1vA8a5O5sTLq8KLqJ0ZxhXMho"
      x-for-request-id:
      - d0a6df70-0f77-4514-89de-997e9e139ba0
      x-for-trace-id:
      - 3a433e1c68204099a0b9a17da6c05d03
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:47.614Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:47.614Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ab-72San/YANV+ltzh+cHD08ky7mNQ"
      x-for-request-id:
      - 9a6a8489-991d-4a76-832e-90d5914013a5
      x-for-trace-id:
      - facafc3c1f01c83798d3bbff6ab74e61
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:47.728Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:47.728Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-gWiDsH5RWountOY5OgNV4Z6eOoQ"
      x-for-request-id:
      - 9483b104-7bde-4806-a998-3e57ab5846b3
      x-for-trace-id:
      - 16a4b26dc5472160d365cb3071ba1bff
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:47.825Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:47.825Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-zho/18VINdoCP9wgI5JFPReRL3A"
      x-for-request-id:
      - ec7cef8e-55ae-4e0d-bfec-97d8abf1b032
      x-for-trace-id:
      - 26834dab14be4c81547267461df0f962
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:47.921Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:47.921Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-hLq4m2esrt5PaFWnAVEd9N9DZto"
      x-for-request-id:
      - 49f44db5-1a90-4f19-8b7d-5a9e8f67b7a2
      x-for-trace-id:
      - 84081fa133ad64112b735f52dd457801
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.20250611183851.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611183851.firefox.linux64-opt\",\n
        \ \"taskId\": \"KH_X44I_Sw2vkQgi4CYZxw\",\n  \"rank\": 1749667131,\n  \"data\":
        {},\n  \"expires\": \"2026-06-11T18:42:29.790Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d7-qAhajjTR1rAnHaGhvqyq2SuQDNw"
      x-for-request-id:
      - ae552cbc-de56-434b-9cf0-1de9ac47f28e
      x-for-trace-id:
      - 4bb809c9492cd76edea56e37eedfe69e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"KH_X44I_Sw2vkQgi4CYZxw\",\n  \"rank\": 1749667131,\n  \"data\":
        {},\n  \"expires\": \"2026-06-11T18:42:29.790Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cf-q8XViSR7cXuLaJZFjcba2oEDYQU"
      x-for-request-id:
      - 22f8d9d0-c62f-45dc-b5de-30157770a1d7
      x-for-trace-id:
      - aeea456dc9a6ffbe69fe88772fb1f34a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:48.499Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:48.499Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-Y4+NDINjEvTx8PyGJ1dZvV5h4ag"
      x-for-request-id:
      - 8ef3534d-b9e0-4ef9-9a68-ee567545193b
      x-for-trace-id:
      - f9f9128b4c44c93c3015d6d524b23266
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:48.604Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:48.604Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-DmYIONkMH/iPY8/aEETzmr+xMmk"
      x-for-request-id:
      - aaf0084b-e8c7-434d-af56-8244db1bc384
      x-for-trace-id:
      - b75bfc4b54736f1de797b43f2b25080d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:48.700Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:48.700Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-CT9Xajh3WaUQEu6cpVIQ99WUppQ"
      x-for-request-id:
      - 580803e4-10c4-4ede-aa5f-86924c5db2e2
      x-for-trace-id:
      - c7a5ae30918584395c618f87fb37c36d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KH_X44I_Sw2vkQgi4CYZxw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-11T18:42:29.790Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-06-11T18:42:29.790Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-06-11T18:42:29.790Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KH_X44I_Sw2vkQgi4CYZxw/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-z0v5s0+BLpR4dL4nv65tNhqSXhs"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.mozinfo.json
      x-for-request-id:
      - eecb514c-788d-4ef3-ac90-00bd17a54806
      x-for-trace-id:
      - c94684bee1c5d039e07467ed56d53d92
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"opt\",\n    \"buildtype_guess\":
        \"opt\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"dbus_enabled\": true,\n    \"debug\":
        false,\n    \"devedition\": false,\n    \"early_beta_or_earlier\": true,\n
        \   \"gecko_profiler\": true,\n    \"healthreport\": true,\n    \"isolated_process\":
        false,\n    \"mingw\": false,\n    \"mozconfig\": \"/builds/worker/checkouts/gecko/.mozconfig\",\n
        \   \"nightly_build\": true,\n    \"normandy\": true,\n    \"official\": true,\n
        \   \"opt\": true,\n    \"os\": \"linux\",\n    \"pgo\": false,\n    \"platform_guess\":
        \"linux64\",\n    \"processor\": \"x86_64\",\n    \"release_or_beta\": false,\n
        \   \"require_signing\": false,\n    \"stylo\": true,\n    \"sync\": true,\n
        \   \"telemetry\": false,\n    \"tests_enabled\": true,\n    \"toolkit\":
        \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n    \"topsrcdir\":
        \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n    \"ubsan\":
        false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"f7d209ae5e1b0baafaf5fbf90e1441f9"'
      Last-Modified:
      - Wed, 11 Jun 2025 19:08:10 GMT
      x-goog-generation:
      - '1749668890262712'
      x-goog-hash:
      - crc32c=uQgVCg==
      - md5=99IJrl4bC6r69fv5DhRB+Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '424'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KH_X44I_Sw2vkQgi4CYZxw/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"85-9kzMqNRTJDoZC/3/yJZLfTTZEvI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.tar.xz
      x-for-request-id:
      - 3e5eedff-0805-46db-bbc6-b3b9a6e3e6af
      x-for-trace-id:
      - 640e4755b3dd4005dab2cd67ade1a738
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KH_X44I_Sw2vkQgi4CYZxw/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-zyurGUZBQRnmW6wcaFzjIL5eO5k"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - f207d6e5-f30d-4c4d-874b-967bd9a2e939
      x-for-trace-id:
      - 57580351a0303d92094fb24803091fcb
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KH_X44I_Sw2vkQgi4CYZxw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-yN27b3TzzjrEKUKoxmC+nPh1fis"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.json
      x-for-request-id:
      - 08140e63-a241-405e-bb78-ea596227c7af
      x-for-trace-id:
      - 797f5515bddd1b0cc4341caa1833ca80
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20250611183851\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"141.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"141.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"38c0da99155f48368a184fe60e352259535fa464\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"26dee427a0309751d65af7b984559978"'
      Last-Modified:
      - Wed, 11 Jun 2025 19:08:08 GMT
      x-goog-generation:
      - '1749668888136484'
      x-goog-hash:
      - crc32c=Sqrb0A==
      - md5=Jt7kJ6Awl1HWWve5hFWZeA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '350'
    status:
      code: 200
      message: OK
version: 1
