interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.win64-ccov-fuzzing-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.win64-ccov-fuzzing-opt\",\n
        \ \"taskId\": \"WQYCz5vhSBiSIX83oPyzzQ\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.788Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c6-6//B8gEWKEKxxgPVLs5XJY1LuJ8"
      x-for-request-id:
      - 5a261d69-3133-480f-8d18-49881c527a53
      x-for-trace-id:
      - 86522d30e75c0dd898c29b2ebfb455c6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/WQYCz5vhSBiSIX83oPyzzQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:55:11.788Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/chrome-map.json\",\n      \"expires\":
        \"2025-11-06T16:55:11.788Z\",\n      \"contentType\": \"application/json\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/config.status\",\n
        \     \"expires\": \"2025-11-06T16:55:11.788Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/WQYCz5vhSBiSIX83oPyzzQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/WQYCz5vhSBiSIX83oPyzzQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-lfOoGE88dgwLtCic0HEVr6pwsQE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/WQYCz5vhSBiSIX83oPyzzQ/0/public/build/target.json
      x-for-request-id:
      - dfa24a42-1a24-4bf3-add3-1603401bf880
      x-for-trace-id:
      - 3f7b07a89e894d338ad9a4038e7d0f3d
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/WQYCz5vhSBiSIX83oPyzzQ/0/public/build/target.json
  response:
    body:
      string: "{\r\n  \"as\": \"D:/task_173091360722441/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\r\n
        \ \"buildid\": \"20241106165131\",\r\n  \"cc\": \"D:/task_173091360722441/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -Xclang -std=gnu99\",\r\n  \"cxx\": \"D:/task_173091360722441/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -std:c++17\",\r\n  \"host\": \"x86_64-pc-mingw32\",\r\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\r\n  \"moz_app_maxversion\":
        \"134.0a1\",\r\n  \"moz_app_name\": \"firefox\",\r\n  \"moz_app_vendor\":
        \"Mozilla\",\r\n  \"moz_app_version\": \"134.0a1\",\r\n  \"moz_pkg_platform\":
        \"win64-fuzzing\",\r\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\r\n
        \ \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\",\r\n
        \ \"moz_update_channel\": \"default\",\r\n  \"target\": \"x86_64-pc-mingw32\"\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"105f9cf107f4a0455c816a6d06ff3a3a"'
      Last-Modified:
      - Wed, 06 Nov 2024 18:30:18 GMT
      x-goog-generation:
      - '1730917817977459'
      x-goog-hash:
      - crc32c=poPnCw==
      - md5=EF+c8Qf0oEVcgWptBv86Og==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '451'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-PLn9VSqIYUUVGwPEHEiBgHUslOc"
      x-for-request-id:
      - 63c18222-1297-4e78-b0b4-7e461606ce02
      x-for-trace-id:
      - d7e8eaccea1e66ddcce1095786a085d1
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531\",\n
        \     \"name\": \"20241106050531\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106094902\",\n
        \     \"name\": \"20241106094902\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106165131\",\n
        \     \"name\": \"20241106165131\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-rD22QITnTHl00WIs09PHeTAXjAc"
      x-for-request-id:
      - 12aa373c-0bda-40f9-a01a-a7a041c6c165
      x-for-trace-id:
      - 396fc2a8844d24feb113d5165a93c87a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-ccov-fuzzing-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:52.780Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-ccov-fuzzing-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:52.780Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1af-PQTCn4flYexMSxSep5jc8/B136U"
      x-for-request-id:
      - 341daa33-8b8b-49c4-b501-9b2da1927a45
      x-for-trace-id:
      - 8f7cfc778da4cdd63c186d510e0bffdd
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-ccov-fuzzing
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:52.903Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-ccov-fuzzing\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:52.903Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ab-BlrqkBs4z0y3xE1SpSlyr4A4xsQ"
      x-for-request-id:
      - 13069a65-3bbd-4122-be94-a98cb4448e03
      x-for-trace-id:
      - b8615458b873d7f741ebbbefc5d3ed6d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-ccov-fuzzing-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:53.044Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-ccov-fuzzing-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:53.044Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b2-L6Eb13Rni58j6Pz3b8X292RJBg4"
      x-for-request-id:
      - 64d4cdf9-97d9-420e-8eac-66817ea42ff5
      x-for-trace-id:
      - 462118fbcf6bbc164d79a20ac205f133
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-ccov-fuzzing
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:53.181Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-ccov-fuzzing\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:53.181Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-6aT0YU9kXkw0S4zvjc7qlw3d/+s"
      x-for-request-id:
      - d036009f-600a-407c-8c08-89b16028dd7c
      x-for-trace-id:
      - 12d7e7ac75e2baad02c6f5972a32dce5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-ccov-fuzzing-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:53.310Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-ccov-fuzzing-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:53.310Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b1-tXHN+XMTSnjbeA0OG2ZEl/VwCiA"
      x-for-request-id:
      - 5aef9930-c18f-4f7f-abc8-457d76e480d0
      x-for-trace-id:
      - 27231ec7654eeb71718363d9b1b0e780
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-ccov-fuzzing
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:53.444Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-ccov-fuzzing\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:53.444Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ad-t1AIP3gNYVqdG/8w5QNLwAxFy5E"
      x-for-request-id:
      - d9f50970-d9ab-40c0-9e67-66d09fd12fd8
      x-for-trace-id:
      - 5904397a3eebdba660e406514d54c782
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-ccov-fuzzing-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:53.587Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-ccov-fuzzing-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:53.587Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b4-jxwAmIBWU0/1XBz93vIi9M1Vy78"
      x-for-request-id:
      - ea9f7479-ced0-4e6e-8255-1daba1a6d28d
      x-for-trace-id:
      - 697576a61deb6042206164d81f867ff1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-ccov-fuzzing
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:53.727Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-ccov-fuzzing\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:53.727Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b0-jS5/AD0PxKtaHxExMN6BJA1UgbA"
      x-for-request-id:
      - 7f018f78-f61f-434c-b07b-6f5f6c82a20b
      x-for-trace-id:
      - d26e3f9f69107562be212aa15932e6d2
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.win64-ccov-fuzzing-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.win64-ccov-fuzzing-opt\",\n
        \ \"taskId\": \"OYVVYPilQiSSLTOfD1F0Gg\",\n  \"rank\": 1730869531,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T05:11:34.822Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e2-GP3uoriIDWUN+azrVYwa98OEcxc"
      x-for-request-id:
      - e992680d-c515-45da-bb92-87232d6e43d9
      x-for-trace-id:
      - 2f457b42d735d54bc995ef9f047da7da
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OYVVYPilQiSSLTOfD1F0Gg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T05:11:34.822Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OYVVYPilQiSSLTOfD1F0Gg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/OYVVYPilQiSSLTOfD1F0Gg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-AZN6/jSFK6jHahaJcuN1HLG2jjY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/OYVVYPilQiSSLTOfD1F0Gg/0/public/build/target.json
      x-for-request-id:
      - fdf9940b-b52a-406a-aaf2-dd5955984a1d
      x-for-trace-id:
      - b422d6d80dd5b6612e17164e7d1e83ef
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/OYVVYPilQiSSLTOfD1F0Gg/0/public/build/target.json
  response:
    body:
      string: "{\r\n  \"as\": \"D:/task_173087022603256/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\r\n
        \ \"buildid\": \"20241106050531\",\r\n  \"cc\": \"D:/task_173087022603256/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -Xclang -std=gnu99\",\r\n  \"cxx\": \"D:/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.win64-ccov-fuzzing-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.win64-ccov-fuzzing-opt\",\n
        \ \"taskId\": \"WQYCz5vhSBiSIX83oPyzzQ\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.788Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f1-2t5ZV8P+julEnrv1oEupxLMYJJM"
      x-for-request-id:
      - f9f22804-be3b-4ee2-a5d2-4af03c722831
      x-for-trace-id:
      - 21cab7694bc42657a43992f23e9038ef
    status:
      code: 200
      message: OK
version: 1
