interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.win32-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.win32-fuzzing-debug\",\n
        \ \"taskId\": \"JUArkbxJTOiYYSG5NOdLCw\",\n  \"rank\": 1730999615,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T17:20:00.745Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b7-DVpfEeZcqN3XXFPvvR5LqNlUCVg"
      x-for-request-id:
      - f09609f8-d838-4ee1-97b5-a64161ec2d7c
      x-for-trace-id:
      - cec86d2b3a836c918980ff540fcac7cd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/JUArkbxJTOiYYSG5NOdLCw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T17:20:00.745Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T17:20:00.745Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2024-12-05T17:20:00.745Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/JUArkbxJTOiYYSG5NOdLCw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/JUArkbxJTOiYYSG5NOdLCw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-w4bRqy25YptVPzyg+1BWr49l1o4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/JUArkbxJTOiYYSG5NOdLCw/0/public/build/target.json
      x-for-request-id:
      - 74089532-9c2f-4f7c-8b91-064704c40192
      x-for-trace-id:
      - f497400a736919e6f214bd4eff8809cc
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/JUArkbxJTOiYYSG5NOdLCw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x86/ml.exe\",\n
        \ \"buildid\": \"20241107171335\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -m32 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -std:c++17 -m32 -Xclang -ivfsoverlay -Xclang
        /builds/worker/fetches/vs/overlay.yaml\",\n  \"host_alias\": \"x86_64-pc-linux-gnu\",\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\":
        \"131.0a1\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"131.0a1\",\n  \"moz_pkg_platform\": \"win32-fuzzing\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\":
        \"702b68d603bdb217fa56f0e257d15259fc45cc79\",\n  \"moz_update_channel\": \"default\",\n
        \ \"target_alias\": \"i686-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"5c1091b54bc142fd21424ab5d094d76f"'
      Last-Modified:
      - Thu, 07 Nov 2024 18:08:02 GMT
      x-goog-generation:
      - '1731002882581263'
      x-goog-hash:
      - crc32c=d4chRA==
      - md5=XBCRtUvBQv0hQkq10JTXbw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '462'
    status:
      code: 200
      message: OK
version: 1
