interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-aarch64-opt\",\n
        \ \"taskId\": \"cxsX3JgCRt-tEsH-ouLt3Q\",\n  \"rank\": 0,\n  \"data\": {},\n
        \ \"expires\": \"2024-11-22T13:19:34.736Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ba-aBTt0swebgXQGxu8LZ5M1OIxAJo"
      x-for-request-id:
      - 5592e216-44fd-4f98-bb73-b15b5f3f0281
      x-for-trace-id:
      - 96c82fad699c39f065849b4ca7a215d3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cxsX3JgCRt-tEsH-ouLt3Q/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-11-22T13:19:34.736Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-11-22T13:19:34.736Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-11-22T13:19:34.736Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cxsX3JgCRt-tEsH-ouLt3Q/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/cxsX3JgCRt-tEsH-ouLt3Q/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-Y2FtnUK2NAMwKpTNp+NZLPDdtto"
      location:
      - https://firefoxci.taskcluster-artifacts.net/cxsX3JgCRt-tEsH-ouLt3Q/0/public/build/target.json
      x-for-request-id:
      - 5ef3718e-ffa0-4de9-8f12-ab2681917e5d
      x-for-trace-id:
      - 290fe9f7a23736f1cbd0110d91b4878f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/cxsX3JgCRt-tEsH-ouLt3Q/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu
        -std=gnu99 --target=aarch64-linux-gnu\",\n  \"buildid\": \"20231123095534\",\n
        \ \"cc\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu
        -std=gnu99 --target=aarch64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu --target=aarch64-linux-gnu\",\n
        \ \"host_alias\": \"x86_64-pc-linux-gnu\",\n  \"host_cpu\": \"x86_64\",\n
        \ \"host_os\": \"linux-gnu\",\n  \"host_vendor\": \"pc\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"122.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"122.0a1\",\n  \"moz_pkg_platform\": \"linux-aarch64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\": \"8366d9b1b0ca63aa3b706dd53ce23f052221c11b\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target_alias\": \"aarch64-pc-linux-gnu\",\n
        \ \"target_cpu\": \"aarch64\",\n  \"target_os\": \"linux-gnu\",\n  \"target_vendor\":
        \"pc\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"993a3dac335c790e15d21e1a47de8ecc"'
      Last-Modified:
      - Thu, 23 Nov 2023 14:07:10 GMT
      x-goog-generation:
      - '1700748430059473'
      x-goog-hash:
      - crc32c=Kx1bvg==
      - md5=mTo9rDNceQ4V0h4aR96OzA==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '403'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2023.11.23
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.11.23.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-11-25T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.11.23.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-11-26T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-HGBA52CYbn9iy3ogjzscRYrsKx4"
      x-for-request-id:
      - ab72de36-9b20-46ff-80f5-c2da68294915
      x-for-trace-id:
      - a317963c728a317592c9bb24868fade3
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2023.11.23
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.11.23.20231123095534\",\n
        \     \"name\": \"20231123095534\",\n      \"expires\": \"2024-11-25T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.11.23.20231123164627\",\n
        \     \"name\": \"20231123164627\",\n      \"expires\": \"2024-11-25T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.11.23.20231123214337\",\n
        \     \"name\": \"20231123214337\",\n      \"expires\": \"2024-11-26T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.11.23.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-11-26T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-CxqYe7/GVptXw8YDTAG5t7mtfO8"
      x-for-request-id:
      - fc6878f4-a886-4ade-bbb7-08a83f7d4b37
      x-for-trace-id:
      - 737da517d5d9b7c0c424f4882312d46c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.11.23.latest.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:16.491Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.11.23.latest.firefox.linux64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:16.491Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ac-ix6aOkxpiTcrtmmLkekvzNugQuU"
      x-for-request-id:
      - 066ecea6-dd22-47c8-9770-567c136e5fb1
      x-for-trace-id:
      - a625feec73b776bcdf650c1b92091f82
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.11.23.latest.firefox.linux64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:16.617Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.11.23.latest.firefox.linux64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:16.617Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a8-p/0eXQ5PXO7mMwzb04wEAYVDH6U"
      x-for-request-id:
      - 0a3ce058-f52c-4442-a8bd-27c89c4d88f9
      x-for-trace-id:
      - 04d5f79c408120ccb5b247bb130421bc
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.11.23.latest.firefox.sm-linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:16.747Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.11.23.latest.firefox.sm-linux64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:16.747Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1af-rVNDFUBlEYMyJiEArFs9jR8uAzo"
      x-for-request-id:
      - 0a9a116e-1437-4e4c-b20b-4a3ff189b7ae
      x-for-trace-id:
      - b1a428fe3fbfbc28a31e39a0e0c2bb78
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.11.23.latest.firefox.sm-linux64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:16.889Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.11.23.latest.firefox.sm-linux64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:16.889Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ab-n1q3kFYAoW0QqVxRBPkPm7eICIc"
      x-for-request-id:
      - ba19821a-1b76-498e-adbe-d5396880e7dc
      x-for-trace-id:
      - 9a221aa21214acb76fb62e9b35a3537e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.11.23.revision.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:17.036Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.11.23.revision.firefox.linux64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:17.036Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-NZGh3bF6fTUVEvQfbbPFH9C4DkA"
      x-for-request-id:
      - cafbc5f8-ced1-4ac6-a767-dba9dd7a9b4c
      x-for-trace-id:
      - c8e40507e390fd5a745067508f598e99
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.11.23.revision.firefox.linux64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:17.193Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.11.23.revision.firefox.linux64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:17.193Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-rNI+Q07ehon1pTQsSWG0/xPh9lM"
      x-for-request-id:
      - dbda9aad-2773-4faf-b68a-354276bb250d
      x-for-trace-id:
      - 161d0770e52b6df1582e8f1bc7de23c8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.11.23.revision.firefox.sm-linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:17.332Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.11.23.revision.firefox.sm-linux64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:17.332Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b1-kUAwy9lQs9zoFbOGwI5GLDf7W2U"
      x-for-request-id:
      - b7602a78-31f2-463c-b515-095f5bb5a0b3
      x-for-trace-id:
      - 854032d0802854fe64c696f5e4386825
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.11.23.revision.firefox.sm-linux64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:15:17.503Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.11.23.revision.firefox.sm-linux64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:15:17.503Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ad-PKankA8Ng4HgTR787aN3cK03aO4"
      x-for-request-id:
      - dbc7e6f0-b103-401a-8c80-1ce88e9ace32
      x-for-trace-id:
      - 46764c8d041f7febd656630586ac3fba
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2023.11.23.20231123095534.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.11.23.20231123095534.firefox.linux64-aarch64-opt\",\n
        \ \"taskId\": \"cxsX3JgCRt-tEsH-ouLt3Q\",\n  \"rank\": 0,\n  \"data\": {},\n
        \ \"expires\": \"2024-11-22T13:19:34.736Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d6-uVvEXwVG4Aa8P7E0vflDqw9Ps2w"
      x-for-request-id:
      - ce080dd8-af27-4372-956e-3357aeb724bb
      x-for-trace-id:
      - 0d9e74c018de081ad75c54d248580462
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8366d9b1b0ca63aa3b706dd53ce23f052221c11b.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.revision.8366d9b1b0ca63aa3b706dd53ce23f052221c11b.firefox.linux64-aarch64-opt\",\n
        \ \"taskId\": \"cxsX3JgCRt-tEsH-ouLt3Q\",\n  \"rank\": 0,\n  \"data\": {},\n
        \ \"expires\": \"2024-11-22T13:19:34.736Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e5-nKY5Vz9m0Nk1eRAF/vymoYTPjko"
      x-for-request-id:
      - 4d6aba9b-cca3-4693-8af6-9eea218fb047
      x-for-trace-id:
      - 7dfe37f128fcd6d62259d59179ffb38c
    status:
      code: 200
      message: OK
version: 1
