interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.win32-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.win32-fuzzing-debug\",\n
        \ \"taskId\": \"Mdd9vJn3Sq-vbfk1mD5BeQ\",\n  \"rank\": 1730913509,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T17:24:31.033Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b7-w7v4uL3AlOa0Wovg2HjUCPxjwm8"
      x-for-request-id:
      - 3ad34bd5-fa1f-48f1-9302-ace4eec94fee
      x-for-trace-id:
      - 9bce2e0f85046e8436dc45f125d5615b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Mdd9vJn3Sq-vbfk1mD5BeQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T17:24:31.033Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T17:24:31.033Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2024-12-04T17:24:31.033Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Mdd9vJn3Sq-vbfk1mD5BeQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Mdd9vJn3Sq-vbfk1mD5BeQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-tJ6MSsGr2z3ZDndkSXh7wXcVxRs"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Mdd9vJn3Sq-vbfk1mD5BeQ/0/public/build/target.json
      x-for-request-id:
      - 61f00b55-6b19-42b0-85f0-6a3ac8df98af
      x-for-trace-id:
      - d7161e31c7a78c1c086713546da59513
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Mdd9vJn3Sq-vbfk1mD5BeQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x86/ml.exe\",\n
        \ \"buildid\": \"20241106171829\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -m32 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -std:c++17 -m32 -Xclang -ivfsoverlay -Xclang
        /builds/worker/fetches/vs/overlay.yaml\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\":
        \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"134.0a1\",\n  \"moz_pkg_platform\": \"win32-fuzzing\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\":
        \"d51573edcf2dfa6ecb99ee89819162e1efd2c9e3\",\n  \"moz_update_channel\": \"default\",\n
        \ \"target\": \"i686-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"8ef14c246abd985b9aaa50b5d8eb598a"'
      Last-Modified:
      - Wed, 06 Nov 2024 18:14:00 GMT
      x-goog-generation:
      - '1730916840844935'
      x-goog-hash:
      - crc32c=gnMfTg==
      - md5=jvFMJGq9mFuaqlC12OtZig==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '456'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 4f7d901d-84b5-4b02-a9c8-2387d9d886cb
      x-for-trace-id:
      - c90cfecf4c7c02d2dd915b940b8d405c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.win32-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:27:24.882Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.win32-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:27:24.882Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-wmOE/VaUzE03sjb7jSL4huUFNLQ"
      x-for-request-id:
      - 79dbffef-a842-474a-96d4-481a2faf81c7
      x-for-trace-id:
      - 6a21eabb8b6f178904768a455d74f20e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-win32-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:27:25.028Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-win32-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:27:25.028Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-tkmotEy7w81rkQ5U8rJo5EHLrCg"
      x-for-request-id:
      - cabc9167-3df2-4956-a3dd-2a89f52f901f
      x-for-trace-id:
      - 4233b907f4fe35426a8bc01128e00073
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.win32-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:27:25.182Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.win32-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:27:25.182Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-RuYmjgyaKJmeRwNcQFsxfugHi1w"
      x-for-request-id:
      - c087478c-9217-4a41-a851-05649b70df98
      x-for-trace-id:
      - 43621134dffef5b67d8d8c69170ca4bd
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-win32-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:27:25.334Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-win32-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:27:25.334Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-RRwNW99qVSaRsqOIY5QCH/PjBRM"
      x-for-request-id:
      - 5ab26892-4e49-41ed-9d11-a6012868274f
      x-for-trace-id:
      - 6bd2b11a8ed47e16b005a55d8f7f3d33
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.win32-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:27:25.466Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.win32-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:27:25.466Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-SzLkgcTE4SqvUHNjcqG2Wr8E1+4"
      x-for-request-id:
      - cdb326a8-33aa-4373-85f9-d666c418a191
      x-for-trace-id:
      - d7339000b936bf6f9f34c36819eeb12a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-win32-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:27:25.662Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-win32-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:27:25.662Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-c/QhaiL58dnt/swemm0z/TEaNmI"
      x-for-request-id:
      - 624d673a-7334-4cc5-813c-d4d33f6bd26d
      x-for-trace-id:
      - 00ddc03f26466fe990a115260413c2db
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.d51573edcf2dfa6ecb99ee89819162e1efd2c9e3.firefox.win32-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.d51573edcf2dfa6ecb99ee89819162e1efd2c9e3.firefox.win32-fuzzing-debug\",\n
        \ \"taskId\": \"Mdd9vJn3Sq-vbfk1mD5BeQ\",\n  \"rank\": 1730913509,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T17:24:31.033Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e2-xizEZ0ZEfr7kXxNdIhYPOkx3mFI"
      x-for-request-id:
      - ddf7df22-5ea3-45a6-9955-1625cd58eb67
      x-for-trace-id:
      - d6ebebbef3be34538ab2a76ce727f967
    status:
      code: 200
      message: OK
version: 1
