interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-fuzzilli-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:54:14.223Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux64-fuzzilli-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-07T19:54:14.223Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19a-DreHC9AB6BjLl4NTcb9v+WhN78E"
      x-for-request-id:
      - a435ad66-811d-493e-b679-bc08077bc4b9
      x-for-trace-id:
      - 8ba75225ad3c846c242d020ed4591519
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-fuzzilli-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-fuzzilli-debug\",\n
        \ \"taskId\": \"Ot1wWHljQ2qgxcMJbiMGbg\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-02-05T16:49:52.848Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c9-uuWY7OqleD86U2zqesmryFAT3q0"
      x-for-request-id:
      - 61b57e61-3e7e-4bc2-a459-ebd1093264d0
      x-for-trace-id:
      - 445bd66eebea53dc4ffa4f93fde98282
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Ot1wWHljQ2qgxcMJbiMGbg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/main_raw.log\",\n      \"expires\": \"2025-02-05T16:49:52.848Z\",\n
        \     \"contentType\": \"text/plain\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/mozconfig.autospider\",\n      \"expires\":
        \"2025-02-05T16:49:52.848Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/target.json\",\n
        \     \"expires\": \"2025-02-05T16:49:52.848Z\",\n      \"contentType\": \"application/json\"\n
        \   },\n    {\n      \"storageType\": \"s3\",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Ot1wWHljQ2qgxcMJbiMGbg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Ot1wWHljQ2qgxcMJbiMGbg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-5vMe0nNYs27mao9L9WjKC66rtrg"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Ot1wWHljQ2qgxcMJbiMGbg/0/public/build/target.json
      x-for-request-id:
      - 2e395717-3bd4-4baf-8551-12a8318422b8
      x-for-trace-id:
      - 614df3c7b6d3973c24fcca03c5036bc4
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Ot1wWHljQ2qgxcMJbiMGbg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"buildid\": \"20241107164615\",\n  \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"4245d6bca10c02d0795f78a28258b713"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:08:24 GMT
      x-goog-generation:
      - '1730999304671874'
      x-goog-hash:
      - crc32c=vvPvUw==
      - md5=QkXWvKEMAtB5X3iigli3Ew==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '110'
    status:
      code: 200
      message: OK
version: 1
