interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"Jr5hV0T5RfqBmuyh3AuexA\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:53.035Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bb-jhVffoOxoS19SJOzdoxMRNsSUSc"
      x-for-request-id:
      - a12855fd-db8a-4cc4-889b-8bb834f94e7e
      x-for-trace-id:
      - 64c9e7705c3717b4bfc88834441c02b0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Jr5hV0T5RfqBmuyh3AuexA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:53.035Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T16:49:53.035Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-07T16:49:53.035Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Jr5hV0T5RfqBmuyh3AuexA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Jr5hV0T5RfqBmuyh3AuexA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-+Spq5h3+NRcwtjipiSZhRJjqltE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Jr5hV0T5RfqBmuyh3AuexA/0/public/build/target.json
      x-for-request-id:
      - f0882f18-e9a6-4d68-b067-650bd5047ac6
      x-for-trace-id:
      - 690b5ab8f8fd9feb5903688ba8b1400f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Jr5hV0T5RfqBmuyh3AuexA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241107164615\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"43a715fee9a1fb418f1ac60100e91da2"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:16:57 GMT
      x-goog-generation:
      - '1730999817122238'
      x-goog-hash:
      - crc32c=r6Ivxw==
      - md5=Q6cV/umh+0GPGsYBAOkdog==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '364'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"HMosRRGDQnC7QXQnuRExyw\",\n  \"rank\": 1750758255,\n  \"data\":
        {},\n  \"expires\": \"2026-06-24T09:47:59.301Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-RzI+FXKKE2NhOyRzPe+hPjgeLec"
      x-for-request-id:
      - bf840413-296a-4041-9e67-4943238f22f6
      x-for-trace-id:
      - c2662a6d37c1c952649f2826ff7a8eae
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/HMosRRGDQnC7QXQnuRExyw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-24T09:47:59.301Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/HMosRRGDQnC7QXQnuRExyw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/HMosRRGDQnC7QXQnuRExyw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-+Jdg71PtrAXSO3v7sNIvgeiflTo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/HMosRRGDQnC7QXQnuRExyw/0/public/build/target.json
      x-for-request-id:
      - b0f3f014-0be7-4641-973c-492453824c41
      x-for-trace-id:
      - 42e7ab80af228937f00b32dbdbf65352
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/HMosRRGDQnC7QXQnuRExyw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20250624094415\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/wo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:05.897Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:05.897Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-Qe1TEaH0h4A467OgBG7X05YLRxc"
      x-for-request-id:
      - 572247a8-d825-42ab-864d-3fdec890297e
      x-for-trace-id:
      - 95e72ed810ebd93557a22ea68cff2f36
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:06.052Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-10-29T17:51:06.052Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19c-eCiNXtUVffhzUH+lMSITtu6ORvs"
      x-for-request-id:
      - 7bfcf433-a5f8-43a4-8bfb-d7ead0777c70
      x-for-trace-id:
      - c7228e811526115e06cd7a7d0fe860a7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:06.193Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-10-29T17:51:06.193Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"198-c1vZnDYKw/om6dzrOb9yi8v5u6A"
      x-for-request-id:
      - 5f808d4b-c948-4670-9c55-b66b4a213314
      x-for-trace-id:
      - 321efce352250221e67125ffbd6f3f51
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:06.350Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:06.350Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18b-WPcZct1MowlO3Q9UP/QUtKvtmPw"
      x-for-request-id:
      - bd299ad6-e9d6-472b-a784-e40662e5dcff
      x-for-trace-id:
      - 03b1d19b79ffb99dbdd16e4fbc79e28c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:06.467Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:06.467Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-MnKXm0W4isdxAcD1mGIZSDIjhvY"
      x-for-request-id:
      - 0cada4a2-a1fa-468d-82f2-8c53c7bdfd36
      x-for-trace-id:
      - 0982c76ea920ebad734bd7a3e77e0576
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:06.604Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:06.604Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-4cE5h1wCRyk9gL58GLqZwBBdaRE"
      x-for-request-id:
      - 670954b2-317e-4bf0-bdda-12c310fa87b9
      x-for-trace-id:
      - 5fabe7f82b5a475575c394f879e49bfc
    status:
      code: 404
      message: Not Found
version: 1
