interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:23.955Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:23.955Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ba-MxYbK5Ks9EbpGxSR4hOCRxxDvD4"
      x-for-request-id:
      - f7a0c08f-389a-44e5-b7aa-4a45e2e8d3e0
      x-for-trace-id:
      - 6e33f862baa363829c4789a5c87df86c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:24.089Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:24.089Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b6-LcjJe8TXidoMwRgMqQoPO5cYxxY"
      x-for-request-id:
      - d77a97a1-ec8e-4077-a3d6-ceb512a83bf7
      x-for-trace-id:
      - efcf72ef3ab2e607693c72f58d752e87
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:24.226Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:24.226Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1bd-ncGtO0osCTQwRDVmLeRgFjeplwU"
      x-for-request-id:
      - 4a45ae9a-1945-4d8b-92c9-6d660bb4301a
      x-for-trace-id:
      - 418697a636425119484eacc3d52229e9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:24.349Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:24.349Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b9-+M6CvOhkgksIBOazdEOX6N0go+M"
      x-for-request-id:
      - d333ef84-b589-42dc-b8bc-fd5d0819c8a3
      x-for-trace-id:
      - ff14cb8b1f2c07d2f8deb83fcb2c6c41
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:24.485Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:24.485Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c4-c6vSCYju9mG+DFf8ipH1CWizThE"
      x-for-request-id:
      - 390aa758-6b9f-4292-bd2f-a7616f17efea
      x-for-trace-id:
      - 9908dae5f946c5f5e5c533f2ab3cc481
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:24.627Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:24.627Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c0-Cd51TkiDreR5YRc2KgY19UL+1WM"
      x-for-request-id:
      - cfaecd52-8077-49ae-a794-f34722d9691a
      x-for-trace-id:
      - 89d8bb6a7a099bc80e71e5cfda3477c7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:24.775Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:24.775Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c7-JcN2OSnN/XJZL4PPVZEG+xtVafc"
      x-for-request-id:
      - 840b147d-dab4-4c5f-ae11-b9196b06f7c0
      x-for-trace-id:
      - 11117349cfc5311b2deb92c27518aea7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:24.913Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.revision.a53a2b4b87d3cffa7582c252478f44077faa7775.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:24.913Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c3-iUUvHJKi8sx6ioJnpsPNoNPOlvA"
      x-for-request-id:
      - 9ad69b30-9b67-46ff-8cd4-f99f86e982db
      x-for-trace-id:
      - 36dcc882cf57dc26e15b3765578a2aa0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://hg.mozilla.org/mozilla-central/json-rev/a53a2b4b87d3cffa7582c252478f44077faa7775
  response:
    body:
      string: '{

        "node": "a53a2b4b87d3cffa7582c252478f44077faa7775",

        "date": [1699348655.0, 0],

        "desc": "Bug 1859646 - Use GLS also for nightly & beta r=mostlygeek,glandium\n\nDifferential
        Revision: https://phabricator.services.mozilla.com/D191235",

        "backedoutby": "",

        "branch": "default",

        "bookmarks": [],

        "tags": [],

        "user": "Sylvestre Ledru \u003csylvestre@debian.org\u003e",

        "parents": ["4712c7e340c1bdb63cc78d5b1b31b5652debb201"],

        "children": ["5d6699b34edce04ffd8886be86de9d604d88a89a"],

        "files": [{

        "file": "modules/libpref/init/all.js",

        "status": "modified"

        }],

        "diff": [{

        "blockno": 1,

        "lines": [{

        "t": "-",

        "n": 1,

        "l": "--- a/modules/libpref/init/all.js\n"

        }, {

        "t": "+",

        "n": 2,

        "l": "+++ b/modules/libpref/init/all.js\n"

        }, {

        "t": "@",

        "n": 3,

        "l": "@@ -3079,22 +3079,17 @@ pref(\"network.psl.onUpdate_notify\", fals\n"

        }, {

        "t": "",

        "n": 4,

        "l": " \n"

        }, {

        "t": "",

        "n": 5,

        "l": " #ifdef MOZ_WIDGET_GTK\n"

        }, [...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2023.11.07
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.11.07.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.11.07.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-11-10T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-kD3lfgJCUkkhNIU/yYAjoDVRz38"
      x-for-request-id:
      - f5b36164-75ff-4bc4-93f9-e07862b5a585
      x-for-trace-id:
      - b0713193c24c1e7c67693ada3f91f996
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2023.11.07
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.11.07.20231107032012\",\n
        \     \"name\": \"20231107032012\",\n      \"expires\": \"2024-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.11.07.20231107094442\",\n
        \     \"name\": \"20231107094442\",\n      \"expires\": \"2024-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.11.07.20231107214948\",\n
        \     \"name\": \"20231107214948\",\n      \"expires\": \"2024-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.11.07.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-kYdVikHj4R+rli55FEFQCAxMjfc"
      x-for-request-id:
      - cd5c1745-0275-408b-bb6b-0b702420289a
      x-for-trace-id:
      - 149d5b1dfc27fac807c84f323882c233
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.11.07.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.11.07.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"Scm_ywvzRvWWcbRuTePWzA\",\n  \"rank\": 1699393788,\n  \"data\":
        {},\n  \"expires\": \"2024-11-07T04:05:09.928Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-wxLbJuYwBOzEPBbtx9C9EFC8ib4"
      x-for-request-id:
      - 3deeab76-94d4-43af-9552-146f54b24356
      x-for-trace-id:
      - 9259ed41528f219048ec3d4953d02455
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Scm_ywvzRvWWcbRuTePWzA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-11-07T04:05:09.928Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-11-07T04:05:09.928Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-11-07T04:05:09.928Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Scm_ywvzRvWWcbRuTePWzA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Scm_ywvzRvWWcbRuTePWzA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-hKItNcKDw5JLOfNwksrYwMivQy4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Scm_ywvzRvWWcbRuTePWzA/0/public/build/target.json
      x-for-request-id:
      - 539d6c05-55f4-4cdf-9eff-da7a1f31a84b
      x-for-trace-id:
      - 6c0b07530912545cb4b1333fd05b8ee6
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Scm_ywvzRvWWcbRuTePWzA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"buildid\": \"20231107214948\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host_alias\": \"x86_64-pc-linux-gnu\",\n  \"host_cpu\": \"x86_64\",\n
        \ \"host_os\": \"linux-gnu\",\n  \"host_vendor\": \"pc\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"121.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"121.0a1\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\": \"5d6699b34edce04ffd8886be86de9d604d88a89a\",\n
        \ \"moz_update_channel\": \"nightly\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\",\n
        \ \"target_cpu\": \"x86_64\",\n  \"target_os\": \"linux-gnu\",\n  \"target_vendor\":
        \"pc\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"07e8610d7aaea423042e28d11881e37c"'
      Last-Modified:
      - Wed, 08 Nov 2023 06:05:29 GMT
      x-goog-generation:
      - '1699423529695755'
      x-goog-hash:
      - crc32c=iE18Yg==
      - md5=B+hhDXqupCMELijRGIHjfA==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '385'
    status:
      code: 200
      message: OK
version: 1
