interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-aarch64-opt\",\n
        \ \"taskId\": \"H7DAGdv5TgKbkpqEP6_ZjQ\",\n  \"rank\": 1731006632,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T19:15:48.379Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b6-yF4DOtEJPCxRUc7sWjk9GaSjhqk"
      x-for-request-id:
      - 0ee243ce-9e38-450c-afe3-54ac839bfdda
      x-for-trace-id:
      - acdd5c71cbe45ffa9bcf092f16d52662
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/H7DAGdv5TgKbkpqEP6_ZjQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T19:15:48.379Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T19:15:48.379Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-05T19:15:48.379Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/H7DAGdv5TgKbkpqEP6_ZjQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/H7DAGdv5TgKbkpqEP6_ZjQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-LrRE69ywpKxzpTxt6JSWQemEVF8"
      location:
      - https://firefoxci.taskcluster-artifacts.net/H7DAGdv5TgKbkpqEP6_ZjQ/0/public/build/target.json
      x-for-request-id:
      - db0e8222-6978-4587-8038-fb92d26c3b82
      x-for-trace-id:
      - ad8246ba201b5050a3e26797fba73f63
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/H7DAGdv5TgKbkpqEP6_ZjQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241107191032\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n  \"moz_app_maxversion\": \"133.0a1\",\n
        \ \"moz_app_name\": \"fennec\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"133.0a1\",\n  \"moz_pkg_platform\": \"android-aarch64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"b442f2368cc25eb49442da924871a06f27a7e40e\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"aarch64-unknown-linux-android\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e7739e55d2dc346477d46942ec19587b"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:24:02 GMT
      x-goog-generation:
      - '1731007442144270'
      x-goog-hash:
      - crc32c=axoznw==
      - md5=53OeVdLcNGR31GlC7BlYew==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '308'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.mobile.android-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.mobile.android-aarch64-opt\",\n
        \ \"taskId\": \"R_vLvmzbRYKAT_EeBCxiEw\",\n  \"rank\": 1750778471,\n  \"data\":
        {},\n  \"expires\": \"2025-07-22T15:25:55.651Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c0-RYdZtO51LtKQw9dY7hvPDs0ibrQ"
      x-for-request-id:
      - 62ea4ea9-9bad-4ba3-9958-0843efaa8d8b
      x-for-trace-id:
      - a4cf72039cfad550d168c43104922574
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/R_vLvmzbRYKAT_EeBCxiEw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-22T15:25:55.651Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/R_vLvmzbRYKAT_EeBCxiEw/artifacts/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/R_vLvmzbRYKAT_EeBCxiEw/0/public/build/en-US/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89-Il2qDTacVjv/vFLvlirBOsadG/U"
      location:
      - https://firefoxci.taskcluster-artifacts.net/R_vLvmzbRYKAT_EeBCxiEw/0/public/build/en-US/target.json
      x-for-request-id:
      - 82e56b8b-3e72-45b7-bbc8-ace3513541fe
      x-for-trace-id:
      - 325d9856ddfedf3dea4193ac87d45192
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/R_vLvmzbRYKAT_EeBCxiEw/0/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --target=aarch64-linux-android21\",\n
        \ \"buildid\": \"20250624152111\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --target=aarch64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --tar[...]
