interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.win64-opt\",\n  \"taskId\":
        \"W_wSjFlUSJqm9S1_EOttWg\",\n  \"rank\": 1730920721,\n  \"data\": {},\n  \"expires\":
        \"2024-12-04T19:24:00.470Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ad-RUy93iBh8Xh4IXxBAuDkqnRUnUQ"
      x-for-request-id:
      - 50a4acca-8a85-4c09-81fb-574dd40d0f03
      x-for-trace-id:
      - 09141bcd6d6b61967d2aa3b26a51c169
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/W_wSjFlUSJqm9S1_EOttWg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T19:24:00.470Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T19:24:00.470Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2024-12-04T19:24:00.470Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/W_wSjFlUSJqm9S1_EOttWg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/W_wSjFlUSJqm9S1_EOttWg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-O941zRmO7pWwOHx5spcGEtKBxXM"
      location:
      - https://firefoxci.taskcluster-artifacts.net/W_wSjFlUSJqm9S1_EOttWg/0/public/build/target.json
      x-for-request-id:
      - e9a7d5f0-319e-4a61-bceb-c100a341ab33
      x-for-trace-id:
      - eac3d1a162d2176f463bd230207a2c5f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/W_wSjFlUSJqm9S1_EOttWg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20241106191841\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -std:c++17 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"win64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"9181e23fdf761f0b245e35c039e33a8cf0d784b8\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"96500771b95a847bb6259f3787d548b1"'
      Last-Modified:
      - Wed, 06 Nov 2024 19:54:24 GMT
      x-goog-generation:
      - '1730922864414984'
      x-goog-hash:
      - crc32c=I0CRxA==
      - md5=llAHcblahHu2JZ83h9VIsQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '446'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 34d7314c-63ce-48e3-9355-c72b4990ab0e
      x-for-trace-id:
      - 57ef043b0531663d799d641b1ffe1941
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest.firefox.win64-opt\",\n
        \ \"taskId\": \"KfxGiULWSK2o8Wdiw_foig\",\n  \"rank\": 1730916696,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T18:17:03.366Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c2-hO+/S4yZ6iXlk3A/CZB7esN5QlQ"
      x-for-request-id:
      - d7dd7126-68a9-433a-b348-3b6d8e079c8e
      x-for-trace-id:
      - 44e57993fbd3bb64b33f41ce20283170
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KfxGiULWSK2o8Wdiw_foig/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T18:17:03.366Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KfxGiULWSK2o8Wdiw_foig/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KfxGiULWSK2o8Wdiw_foig/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-nAe35j/odAjr8nH/USUXdNPgw5k"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KfxGiULWSK2o8Wdiw_foig/0/public/build/target.json
      x-for-request-id:
      - 98f0d318-29b6-4677-869d-ceaa7db2a651
      x-for-trace-id:
      - 3013132790b87574791f904b52a0425b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KfxGiULWSK2o8Wdiw_foig/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241106181136\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"win64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"bce654727f7fb95cc31d702a87bb54f07a287194\",\n  \"moz_update_channel\":
        \"nightly-try\",\n  \"target\": \"x86_64-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c723068b43c785e04353345026edeb61"'
      Last-Modified:
      - Wed, 06 Nov 2024 18:25:40 GMT
      x-goog-generation:
      - '1730917540917365'
      x-goog-hash:
      - crc32c=ztPaTA==
      - md5=xyMGi0PHheBDUzRQJu3rYQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '297'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.9181e23fdf761f0b245e35c039e33a8cf0d784b8.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.9181e23fdf761f0b245e35c039e33a8cf0d784b8.firefox.win64-opt\",\n
        \ \"taskId\": \"W_wSjFlUSJqm9S1_EOttWg\",\n  \"rank\": 1730920721,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T19:24:00.470Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d8-4pHk+zYJNQ7uciRqyZG1HCNkhPI"
      x-for-request-id:
      - d38c152d-439b-494c-a16d-36d2643687b2
      x-for-trace-id:
      - 7ce2c38fc9de7c06fb9f42d94921cc50
    status:
      code: 200
      message: OK
version: 1
