interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:51:51.174Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:51:51.174Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18d-8xwB4cUV4Nmvxr1zc0UTUeNQA3M"
      x-for-request-id:
      - 72a101f2-009d-4268-a6dd-00499b6b0033
      x-for-trace-id:
      - ae4ae8532c75106e42431433cb0eb44b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:51:51.320Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:51:51.320Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"189-niJvHQVwYUd3UwVBesb21xPpy9M"
      x-for-request-id:
      - 86b107b1-7174-492d-b232-81cf1f36e333
      x-for-trace-id:
      - a50e9077ba43e40f50c306797824ed8e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:51:51.469Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:51:51.469Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"190-MeX1tEiFvis20GPTyPcxE1RttlY"
      x-for-request-id:
      - 8deafecb-85cc-4541-aed8-a0e9a78e7a28
      x-for-trace-id:
      - 9e5adc5b5aa4fadc35c977a55ee4ebc0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:51:51.614Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:51:51.614Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18c-ABYIwAX/8oOfgCJXyK+yMtwTnVk"
      x-for-request-id:
      - c4a3e3ad-5a2d-4491-b4a3-c0e8464e2030
      x-for-trace-id:
      - a09cfff6a6b26dc74a48869059ed2596
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.linux-opt\",\n
        \ \"taskId\": \"LL9UZqFBQB-JuD_tEkFb5g\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:50:01.947Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c3-CDwGdl53Fm142AaDFh4IyMKi+aQ"
      x-for-request-id:
      - 8c87b750-e14e-44aa-ae26-8b5f682826c8
      x-for-trace-id:
      - 6d8adb65dc621c476b3ecc66a5bac85c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/LL9UZqFBQB-JuD_tEkFb5g/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:50:01.947Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T16:50:01.947Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-07T16:50:01.947Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/LL9UZqFBQB-JuD_tEkFb5g/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/LL9UZqFBQB-JuD_tEkFb5g/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-6Ei3cIpQRCHR3DIeQg4mkeJEVlI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/LL9UZqFBQB-JuD_tEkFb5g/0/public/build/target.json
      x-for-request-id:
      - 2b0d1256-e47b-4a41-b26f-cb7b050ea5fb
      x-for-trace-id:
      - 5bed0ca54182150bb2b60631bb3e4158
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/LL9UZqFBQB-JuD_tEkFb5g/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu
        -std=gnu99 -m32\",\n  \"buildid\": \"20241107164615\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -std=gnu99 -m32\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu
        -m32\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-i686\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target\": \"i686-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"142348c93b3de5a22ba8227fb9e47172"'
      Last-Modified:
      - Thu, 07 Nov 2024 18:49:43 GMT
      x-goog-generation:
      - '1731005383323012'
      x-goog-hash:
      - crc32c=J/mnqw==
      - md5=FCNIyTs95aIrqCJ/ueRxcg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '367'
    status:
      code: 200
      message: OK
version: 1
