interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.06.10
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.10.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-06-13T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.10.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-gY0/4bAJatw4OjawY8AD4o64acA"
      x-for-request-id:
      - d4eed106-745d-4187-94e0-fde434d762d5
      x-for-trace-id:
      - 6cd4707aec07313ee8fc086b3c271300
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.06.10
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.10.20240610145008\",\n
        \     \"name\": \"20240610145008\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.10.20240610162603\",\n
        \     \"name\": \"20240610162603\",\n      \"expires\": \"2025-06-13T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.10.20240610213024\",\n
        \     \"name\": \"20240610213024\",\n      \"expires\": \"2025-06-13T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.10.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-tLMQB2ADKp6MNWqzWR6yX8FO0tg"
      x-for-request-id:
      - f8a0be0f-81df-4fc0-8bbb-089f269caa8c
      x-for-trace-id:
      - b924ac0df58fd7a455048ab6ce5181c9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.10.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:42.927Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.10.latest.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:42.927Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a4-36jd2BD2DpBQsCogKtzQoxAnX7s"
      x-for-request-id:
      - edbded82-a69e-44f8-8e4d-a7956deaee48
      x-for-trace-id:
      - 61e4b0316dd4c97cbeef314b9ce88ff4
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.10.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.049Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.10.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.049Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-KSKA7cc2ELmyJKIwpM84Rp5xXkc"
      x-for-request-id:
      - 6b62a16f-e0ee-4668-83be-0f05ec2911d3
      x-for-trace-id:
      - cbaa20b3ebae19dae369d49e196ec2cd
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.10.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.140Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.10.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.140Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-tITPoB7x40fB52/iHYwTdswtBk8"
      x-for-request-id:
      - eccb9103-a8e1-476a-acee-84878493fd64
      x-for-trace-id:
      - 485e5e2a34c7eff084be28de46ae8667
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.10.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.234Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.10.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.234Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-scYqvpfyqOvmImGCQLiLMypfkwA"
      x-for-request-id:
      - 2584020f-d1ea-465b-9ef4-9237eae99b8b
      x-for-trace-id:
      - 1a91ac1aff4baceb72dcb73934ff1fc1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.10.revision.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.329Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.10.revision.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.329Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-HkO+u9CYpKft9I0qVEoRpXvotIk"
      x-for-request-id:
      - 64597bcd-dd7b-4ca9-8926-34f7abe3935f
      x-for-trace-id:
      - ddd917726911e233aad4723325a9b675
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.10.revision.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.434Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.10.revision.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.434Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-MHJkAZCbvtAqTv1zNSV11hvZLiY"
      x-for-request-id:
      - 9a792f8d-5018-4af4-bfb4-fd5f141421a0
      x-for-trace-id:
      - c3841e02e33463b63c218dfbdc67b5c8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.10.revision.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.524Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.10.revision.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.524Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-rrre8zeAdtgrRKAMXceytOdAEGM"
      x-for-request-id:
      - 58658f60-a296-452f-a746-e9a8d6bccbc6
      x-for-trace-id:
      - b75beec85e9a6d533670a3ff94428e90
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.10.revision.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.620Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.06.10.revision.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.620Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-W67oc0wZV8bA5EbP17RYtrbt1vg"
      x-for-request-id:
      - 332a9ec9-c410-4ae3-94b2-f175ab41ad17
      x-for-trace-id:
      - 8d53494aa892c82e0552a2424dadaa2b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.10.20240610145008.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.722Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.10.20240610145008.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.722Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ab-0Ec4ZrjCTYAWquVddSbrNc7CRgA"
      x-for-request-id:
      - 8e8494c9-e2bf-47f5-973f-58e4dfa208d7
      x-for-trace-id:
      - af0e959c51414e5d6551c97323173d7f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.10.20240610145008.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.810Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.10.20240610145008.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.810Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-slxyqTyQEQvzevz5Car5VHVDD2E"
      x-for-request-id:
      - 7d3a610c-f071-404c-b8de-d61995fcf36d
      x-for-trace-id:
      - e8cd9876fe9111098a0831ba2975ce34
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.10.20240610145008.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.902Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.10.20240610145008.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.902Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-u4T9DHNGFwY5dy1iU1kNByIEanI"
      x-for-request-id:
      - ad02e874-b7d7-4834-b412-4f648e4d1824
      x-for-trace-id:
      - 65d2342593798a37531ef2aa7e88fe07
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.10.20240610145008.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:43.998Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.10.20240610145008.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:43.998Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-vxBXAoob8iFGBNSRNbfFIojchy0"
      x-for-request-id:
      - c9aa57d2-2d28-4798-9383-ba2c4e7edcb3
      x-for-trace-id:
      - 343aec67aa5f414b44e628384e16ae77
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.10.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:44.831Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.10.latest.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:44.831Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-POga7/fS9eSfvI9Y6Pcy+IVyQWI"
      x-for-request-id:
      - 79a27e97-46ac-4f26-a795-407598f464e2
      x-for-trace-id:
      - f67f5a43e211c6ebabece59cfe773e83
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.10.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:44.927Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.10.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:44.927Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-hqlKjmRkr/Gi3CVy4fVX96NE6A4"
      x-for-request-id:
      - 7e2fa2ba-f911-42a1-91d5-046fe5aa01e1
      x-for-trace-id:
      - 87d93113d3aa92d8c9a10075c8395933
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.10.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:45.019Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.10.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:45.019Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-qV8dF7JW6Hj30NJ2/m/B3RtBBAs"
      x-for-request-id:
      - b0139cd9-4e55-4101-81dd-4cbaf360c81d
      x-for-trace-id:
      - bd4669e0719f6417c6cdb608e5c795bf
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.10.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:45.178Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.10.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:45.178Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-g96OuHwuvoC2zkmnmPvFx6E7zAg"
      x-for-request-id:
      - 9de3e208-fbe1-4c71-a4cd-26c77041413b
      x-for-trace-id:
      - 2c505d7c9416727216f65c4bb37fbdf5
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"DEqweO9HRjGQjSUOstgmZw\",\n  \"rank\": 1718143835,\n  \"data\":
        {},\n  \"expires\": \"2025-06-12T04:03:52.494Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-bQsReiLc6B52Z2dXf2nT0WffATs"
      x-for-request-id:
      - d572279e-ead7-43a3-b869-0620bdb7bafe
      x-for-trace-id:
      - b23297919d2640a205956de491d8e89a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-06-12T04:03:52.494Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-06-12T04:03:52.494Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-06-12T04:03:52.494Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-8QLLteLkQzCe1fyYhmHarbIFbTo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.mozinfo.json
      x-for-request-id:
      - 7630427b-858d-4848-a47b-fb8feddf3783
      x-for-trace-id:
      - 0bfb03d4b3d40153251aa083266a34b5
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"pgo\",\n    \"buildtype_guess\":
        \"pgo\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"debug\": false,\n    \"devedition\":
        false,\n    \"domstreams\": true,\n    \"early_beta_or_earlier\": true,\n
        \   \"healthreport\": true,\n    \"isolated_process\": false,\n    \"mozconfig\":
        \"/builds/worker/checkouts/gecko/.mozconfig\",\n    \"nightly_build\": true,\n
        \   \"normandy\": true,\n    \"official\": true,\n    \"os\": \"linux\",\n
        \   \"pgo\": true,\n    \"platform_guess\": \"linux64\",\n    \"processor\":
        \"x86_64\",\n    \"release_or_beta\": false,\n    \"require_signing\": false,\n
        \   \"stylo\": true,\n    \"sync\": true,\n    \"telemetry\": false,\n    \"tests_enabled\":
        true,\n    \"toolkit\": \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n
        \   \"topsrcdir\": \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n
        \   \"ubsan\": false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"4cb49a4774ffde3186c7a143ade183a2"'
      Last-Modified:
      - Wed, 12 Jun 2024 05:53:33 GMT
      x-goog-generation:
      - '1718171613805482'
      x-goog-hash:
      - crc32c=lCeELg==
      - md5=TLSaR3T/3jGGx6FDreGDog==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '410'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1d2-V/B2A58qrKJTOqDPpSHvW9/rfug"
      x-for-request-id:
      - 5c72af16-b600-4790-8323-7b0f5687d331
      x-for-trace-id:
      - 2e558313bf21f22c0f3f6e061fff9afe
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.tar.bz2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"86-9NBwV6UCGL7AhEzCiXzdq8+zwFY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.tar.bz2
      x-for-request-id:
      - ad79ebe4-8bac-4274-a495-0813f213c6a9
      x-for-trace-id:
      - 2ecc85e39bb10064368db1a11a4ed561
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-CuV2ZnbGpdCTHkMmlA/Ur0waGgE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 2b6d3951-a0d9-40b3-99f5-d1172848b91f
      x-for-trace-id:
      - 1c480f9c240046c9c14d28e588186a2f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-fNzga0NgB28IKDfmfG8A4N8kri0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.json
      x-for-request-id:
      - d42ea5ff-fa17-4636-9149-074f9f72b19c
      x-for-trace-id:
      - 3fa90bbd423ba6c11a5ac3b91669420b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"buildid\": \"20240611221035\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host_alias\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"129.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"129.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"e1287caec454f439e2faf508a25643e95cbfe4fb\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"926e445a713eb105c6279f6b54f52fa1"'
      Last-Modified:
      - Wed, 12 Jun 2024 05:53:31 GMT
      x-goog-generation:
      - '1718171611361418'
      x-goog-hash:
      - crc32c=dx5YEA==
      - md5=km5EWnE+sQXGJ59rVPUvoQ==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '358'
    status:
      code: 200
      message: OK
version: 1
