interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.macosx64-debug\",\n
        \ \"taskId\": \"Z06oay-FSP6hvnObT_1O-g\",\n  \"rank\": 1730923379,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:08:29.572Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b2-mxUKa7eChbviUg6F1oouENVHzYE"
      x-for-request-id:
      - a23a4eeb-cbe2-4354-9e23-850261870e01
      x-for-trace-id:
      - da7dd579224389e0c6702219726981c3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Z06oay-FSP6hvnObT_1O-g/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T20:08:29.572Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T20:08:29.572Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/mozharness.zip\",\n
        \     \"expires\": \"2024-12-04T20:08:29.572Z\",\n      \"contentType\": \"application/zip\"\n
        \   },\n    {\n      \"storageType\": \"s3\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Z06oay-FSP6hvnObT_1O-g/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Z06oay-FSP6hvnObT_1O-g/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-94q4JY0xnZXvnHwvKurPKNf86ls"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Z06oay-FSP6hvnObT_1O-g/0/public/build/target.json
      x-for-request-id:
      - 5d119997-3877-4c7b-9e0a-51ef59669e0f
      x-for-trace-id:
      - b7eb8b6321efcce6d359744c67c5b087
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Z06oay-FSP6hvnObT_1O-g/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241106200259\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"mac\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"2855593bdf5b654f7f2f784e1da6ba03daac21f5\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ee3183a6a1c84321d02da959240fd7fd"'
      Last-Modified:
      - Wed, 06 Nov 2024 20:17:41 GMT
      x-goog-generation:
      - '1730924261950443'
      x-goog-hash:
      - crc32c=LfBNyQ==
      - md5=7jGDpqHIQyHQLalZJA/X/Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '298'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - ef651207-044b-4e4e-b742-61d120dd77b9
      x-for-trace-id:
      - 49346293f10fdca47a01e2599e0dc481
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.macosx64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:13.336Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.macosx64-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:18:13.336Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19b-If18eHXSimafrRh6TulFElS/tbQ"
      x-for-request-id:
      - 5365b54c-199b-48c0-81c4-f1a55d4fb2fc
      x-for-trace-id:
      - 37d43f87abbb9ca87ea8174b569ab0cc
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-macosx64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:13.481Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-macosx64-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:18:13.481Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19e-Sj33B+9zk1keLHZoWfrUJr86XZE"
      x-for-request-id:
      - bbafdfa7-2119-43ae-a9bd-c535c449cd5c
      x-for-trace-id:
      - ff1731eb4c25be311c2b7d98ca860c23
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.macosx64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:13.612Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.macosx64-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:18:13.612Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19d-CrGdH7lJEAPuFU8/n/msryCGGh4"
      x-for-request-id:
      - fd129694-13ca-41fe-92c9-ce8c9ac18f60
      x-for-trace-id:
      - 1f29a5cd69832ce0fff53065e13a0433
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-macosx64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:13.748Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-macosx64-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:18:13.748Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-i7SB3q5pYpOnOdxvRQilqN2tIh0"
      x-for-request-id:
      - 3fd55338-c61e-40eb-a2ce-8e7ac24fcc93
      x-for-trace-id:
      - 93804bb62b33ff48513fa4f2e3ab5fda
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.macosx64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:13.884Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.macosx64-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:18:13.884Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-p+5PprWqjIZep33wpPiGfI+DAv0"
      x-for-request-id:
      - f2813eb8-232b-4415-8313-3bfcfdb55eed
      x-for-trace-id:
      - 63e5b10ffa32c695c92fe5618103ed4f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-macosx64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:14.036Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-macosx64-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:18:14.036Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-Ddpcd870yKMjlOJgpmFgEnnXoQg"
      x-for-request-id:
      - 42fe2af2-aa88-4ee0-9a92-5b2e0c1491b3
      x-for-trace-id:
      - 48d8e1ab543121d65c99ca3219a9e0ed
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/WZ16HYTXRueE5WzBFgoeYw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T00:53:17.255Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/WZ16HYTXRueE5WzBFgoeYw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/WZ16HYTXRueE5WzBFgoeYw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-eVGNTLtdUMn95l/WB9YcJFTjsuY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/WZ16HYTXRueE5WzBFgoeYw/0/public/build/target.json
      x-for-request-id:
      - 46ca0d5d-eb29-4a72-9b1a-cb656891f22e
      x-for-trace-id:
      - 91447837e33aeff985440fd46af725fd
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/WZ16HYTXRueE5WzBFgoeYw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\": \"20241106004822\",\n
        \ \"cc\": \"/builds/worker/fetch[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.2855593bdf5b654f7f2f784e1da6ba03daac21f5.firefox.macosx64-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.2855593bdf5b654f7f2f784e1da6ba03daac21f5.firefox.macosx64-debug\",\n
        \ \"taskId\": \"Z06oay-FSP6hvnObT_1O-g\",\n  \"rank\": 1730923379,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:08:29.572Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"dd-jyPLzoJJb/bE7puLeQmKKMi8bpk"
      x-for-request-id:
      - 9a413c95-b5c4-49e0-8fda-de932b3e2ca2
      x-for-trace-id:
      - efd784748daf89145fc79887f594d0ca
    status:
      code: 200
      message: OK
version: 1
