interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"133.0b5\",\n
        \   \"FIREFOX_ESR\": \"128.4.0esr\",\n    \"FIREFOX_ESR115\": \"115.17.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"134.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2024-10-28\",\n    \"LAST_RELEASE_DATE\": \"2024-10-29\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2024-10-24\",\n    \"LAST_STRINGFREEZE_DATE\": \"2024-10-25\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_VERSION\": \"132.0.1\",\n    \"NEXT_MERGE_DATE\":
        \"2024-11-25\",\n    \"NEXT_RELEASE_DATE\": \"2024-11-26\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2024-11-21\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2024-11-22\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3ae739757cc3792e89363b6c9742175d"'
      Last-Modified:
      - Wed, 06 Nov 2024 16:25:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.linux64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.latest.firefox.linux64-fuzzing-asan-opt\",\n
        \ \"taskId\": \"CgmEaK45SXukf4ySkQqJqQ\",\n  \"rank\": 1730912110,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:58:18.443Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c7-CSKx5XJrhckkO29IzuJrwpYUmn4"
      x-for-request-id:
      - 9516ecac-0029-43cf-808d-9fe21d6a5380
      x-for-trace-id:
      - aa0a3bcf440d0a8b56d2612520c0110e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CgmEaK45SXukf4ySkQqJqQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:58:18.443Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:58:18.443Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-06T16:58:18.443Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CgmEaK45SXukf4ySkQqJqQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/CgmEaK45SXukf4ySkQqJqQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-bToALXkthoeS6z/RwQUwDlehqI0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/CgmEaK45SXukf4ySkQqJqQ/0/public/build/target.json
      x-for-request-id:
      - f2ff68b8-cb74-469c-80f4-148317753643
      x-for-trace-id:
      - 6bb7f769855e3d98bb06710e06bcff94
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/CgmEaK45SXukf4ySkQqJqQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106165510\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host_alias\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"128.*\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\":
        \"Mozilla\",\n  \"moz_app_version\": \"128.5.0\",\n  \"moz_pkg_platform\":
        \"linux-x86_64-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/releases/mozilla-esr128\",\n
        \ \"moz_source_stamp\": \"349c8f8310226a7271ad30d283dfd6898f4f6eba\",\n  \"moz_update_channel\":
        \"default\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2a5d349da4b562f4ec401f881fcc7eee"'
      Last-Modified:
      - Wed, 06 Nov 2024 17:55:46 GMT
      x-goog-generation:
      - '1730915746836599'
      x-goog-hash:
      - crc32c=+j5WBw==
      - md5=Kl00naS1YvTsQB+IH8x+7g==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '379'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-esr128.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"152-FI406XkoZBg1Mg7HOEcFH6+E4fw"
      x-for-request-id:
      - 7758d0f7-0c81-4ede-a759-4aa98448b0fb
      x-for-trace-id:
      - 6430183b3621836873932abedd8fae75
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-esr128.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.pushdate.2024.11.06.20241106165510\",\n
        \     \"name\": \"20241106165510\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"15c-pJsbEkGrt0lzG6U/uAT/A5eTSCE"
      x-for-request-id:
      - c8f0ac3d-fe7f-4d31-bffa-6d3546c8dd68
      x-for-trace-id:
      - ff3f267efa339be67bc8b253ff4525cb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.linux64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:55.266Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.linux64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:55.266Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b0-4faYMaNitiBZw6bAIJ+u8TzLKkA"
      x-for-request-id:
      - ae7ca42e-9af6-4faa-8201-9834bc2fe3aa
      x-for-trace-id:
      - e803cb9632cf365d64e8ab424b2b547b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.linux64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:55.404Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.linux64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:55.404Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ac-L1cXyAJh/xkaORYfl2LJqyoBzRk"
      x-for-request-id:
      - 0bc90ca7-2f71-400b-aa8f-2c1b2686dc0b
      x-for-trace-id:
      - 06aa78816d3844441c7979469b45486b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:55.550Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:55.550Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b3-2x7+z5UmBK5oNO/GrGfBvyRwj08"
      x-for-request-id:
      - 017ab6bb-a5e9-4dff-834f-4929a3cda26f
      x-for-trace-id:
      - abc52662d760a5bbaec27c73a4cb4a62
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:55.690Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:55.690Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1af-7gy+1U1tn7e/uKkKPPke0BmsO3k"
      x-for-request-id:
      - 25164f4f-68fb-4f9d-a887-cd47fdcad8d7
      x-for-trace-id:
      - 50b2a9fe005dc194d864ecaff891754a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.linux64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:55.825Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.linux64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:55.825Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b2-jP0huTP1QSQQ1Iou1yftczqVDCk"
      x-for-request-id:
      - f4081eb7-f2f3-4aae-84ff-80b070134c26
      x-for-trace-id:
      - bd35f27637bba3d779c2d8f3ea259ff5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.linux64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:55.961Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.linux64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:55.961Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-jNHpwgassinx+1gaboLJ0F9YyUI"
      x-for-request-id:
      - d76877cd-2381-4d7a-8548-9aa658e64f0a
      x-for-trace-id:
      - 09913a8cd9f3add9d98a8cd3f1c9bc75
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:56.106Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:56.106Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b5-I9OgbKNLecKeSL7OnYkldddjjOE"
      x-for-request-id:
      - 36c88c90-8736-485b-bde8-678781bdc648
      x-for-trace-id:
      - 956f6699ca226de549fc7599feba3f8c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:56.246Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:56.246Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b1-oTDatsmDf2YK8U9Y6m6fSwa7yW0"
      x-for-request-id:
      - acb89163-ae93-4b0d-bc41-31bea8519094
      x-for-trace-id:
      - 5058453e1e936be52d15484af3684fea
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.pushdate.2024.11.06.20241106165510.firefox.linux64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.pushdate.2024.11.06.20241106165510.firefox.linux64-fuzzing-asan-opt\",\n
        \ \"taskId\": \"CgmEaK45SXukf4ySkQqJqQ\",\n  \"rank\": 1730912110,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:58:18.443Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e3-PTo3vX2sTLid+udqiK6qG09Qn4A"
      x-for-request-id:
      - 29cb0918-7ab9-4bc1-a7e4-426f621d1d3e
      x-for-trace-id:
      - 85b2dc67d39911d2e9611d149d0c2d93
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.linux64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.linux64-fuzzing-asan-opt\",\n
        \ \"taskId\": \"CgmEaK45SXukf4ySkQqJqQ\",\n  \"rank\": 1730912110,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:58:18.443Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f2-FeNGVgD8neiMhrY1b9RlGf3uVPw"
      x-for-request-id:
      - c105e89b-a2e8-4ba0-bb69-6daf107be61d
      x-for-trace-id:
      - c6386f0b76833093a71df91786bb07f6
    status:
      code: 200
      message: OK
version: 1
