interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-aarch64-opt\",\n
        \ \"taskId\": \"bKJ0j-rESEiox88Eo0mZyg\",\n  \"rank\": 1730913509,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T17:24:31.178Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b7-tzGFuPWqaRdZFKRB9IbXplO9du4"
      x-for-request-id:
      - 4a0a3e0a-f893-41e9-b412-29053b567758
      x-for-trace-id:
      - a1e7b5d2c8807560c35561a3f5bda82a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/bKJ0j-rESEiox88Eo0mZyg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T17:24:31.178Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T17:24:31.178Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-04T17:24:31.178Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/bKJ0j-rESEiox88Eo0mZyg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/bKJ0j-rESEiox88Eo0mZyg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-53yd/8mhcELl91xC70EXpZViiXI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/bKJ0j-rESEiox88Eo0mZyg/0/public/build/target.json
      x-for-request-id:
      - 59a14fbc-8c88-42ae-8578-36399e770950
      x-for-trace-id:
      - 3c354d2f3a2a2cdfa3b753bfe295ea2b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/bKJ0j-rESEiox88Eo0mZyg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu -std=gnu99 --target=aarch64-linux-gnu\",\n
        \ \"buildid\": \"20241106171829\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu
        -std=gnu99 --target=aarch64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu
        --target=aarch64-linux-gnu\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"linux-aarch64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"d51573edcf2dfa6ecb99ee89819162e1efd2c9e3\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"aarch64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"064cd3edfc57b28046daa0a928b9344a"'
      Last-Modified:
      - Wed, 06 Nov 2024 18:05:51 GMT
      x-goog-generation:
      - '1730916350978872'
      x-goog-hash:
      - crc32c=ww97hQ==
      - md5=BkzT7fxXsoBG2qCpKLk0Sg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '372'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 1c477e03-5bf1-4ca0-9971-7b27d393b4d2
      x-for-trace-id:
      - 99db2dcbbdf1caed19a985479b785ead
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:17.497Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:17.497Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-7ZvUw8Ngnezo1MLsENgJDgdwMpc"
      x-for-request-id:
      - 4db02805-5352-42b2-8d9b-33c5afb3208e
      x-for-trace-id:
      - e411a471c28a57f2be890e079561b145
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:17.634Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-aarch64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:17:17.634Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19c-BVPkfo12ABFsgb9jcTm2LBFGeqE"
      x-for-request-id:
      - 769a5605-c908-4028-ad07-61c09319b053
      x-for-trace-id:
      - 2ed693be249a51e9fc5f89b8e899e1fc
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:17.775Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:17.775Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-zf8kEVP6xIyG+Bw0d9y2E0uF5nU"
      x-for-request-id:
      - c47418ab-a6d1-4afd-be00-636310b46e4a
      x-for-trace-id:
      - 3f8f23df3c3cab49eead4ca49aa03061
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:17.908Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:17.908Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-/rDlKHN622XhZ/jqNWP2bbInR7g"
      x-for-request-id:
      - df37c8c8-a9be-44aa-8f46-0bbf3cf602b9
      x-for-trace-id:
      - 565832ffab9b4d46b823f5c50a61ddfe
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:18.037Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:18.037Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-f5VxNvnQ7MMV5yy+5sdKwP0e578"
      x-for-request-id:
      - fcdafe4b-b5a0-4e24-8f5f-59760d2957a5
      x-for-trace-id:
      - c28de12f62b221434e38b537edb4c165
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:18.190Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-aarch64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:17:18.190Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19e-jYwdCTNjBCqmf65nUl89Ly1cUIU"
      x-for-request-id:
      - 306d0c24-23ec-44bb-815a-1ae932965429
      x-for-trace-id:
      - e312ff33351e89527531a2a027088768
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:18.331Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:18.331Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-0GHyW4EQMrQP6dcf6H2dRJyrfro"
      x-for-request-id:
      - d350983e-f683-4e02-83ba-18631465ddf8
      x-for-trace-id:
      - 5796db3a06e5b675529496f35e384a8f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:18.471Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:18.471Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a1-QCE30X7sPI87rVpV4coRwFVv7hU"
      x-for-request-id:
      - 6e113116-2d7b-41ac-aba3-050e875a7a9c
      x-for-trace-id:
      - e2765c341fe3c49c419ff00dd7516bda
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:18.683Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:18.683Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-S6XhurOB9F7T1D1v1lVrQoj663g"
      x-for-request-id:
      - 856b1146-87fa-4acb-99f8-ad9f0a05dbf5
      x-for-trace-id:
      - 6ff0c82b8bf3f0968627e366c85f933f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:18.832Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:18.832Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-+RUrOktJVluhCFXPM0vD2z2tqN4"
      x-for-request-id:
      - d8f56542-dc8a-4dd1-8d9b-fd6a3e163b98
      x-for-trace-id:
      - fa200c8b4c89bdea965225cc20d3d006
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:18.967Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:18.967Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-wiFTxh1ZALFo3u36b8lOfYJ0wZE"
      x-for-request-id:
      - 95881069-3458-497b-8550-da81b24aa0ca
      x-for-trace-id:
      - 9d1759179332da44697a35b466a26961
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:19.111Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:19.111Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-/jDMCyy5evf9Bhao3/DhdcVZujI"
      x-for-request-id:
      - 43e0aca4-89e5-453b-b4db-0703a499c818
      x-for-trace-id:
      - b81a1769a809cf29a69a71b119228b2c
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/dTwNfEzkQz-0RvBVKiRbRg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T09:08:14.581Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/dTwNfEzkQz-0RvBVKiRbRg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/dTwNfEzkQz-0RvBVKiRbRg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-LN7lkQMyduXaixCMkArRxHmYUrQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/dTwNfEzkQz-0RvBVKiRbRg/0/public/build/target.json
      x-for-request-id:
      - 0ba94ec4-bdac-4380-a1bd-98496bae2925
      x-for-trace-id:
      - f4a7a4533d91697cf885890ca4c9168d
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/dTwNfEzkQz-0RvBVKiRbRg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-aarch64-linux-gnu -std=gnu99 --target=aarch64-linux-gnu\",\n
        \ \"buildid\": \"20241106085809\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.d51573edcf2dfa6ecb99ee89819162e1efd2c9e3.firefox.linux64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.d51573edcf2dfa6ecb99ee89819162e1efd2c9e3.firefox.linux64-aarch64-opt\",\n
        \ \"taskId\": \"bKJ0j-rESEiox88Eo0mZyg\",\n  \"rank\": 1730913509,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T17:24:31.178Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e2-glAeBNhGQXGrt0k6pOnEqrpQvTQ"
      x-for-request-id:
      - 23a7fc3e-4f62-4285-aeb1-1f9df5c5f90d
      x-for-trace-id:
      - 48af0fbdcf76552509bacdc08642ef45
    status:
      code: 200
      message: OK
version: 1
