interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-asan-opt\",\n
        \ \"taskId\": \"Hfv6qJc9RLqqUzuhTFGfQA\",\n  \"rank\": 1731004505,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T18:40:25.115Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b4-CUuFN9RNzIOxyrgbqC02MCLoM4E"
      x-for-request-id:
      - fd80187c-8e4e-46df-acc7-532a6ee72af2
      x-for-trace-id:
      - d60b2c0b729e059b264c6514b6fa4b0c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Hfv6qJc9RLqqUzuhTFGfQA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T18:40:25.115Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T18:40:25.115Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T18:40:25.115Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Hfv6qJc9RLqqUzuhTFGfQA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Hfv6qJc9RLqqUzuhTFGfQA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-GNt1EcV1546EyVZeepncjRCmbgQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Hfv6qJc9RLqqUzuhTFGfQA/0/public/build/target.json
      x-for-request-id:
      - 37771985-b1b6-4624-a414-0934d010d078
      x-for-trace-id:
      - 05cfc5f6db5988e0e41ea94acdaf5ea7
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Hfv6qJc9RLqqUzuhTFGfQA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241107183505\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"133.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"133.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"32a161b0408b1370c09111006c74abf2a1e9e037\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"7baa4b678ab9628b5fa217d290517306"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:48:57 GMT
      x-goog-generation:
      - '1731008937029066'
      x-goog-hash:
      - crc32c=5ZMQtw==
      - md5=e6pLZ4q5YotfohfSkFFzBg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '361'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:37.688Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.linux64-asan\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:50:37.688Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"184-QarOPUA0OUFhHkHxyhTkBAqdmzY"
      x-for-request-id:
      - 5baabb58-efa7-47b7-8d58-77e01b1df2e8
      x-for-trace-id:
      - 34b7b5141864a3e025ec5a1bacf7fd92
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.sm-linux64-asan-opt\",\n
        \ \"taskId\": \"I86mlPRUQ0-5YCIWeuWh4Q\",\n  \"rank\": 1761755457,\n  \"data\":
        {},\n  \"expires\": \"2025-11-26T16:36:25.272Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b7-7EKo/uhrxUmZU17E3syFpzf5Onw"
      x-for-request-id:
      - e8ecfd28-1d8e-4acb-9016-c37076a54763
      x-for-trace-id:
      - 9fb2a2dc8c5b3453eababa3055aef237
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:37.939Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-linux64-asan\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:37.939Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"187-IPZbB8UDr3bK0qE7467AsskdQHI"
      x-for-request-id:
      - ee86052e-dc92-4d7d-97e0-288de51e121e
      x-for-trace-id:
      - e0d60af48a54a577e4447e32544be8c8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/I86mlPRUQ0-5YCIWeuWh4Q/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/llvm-symbolizer.gz\",\n      \"expires\": \"2025-11-26T16:36:25.272Z\",\n
        \     \"contentType\": \"application/gzip\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"publ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/I86mlPRUQ0-5YCIWeuWh4Q/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/I86mlPRUQ0-5YCIWeuWh4Q/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-1RcWrIvCkA4ux4aLE9unKlj2TTQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/I86mlPRUQ0-5YCIWeuWh4Q/0/public/build/target.json
      x-for-request-id:
      - 7891242d-0d38-4227-8ee2-1f345661cd02
      x-for-trace-id:
      - bb17a0d7836612feceaf2a6ccb05b392
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/I86mlPRUQ0-5YCIWeuWh4Q/0/public/build/target.json
  response:
    body:
      string: "{\n  \"buildid\": \"20251029163057\",\n  \"moz_source_stamp\": \"44981369115dae88a9880ec03345eef7195aaae3\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3880e6aa4075226fdd52fc29069e0eda"'
      Last-Modified:
      - Wed, 29 Oct 2025 17:01:49 GMT
      x-goog-generation:
      - '1761757309891032'
      x-goog-hash:
      - crc32c=Jt8LDg==
      - md5=OIDmqkB1Im/dUvwpBp4O2g==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '111'
    status:
      code: 200
      message: OK
version: 1
