interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-aarch64-opt\",\n
        \ \"taskId\": \"bxxYioN6TB2gnfQNB3ZnBw\",\n  \"rank\": 1731008108,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T19:40:39.438Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b6-ICUFLAA0pQvr/CBLiUb/SCCDuao"
      x-for-request-id:
      - 174d3f71-d5d9-45c7-8641-f8fc9a0035b5
      x-for-trace-id:
      - e08e315a4c20b6ff1b283d974282938e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/bxxYioN6TB2gnfQNB3ZnBw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T19:40:39.438Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T19:40:39.438Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-05T19:40:39.438Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/bxxYioN6TB2gnfQNB3ZnBw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/bxxYioN6TB2gnfQNB3ZnBw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-vZPqA1B8Jisvb2maAk+NiC8DI9M"
      location:
      - https://firefoxci.taskcluster-artifacts.net/bxxYioN6TB2gnfQNB3ZnBw/0/public/build/target.json
      x-for-request-id:
      - 82e11608-f08a-45cc-8a74-2965e1d9803f
      x-for-trace-id:
      - fcd59394e6e78e28a377992a560f20a7
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/bxxYioN6TB2gnfQNB3ZnBw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241107193508\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"fennec\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"android-aarch64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"c0e7425e57613e7b003eb0bbe97ec3ae2da4f8de\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"aarch64-unknown-linux-android\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"cb4e1d70ecf217b6374dcacb973f230e"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:51:43 GMT
      x-goog-generation:
      - '1731009103233891'
      x-goog-hash:
      - crc32c=i4o/cw==
      - md5=y04dcOzyF7Y3TcrLlz8jDg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '308'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.mobile.android-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.mobile.android-aarch64-opt\",\n
        \ \"taskId\": \"R_vLvmzbRYKAT_EeBCxiEw\",\n  \"rank\": 1750778471,\n  \"data\":
        {},\n  \"expires\": \"2025-07-22T15:25:55.651Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c0-RYdZtO51LtKQw9dY7hvPDs0ibrQ"
      x-for-request-id:
      - 10af249c-f38b-4c5d-9290-c701942094ac
      x-for-trace-id:
      - d6a6619ec4f24ca1fe7e6383d41c0546
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/R_vLvmzbRYKAT_EeBCxiEw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-22T15:25:55.651Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/R_vLvmzbRYKAT_EeBCxiEw/artifacts/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/R_vLvmzbRYKAT_EeBCxiEw/0/public/build/en-US/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89-Il2qDTacVjv/vFLvlirBOsadG/U"
      location:
      - https://firefoxci.taskcluster-artifacts.net/R_vLvmzbRYKAT_EeBCxiEw/0/public/build/en-US/target.json
      x-for-request-id:
      - c9c51d1d-143a-465d-a81e-8cd3532619d6
      x-for-trace-id:
      - 82a2dfc7401cdec69a75702f9bbd11df
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/R_vLvmzbRYKAT_EeBCxiEw/0/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --target=aarch64-linux-android21\",\n
        \ \"buildid\": \"20250624152111\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --target=aarch64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --tar[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.mobile.android-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:25.746Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.mobile.android-aarch64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:25.746Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"190-z0JNWlcKlgaBjj0VCtfN8NBexYo"
      x-for-request-id:
      - ec7fad3c-9390-49ff-bcbb-9ff721cfd2e8
      x-for-trace-id:
      - a2a265a559dbedb8c76559e0975f987d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.mobile.sm-android-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:25.899Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.mobile.sm-android-aarch64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-10-29T17:51:25.899Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"197-NIBzHD8+GJexi/wT+DtItdhzYRE"
      x-for-request-id:
      - c277a12a-536d-4e94-8c3d-49f4ad1b28a3
      x-for-trace-id:
      - baa68a41468614c65405d5426824529b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.mobile.sm-android-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:26.040Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.mobile.sm-android-aarch64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:26.040Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"193-5452y18D/iCUF5KNn0iIDdF4XIc"
      x-for-request-id:
      - a80b6341-1adc-425b-a978-f1a7391c00d7
      x-for-trace-id:
      - 08dc87db9bc3349da7d5eb0e59a02c9b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:26.172Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.mobile.android-aarch64\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:51:26.172Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"186-e6GvGKarUzOkcP6HPs0n4P+wh6I"
      x-for-request-id:
      - 1a94490c-a69b-4598-a438-a03a9a940b82
      x-for-trace-id:
      - 5bfb00e2176831c813bce273342501bf
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.sm-android-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:26.298Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.mobile.sm-android-aarch64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:26.298Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18d-xDoVg511D2LofdjxYKQJdrb9hOw"
      x-for-request-id:
      - ba9591f1-e1ee-426a-bb15-090670450ffb
      x-for-trace-id:
      - 375c28830097047f204dc1309e1b5906
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.sm-android-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:26.413Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.mobile.sm-android-aarch64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:26.413Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"189-sSgNRKXiH6TS+lsz1QcxI0YuDA4"
      x-for-request-id:
      - 119a6352-6940-4641-a716-928208b55bd2
      x-for-trace-id:
      - bdf3f9c3a27748f89e0e2aba76c37714
    status:
      code: 404
      message: Not Found
version: 1
