interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.mobile.android-arm-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.mobile.android-arm-opt\",\n
        \ \"taskId\": \"eI6ImIj_So2BLfshfEV7TQ\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:52.444Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"be-jvD1NYU5YrkJvk+l4eX/4Mqq3pM"
      x-for-request-id:
      - b4d50504-5258-49f9-a7b2-17de44cadc9f
      x-for-trace-id:
      - 7dfe55d5717bd0aaea2b9dce43ade558
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/eI6ImIj_So2BLfshfEV7TQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:52.444Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T16:49:52.444Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2025-11-07T16:49:52.444Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/eI6ImIj_So2BLfshfEV7TQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/eI6ImIj_So2BLfshfEV7TQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-cs39W0/vFp772H9U3R69p4mTxVI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/eI6ImIj_So2BLfshfEV7TQ/0/public/build/target.json
      x-for-request-id:
      - 769454ad-d3a7-4242-a8e1-5389c4357f8d
      x-for-trace-id:
      - 5e27265e3ba0ed2304a42e32b17c4eb1
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/eI6ImIj_So2BLfshfEV7TQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=arm-linux-androideabi21\",\n  \"buildid\": \"20241107164615\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=arm-linux-androideabi21\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --target=arm-linux-androideabi21\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"fennec\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"android-arm\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"arm-unknown-linux-androideabi\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e9f4339e1b530f0bc13e649aaea6107c"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:19:14 GMT
      x-goog-generation:
      - '1730999954269179'
      x-goog-hash:
      - crc32c=tVPm8g==
      - md5=6fQznhtTDwvBPmSarqYQfA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '378'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.mobile.android-arm-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.mobile.android-arm-opt\",\n
        \ \"taskId\": \"O4cYkYtFSV2D1w060Loxig\",\n  \"rank\": 1750758255,\n  \"data\":
        {},\n  \"expires\": \"2026-06-24T09:47:49.773Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c8-eGvuCo2PerMz2mJMo9Ss7P35jrA"
      x-for-request-id:
      - 2fc1ca62-c790-4603-b7a5-9bd54c94dc18
      x-for-trace-id:
      - 24d020e208b0304e5d66233096e4d344
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/O4cYkYtFSV2D1w060Loxig/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-24T09:47:49.773Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/O4cYkYtFSV2D1w060Loxig/artifacts/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/O4cYkYtFSV2D1w060Loxig/0/public/build/en-US/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89-cMl0wh0mtpFF3G7eC1rY++oVu9g"
      location:
      - https://firefoxci.taskcluster-artifacts.net/O4cYkYtFSV2D1w060Loxig/0/public/build/en-US/target.json
      x-for-request-id:
      - ddc774bb-4c7f-4e22-b654-2a3288ee47f0
      x-for-trace-id:
      - 2ca00e2428a1d67c3005fd6ee6a67072
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/O4cYkYtFSV2D1w060Loxig/0/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --target=arm-linux-androideabi21\",\n
        \ \"buildid\": \"20250624094415\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --target=arm-linux-androideabi21\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --tar[...]
