interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-tsan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-tsan-opt\",\n
        \ \"taskId\": \"BtV0JsEDSqGjKBPWl76keA\",\n  \"rank\": 1730920721,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T19:24:00.442Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b4-KIq2wPdrBij4va2/EfmTqWNUN8M"
      x-for-request-id:
      - 3acbe28a-a7f1-4285-84e9-ef97c58103a3
      x-for-trace-id:
      - 0fab66414a109541a4e078a77b715ec9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/BtV0JsEDSqGjKBPWl76keA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T19:24:00.442Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T19:24:00.442Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-04T19:24:00.442Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/BtV0JsEDSqGjKBPWl76keA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/BtV0JsEDSqGjKBPWl76keA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-1pACj1Q0/HxuwmrO1Yk2vHw18Yw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/BtV0JsEDSqGjKBPWl76keA/0/public/build/target.json
      x-for-request-id:
      - 8a3d13ca-7fd2-4518-a21c-984c3f2d2ee5
      x-for-trace-id:
      - 3fbd762179cd6c9d7805df0b169b05b7
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/BtV0JsEDSqGjKBPWl76keA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106191841\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-tsan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"9181e23fdf761f0b245e35c039e33a8cf0d784b8\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"071d3f4c86075f525cda65e93a14a447"'
      Last-Modified:
      - Wed, 06 Nov 2024 19:57:37 GMT
      x-goog-generation:
      - '1730923057157757'
      x-goog-hash:
      - crc32c=wtSuZg==
      - md5=Bx0/TIYHX1Jc2mXpOhSkRw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '362'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 39f183d2-6f39-42a9-80a6-53031585bf3e
      x-for-trace-id:
      - 995351330f0bd05dfd3fefefaf5b5c09
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:13.312Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-tsan-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:23:13.312Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19d-XnGQ6pRxC3jFmnzEY1uY7O+bXCY"
      x-for-request-id:
      - dbe4e7cc-4662-4f10-880b-2d37418b0f8b
      x-for-trace-id:
      - bba5f16b208bfa84a7d0a7f0282e95f2
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:13.448Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-tsan\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:23:13.448Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"199-PmmenRT8MgNaASqsSeR39CdVUcc"
      x-for-request-id:
      - f02a1a30-9777-4995-a25e-11a72b46a0d6
      x-for-trace-id:
      - 3c7c8d47197fc0cc69d89f784c4611b7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:13.585Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:13.585Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-dk+sdiyeXyvmHqtZzefNnVyk1DE"
      x-for-request-id:
      - c502a776-ac78-45f0-8fa6-bb942034fafb
      x-for-trace-id:
      - bb2b8c9d24e688eca56046755e11076e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:13.723Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-tsan\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:23:13.723Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19c-Hkq1gIb7OLHEZPhSH7wIayR+xog"
      x-for-request-id:
      - be655037-11b4-40b6-a519-9623f7009971
      x-for-trace-id:
      - c2d0a7d831fe04fad514654c6f0cb241
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:13.871Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:13.871Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-kVQ93rhnjvxethTlqzydd6+0Eio"
      x-for-request-id:
      - 569957dc-443c-4dc1-a72c-bb06b24e0d9c
      x-for-trace-id:
      - 927d9989d5c2e75256adb19bf4264ee1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:14.012Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-tsan\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:23:14.012Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19b-5IWgHxHYn+9nfyrFGHA2lD6Z+40"
      x-for-request-id:
      - b6237e21-cd09-4fb7-ad59-720f31a19055
      x-for-trace-id:
      - 7b602996d6fbd639dd77648a3a115d88
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:14.164Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:14.164Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-Qddagck+QtBBz2qwgJmP0/tTSM0"
      x-for-request-id:
      - e3bc8871-6324-4ac1-acdf-9244ed7de4cb
      x-for-trace-id:
      - 79b7ec581ad3c1e2520eac970e1caf54
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:14.330Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-tsan\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:23:14.330Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19e-z3jmo9UwqZQGMRSWCD8rTYtwzGk"
      x-for-request-id:
      - 59d1918e-bb88-4d23-abdf-23da9effd728
      x-for-trace-id:
      - 46ab0cf9d3a7da210c7d7b56933abc03
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:14.480Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:14.480Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a4-+jbJFQZJefrFY/9CM2mePPFb6tY"
      x-for-request-id:
      - 6209388c-3332-4229-818a-7c1b28b7d5d2
      x-for-trace-id:
      - 86e2f923ae4475e6410ccc7dffc6171a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:14.618Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-tsan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:14.618Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-AhCRvY1cgBCs3a7+k4/L13Xty2A"
      x-for-request-id:
      - 62d36e2a-36f7-4474-9d1b-8341ffefe9d7
      x-for-trace-id:
      - 195cac2dd653a5c00e9c61157f4b6812
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:14.753Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:14.753Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-9wPN90rwRElIm92A72+Q9319SfY"
      x-for-request-id:
      - 57b8b16b-9190-4917-858a-aad91ac65469
      x-for-trace-id:
      - 7ae917f483dc4f2515dcf5e7b1ffbdbb
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:14.913Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-tsan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:14.913Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-2aMKYPo5a/DECMPr39RQ0j2h2CI"
      x-for-request-id:
      - 499b3e5e-c5ae-434f-841b-11ab740c76d5
      x-for-trace-id:
      - 86fb66171d960e3baf286affda01c3e4
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Tx6DQOtqQBa6i2aZAcMUDA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T04:53:28.290Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Tx6DQOtqQBa6i2aZAcMUDA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Tx6DQOtqQBa6i2aZAcMUDA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-z4PPaqxO6bFUqwrqlF+UOU2WpBI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Tx6DQOtqQBa6i2aZAcMUDA/0/public/build/target.json
      x-for-request-id:
      - 081a5219-c846-4185-b6ff-e3c44f8db6e2
      x-for-trace-id:
      - a3f9203b49e4a38b50616137501a3940
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Tx6DQOtqQBa6i2aZAcMUDA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106044610\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clan[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.9181e23fdf761f0b245e35c039e33a8cf0d784b8.firefox.linux64-tsan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.9181e23fdf761f0b245e35c039e33a8cf0d784b8.firefox.linux64-tsan-opt\",\n
        \ \"taskId\": \"BtV0JsEDSqGjKBPWl76keA\",\n  \"rank\": 1730920721,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T19:24:00.442Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"df-mJRvlyAuXJxOtYva3XU/tqK6W1U"
      x-for-request-id:
      - 8f193bba-51a9-4e6f-b6a3-776f7510572d
      x-for-trace-id:
      - 247bd2cc0aaf5848dc3d523324765eb1
    status:
      code: 200
      message: OK
version: 1
