interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.mobile.android-x86_64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.mobile.android-x86_64-opt\",\n
        \ \"taskId\": \"TjNZT2KGRRyIAoMfPGMy4A\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:52.861Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c1-qKNhDZyAVaKeldEexI9lBM/0GB0"
      x-for-request-id:
      - 0f06593e-92b5-4318-96c8-8b88d1e80072
      x-for-trace-id:
      - 721227e53211ee4a240cc9f31d4271c6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/TjNZT2KGRRyIAoMfPGMy4A/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:52.861Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T16:49:52.861Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2025-11-07T16:49:52.861Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/TjNZT2KGRRyIAoMfPGMy4A/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/TjNZT2KGRRyIAoMfPGMy4A/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-s059CpFxuvB2ygY4nUBOHDXAyhI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/TjNZT2KGRRyIAoMfPGMy4A/0/public/build/target.json
      x-for-request-id:
      - 1b5410ad-ba8b-4dbf-b0a5-386878791310
      x-for-trace-id:
      - 5e5e154028a80fe2da2ba469f58ff4c5
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/TjNZT2KGRRyIAoMfPGMy4A/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=x86_64-linux-android21\",\n  \"buildid\": \"20241107164615\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=x86_64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --target=x86_64-linux-android21\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"fennec\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"android-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-android\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"880c1d48cb84e77e8a86313030913a52"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:20:59 GMT
      x-goog-generation:
      - '1731000059225963'
      x-goog-hash:
      - crc32c=a6pE2w==
      - md5=iAwdSMuE536KhjEwMJE6Ug==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '367'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.mobile.android-x86_64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.mobile.android-x86_64-opt\",\n
        \ \"taskId\": \"NJqUrndwRwWFVBZJOsqaXA\",\n  \"rank\": 1750758255,\n  \"data\":
        {},\n  \"expires\": \"2026-06-24T09:47:59.440Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cb-7REXHUHQ3EEBgGD5aP/6mYvJzq0"
      x-for-request-id:
      - 18a45f0f-f0ab-4d27-b602-30b0af93a750
      x-for-trace-id:
      - 375be8edfdd6fdc3e26ab87c7f95f315
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/NJqUrndwRwWFVBZJOsqaXA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-24T09:47:59.440Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/NJqUrndwRwWFVBZJOsqaXA/artifacts/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/NJqUrndwRwWFVBZJOsqaXA/0/public/build/en-US/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89-hoWtR/SR0BM90EoW7SPds2zcByU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/NJqUrndwRwWFVBZJOsqaXA/0/public/build/en-US/target.json
      x-for-request-id:
      - ff09ebf0-63fe-4729-85b5-e0d89e044971
      x-for-trace-id:
      - e334fc5ec13b8b92ec554f2611c4695a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/NJqUrndwRwWFVBZJOsqaXA/0/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --target=x86_64-linux-android21\",\n
        \ \"buildid\": \"20250624094415\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --target=x86_64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --targe[...]
