interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"cxSDgVAYSHm3IVyO2h65_A\",\n  \"rank\": 1730923379,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:08:29.560Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"af-/1EStFLmU9nOeoP75Ra7OAHYUM4"
      x-for-request-id:
      - 29ff119c-ccd6-4726-9f1e-1fccc7c0baac
      x-for-trace-id:
      - 4a5b97d39c7c330fdb106632dfb1a899
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cxSDgVAYSHm3IVyO2h65_A/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T20:08:29.560Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T20:08:29.560Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/mozharness.zip\",\n
        \     \"expires\": \"2024-12-04T20:08:29.560Z\",\n      \"contentType\": \"application/zip\"\n
        \   },\n    {\n      \"storageType\": \"s3\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cxSDgVAYSHm3IVyO2h65_A/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/cxSDgVAYSHm3IVyO2h65_A/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-8JDfqWwpPfSLVOm7lrFXKRHCRnw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/cxSDgVAYSHm3IVyO2h65_A/0/public/build/target.json
      x-for-request-id:
      - cbf0f61c-c078-4f62-8369-b2bdbf160266
      x-for-trace-id:
      - 3b7951a173295cb5c0b41e086e53466b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/cxSDgVAYSHm3IVyO2h65_A/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241106200259\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"2855593bdf5b654f7f2f784e1da6ba03daac21f5\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3f7cf89610897d7051e75280fe2d8ffc"'
      Last-Modified:
      - Wed, 06 Nov 2024 20:15:14 GMT
      x-goog-generation:
      - '1730924114011722'
      x-goog-hash:
      - crc32c=qlJGIg==
      - md5=P3z4lhCJfXBR51KA/i2P/A==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '290'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 8b781be4-452c-43eb-8661-6df16d2c267c
      x-for-trace-id:
      - 5ea08b33a8198eff9132d923677d3fae
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"RJC5QkvXTk6DGu_QEsMB8w\",\n  \"rank\": 1730923379,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:08:29.578Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c4-1ZT0TxcR5RUGMgl6GhZSRoHPFpI"
      x-for-request-id:
      - 9093829d-ed79-43ad-ab6d-71fec2870cb6
      x-for-trace-id:
      - 26e4230f0eb842de6bc8e49cff0a62ad
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/RJC5QkvXTk6DGu_QEsMB8w/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T20:08:29.578Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/RJC5QkvXTk6DGu_QEsMB8w/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/RJC5QkvXTk6DGu_QEsMB8w/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-QZrT8LlWoNtdI5SzpYTB/57HA6Q"
      location:
      - https://firefoxci.taskcluster-artifacts.net/RJC5QkvXTk6DGu_QEsMB8w/0/public/build/target.json
      x-for-request-id:
      - 3d0e70ea-3d07-4841-8302-c98e57c538d7
      x-for-trace-id:
      - 6068c39c9d4db80bc300a37359ccd22a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/RJC5QkvXTk6DGu_QEsMB8w/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241106200259\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"2855593bdf5b654f7f2f784e1da6ba03daac21f5\",\n
        \ \"moz_update_channel\": \"nightly-try\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"d3cccf9ca2d98476b9180bcdceb1ec6d"'
      Last-Modified:
      - Wed, 06 Nov 2024 20:13:59 GMT
      x-goog-generation:
      - '1730924039601327'
      x-goog-hash:
      - crc32c=k4korw==
      - md5=08zPnKLZhHa5GAvNzrHsbQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '292'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.2855593bdf5b654f7f2f784e1da6ba03daac21f5.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.2855593bdf5b654f7f2f784e1da6ba03daac21f5.firefox.linux64-opt\",\n
        \ \"taskId\": \"cxSDgVAYSHm3IVyO2h65_A\",\n  \"rank\": 1730923379,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:08:29.560Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"da-jT07pxWm51qdrCMaIbxQ8cQUiZU"
      x-for-request-id:
      - b76f8ffe-0a6b-4c11-aa0d-36f269fa116a
      x-for-trace-id:
      - 401cff7d2189a8ff30ac1c112a68ae8c
    status:
      code: 200
      message: OK
version: 1
