interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2023.12.04
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.12.04.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.12.04.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-jm1fVZ7HLz3KeTdNBFvxiv0fbUM"
      x-for-request-id:
      - cb0b362d-1abe-4696-a4c7-0c9a399f68fb
      x-for-trace-id:
      - 9724dec6cc195510bf712b10284b2e6a
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2023.12.04
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.12.04.20231204091942\",\n
        \     \"name\": \"20231204091942\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.12.04.20231204214432\",\n
        \     \"name\": \"20231204214432\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.12.04.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"209-PhVtLI1GKDvkB7y7DIwe9RIPY3k"
      x-for-request-id:
      - 2a497fb8-6d9e-4029-8aca-89eda9d7966e
      x-for-trace-id:
      - c81b7947cc6bec8fd63faa2171d3572c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.12.04.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:49.434Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.12.04.latest.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:49.434Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a4-bBwL0l1p5zsIumyhAnATcipla3g"
      x-for-request-id:
      - d70fa0bf-e873-4291-bd2c-52916b43c64d
      x-for-trace-id:
      - d974fe4e13f54414c0219641cb315bf1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.12.04.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:49.563Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.12.04.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:49.563Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-TRJjA8hLM747TMk3AhuEgumaDCw"
      x-for-request-id:
      - 6cd7c0a3-c21e-48e4-9489-205f5b618642
      x-for-trace-id:
      - 1da69d831ad77f1dbd568c0d6e998d1c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.12.04.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:49.706Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.12.04.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:49.706Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-p5kxkOX4Pl5eTO2z8pAJ8CJr5fU"
      x-for-request-id:
      - 9b710005-d718-4765-8f4f-780e7cffbcd2
      x-for-trace-id:
      - 4d92e3a8726dbc87fc22ff52a2401a19
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.12.04.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:49.857Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.12.04.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:49.857Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-QUSzeW8rAjV1Yj/MqUy94mYs/9E"
      x-for-request-id:
      - 86e14356-7d95-435c-a81b-aaec621d1ef0
      x-for-trace-id:
      - 68c8b4651c4886e97f32e414c7d4190d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.12.04.revision.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:49.985Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.12.04.revision.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:49.985Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-EFiYDSzdSLXI72R9hCd8oaBZX0w"
      x-for-request-id:
      - 4a787fed-5c45-4e64-b972-a8b04d2ecad7
      x-for-trace-id:
      - c8bc06cc4724d0fc39300bde326d2c8a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.12.04.revision.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:50.112Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.12.04.revision.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:50.112Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-NKzcLSLRBeui3/2Pvu4HV/yi7xQ"
      x-for-request-id:
      - 5c8b5c7b-7c01-4bea-a78c-da4bf2700462
      x-for-trace-id:
      - a06cd24c3a5f96c7c000ba94e81debe3
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.12.04.revision.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:50.258Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.12.04.revision.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:50.258Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-H9z66QAKVDpkZieYrF05gKwAQlY"
      x-for-request-id:
      - 12599150-f990-48f3-b461-727012ead584
      x-for-trace-id:
      - 62f8e563b205b8d891aca437c17b6691
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.12.04.revision.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:50.397Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2023.12.04.revision.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:50.397Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-tledybg/P72k96VglOQOWxFWGT4"
      x-for-request-id:
      - 09245f23-c54d-4029-872b-ea1dba937127
      x-for-trace-id:
      - 369c66c355e54f5e74fe831b8a9f045e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2023.12.04.20231204091942.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:50.524Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2023.12.04.20231204091942.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:50.524Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ab-kf272JLrsuz4zYpT6AwTRHg+Zbk"
      x-for-request-id:
      - 6ada9d0d-f4fb-4a39-ba5d-3ef7f614d7ba
      x-for-trace-id:
      - daff326407efff865a8121590792dea8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2023.12.04.20231204091942.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:50.662Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2023.12.04.20231204091942.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:50.662Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-nbwnCQHwII0XGfJweCk0tr7gsl0"
      x-for-request-id:
      - 4a29930f-f080-4570-bd99-15418884a697
      x-for-trace-id:
      - f3b931facd9f6903951898060900fde4
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2023.12.04.20231204091942.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:50.836Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2023.12.04.20231204091942.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:50.836Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-AhO8/SPqGK00Mr2/wxOipKC5Yro"
      x-for-request-id:
      - ac5fb946-aba0-4865-8cf5-cc241b6be34b
      x-for-trace-id:
      - 26b686e45a00b6fdc87b49bdf5142a49
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2023.12.04.20231204091942.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:50.974Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2023.12.04.20231204091942.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:50.974Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-ztYPCY+rTIeRqaxXp4jFojeDwGs"
      x-for-request-id:
      - 5b48efbd-0a7c-4949-9765-f157d06e7389
      x-for-trace-id:
      - e5575f3d43dcd4677058081d270f37ce
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2023.12.04.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:51.723Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2023.12.04.latest.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:51.723Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-pLJNCBwtGyoiSeQ2z+Ii8c93YIU"
      x-for-request-id:
      - d70a6ba9-7580-41f2-9017-bd17cc56e581
      x-for-trace-id:
      - dadd2ac397d73fa30a649b549a68e079
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2023.12.04.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:51.866Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2023.12.04.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:51.866Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-q9hv8Dyg0N+imOn2CrpWHacdrP0"
      x-for-request-id:
      - 6c175c87-76ac-4c75-9fcf-bc5806ef522b
      x-for-trace-id:
      - b79107e4a72ff9f5276e4120d2de4a00
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2023.12.04.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:52.007Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2023.12.04.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:52.007Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-N+Ee+3VMCofzAEooPjXFa/jwd/g"
      x-for-request-id:
      - 32f6e213-2cd5-444e-9aab-375705f54129
      x-for-trace-id:
      - ac4e44deecc2cf4dbb5ea999b97b4753
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2023.12.04.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:52.148Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2023.12.04.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:52.148Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-Mei0jMBr+6bINrmPCkS9Od6jxk4"
      x-for-request-id:
      - 8141ad4c-b609-4751-b00a-283236a73c08
      x-for-trace-id:
      - 63fc3609f7b3b274a194eb9dfbcb04c9
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.12.05.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.12.05.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"VkTxXkVUTWWl_VoEEUN2qA\",\n  \"rank\": 1701811784,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T04:05:34.487Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-wBjvho5G6rhu5xzZiiZKGMNpsJM"
      x-for-request-id:
      - be82282c-5adf-457b-9fbd-408b11eaafa8
      x-for-trace-id:
      - dd8fc3f30e76af4095bb05c762b0c077
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VkTxXkVUTWWl_VoEEUN2qA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T04:05:34.487Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T04:05:34.487Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T04:05:34.487Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VkTxXkVUTWWl_VoEEUN2qA/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1d2-kcAp9aXkFLcr41WI+/UvZus05h0"
      x-for-request-id:
      - 1bcc49bc-7881-4afc-b854-7b5d7fc17c11
      x-for-trace-id:
      - 5e2b565fa61b92dad9abc880488d51b7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VkTxXkVUTWWl_VoEEUN2qA/artifacts/public/build/target.tar.bz2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"86-Uo4iqs+ycz5Vh0I58dDiNLKqeAo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/VkTxXkVUTWWl_VoEEUN2qA/0/public/build/target.tar.bz2
      x-for-request-id:
      - c24117e2-4320-474d-a47a-758b178ac165
      x-for-trace-id:
      - dc900c1f04698f763d1f73f9d680e146
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VkTxXkVUTWWl_VoEEUN2qA/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-rLzdL00O1X4joGxOM3qXKVySK80"
      location:
      - https://firefoxci.taskcluster-artifacts.net/VkTxXkVUTWWl_VoEEUN2qA/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - bfbf9519-794f-47f8-aa2b-ed21deefcb4a
      x-for-trace-id:
      - be87ec90d241080174f1350435147d0c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VkTxXkVUTWWl_VoEEUN2qA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/VkTxXkVUTWWl_VoEEUN2qA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-4ZswEnL56nVpiOpqalbczD09U5s"
      location:
      - https://firefoxci.taskcluster-artifacts.net/VkTxXkVUTWWl_VoEEUN2qA/0/public/build/target.json
      x-for-request-id:
      - 88cdc864-6ee5-42b1-b7e7-8e577f4bd53f
      x-for-trace-id:
      - 27e5c56f2a492d7d957112309c7478e7
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/VkTxXkVUTWWl_VoEEUN2qA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"buildid\": \"20231205212944\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host_alias\": \"x86_64-pc-linux-gnu\",\n  \"host_cpu\": \"x86_64\",\n
        \ \"host_os\": \"linux-gnu\",\n  \"host_vendor\": \"pc\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"122.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"122.0a1\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\": \"23ee4ac2d048de0aac3fa27ce7eb0925c1903096\",\n
        \ \"moz_update_channel\": \"nightly\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\",\n
        \ \"target_cpu\": \"x86_64\",\n  \"target_os\": \"linux-gnu\",\n  \"target_vendor\":
        \"pc\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"1e431c8cda18ac7821157a23ae48a1c3"'
      Last-Modified:
      - Wed, 06 Dec 2023 05:53:46 GMT
      x-goog-generation:
      - '1701842026527991'
      x-goog-hash:
      - crc32c=drC6AA==
      - md5=HkMcjNoYrHghFXojrkihww==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '383'
    status:
      code: 200
      message: OK
version: 1
