interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-aarch64-opt\",\n
        \ \"taskId\": \"PFV2i_RIQLOHzj78bg-Vwg\",\n  \"rank\": 1730923168,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:06:18.500Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b6-kco9s2vnC3SxSCBr6LoVbleWRus"
      x-for-request-id:
      - 1e729100-e3cc-4ea5-8190-c13945ef4c1b
      x-for-trace-id:
      - b39d0281ab64fd733a991c96a52c9786
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/PFV2i_RIQLOHzj78bg-Vwg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T20:06:18.500Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T20:06:18.500Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-04T20:06:18.500Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/PFV2i_RIQLOHzj78bg-Vwg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/PFV2i_RIQLOHzj78bg-Vwg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-GipAx+BV/uYi/h9RD06TEDkMnls"
      location:
      - https://firefoxci.taskcluster-artifacts.net/PFV2i_RIQLOHzj78bg-Vwg/0/public/build/target.json
      x-for-request-id:
      - 2748603f-dea6-4f02-bb4a-abe54c79c5cb
      x-for-trace-id:
      - 7746b04fcc0361347e7e21215931d93d
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/PFV2i_RIQLOHzj78bg-Vwg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241106195928\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"fennec\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"android-aarch64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"97f8d4b836ead4036505ae95e70be05aa8780e1e\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"aarch64-unknown-linux-android\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"41b469e6163b3197c379c8e3961cc13d"'
      Last-Modified:
      - Wed, 06 Nov 2024 20:14:29 GMT
      x-goog-generation:
      - '1730924069558454'
      x-goog-hash:
      - crc32c=IyvgpQ==
      - md5=QbRp5hY7MZfDecjjlhzBPQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '308'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 43926f6f-e4ea-4c8d-a5b9-117dadec10cd
      x-for-trace-id:
      - 16f563dd86923523ef3f0351e6c214c8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.mobile.android-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest.mobile.android-aarch64-opt\",\n
        \ \"taskId\": \"CW9qfZ5lRuK9kT4tDP6k5w\",\n  \"rank\": 1730915875,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T18:03:07.629Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cb-sb3LCqh913qnghpifOwDUH/3Tls"
      x-for-request-id:
      - 994d2d1b-9ef5-4c76-b718-c83d3024bad9
      x-for-trace-id:
      - 74c9d42213d7c00a25c82ff79fff0eb7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CW9qfZ5lRuK9kT4tDP6k5w/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T18:03:07.629Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CW9qfZ5lRuK9kT4tDP6k5w/artifacts/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/CW9qfZ5lRuK9kT4tDP6k5w/0/public/build/en-US/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89-rlwNREBhLdfF9s6mZigg/XsXRhc"
      location:
      - https://firefoxci.taskcluster-artifacts.net/CW9qfZ5lRuK9kT4tDP6k5w/0/public/build/en-US/target.json
      x-for-request-id:
      - db719769-2d53-4549-82f6-289d42038120
      x-for-trace-id:
      - cc8e03fe273bfc07c86f76739aca27e0
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/CW9qfZ5lRuK9kT4tDP6k5w/0/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang -std=gnu99 --target=aarch64-linux-android21\",\n
        \ \"buildid\": \"20241106175755\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=aarch64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.97f8d4b836ead4036505ae95e70be05aa8780e1e.mobile.android-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.97f8d4b836ead4036505ae95e70be05aa8780e1e.mobile.android-aarch64-opt\",\n
        \ \"taskId\": \"PFV2i_RIQLOHzj78bg-Vwg\",\n  \"rank\": 1730923168,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:06:18.500Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e1-uNV/S3Cp6+yvwA/vngdY8K2QKmg"
      x-for-request-id:
      - f3f6d5f1-1549-458f-a132-deb0ff33c8ec
      x-for-trace-id:
      - 22d73436819f25448ab138097c67257f
    status:
      code: 200
      message: OK
version: 1
