interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.macosx64-fuzzing-asan-opt\",\n
        \ \"taskId\": \"GFkOA0mwTJmzyfheCzDylg\",\n  \"rank\": 1730962628,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T07:04:57.000Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bd-s1Nf/NIUAP7/Z7Mk4xSrrg3FCwQ"
      x-for-request-id:
      - 83f723b7-894c-45ca-be4c-a7b548bed0b7
      x-for-trace-id:
      - d560ca148a5b029bc1f492611dae923d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/GFkOA0mwTJmzyfheCzDylg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T07:04:57.000Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T07:04:57.000Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T07:04:57.000Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/GFkOA0mwTJmzyfheCzDylg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/GFkOA0mwTJmzyfheCzDylg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-Sm6GoTGbdzlffaRx8W+k9fubKRI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/GFkOA0mwTJmzyfheCzDylg/0/public/build/target.json
      x-for-request-id:
      - 3ed36ce5-7461-4015-ae27-e0307080e5bf
      x-for-trace-id:
      - 19efcf6078600747ff82a2ce33900aae
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/GFkOA0mwTJmzyfheCzDylg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\": \"20241107065708\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=10.15 -stdlib=libc++ --target=x86_64-apple-darwin\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"mac-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"5af047db1ca9c2f1f6b597b30e9b8c2f1b8ea2da\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2f4510e3854442da8ec435f4a08257b9"'
      Last-Modified:
      - Thu, 07 Nov 2024 08:03:13 GMT
      x-goog-generation:
      - '1730966593750126'
      x-goog-hash:
      - crc32c=SWFyvQ==
      - md5=L0UQ44VEQtqOxDX0oIJXuQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '413'
    status:
      code: 200
      message: OK
version: 1
