interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-arm-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-arm-opt\",\n
        \ \"taskId\": \"YYmoTJ2iTRWPs6aKbNR3RQ\",\n  \"rank\": 1731006632,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T19:15:48.396Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b2-hVuxGlIP9t/3Q1eupNCIKEi0n5I"
      x-for-request-id:
      - 484491dc-4389-40f1-817e-b847eb05bd8c
      x-for-trace-id:
      - 7674e197b64a4584c95144ec8698e742
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/YYmoTJ2iTRWPs6aKbNR3RQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T19:15:48.396Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T19:15:48.396Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-05T19:15:48.396Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/YYmoTJ2iTRWPs6aKbNR3RQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/YYmoTJ2iTRWPs6aKbNR3RQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-M1h4znW+2yR2s0j6L76vSRNIRBQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/YYmoTJ2iTRWPs6aKbNR3RQ/0/public/build/target.json
      x-for-request-id:
      - ca849446-05cf-4fad-b06b-54e92cf292c1
      x-for-trace-id:
      - 8533e1710510401dd388f48a0b06089f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/YYmoTJ2iTRWPs6aKbNR3RQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241107191032\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n  \"moz_app_maxversion\": \"133.0a1\",\n
        \ \"moz_app_name\": \"fennec\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"133.0a1\",\n  \"moz_pkg_platform\": \"android-arm\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"b442f2368cc25eb49442da924871a06f27a7e40e\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"arm-unknown-linux-androideabi\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2679b8e30de2467710fa8b93f2a99835"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:23:54 GMT
      x-goog-generation:
      - '1731007434865704'
      x-goog-hash:
      - crc32c=0qP7Lg==
      - md5=Jnm44w3iRncQ+ouT8qmYNQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '308'
    status:
      code: 200
      message: OK
version: 1
