interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"133.0b5\",\n
        \   \"FIREFOX_ESR\": \"128.4.0esr\",\n    \"FIREFOX_ESR115\": \"115.17.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"134.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2024-10-28\",\n    \"LAST_RELEASE_DATE\": \"2024-10-29\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2024-10-24\",\n    \"LAST_STRINGFREEZE_DATE\": \"2024-10-25\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_VERSION\": \"132.0.1\",\n    \"NEXT_MERGE_DATE\":
        \"2024-11-25\",\n    \"NEXT_RELEASE_DATE\": \"2024-11-26\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2024-11-21\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2024-11-22\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3ae739757cc3792e89363b6c9742175d"'
      Last-Modified:
      - Wed, 06 Nov 2024 16:25:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.latest.firefox.linux64-fuzzing-debug\",\n
        \ \"taskId\": \"El0aVoEWQkqTi5zcevymdg\",\n  \"rank\": 1730912110,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:58:18.463Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c4-XxaREDAnrX1PJq18E4EduV5Wk8w"
      x-for-request-id:
      - 797207b8-8ea9-4ced-a198-66b44d51b94d
      x-for-trace-id:
      - c753275828218076a00ab50a1f2de7b4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/El0aVoEWQkqTi5zcevymdg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:58:18.463Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:58:18.463Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-06T16:58:18.463Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/El0aVoEWQkqTi5zcevymdg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/El0aVoEWQkqTi5zcevymdg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-wkVWRC+585NHy29/B5a4HK5eo2k"
      location:
      - https://firefoxci.taskcluster-artifacts.net/El0aVoEWQkqTi5zcevymdg/0/public/build/target.json
      x-for-request-id:
      - e7e134b9-d960-42be-9ea1-a4747809b824
      x-for-trace-id:
      - b995606207ad31b5216803b60395dfb7
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/El0aVoEWQkqTi5zcevymdg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106165510\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host_alias\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"128.*\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\":
        \"Mozilla\",\n  \"moz_app_version\": \"128.5.0\",\n  \"moz_pkg_platform\":
        \"linux-x86_64-fuzzing\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/releases/mozilla-esr128\",\n
        \ \"moz_source_stamp\": \"349c8f8310226a7271ad30d283dfd6898f4f6eba\",\n  \"moz_update_channel\":
        \"default\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c476c840497e76024bc53cbf0203c870"'
      Last-Modified:
      - Wed, 06 Nov 2024 17:13:35 GMT
      x-goog-generation:
      - '1730913215073723'
      x-goog-hash:
      - crc32c=0gNCHA==
      - md5=xHbIQEl+dgJLxTy/AgPIcA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '382'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-esr128.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"152-FI406XkoZBg1Mg7HOEcFH6+E4fw"
      x-for-request-id:
      - 45f77fcd-7da6-40a8-afd7-aabe97209e49
      x-for-trace-id:
      - a9080c903f0e3b9c62b418917a5db09e
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-esr128.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.pushdate.2024.11.06.20241106165510\",\n
        \     \"name\": \"20241106165510\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"15c-pJsbEkGrt0lzG6U/uAT/A5eTSCE"
      x-for-request-id:
      - 912e8a43-6dbd-4407-a71a-74f41ff43c3e
      x-for-trace-id:
      - d05f92aba63440aa84c86bb16c9c2a15
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:02.050Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.linux64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:02.050Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ad-deWXnG9lCs4ftjuFw3v+SrLIRBU"
      x-for-request-id:
      - a1610593-b619-4a12-b851-1cf1a58dd27a
      x-for-trace-id:
      - d97c641ad48d3082e72fad3c7feea407
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:02.188Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:02.188Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b0-Ou1nesqoE9HP0DvG+Q6jpIEQ9Nw"
      x-for-request-id:
      - 2d4a3e53-5a71-4c5b-bf6b-465ba7574f61
      x-for-trace-id:
      - b3fec164f35580eeb45f20622a2fcf67
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:02.333Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.linux64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:02.333Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1af-P8A6UocBCGIDorBkz0Y41XfdLSs"
      x-for-request-id:
      - fa222b6f-de3c-471c-93f3-3f696e1670a5
      x-for-trace-id:
      - 8ec205dc1b21084e56caa6ed1df17735
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:02.467Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:53:02.467Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b2-DRjlRmXaWPhLez1Oe7mZNipVyf8"
      x-for-request-id:
      - 6dac93d8-7daa-45c2-bbb6-1fb45051ae42
      x-for-trace-id:
      - b539f87f80a287490c15106c6f28fc5d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.pushdate.2024.11.06.20241106165510.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.pushdate.2024.11.06.20241106165510.firefox.linux64-fuzzing-debug\",\n
        \ \"taskId\": \"El0aVoEWQkqTi5zcevymdg\",\n  \"rank\": 1730912110,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:58:18.463Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e0-i15WOrrx++EukgAH3eeSOfoXzY0"
      x-for-request-id:
      - dd7e92bc-a3ad-42aa-a987-3793019ba807
      x-for-trace-id:
      - 20d5d13e9844892d97a610fa84c2da54
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.linux64-fuzzing-debug\",\n
        \ \"taskId\": \"El0aVoEWQkqTi5zcevymdg\",\n  \"rank\": 1730912110,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:58:18.463Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ef-322sWxaRcH/B5eja60YVULGweM8"
      x-for-request-id:
      - 7a0567f9-b3ec-4c23-9f07-6bf294e893db
      x-for-trace-id:
      - 8581258c7103893e45ad7b6ce65c91fc
    status:
      code: 200
      message: OK
version: 1
