interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-asan-opt\",\n
        \ \"taskId\": \"JvaB8D0rRpCQDopvLKkVAw\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.988Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c0-x35/0pIMWCi+b9wgCgjJZuvDorg"
      x-for-request-id:
      - 73c0b396-3dc9-4ad0-9ab8-a3889a459537
      x-for-trace-id:
      - 6ca6258580f8dee971767e90dc9b188f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/JvaB8D0rRpCQDopvLKkVAw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:55:11.988Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:55:11.988Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-06T16:55:11.988Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/JvaB8D0rRpCQDopvLKkVAw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/JvaB8D0rRpCQDopvLKkVAw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-3oeDLwNv4iqn4L0g0iVKI8WXZ44"
      location:
      - https://firefoxci.taskcluster-artifacts.net/JvaB8D0rRpCQDopvLKkVAw/0/public/build/target.json
      x-for-request-id:
      - 3399fc09-ed72-4568-bb09-88d7cabb7aa3
      x-for-trace-id:
      - fd8f512a4c77c3818e5da69c45d9d83f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/JvaB8D0rRpCQDopvLKkVAw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106165131\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"4decf6c3b9c91d8ad0b71138d4db68e1"'
      Last-Modified:
      - Wed, 06 Nov 2024 18:00:55 GMT
      x-goog-generation:
      - '1730916055120356'
      x-goog-hash:
      - crc32c=sRskpw==
      - md5=Tez2w7nJHYrQtxE41Nto4Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '367'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-PLn9VSqIYUUVGwPEHEiBgHUslOc"
      x-for-request-id:
      - d22168e0-fba9-4726-8945-48c8714193f2
      x-for-trace-id:
      - 64dc409881071f537fff322ea9ed94eb
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531\",\n
        \     \"name\": \"20241106050531\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106094902\",\n
        \     \"name\": \"20241106094902\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106165131\",\n
        \     \"name\": \"20241106165131\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-rD22QITnTHl00WIs09PHeTAXjAc"
      x-for-request-id:
      - 8c0884bb-1385-4c0b-a8ba-7c689e5e6568
      x-for-trace-id:
      - d996a94d1f27649828957785c95118e2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:02.382Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.linux64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:02.382Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-K8ne7x1VgfCdusAbFqfPqje74wg"
      x-for-request-id:
      - c34a4831-1d8a-43b9-b9dc-129bce47d5b4
      x-for-trace-id:
      - 59c7640b765bc57a7fe05cf5d3852b83
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:02.555Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.linux64-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:02.555Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-m3GsKwIijhORdRR+Z/7DyHgr3iQ"
      x-for-request-id:
      - 9dfc7aa0-fcb4-4ded-ba8f-e596d0730afb
      x-for-trace-id:
      - e1377ab26a2fae3090128109ef5e46fb
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-linux64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:02.683Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-linux64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:02.683Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ac-R9Jt2MRAQI749nGdAVus1Fv00N0"
      x-for-request-id:
      - f6c62d88-00b8-4ceb-aaba-bb6211799a62
      x-for-trace-id:
      - 019eb6bc4488afb5f84fb4b496476864
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:02.825Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-linux64-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:02.825Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a8-CiUN1tSZrE0mSNb/yF+8aO71PmE"
      x-for-request-id:
      - ffa99f60-311c-441c-aab4-bca4993f2cd6
      x-for-trace-id:
      - a88b869a99d336cb03d73a1de7980ea3
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:02.969Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.linux64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:02.969Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ab-dCJmbYBPsSPuJvD4UW8hymkPbfs"
      x-for-request-id:
      - a64e4397-8ea2-4684-b24e-4c6e9e7e0c72
      x-for-trace-id:
      - 71bd3fcf073f6105242e2f447c831225
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:03.115Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.linux64-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:03.115Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-eJ7iLt5Rt7GeOtjMBcmj60Uts0A"
      x-for-request-id:
      - e7b115c2-570e-4a0f-b836-6bf1a6b6d661
      x-for-trace-id:
      - 9821f685bfd2633ae89a3a393807007d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-linux64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:03.258Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-linux64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:03.258Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-fSiz5hd95CO7DHjcbVzn6R4hZ/U"
      x-for-request-id:
      - b10adebc-5632-4bfb-9821-a29f663c3173
      x-for-trace-id:
      - bfb23eabe3b49b6c84b7a134a377acf7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:03.426Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-linux64-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:03.426Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-pZ+wMPopP2p/wzqnxC6r8y7nwmo"
      x-for-request-id:
      - 03d622d2-a4dd-47f8-9eff-3fc802f88d20
      x-for-trace-id:
      - e8dadcb24804ad76f7c6496f86264e14
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.linux64-asan-opt\",\n
        \ \"taskId\": \"Hly7PVi8Rn2QV5NhMO-MjQ\",\n  \"rank\": 1730869531,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T05:11:34.838Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"dc-d+kRmMYDnQ07nv6vbyGO6VgkTpw"
      x-for-request-id:
      - 64a4d8e7-5946-4999-9d5a-eeffef73bac5
      x-for-trace-id:
      - 244d83418915fb70decf427941e4a709
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Hly7PVi8Rn2QV5NhMO-MjQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T05:11:34.838Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Hly7PVi8Rn2QV5NhMO-MjQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Hly7PVi8Rn2QV5NhMO-MjQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-FXnnH7IOJy1+3ui6xG38b8GpRS0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Hly7PVi8Rn2QV5NhMO-MjQ/0/public/build/target.json
      x-for-request-id:
      - a6512670-4b42-4580-846b-5fe5cd589a2a
      x-for-trace-id:
      - 749284a0e033a171d9eb2ffc990b8531
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Hly7PVi8Rn2QV5NhMO-MjQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106050531\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clan[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.linux64-asan-opt\",\n
        \ \"taskId\": \"JvaB8D0rRpCQDopvLKkVAw\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.988Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"eb-o3aMd495Fkkcs2RgzHAwVRWwXco"
      x-for-request-id:
      - 1ab9d67e-9d12-4dba-a77d-ead78aec37fb
      x-for-trace-id:
      - 6543b16b8a4371a0906580fb779ed8a2
    status:
      code: 200
      message: OK
version: 1
