interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-ccov-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-ccov-opt\",\n
        \ \"taskId\": \"ffO6CgcSQPmD09V86WBs-A\",\n  \"rank\": 1,\n  \"data\": {},\n
        \ \"expires\": \"2025-11-07T16:49:53.325Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b7-I2e8EzoSsO7hUbuA1yb8wQ/SfIs"
      x-for-request-id:
      - 1103d868-0ce9-4037-ae5a-6e796f2d8d4a
      x-for-trace-id:
      - 1fdffe9df9b7a1f240e80c5293ab0239
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ffO6CgcSQPmD09V86WBs-A/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:53.325Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/chrome-map.json\",\n      \"expires\":
        \"2025-11-07T16:49:53.325Z\",\n      \"contentType\": \"application/json\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/config.status\",\n
        \     \"expires\": \"2025-11-07T16:49:53.325Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ffO6CgcSQPmD09V86WBs-A/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/ffO6CgcSQPmD09V86WBs-A/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-K/zfX+iYMaeZigjdRjv5ZOMi8mA"
      location:
      - https://firefoxci.taskcluster-artifacts.net/ffO6CgcSQPmD09V86WBs-A/0/public/build/target.json
      x-for-request-id:
      - a46b5847-922e-4f71-b3ac-b960fac05c7b
      x-for-trace-id:
      - 2e545bde9e7e6f4541005f57f2a3ce36
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/ffO6CgcSQPmD09V86WBs-A/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"buildid\": \"20241107164615\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"349c6da451162a4cbdf09a414c8080c9"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:44:40 GMT
      x-goog-generation:
      - '1731001480256465'
      x-goog-hash:
      - crc32c=PUPScw==
      - md5=NJxtpFEWKky98JpBTICAyQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '354'
    status:
      code: 200
      message: OK
version: 1
