interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"133.0b5\",\n
        \   \"FIREFOX_ESR\": \"128.4.0esr\",\n    \"FIREFOX_ESR115\": \"115.17.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"134.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2024-10-28\",\n    \"LAST_RELEASE_DATE\": \"2024-10-29\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2024-10-24\",\n    \"LAST_STRINGFREEZE_DATE\": \"2024-10-25\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_VERSION\": \"132.0.1\",\n    \"NEXT_MERGE_DATE\":
        \"2024-11-25\",\n    \"NEXT_RELEASE_DATE\": \"2024-11-26\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2024-11-21\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2024-11-22\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3ae739757cc3792e89363b6c9742175d"'
      Last-Modified:
      - Wed, 06 Nov 2024 16:25:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"bGWjHgPESsmZLFJoLfhD_A\",\n  \"rank\": 1720051160,\n  \"data\":
        {},\n  \"expires\": \"2025-07-04T00:05:13.804Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ba-l06aXZo+u3EyX5t0GUlHKUYARwo"
      x-for-request-id:
      - 3f9dea94-8754-45a9-8ab2-928465166f24
      x-for-trace-id:
      - 78f0e78828b929fdf99446d1493f0c12
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/bGWjHgPESsmZLFJoLfhD_A/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-04T00:05:13.804Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-07-04T00:05:13.804Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-07-04T00:05:13.804Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/bGWjHgPESsmZLFJoLfhD_A/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/bGWjHgPESsmZLFJoLfhD_A/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-EDS1ucguWQUd9tvWMswyFrBUNWg"
      location:
      - https://firefoxci.taskcluster-artifacts.net/bGWjHgPESsmZLFJoLfhD_A/0/public/build/target.json
      x-for-request-id:
      - 6a1e092e-1c41-43c8-9d86-55547eeda43e
      x-for-trace-id:
      - c6d914ae2499e3044860076698c9470b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/bGWjHgPESsmZLFJoLfhD_A/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20240703235920\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host_alias\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"128.*\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\":
        \"Mozilla\",\n  \"moz_app_version\": \"128.0\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/releases/mozilla-esr128\",\n
        \ \"moz_source_stamp\": \"4cff37e891cdf778f142fd8005c71b1dd88898b2\",\n  \"moz_update_channel\":
        \"default\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"69a40950f6a3f80fbbf9899d6c94c2ca"'
      Last-Modified:
      - Thu, 04 Jul 2024 00:29:07 GMT
      x-goog-generation:
      - '1720052947824899'
      x-goog-hash:
      - crc32c=ahlJxA==
      - md5=aaQJUPaj+A+7+YmdbJTCyg==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '374'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-esr128.shippable.2024.07.03
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.shippable.2024.07.03.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-07-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.shippable.2024.07.03.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-07-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"152-kLtgkX5RSe6V0bF/y6Wf8fpRsFE"
      x-for-request-id:
      - 8e8d20e4-1295-4ee0-9015-386d8476d1f8
      x-for-trace-id:
      - 4e7a07fbff39d3516dbf6786f71bd7e8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-esr128.pushdate.2024.07.03
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.pushdate.2024.07.03.20240703235920\",\n
        \     \"name\": \"20240703235920\",\n      \"expires\": \"2025-07-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.pushdate.2024.07.03.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-07-06T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"15c-5hprcpYAQMmWB3KM5ebwXwPpnis"
      x-for-request-id:
      - f88be4cb-12f6-460f-90ab-0a311d70d2cd
      x-for-trace-id:
      - 70da84a96503e5f9ab7532291621106a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.07.03.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.shippable.2024.07.03.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"SGZpdEpIRByWrSXiQmSEWg\",\n  \"rank\": 1720051160,\n  \"data\":
        {},\n  \"expires\": \"2025-07-04T00:05:19.840Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cf-gI7DgqxQZiE8c6voIQQRLA6aRX0"
      x-for-request-id:
      - 9a69a1e1-05c9-4970-9913-a6794d742e34
      x-for-trace-id:
      - d5bddcfb172a66390b2cb412decc95dc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/SGZpdEpIRByWrSXiQmSEWg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-04T00:05:19.840Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/SGZpdEpIRByWrSXiQmSEWg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/SGZpdEpIRByWrSXiQmSEWg/1/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-1yQMTE7cQ01v4PpCdrSqU8OrYiQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/SGZpdEpIRByWrSXiQmSEWg/1/public/build/target.json
      x-for-request-id:
      - 23d0b9b2-578b-4d76-a1c0-2b6bff0d221c
      x-for-trace-id:
      - f0f70b1287878c65b68f16b034f05ed5
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/SGZpdEpIRByWrSXiQmSEWg/1/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"buildid\": \"20240703235920\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.revision.4cff37e891cdf778f142fd8005c71b1dd88898b2.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.revision.4cff37e891cdf778f142fd8005c71b1dd88898b2.firefox.linux64-opt\",\n
        \ \"taskId\": \"bGWjHgPESsmZLFJoLfhD_A\",\n  \"rank\": 1720051160,\n  \"data\":
        {},\n  \"expires\": \"2025-07-04T00:05:13.804Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e5-+RcE0JgSIdyEDpCt3iDvUGvtWeQ"
      x-for-request-id:
      - 181644ac-9186-476d-a0a0-cf53a077468a
      x-for-trace-id:
      - 9ac151223afb0e717fd88b60828c76fc
    status:
      code: 200
      message: OK
version: 1
