interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.06.10.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:37.107Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.06.10.firefox.linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-06-11T19:50:37.107Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19c-tMI02luuSvig67ZmqQY56Q/+6z0"
      x-for-request-id:
      - 355fcee2-bb3d-4be7-bd7c-739bdb425029
      x-for-trace-id:
      - d62178760737f5f5d1ed0dd258fdae7b
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.06.11
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.11.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.11.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-06-15T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-3uEsLISlczJ8gQJg5Le7SZyrZhE"
      x-for-request-id:
      - 54b1f01a-bc63-46fb-adc7-6ece80496cab
      x-for-trace-id:
      - 55cb8ae66b7bae5136a29934ed216954
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.06.11
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.11.20240611093624\",\n
        \     \"name\": \"20240611093624\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.11.20240611133415\",\n
        \     \"name\": \"20240611133415\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.11.20240611221035\",\n
        \     \"name\": \"20240611221035\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.11.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-06-14T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-b5x2mco8lXSGgpeZk+m/31T2C58"
      x-for-request-id:
      - c67ac17d-69e2-4834-bb2f-91e597443110
      x-for-trace-id:
      - aa0e417b62a08915da454c876880f6d7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.11.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"DEqweO9HRjGQjSUOstgmZw\",\n  \"rank\": 1718143835,\n  \"data\":
        {},\n  \"expires\": \"2025-06-12T04:03:52.494Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-bQsReiLc6B52Z2dXf2nT0WffATs"
      x-for-request-id:
      - c1273c51-21ca-4dc1-8e76-3d8bf1a981ac
      x-for-trace-id:
      - bf2fc0c1c2a692ca3a043b7ec52e3966
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-06-12T04:03:52.494Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-06-12T04:03:52.494Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-06-12T04:03:52.494Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-8QLLteLkQzCe1fyYhmHarbIFbTo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.mozinfo.json
      x-for-request-id:
      - 5a9836b6-43fe-44aa-8192-177f2fb8ad87
      x-for-trace-id:
      - 1ba15c8a92caab2d2644162afc20a885
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"pgo\",\n    \"buildtype_guess\":
        \"pgo\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"debug\": false,\n    \"devedition\":
        false,\n    \"domstreams\": true,\n    \"early_beta_or_earlier\": true,\n
        \   \"healthreport\": true,\n    \"isolated_process\": false,\n    \"mozconfig\":
        \"/builds/worker/checkouts/gecko/.mozconfig\",\n    \"nightly_build\": true,\n
        \   \"normandy\": true,\n    \"official\": true,\n    \"os\": \"linux\",\n
        \   \"pgo\": true,\n    \"platform_guess\": \"linux64\",\n    \"processor\":
        \"x86_64\",\n    \"release_or_beta\": false,\n    \"require_signing\": false,\n
        \   \"stylo\": true,\n    \"sync\": true,\n    \"telemetry\": false,\n    \"tests_enabled\":
        true,\n    \"toolkit\": \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n
        \   \"topsrcdir\": \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n
        \   \"ubsan\": false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"4cb49a4774ffde3186c7a143ade183a2"'
      Last-Modified:
      - Wed, 12 Jun 2024 05:53:33 GMT
      x-goog-generation:
      - '1718171613805482'
      x-goog-hash:
      - crc32c=lCeELg==
      - md5=TLSaR3T/3jGGx6FDreGDog==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '410'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1d2-n2ebRipuvT9ixjPMLmbO9i9U+FY"
      x-for-request-id:
      - f311fc1d-d7bf-4a66-a61f-3930cb82dc48
      x-for-trace-id:
      - 5101e28ac2e866194746e10cfbca725a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.tar.bz2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"86-9NBwV6UCGL7AhEzCiXzdq8+zwFY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.tar.bz2
      x-for-request-id:
      - 2c0eaf37-aa6d-493a-aee5-ae9a4a65f5d5
      x-for-trace-id:
      - 46ef71c70d295f0849b5de3ab029433b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-CuV2ZnbGpdCTHkMmlA/Ur0waGgE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - b3578e90-559a-4b2a-852a-49e700bed9fb
      x-for-trace-id:
      - b3f14f236f1d791ffe1729378ee2ada1
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/DEqweO9HRjGQjSUOstgmZw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-fNzga0NgB28IKDfmfG8A4N8kri0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.json
      x-for-request-id:
      - 1f5973a2-9aed-4941-98c8-273bfff98b2f
      x-for-trace-id:
      - 6caf64617b2714dfb3db1c2bca6c38a5
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/DEqweO9HRjGQjSUOstgmZw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"buildid\": \"20240611221035\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host_alias\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"129.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"129.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"e1287caec454f439e2faf508a25643e95cbfe4fb\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"926e445a713eb105c6279f6b54f52fa1"'
      Last-Modified:
      - Wed, 12 Jun 2024 05:53:31 GMT
      x-goog-generation:
      - '1718171611361418'
      x-goog-hash:
      - crc32c=dx5YEA==
      - md5=km5EWnE+sQXGJ59rVPUvoQ==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '358'
    status:
      code: 200
      message: OK
version: 1
