interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"133.0b5\",\n
        \   \"FIREFOX_ESR\": \"128.4.0esr\",\n    \"FIREFOX_ESR115\": \"115.17.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"134.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2024-10-28\",\n    \"LAST_RELEASE_DATE\": \"2024-10-29\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2024-10-24\",\n    \"LAST_STRINGFREEZE_DATE\": \"2024-10-25\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_VERSION\": \"132.0.1\",\n    \"NEXT_MERGE_DATE\":
        \"2024-11-25\",\n    \"NEXT_RELEASE_DATE\": \"2024-11-26\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2024-11-21\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2024-11-22\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3ae739757cc3792e89363b6c9742175d"'
      Last-Modified:
      - Wed, 06 Nov 2024 16:25:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:26.746Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.win64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-06T20:52:26.746Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18c-FswTR/a9aTVG1k7mQVriaaKG7YU"
      x-for-request-id:
      - 204cc034-7b07-4984-8220-d7a256543f69
      x-for-trace-id:
      - 1d6b34a2dfdfbc3949008d50f35c369c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:26.879Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.win64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-06T20:52:26.879Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"188-TifXHMpFSZn++EojlCh5mf2RiYk"
      x-for-request-id:
      - 3aafe1d4-befc-490a-b5f1-803d4351fbeb
      x-for-trace-id:
      - f2712970a6b4c07145ed86a9e7da616b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.sm-win64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:27.012Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.sm-win64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-06T20:52:27.012Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18f-J3FPIGnJWdcHQe4TukkuFNpjyCA"
      x-for-request-id:
      - 1a03ad93-245d-4786-bd91-b284828ba80c
      x-for-trace-id:
      - e61fbb63c65a6af8055c67df0e1e79aa
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.sm-win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:27.146Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.sm-win64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-06T20:52:27.146Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18b-p6RTxYmU3nSNtZ81KfmK+4Z7i8o"
      x-for-request-id:
      - 7df7500f-84ec-417f-b6af-8c62a97b4938
      x-for-trace-id:
      - 6f9004c6424f605875fe7d48f698ff2f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.shippable.latest.firefox.win64-opt\",\n
        \ \"taskId\": \"MAc3qCobTa6dVyya8hgpkg\",\n  \"rank\": 1730912110,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:58:22.968Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c2-vk2AjrIoqqEXfJEBUtyHn8eu8dw"
      x-for-request-id:
      - 4e005db7-4092-4d65-9719-2767110adf97
      x-for-trace-id:
      - d8dad3bd817c13029ddd6f07d5a8fd86
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/MAc3qCobTa6dVyya8hgpkg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:58:22.968Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:58:22.968Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2025-11-06T16:58:22.968Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/MAc3qCobTa6dVyya8hgpkg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/MAc3qCobTa6dVyya8hgpkg/1/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-1cNoMJmJbwm61M0meAd61LSD0xk"
      location:
      - https://firefoxci.taskcluster-artifacts.net/MAc3qCobTa6dVyya8hgpkg/1/public/build/target.json
      x-for-request-id:
      - d04235ad-a4d0-4c36-b273-d4f931ebaa66
      x-for-trace-id:
      - b3f014c84476c815f4abd8a06c43c4d7
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/MAc3qCobTa6dVyya8hgpkg/1/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20241106165510\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -Xclang -std=gnu99 -Xclang -ivfsoverlay -Xclang
        /builds/worker/fetches/vs/overlay.yaml\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -Xclang -std=c++17 -Xclang -ivfsoverlay -Xclang
        /builds/worker/fetches/vs/overlay.yaml\",\n  \"host_alias\": \"x86_64-pc-linux-gnu\",\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\":
        \"128.*\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"128.5.0\",\n  \"moz_pkg_platform\": \"win64\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/releases/mozilla-esr128\",\n
        \ \"moz_source_stamp\": \"349c8f8310226a7271ad30d283dfd6898f4f6eba\",\n  \"moz_update_channel\":
        \"esr\",\n  \"target_alias\": \"x86_64-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"7b18e33403b04b0c19703944d8bb52a3"'
      Last-Modified:
      - Wed, 06 Nov 2024 19:18:43 GMT
      x-goog-generation:
      - '1730920723340484'
      x-goog-hash:
      - crc32c=eKuN0A==
      - md5=exjjNAOwSwwZcDlE2LtSow==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '446'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-esr128.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"152-FI406XkoZBg1Mg7HOEcFH6+E4fw"
      x-for-request-id:
      - f0d8201d-d295-4047-9b05-705ea7142e17
      x-for-trace-id:
      - 55e699d7257a875ffe8b2059ac91ec19
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-esr128.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.pushdate.2024.11.06.20241106165510\",\n
        \     \"name\": \"20241106165510\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-esr128.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"15c-pJsbEkGrt0lzG6U/uAT/A5eTSCE"
      x-for-request-id:
      - bd86310b-7cb3-4dee-8d75-275fe6f9b761
      x-for-trace-id:
      - b091ca97e0dc892dc6ebbd73866f921b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.shippable.2024.11.06.latest.firefox.win64-opt\",\n
        \ \"taskId\": \"MAc3qCobTa6dVyya8hgpkg\",\n  \"rank\": 1730912110,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:58:22.968Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cd-nzmEJShCRt25N1yVUQXsn1fsD5Y"
      x-for-request-id:
      - 954539f2-9e35-435d-8bb9-d18ed880b571
      x-for-trace-id:
      - 6486e1dc52589ce43a78ea6f5af9d713
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.win64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:28.696Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.win64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:28.696Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b7-gIYdZqnLCWg/QBXutjdaPz6NVz0"
      x-for-request-id:
      - 18b36f47-f530-43a0-92b8-0692ca597ca3
      x-for-trace-id:
      - 479a1dbcf830556b478cd902a9bd2718
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:28.836Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.win64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:28.836Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b3-b8xGWWa5nKHUOXd/YJxImIHL5Eg"
      x-for-request-id:
      - 56eb2cb6-d295-4632-bd3a-a4d57a185839
      x-for-trace-id:
      - bf42f5babbe26641664e79168c1ef042
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.sm-win64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:28.965Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.sm-win64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:28.965Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ba-8/GdxNGgnMrqEyjajyqq8zKREj8"
      x-for-request-id:
      - 49a08235-d8b9-4d28-964b-1ccd4a9d0506
      x-for-trace-id:
      - 18ab7216360501cf86acda02fcbc2523
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.sm-win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:52:29.103Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.sm-win64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:52:29.103Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b6-yfjxHFgaeolE5oznTwouY6heO7Y"
      x-for-request-id:
      - 7fb56d6c-a9cc-4a9e-8f46-4f532dd5d613
      x-for-trace-id:
      - f8e35766405e0234c75cdb1723ccfe69
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.shippable.revision.349c8f8310226a7271ad30d283dfd6898f4f6eba.firefox.win64-opt\",\n
        \ \"taskId\": \"MAc3qCobTa6dVyya8hgpkg\",\n  \"rank\": 1730912110,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:58:22.968Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ed-ZD8efJMv5WWkWyJi2fWIYxkxE1g"
      x-for-request-id:
      - bc6d1ffb-e0fd-49d3-a0c2-a1495823d0c4
      x-for-trace-id:
      - 3ceaad9fd988aacdd7def8dac1c9ce62
    status:
      code: 200
      message: OK
version: 1
