interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.win64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.win64-asan-opt\",\n
        \ \"taskId\": \"YrlTJBEwQeWXz4dGWGFybQ\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.237Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"be-KD+qu5w8VtscFjCkxu/mqAMeZLk"
      x-for-request-id:
      - 4878a323-b288-45f2-8168-cb6af0bff0d5
      x-for-trace-id:
      - 68d25db6ca1d30bdba34579041baa1d6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/YrlTJBEwQeWXz4dGWGFybQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:55:11.237Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:55:11.237Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2025-11-06T16:55:11.237Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/YrlTJBEwQeWXz4dGWGFybQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/YrlTJBEwQeWXz4dGWGFybQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-UERZ1U0D3tilvfdzfrsMRIeRgl4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/YrlTJBEwQeWXz4dGWGFybQ/0/public/build/target.json
      x-for-request-id:
      - 48ce72b3-486c-4694-b64c-9286488f712c
      x-for-trace-id:
      - 6e967fcdd1838d6679ad1f7ac6359fb0
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/YrlTJBEwQeWXz4dGWGFybQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20241106165131\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -std:c++17 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"win64-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"dd30387a507e02703e6d4b910fd030ac"'
      Last-Modified:
      - Wed, 06 Nov 2024 17:34:05 GMT
      x-goog-generation:
      - '1730914445027552'
      x-goog-hash:
      - crc32c=pCq/jQ==
      - md5=3TA4elB+AnA+bUuRD9AwrA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '454'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-PLn9VSqIYUUVGwPEHEiBgHUslOc"
      x-for-request-id:
      - a81f9b6c-3898-477e-a4c1-b204ed7266cc
      x-for-trace-id:
      - 68970b80bf8cdb254934f0e1e0b76ada
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531\",\n
        \     \"name\": \"20241106050531\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106094902\",\n
        \     \"name\": \"20241106094902\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106165131\",\n
        \     \"name\": \"20241106165131\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-rD22QITnTHl00WIs09PHeTAXjAc"
      x-for-request-id:
      - ab7b208d-6b96-46b4-8bb4-68f89eced632
      x-for-trace-id:
      - 17144569b935085e063a19bbe496e28f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:06.558Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:06.558Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-EgLn2c2W/Zwil/KRj0bp8HllCj8"
      x-for-request-id:
      - 89bd3049-641b-402e-8c86-107394025602
      x-for-trace-id:
      - 4e843b76d66936423e3332d77206d246
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:06.702Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.win64-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:06.702Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-hP4/PE+hsfkeQ+qAgdPou0aHmWA"
      x-for-request-id:
      - 7c35fd84-454f-4abd-9118-18932dd15fbe
      x-for-trace-id:
      - 1bb2e4a6a62a22d7865e5444fe06f8d5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:06.854Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:06.854Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-wE34m+whgHCRGtb2xcMjYEmlXMo"
      x-for-request-id:
      - 5034b306-a03b-4659-92bf-ecb5b01e283f
      x-for-trace-id:
      - 529c43e2f0d43f596674065e4acadfd9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:07.007Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-win64-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:07.007Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-tQayft60NG4UaxFw+raVW+u4xP0"
      x-for-request-id:
      - 56adc079-9ccb-4d80-ba2d-55e6259cc921
      x-for-trace-id:
      - 57fa13ad57c2ec06ff43bc1a3a30ba80
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:07.177Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:07.177Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-eGMIhhYjd8PK7sANQhyguOxxsrc"
      x-for-request-id:
      - 01650e3d-c60a-4375-8f68-fb084e83c503
      x-for-trace-id:
      - 77987ebe5bfe777688975d6894ef411b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:07.330Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.win64-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:07.330Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-v9Bbn/O2HA/kiLeWwWUU6kYijd8"
      x-for-request-id:
      - 0162f5b4-ac1e-42f6-ad43-ec6b15cfd729
      x-for-trace-id:
      - f62f8f3dfbc8431b9e1ff90d2a20e48e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:07.512Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:07.512Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ac-s/eJQzObZYCAT9gUodH6MWIs/7M"
      x-for-request-id:
      - 4d6c2165-4def-4ccd-a4a0-6ee7fd4c6250
      x-for-trace-id:
      - 34e5e7943e4e80c50d4f51c9d834d13a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:07.661Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-win64-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:07.661Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a8-uMRrtovTM6s/1FZnNCLbTxb5050"
      x-for-request-id:
      - edd3c725-3675-4490-8ae3-3cef908e038d
      x-for-trace-id:
      - 80fb58204915063c3f4cb70a0c2574c1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.win64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.win64-asan-opt\",\n
        \ \"taskId\": \"U9hwF7MMRUWoRNZJc-P3Kw\",\n  \"rank\": 1730869531,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T05:11:34.193Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"da-gmeMLVpZpBJ9SuYwKI4+4zYoMIY"
      x-for-request-id:
      - 373068d8-cd8c-4d2f-9e30-21b07296ab22
      x-for-trace-id:
      - 9782ea97c13b23e2929cb149da88bf59
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/U9hwF7MMRUWoRNZJc-P3Kw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T05:11:34.193Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/U9hwF7MMRUWoRNZJc-P3Kw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/U9hwF7MMRUWoRNZJc-P3Kw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-rzQ4E6cAwbIMtJ7BYonnglPglsQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/U9hwF7MMRUWoRNZJc-P3Kw/0/public/build/target.json
      x-for-request-id:
      - bd013be6-c1be-43b6-be0b-6a74a12e1e47
      x-for-trace-id:
      - 62cffe523d3a9f39a757ab89ab6cf9f4
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/U9hwF7MMRUWoRNZJc-P3Kw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20241106050531\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -Xc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.win64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.win64-asan-opt\",\n
        \ \"taskId\": \"YrlTJBEwQeWXz4dGWGFybQ\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.237Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e9-TJlfA635NusaA/mUrfe9kFtW7FM"
      x-for-request-id:
      - 43fd1e26-f120-432d-878b-e210a9a06300
      x-for-trace-id:
      - f5e45a272f0da9fa1926dec9526ba31e
    status:
      code: 200
      message: OK
version: 1
