interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64-fuzzing-debug\",\n
        \ \"taskId\": \"QKmV7HTWSCWgAWQLXOi_Yw\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.209Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ce-9klTj8DxP7QWCbUCVMxDJcLEw8s"
      x-for-request-id:
      - a4bbed2f-ce18-4557-9fd5-f76a35ee635d
      x-for-trace-id:
      - a1d28313d143f52e607809236b8bee09
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QKmV7HTWSCWgAWQLXOi_Yw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:55:11.209Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:55:11.209Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-06T16:55:11.209Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QKmV7HTWSCWgAWQLXOi_Yw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/QKmV7HTWSCWgAWQLXOi_Yw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-L2KDBcUXRgmllz0dl2PEV1WXNRM"
      location:
      - https://firefoxci.taskcluster-artifacts.net/QKmV7HTWSCWgAWQLXOi_Yw/0/public/build/target.json
      x-for-request-id:
      - 2c79ca19-3587-47f5-8f55-46ffd8e1a395
      x-for-trace-id:
      - b343200a01659a1ec3807efa7ffd1648
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/QKmV7HTWSCWgAWQLXOi_Yw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=11.0
        -std=gnu99 --target=aarch64-apple-darwin\",\n  \"buildid\": \"20241106165131\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=11.0
        -std=gnu99 --target=aarch64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=11.0 -stdlib=libc++ --target=aarch64-apple-darwin\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"mac-fuzzing\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"aarch64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"94392ac6e2da18983c9f1d8f8239d076"'
      Last-Modified:
      - Wed, 06 Nov 2024 17:29:05 GMT
      x-goog-generation:
      - '1730914145350876'
      x-goog-hash:
      - crc32c=eUSy2g==
      - md5=lDkqxuLaGJg8nx2PgjnQdg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '422'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-PLn9VSqIYUUVGwPEHEiBgHUslOc"
      x-for-request-id:
      - f101d7aa-de10-4193-a4e3-d88cb7694bcc
      x-for-trace-id:
      - 88d28417c7cd2ae039c33188ed91443c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531\",\n
        \     \"name\": \"20241106050531\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106094902\",\n
        \     \"name\": \"20241106094902\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106165131\",\n
        \     \"name\": \"20241106165131\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-rD22QITnTHl00WIs09PHeTAXjAc"
      x-for-request-id:
      - 4e551f56-182f-4b34-bbe4-a58645783b2a
      x-for-trace-id:
      - 5f35d645ec1569ad986f53a878eb3693
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.macosx64-aarch64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:35.329Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.macosx64-aarch64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:35.329Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b7-wf9qOFj0De6MkIHszCmgIs4s9Sg"
      x-for-request-id:
      - 7ba7d177-5aff-48ce-b8ee-91cf943d7603
      x-for-trace-id:
      - 44936403f02b4913713774d758d22bb4
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-macosx64-aarch64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:35.471Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-macosx64-aarch64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:35.471Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ba-rYYYQnOKVE0Km7gnxRkfnLwAbpw"
      x-for-request-id:
      - 8857241f-1c68-4e78-bcab-7a3091e397ba
      x-for-trace-id:
      - c0e59e0d63352c730cc710d67e99622e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.macosx64-aarch64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:35.613Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.macosx64-aarch64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:35.613Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b9-/KZeqVvQfBkXQkvkU0iyWrZ4ee0"
      x-for-request-id:
      - bc5dc485-7627-4951-8782-060500d15473
      x-for-trace-id:
      - d5dc0b8d7a1fe948d0c800284586aa90
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-macosx64-aarch64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:35.770Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-macosx64-aarch64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:35.770Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1bc-jEM6WO60DmhpdGbkG2VgYLe1EaA"
      x-for-request-id:
      - 9bdaa885-fcd3-4044-9e91-279ab2a78e4f
      x-for-trace-id:
      - a185f2d751d1d2b40f39ce877b0edee8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.macosx64-aarch64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.macosx64-aarch64-fuzzing-debug\",\n
        \ \"taskId\": \"Xq14LGcfSA2Bya8Ev1FhnA\",\n  \"rank\": 1730869531,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T05:11:34.240Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ea-r52meUb7ZrN0rnVnkhJJciF1Mpc"
      x-for-request-id:
      - e2baf06d-ea58-4efe-b178-b5454ac118e1
      x-for-trace-id:
      - ea3ca87e6928d062e9cf3acb26689005
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Xq14LGcfSA2Bya8Ev1FhnA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T05:11:34.240Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Xq14LGcfSA2Bya8Ev1FhnA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Xq14LGcfSA2Bya8Ev1FhnA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-rHu1jP2ZhMiDytU/QXPc+1c7WYs"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Xq14LGcfSA2Bya8Ev1FhnA/0/public/build/target.json
      x-for-request-id:
      - de890ef8-1a1a-469f-87d5-b52fbf454e9b
      x-for-trace-id:
      - b9829f4db099c03d9881c65a9f0c2c90
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Xq14LGcfSA2Bya8Ev1FhnA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=11.0
        -std=gnu99 --target=aarch64-apple-darwin\",\n  \"buildid\": \"20241106050531\",\n
        \ \"cc\": \"/builds/worker/fetch[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.macosx64-aarch64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.macosx64-aarch64-fuzzing-debug\",\n
        \ \"taskId\": \"QKmV7HTWSCWgAWQLXOi_Yw\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.209Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f9-F9PP7ySYiAsnEaCp8Lek2rTCZI0"
      x-for-request-id:
      - e2c11838-7459-41af-9529-1175df852164
      x-for-trace-id:
      - 251237b2229947197cfb8f932d47708b
    status:
      code: 200
      message: OK
version: 1
