interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-asan-opt\",\n
        \ \"taskId\": \"Zo0wdjg2SuqbrEzJWyHUJg\",\n  \"rank\": 1731004897,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T18:46:52.787Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b4-jNKw+NxpWwYQ0DWk2yGW9KHvkEA"
      x-for-request-id:
      - 88c86cdb-882d-472e-979b-e428df689eb6
      x-for-trace-id:
      - 2f032efa5ef5d7e8754839f3041a4eec
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Zo0wdjg2SuqbrEzJWyHUJg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T18:46:52.787Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T18:46:52.787Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T18:46:52.787Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Zo0wdjg2SuqbrEzJWyHUJg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Zo0wdjg2SuqbrEzJWyHUJg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-t4h/ke0xT6sNlTK11rZ2qUtPlyM"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Zo0wdjg2SuqbrEzJWyHUJg/0/public/build/target.json
      x-for-request-id:
      - 800c0dd2-5f40-4d10-8b73-f816fd29833f
      x-for-trace-id:
      - a7d5346a2c2ff228aac93d48da040664
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Zo0wdjg2SuqbrEzJWyHUJg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241107184137\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"133.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"133.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"4f533846659f616a83a1fdd64eb060683bdc6289\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"320de357b9d7528a8ab8f1e28281a601"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:52:46 GMT
      x-goog-generation:
      - '1731009166737349'
      x-goog-hash:
      - crc32c=YCBHgQ==
      - md5=Mg3jV7nXUoqKuPHigoGmAQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '360'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:38.121Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.linux64-asan\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:51:38.121Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"184-ochr5DKJ1M5e3ciPHmxrcffljvk"
      x-for-request-id:
      - a07e3834-e7ab-49e7-a494-90ed57ea8721
      x-for-trace-id:
      - 14f33d2463029cfdea0da9e73e1306fb
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.sm-linux64-asan-opt\",\n
        \ \"taskId\": \"I86mlPRUQ0-5YCIWeuWh4Q\",\n  \"rank\": 1761755457,\n  \"data\":
        {},\n  \"expires\": \"2025-11-26T16:36:25.272Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b7-7EKo/uhrxUmZU17E3syFpzf5Onw"
      x-for-request-id:
      - d29ba7f9-2f69-47c4-bd48-4833acfd29ac
      x-for-trace-id:
      - 91e876e86565e5fad7194d675962dc2f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:38.352Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-linux64-asan\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:38.352Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"187-kJvMWabJBeyNT7GQEi7gioJGNEI"
      x-for-request-id:
      - 28c7c732-0add-4af2-98ac-d44aec29ef74
      x-for-trace-id:
      - 9142f2842267567b73e224f1105ad020
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/I86mlPRUQ0-5YCIWeuWh4Q/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/llvm-symbolizer.gz\",\n      \"expires\": \"2025-11-26T16:36:25.272Z\",\n
        \     \"contentType\": \"application/gzip\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"publ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/I86mlPRUQ0-5YCIWeuWh4Q/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/I86mlPRUQ0-5YCIWeuWh4Q/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-1RcWrIvCkA4ux4aLE9unKlj2TTQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/I86mlPRUQ0-5YCIWeuWh4Q/0/public/build/target.json
      x-for-request-id:
      - b95d0916-dba8-4a12-aac3-fa4aaa08f52f
      x-for-trace-id:
      - 214e99867052246b4e6a78c41259f625
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/I86mlPRUQ0-5YCIWeuWh4Q/0/public/build/target.json
  response:
    body:
      string: "{\n  \"buildid\": \"20251029163057\",\n  \"moz_source_stamp\": \"44981369115dae88a9880ec03345eef7195aaae3\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3880e6aa4075226fdd52fc29069e0eda"'
      Last-Modified:
      - Wed, 29 Oct 2025 17:01:49 GMT
      x-goog-generation:
      - '1761757309891032'
      x-goog-hash:
      - crc32c=Jt8LDg==
      - md5=OIDmqkB1Im/dUvwpBp4O2g==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '111'
    status:
      code: 200
      message: OK
version: 1
