interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.macosx64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.macosx64-fuzzing-debug\",\n
        \ \"taskId\": \"OMFz0xtrQfynU5j_hJm5RA\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.481Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c6-CvvQSKC6Qz5uQg8qAl9fn1FHSAA"
      x-for-request-id:
      - 27b8a413-6ae0-4bd9-b2c4-30a0363efd3f
      x-for-trace-id:
      - 646f7ce9072de86e9bf9566acf822738
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OMFz0xtrQfynU5j_hJm5RA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:55:11.481Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:55:11.481Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-06T16:55:11.481Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OMFz0xtrQfynU5j_hJm5RA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/OMFz0xtrQfynU5j_hJm5RA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-veDKycYV9dMEntt6rAexDEeHXUQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/OMFz0xtrQfynU5j_hJm5RA/0/public/build/target.json
      x-for-request-id:
      - 3483debd-34de-4136-b290-c8eb19f57eff
      x-for-trace-id:
      - ea9dd84b76e86c5814865cc46b278a39
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/OMFz0xtrQfynU5j_hJm5RA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\": \"20241106165131\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=10.15 -stdlib=libc++ --target=x86_64-apple-darwin\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"mac-fuzzing\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"96b729fa006e1e2562fe01f4f9eb0c22"'
      Last-Modified:
      - Wed, 06 Nov 2024 17:51:18 GMT
      x-goog-generation:
      - '1730915478597145'
      x-goog-hash:
      - crc32c=WDlvnw==
      - md5=lrcp+gBuHiVi/gH0+esMIg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '420'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-PLn9VSqIYUUVGwPEHEiBgHUslOc"
      x-for-request-id:
      - fc96c587-5fa1-422f-b40a-2e44deef130f
      x-for-trace-id:
      - 8aa3c5fa8f5b032db2a3c295ff0c1f53
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531\",\n
        \     \"name\": \"20241106050531\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106094902\",\n
        \     \"name\": \"20241106094902\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106165131\",\n
        \     \"name\": \"20241106165131\",\n      \"expires\": \"2025-11-09T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-11-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-rD22QITnTHl00WIs09PHeTAXjAc"
      x-for-request-id:
      - 56c95e81-8066-42e4-8e70-2c24dbce0b3b
      x-for-trace-id:
      - 4683c6f37346d311f6a49c7c27284958
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.macosx64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:31.868Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.macosx64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:31.868Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1af-lusSGyURlJIgshdGy7aE5iQtc3s"
      x-for-request-id:
      - cd007a6f-b283-462a-9578-ecf5b3a678a2
      x-for-trace-id:
      - 7cfc2dfc3efeee75e84f01c86c8ea791
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-macosx64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:32.049Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.latest.firefox.sm-macosx64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:32.049Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b2-W6o8KVj04w6iLpsbhBm0vAcIsbk"
      x-for-request-id:
      - 2b7ab3c7-6d5d-437a-bee6-d39a5afe0650
      x-for-trace-id:
      - 9bca2a0f8de313defc6cc3e7c8e11ca8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.macosx64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:32.181Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.macosx64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:32.181Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b1-iNwCGn4fDfoFN+flVeezLPQMBBk"
      x-for-request-id:
      - aae79c5c-71be-4336-994c-c37adac3c9dc
      x-for-trace-id:
      - 8f2375e669aed4d328581e17be392665
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-macosx64-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:16:32.344Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.11.06.revision.firefox.sm-macosx64-fuzzing-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:16:32.344Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b4-wQ3aNoxan9/wpUTDn+1qvD/+isY"
      x-for-request-id:
      - 61d39957-0359-4e85-af02-d83f988b2704
      x-for-trace-id:
      - f7923b2eadb02b945b2940b0515c3353
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.macosx64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.11.06.20241106050531.firefox.macosx64-fuzzing-debug\",\n
        \ \"taskId\": \"aqGylQqiTUCFBdBJZBpDqQ\",\n  \"rank\": 1730869531,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T05:11:34.730Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e2-nUapAx2X8OIT+Jhl4ti4pTMJ0ww"
      x-for-request-id:
      - 918346c2-4786-459e-940f-2b3ca7e86f4c
      x-for-trace-id:
      - f92e42627fb27f2c286204665392b752
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aqGylQqiTUCFBdBJZBpDqQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T05:11:34.730Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aqGylQqiTUCFBdBJZBpDqQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/aqGylQqiTUCFBdBJZBpDqQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-hrROHo9Aye03SDA+rbIeLVQ9n2A"
      location:
      - https://firefoxci.taskcluster-artifacts.net/aqGylQqiTUCFBdBJZBpDqQ/0/public/build/target.json
      x-for-request-id:
      - 10533c08-8b37-4546-af4b-dfbd5ae0bee5
      x-for-trace-id:
      - 837727b9bdb0e211751a901d28852124
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/aqGylQqiTUCFBdBJZBpDqQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\": \"20241106050531\",\n
        \ \"cc\": \"/builds/worker/fetch[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.macosx64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.revision.8954b5fe5fb5ba67d77f21755d099d103987d632.firefox.macosx64-fuzzing-debug\",\n
        \ \"taskId\": \"OMFz0xtrQfynU5j_hJm5RA\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.481Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f1-wBxRVVicn16DYv/0gP3o0f+lm64"
      x-for-request-id:
      - 3c49ea4f-3952-4840-9669-828760a72735
      x-for-trace-id:
      - e3508aa333fe076d0269e22be6a13fc7
    status:
      code: 200
      message: OK
version: 1
