interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-arm-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-arm-debug\",\n
        \ \"taskId\": \"OxO26TSPRIK0NduXoOGPUw\",\n  \"rank\": 1731003749,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T18:29:33.937Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b4-HNQSDN040wRJSylPSbgCfLMCMpk"
      x-for-request-id:
      - 953d5c62-9a2b-4da8-b8a0-8a1d1398a12c
      x-for-trace-id:
      - 931dca7e04a7d331d32da8c96f7b0bf6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OxO26TSPRIK0NduXoOGPUw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T18:29:33.937Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T18:29:33.937Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-05T18:29:33.937Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OxO26TSPRIK0NduXoOGPUw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/OxO26TSPRIK0NduXoOGPUw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-GvVvh1BxuR3Jx9MEe5K2yp7Ssug"
      location:
      - https://firefoxci.taskcluster-artifacts.net/OxO26TSPRIK0NduXoOGPUw/0/public/build/target.json
      x-for-request-id:
      - 838be401-1a02-43cc-b2e4-8e94fb3d2b4b
      x-for-trace-id:
      - dfff56ddc914853d6a618482ee218b9f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/OxO26TSPRIK0NduXoOGPUw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=arm-linux-androideabi21\",\n  \"buildid\": \"20241107182229\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=arm-linux-androideabi21\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --target=arm-linux-androideabi21\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"fennec\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"android-arm\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"5ba642309809052327c8c7a8a3c787e3cbacabb1\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"arm-unknown-linux-androideabi\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"aa9d64c3538fceab9e7b3eabfa2e2bf0"'
      Last-Modified:
      - Thu, 07 Nov 2024 18:50:58 GMT
      x-goog-generation:
      - '1731005458629457'
      x-goog-hash:
      - crc32c=WQr/7g==
      - md5=qp1kw1OPzqueez6r+i4r8A==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '374'
    status:
      code: 200
      message: OK
version: 1
