interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.macosx64-fuzzing-asan-opt\",\n
        \ \"taskId\": \"d2DZXQM0QeiJZvFItuSd_Q\",\n  \"rank\": 1730913509,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T17:24:30.931Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bd-BICtrrRP4jGgx9yE5yinaV4uj2Y"
      x-for-request-id:
      - 7b14a87c-6116-4cb1-920a-84e07f7a2f49
      x-for-trace-id:
      - 21f7c13c7fe965ebe5568be231295e93
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/d2DZXQM0QeiJZvFItuSd_Q/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T17:24:30.931Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T17:24:30.931Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-04T17:24:30.931Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/d2DZXQM0QeiJZvFItuSd_Q/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/d2DZXQM0QeiJZvFItuSd_Q/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-59ipxphUnB/CIv6HjykPhawWfxQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/d2DZXQM0QeiJZvFItuSd_Q/0/public/build/target.json
      x-for-request-id:
      - 34da6a66-2c0c-4825-97b2-0f252b897e35
      x-for-trace-id:
      - 23a3e6ea0ba6b27bb03bff580bab994e
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/d2DZXQM0QeiJZvFItuSd_Q/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\": \"20241106171829\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=10.15 -stdlib=libc++ --target=x86_64-apple-darwin\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"mac-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"d51573edcf2dfa6ecb99ee89819162e1efd2c9e3\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e7f522d0c9ac68eba2e70b4a19f5a91f"'
      Last-Modified:
      - Wed, 06 Nov 2024 18:23:41 GMT
      x-goog-generation:
      - '1730917421842465'
      x-goog-hash:
      - crc32c=cZ/wdA==
      - md5=5/Ui0MmsaOui5wtKGfWpHw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '412'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 5033385f-8d33-44ea-8ff9-cd5ea78d6806
      x-for-trace-id:
      - 89ae26d0ec8ae72e38c6f80a3f8098f0
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.macosx64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:14.084Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.macosx64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:14.084Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-c5BReLeyRnBOeisY7Z4XxA3XZUA"
      x-for-request-id:
      - 6e8e72bf-a0a2-40d8-b223-66ab3bcd0f91
      x-for-trace-id:
      - fc8537037527b288baad07a8b2ef3f6b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.macosx64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:14.242Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.macosx64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:14.242Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-4nSvcEoYIhzn/jOLN8JaN6oDPfQ"
      x-for-request-id:
      - ffcb4de2-18a9-4076-81a6-38b0a6dcf1b9
      x-for-trace-id:
      - 8e6652a24cf79be252804f083db7c91c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-macosx64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:14.386Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-macosx64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:14.386Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-h2I0uD8bQugPFLJrL0Rs+bWr3es"
      x-for-request-id:
      - 6a67594d-2acd-482a-bb81-68ad92bae864
      x-for-trace-id:
      - d63fdaaac705a9a8c2b045f91755d7bd
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-macosx64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:14.532Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-macosx64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:14.532Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-hse7Ip26NRxrCsz8wAlj98YLPSo"
      x-for-request-id:
      - 62747aea-3362-4229-b417-feab3ccfe943
      x-for-trace-id:
      - 5cf606093db927368b4573191030afbc
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.macosx64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:14.690Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.macosx64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:14.690Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a8-7vKvKEcPmcbmgg1UqNEU6ldGtA8"
      x-for-request-id:
      - 1a247fdc-18a0-4b33-a38c-21d3c466fe7b
      x-for-trace-id:
      - 367a3a5aaf532b84fdd037a01ff20fae
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.macosx64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:14.826Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.macosx64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:14.826Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a4-q7UmtK1khm/ui1J8MXdXAVSHOl4"
      x-for-request-id:
      - 5897f0df-b980-4c14-9d3a-d4d06e77430a
      x-for-trace-id:
      - 6ede7f6daf7d5bbcec1c5f48a6863851
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-macosx64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:14.973Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-macosx64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:14.973Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ab-ZZfxe+6pvBvF0NzHhOsqnZf7w+s"
      x-for-request-id:
      - b7414c36-99d1-4765-be71-213a59743a71
      x-for-trace-id:
      - 8e3325c345aa349d07264051d064c840
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-macosx64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:15.106Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-macosx64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:15.106Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-KpNcMinE1znHYAQmhCHpg6wBbno"
      x-for-request-id:
      - ad8b8388-3908-4c8c-9f4a-02abada409ea
      x-for-trace-id:
      - c03a4f73581c183ed8864ee35ec53518
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.macosx64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:15.248Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.macosx64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:15.248Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ad-vbcjwaR7rKDW1dBroPIioTPwRDA"
      x-for-request-id:
      - b75ae728-5460-41e0-9f6a-06c9533316fa
      x-for-trace-id:
      - 010e062f791ba6ca1cb3b83bd60c4cc0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.macosx64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:15.402Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.macosx64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:15.402Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-DXAFbARE9aIb1oU2Po34lG7+L+8"
      x-for-request-id:
      - f2586a61-5402-480e-8c4c-a9c992a978e5
      x-for-trace-id:
      - 9d6e77092e86c22fdb7c3a4123227210
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-macosx64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:15.558Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-macosx64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:15.558Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b0-LYX33Kif4tkdGZeL2cAPN+FoLWQ"
      x-for-request-id:
      - 157f6ff2-0770-46bb-97cc-d52f9c348f1c
      x-for-trace-id:
      - 2adc80eeccaf617a8db7ce7142ee6ebb
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-macosx64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:15.689Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-macosx64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:15.689Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ac-Whv8/tFVsuQxIlkRpKWA6zGmrKY"
      x-for-request-id:
      - c6f21da2-e9e0-4531-9c0b-d41e92afb409
      x-for-trace-id:
      - 111d5f6b6ab43f45793a306fb1dd601c
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Me_SGl4oRZupsbs8CEc7bg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T11:30:31.105Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Me_SGl4oRZupsbs8CEc7bg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Me_SGl4oRZupsbs8CEc7bg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-dJzM72PWXO3neuDGrNxI4b8Tj+o"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Me_SGl4oRZupsbs8CEc7bg/0/public/build/target.json
      x-for-request-id:
      - 2e729466-eebd-4918-86c1-75fe992940e6
      x-for-trace-id:
      - b5f41b49db09019ca5df01c71bda1394
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Me_SGl4oRZupsbs8CEc7bg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\": \"20241106112456\",\n
        \ \"cc\": \"/builds/worker/fetch[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.d51573edcf2dfa6ecb99ee89819162e1efd2c9e3.firefox.macosx64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.d51573edcf2dfa6ecb99ee89819162e1efd2c9e3.firefox.macosx64-fuzzing-asan-opt\",\n
        \ \"taskId\": \"d2DZXQM0QeiJZvFItuSd_Q\",\n  \"rank\": 1730913509,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T17:24:30.931Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e8-dtiTQHVKrN9VEXIIppn4bcvWrTI"
      x-for-request-id:
      - 77d25720-d879-4164-bff1-7efdfd2a2742
      x-for-trace-id:
      - 10d765cf185ac802e705a0e58582fc54
    status:
      code: 200
      message: OK
version: 1
