interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"133.0b5\",\n
        \   \"FIREFOX_ESR\": \"128.4.0esr\",\n    \"FIREFOX_ESR115\": \"115.17.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"134.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2024-10-28\",\n    \"LAST_RELEASE_DATE\": \"2024-10-29\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2024-10-24\",\n    \"LAST_STRINGFREEZE_DATE\": \"2024-10-25\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_VERSION\": \"132.0.1\",\n    \"NEXT_MERGE_DATE\":
        \"2024-11-25\",\n    \"NEXT_RELEASE_DATE\": \"2024-11-26\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2024-11-21\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2024-11-22\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3ae739757cc3792e89363b6c9742175d"'
      Last-Modified:
      - Wed, 06 Nov 2024 16:25:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.macosx64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:53:24.040Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.macosx64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:53:24.040Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18f-eMLmzrx5P7BpFEfqkmQ1V4k+fnw"
      x-for-request-id:
      - 66896ee2-b6d0-4eed-bcff-b15477fa1c18
      x-for-trace-id:
      - cfb034a3f35c63330ebb7b8624e5392d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.macosx64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:53:24.172Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.macosx64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:53:24.172Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18b-aP07u/bKSC9UhuHDCrtTAtOJkVo"
      x-for-request-id:
      - 15f8e7ff-863e-42b6-8d0f-c02f2a2798fd
      x-for-trace-id:
      - 827a43793c47e1aa723bc88932cdebe0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.sm-macosx64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:53:24.307Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.sm-macosx64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:53:24.307Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"192-faeOn89NpFtdrIk8srR3quZ0zIY"
      x-for-request-id:
      - 497261a9-ab65-4a3f-bc71-954f71ae6e24
      x-for-trace-id:
      - cfb41d26f9f5408e22b61346b1034406
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.sm-macosx64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:53:24.454Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.sm-macosx64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:53:24.454Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18e-f4/LGu2G7rvjr7+5Dls1lgwZ5hQ"
      x-for-request-id:
      - d0b16adf-550a-4fe1-9280-f41668984ad1
      x-for-trace-id:
      - 0a6b17cc9030c01c9023001b3ba9765b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.latest.firefox.macosx64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.shippable.latest.firefox.macosx64-opt\",\n
        \ \"taskId\": \"D4dRVvDgSSK4nF5q4_5e0g\",\n  \"rank\": 1730988507,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T14:13:40.730Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-r/lMiKZxGp4kOo7RlRZREbH1ozQ"
      x-for-request-id:
      - 5842e250-63d7-42f8-9ae6-db96a2083414
      x-for-trace-id:
      - af8c77b6fff66a96380bc021214bee96
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/D4dRVvDgSSK4nF5q4_5e0g/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T14:13:40.730Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n      \"expires\":
        \"2025-11-07T14:13:40.730Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mbsdiff\",\n
        \     \"expires\": \"2025-11-07T14:13:40.730Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/D4dRVvDgSSK4nF5q4_5e0g/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/D4dRVvDgSSK4nF5q4_5e0g/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-y199wOHfzAJPyCQ7HZ3Y4D2ZNiw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/D4dRVvDgSSK4nF5q4_5e0g/0/public/build/target.json
      x-for-request-id:
      - 88cff44d-fbd0-441e-be2f-eb3c8360769d
      x-for-trace-id:
      - 5443bcb7711dcf9c3eaf6c7a27c74988
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/D4dRVvDgSSK4nF5q4_5e0g/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=10.15 -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\":
        \"20241107140827\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang -isysroot
        /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15 -std=gnu99
        --target=x86_64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -stdlib=libc++ --target=x86_64-apple-darwin\",\n  \"host_alias\": \"x86_64-pc-linux-gnu\",\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\":
        \"128.*\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"128.5.0\",\n  \"moz_pkg_platform\": \"mac\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/releases/mozilla-esr128\",\n  \"moz_source_stamp\":
        \"0031e586618d2570d869792eda221c77a0e95960\",\n  \"moz_update_channel\": \"esr\",\n
        \ \"target_alias\": \"x86_64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e3cf8b7aeea007733a55595cdca77623"'
      Last-Modified:
      - Thu, 07 Nov 2024 16:16:03 GMT
      x-goog-generation:
      - '1730996163495123'
      x-goog-hash:
      - crc32c=QJpVhw==
      - md5=48+Leu6gB3M6VVlc3Kd2Iw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '417'
    status:
      code: 200
      message: OK
version: 1
