interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://product-details.mozilla.org/1.0/firefox_versions.json
  response:
    body:
      string: "{\n    \"FIREFOX_AURORA\": \"\",\n    \"FIREFOX_DEVEDITION\": \"133.0b5\",\n
        \   \"FIREFOX_ESR\": \"128.4.0esr\",\n    \"FIREFOX_ESR115\": \"115.17.0esr\",\n
        \   \"FIREFOX_ESR_NEXT\": \"\",\n    \"FIREFOX_NIGHTLY\": \"134.0a1\",\n    \"LAST_MERGE_DATE\":
        \"2024-10-28\",\n    \"LAST_RELEASE_DATE\": \"2024-10-29\",\n    \"LAST_SOFTFREEZE_DATE\":
        \"2024-10-24\",\n    \"LAST_STRINGFREEZE_DATE\": \"2024-10-25\",\n    \"LATEST_FIREFOX_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_OLDER_VERSION\": \"3.6.28\",\n    \"LATEST_FIREFOX_RELEASED_DEVEL_VERSION\":
        \"133.0b5\",\n    \"LATEST_FIREFOX_VERSION\": \"132.0.1\",\n    \"NEXT_MERGE_DATE\":
        \"2024-11-25\",\n    \"NEXT_RELEASE_DATE\": \"2024-11-26\",\n    \"NEXT_SOFTFREEZE_DATE\":
        \"2024-11-21\",\n    \"NEXT_STRINGFREEZE_DATE\": \"2024-11-22\"\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3ae739757cc3792e89363b6c9742175d"'
      Last-Modified:
      - Wed, 06 Nov 2024 16:25:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:52:34.551Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.win64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:52:34.551Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18c-ufI6eLZdPu/+eOruis/SnFFcizc"
      x-for-request-id:
      - 3105017a-a0f9-4802-b055-fcc1364e6fab
      x-for-trace-id:
      - 9cf71a9e8b0a844a1773cbc50d835e4e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:52:34.712Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.win64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:52:34.712Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"188-9B+6jc4WNf1Oc113Jz02roJFUrA"
      x-for-request-id:
      - c7066f47-cf4b-4dbd-95dd-2e586292806d
      x-for-trace-id:
      - d79e4232360e9ed124bf6a1f34083973
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.sm-win64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:52:34.861Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.sm-win64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:52:34.861Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18f-MK05W/wbYzJQJc0jten8fcJxBOY"
      x-for-request-id:
      - 5199d4da-df19-4bbe-95ac-ee6d155d0146
      x-for-trace-id:
      - 0131e2a4aade9150b047ee19888d34a9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.latest.firefox.sm-win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:52:35.008Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr128.latest.firefox.sm-win64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-07T19:52:35.008Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18b-9DmUXd58JvfpbbufrMwZiU/KOU4"
      x-for-request-id:
      - c1697931-a9bb-4a52-9f17-e909ed99f616
      x-for-trace-id:
      - 5d6d214c126511f84a7a97c674deb439
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr128.shippable.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr128.shippable.latest.firefox.win64-opt\",\n
        \ \"taskId\": \"biX0TehuQk2QqLjbt7N8rg\",\n  \"rank\": 1730988507,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T14:13:39.903Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c2-SwdB1hwa4SmMwhWSJrMKtsa95lU"
      x-for-request-id:
      - d9614257-b383-41e0-8f1f-08d7ef06ed65
      x-for-trace-id:
      - 686c427c71d1240ffb8bc69940fc88c8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/biX0TehuQk2QqLjbt7N8rg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T14:13:39.903Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T14:13:39.903Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2025-11-07T14:13:39.903Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/biX0TehuQk2QqLjbt7N8rg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/biX0TehuQk2QqLjbt7N8rg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-5tlEwI2/AEsFqwCyaRnvwhiCLFQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/biX0TehuQk2QqLjbt7N8rg/0/public/build/target.json
      x-for-request-id:
      - 8cb94524-3759-449c-b928-e47b1c597f18
      x-for-trace-id:
      - 956daf048aaa0576aa393871b0f0b853
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/biX0TehuQk2QqLjbt7N8rg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20241107140827\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -Xclang -std=gnu99 -Xclang -ivfsoverlay -Xclang
        /builds/worker/fetches/vs/overlay.yaml\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -Xclang -std=c++17 -Xclang -ivfsoverlay -Xclang
        /builds/worker/fetches/vs/overlay.yaml\",\n  \"host_alias\": \"x86_64-pc-linux-gnu\",\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\":
        \"128.*\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"128.5.0\",\n  \"moz_pkg_platform\": \"win64\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/releases/mozilla-esr128\",\n
        \ \"moz_source_stamp\": \"0031e586618d2570d869792eda221c77a0e95960\",\n  \"moz_update_channel\":
        \"esr\",\n  \"target_alias\": \"x86_64-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"30682e86c6ed90cd0451ec06c5dd6aab"'
      Last-Modified:
      - Thu, 07 Nov 2024 16:55:14 GMT
      x-goog-generation:
      - '1730998514842995'
      x-goog-hash:
      - crc32c=VrvqBg==
      - md5=MGguhsbtkM0EUewGxd1qqw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '447'
    status:
      code: 200
      message: OK
version: 1
