interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-x86_64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-x86_64-opt\",\n
        \ \"taskId\": \"EqLRpq9MTNW_bAFkQijriA\",\n  \"rank\": 1731006632,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T19:15:48.373Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b5-g5kuJhLudaGmm1V2UwCZWJR9SKg"
      x-for-request-id:
      - c8e84edd-75a0-431d-9f49-e2465eae2e83
      x-for-trace-id:
      - da8c289482f95b660b9611ed47b6bdc8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/EqLRpq9MTNW_bAFkQijriA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T19:15:48.373Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T19:15:48.373Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-05T19:15:48.373Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/EqLRpq9MTNW_bAFkQijriA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/EqLRpq9MTNW_bAFkQijriA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-q+yeWwymgowqofyJsfyQU7nbHQ8"
      location:
      - https://firefoxci.taskcluster-artifacts.net/EqLRpq9MTNW_bAFkQijriA/0/public/build/target.json
      x-for-request-id:
      - 991c6a8a-7343-4a48-9f25-43d32718225b
      x-for-trace-id:
      - 03c77f325b875b34b1b61980138e684e
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/EqLRpq9MTNW_bAFkQijriA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241107191032\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n  \"moz_app_maxversion\": \"133.0a1\",\n
        \ \"moz_app_name\": \"fennec\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"133.0a1\",\n  \"moz_pkg_platform\": \"android-x86_64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"b442f2368cc25eb49442da924871a06f27a7e40e\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"x86_64-pc-linux-android\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3ff83407cc8bf941fb77fa538c695d34"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:24:35 GMT
      x-goog-generation:
      - '1731007475564313'
      x-goog-hash:
      - crc32c=qkRoLA==
      - md5=P/g0B8yL+UH7d/pTjGldNA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '295'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.mobile.android-x86_64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.mobile.android-x86_64-opt\",\n
        \ \"taskId\": \"L-iYEgUwTA2SUBxn9pjyzA\",\n  \"rank\": 1750778471,\n  \"data\":
        {},\n  \"expires\": \"2025-07-22T15:25:55.658Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bf-H+Rla6GPbpy75JzcKngAcOJ+NtY"
      x-for-request-id:
      - ee9a9645-4394-4c91-862b-c52b43b2989e
      x-for-trace-id:
      - 02e01a2b4b6b49f8d256da57ebc516b9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/L-iYEgUwTA2SUBxn9pjyzA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-22T15:25:55.658Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/L-iYEgUwTA2SUBxn9pjyzA/artifacts/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/L-iYEgUwTA2SUBxn9pjyzA/1/public/build/en-US/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89-kHf9bzZlSI3bqriXUH8AZB1Ae5U"
      location:
      - https://firefoxci.taskcluster-artifacts.net/L-iYEgUwTA2SUBxn9pjyzA/1/public/build/en-US/target.json
      x-for-request-id:
      - 693caf7f-bc41-4d9a-81ed-875a592b68af
      x-for-trace-id:
      - 3de7df10067b322a12ccbc831b377419
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/L-iYEgUwTA2SUBxn9pjyzA/1/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --target=x86_64-linux-android21\",\n
        \ \"buildid\": \"20250624152111\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --target=x86_64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --targe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.mobile.android-x86_64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:23.473Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.mobile.android-x86_64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:23.473Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18f-LymnWiKaXGPeZTbgxIzd+fGnB3g"
      x-for-request-id:
      - 15c75be4-08c5-4ceb-a47b-943f25174819
      x-for-trace-id:
      - 50ee1d297e955b462e40c9d1196cf359
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.mobile.sm-android-x86_64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:23.614Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.mobile.sm-android-x86_64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:23.614Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"196-cCEoN9uzpAkZLJ4kS5kQf+Zlx+E"
      x-for-request-id:
      - ecf1a616-548e-4f07-b009-78a64c907bb7
      x-for-trace-id:
      - 541e1ce6b4c6ed5230595df396af3eec
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.mobile.sm-android-x86_64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:23.738Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.mobile.sm-android-x86_64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:23.738Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-U8Ebrzo+/PlqYQvEshcV5m30BXw"
      x-for-request-id:
      - 020f5e7e-626a-4e54-8a08-602efeaf84a4
      x-for-trace-id:
      - 3b204a9469bf591bc1fb7c665ad2653b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-x86_64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:23.882Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.mobile.android-x86_64\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:51:23.882Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"185-ICtcRr8r4BCP5dAbqDrNX7GUvB0"
      x-for-request-id:
      - d1409486-7f85-4030-9f73-2c419d6683ae
      x-for-trace-id:
      - 6518bf68bc5ddab33e433989f39dec8c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.sm-android-x86_64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:24.004Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.mobile.sm-android-x86_64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:24.004Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18c-jM+q4o8RZ0BLcE96nmbA1/v1xH0"
      x-for-request-id:
      - 4c17a3e7-76dd-48c4-8cff-5c3455fcd00c
      x-for-trace-id:
      - 66c4f08b557ff2a48d36a64ea10e8484
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.sm-android-x86_64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:24.147Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.mobile.sm-android-x86_64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:24.147Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"188-JIUykhiyQPsVAEcfBmKUZSnuEUk"
      x-for-request-id:
      - d36cdc67-0fca-464e-ad94-5d19692a54b2
      x-for-trace-id:
      - 5a48468c120db34eeacc2b968e112fcb
    status:
      code: 404
      message: Not Found
version: 1
