interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-fuzzing-tsan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-fuzzing-tsan-opt\",\n
        \ \"taskId\": \"BK6fDnQVSO2Vboz6pvDn6g\",\n  \"rank\": 1730913509,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T17:24:30.993Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bc-CGLhD5qPz2YdfhekigpZo5T1AJY"
      x-for-request-id:
      - 4aa3c61d-c8cb-4298-96a6-f4f36433a61e
      x-for-trace-id:
      - 121bfee86f9175eb435f5c4e23ea5412
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/BK6fDnQVSO2Vboz6pvDn6g/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T17:24:30.993Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T17:24:30.993Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-04T17:24:30.993Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/BK6fDnQVSO2Vboz6pvDn6g/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/BK6fDnQVSO2Vboz6pvDn6g/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-5PvXRjnpsrQn/ohAiyzL8mhyWNE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/BK6fDnQVSO2Vboz6pvDn6g/0/public/build/target.json
      x-for-request-id:
      - 2b7e3f33-e8e9-430f-884c-8960c3599ff0
      x-for-trace-id:
      - cfb42b3f47cc3c93a023a4b68c62b661
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/BK6fDnQVSO2Vboz6pvDn6g/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106171829\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-tsan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"d51573edcf2dfa6ecb99ee89819162e1efd2c9e3\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2806d9377f6945e7a349c4b4a919820f"'
      Last-Modified:
      - Wed, 06 Nov 2024 18:16:24 GMT
      x-goog-generation:
      - '1730916984153536'
      x-goog-hash:
      - crc32c=gdM1Pw==
      - md5=KAbZN39pReejScS0qRmCDw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '358'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 48408a2c-a440-4cd1-9590-8b8acb9f3136
      x-for-trace-id:
      - 8f4cf14204cc5c864b3f8848db51be85
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-fuzzing-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:31.525Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-fuzzing-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:31.525Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-0Zulnn+azi0mO7We8+TyJKd3Ri0"
      x-for-request-id:
      - f244b8ee-63d4-4a13-ae76-bea5dbf765d9
      x-for-trace-id:
      - 4a147a5f193f8473eafb9ac22c8a8650
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-fuzzing-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:31.661Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-fuzzing-tsan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:31.661Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a1-LNHxAgF0bK5fwAIjypoelheiObA"
      x-for-request-id:
      - 1108833e-6dca-42c1-a4b1-11fb97c966ed
      x-for-trace-id:
      - beddeca57dbad2c0ab83dd2d06939fb8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:31.819Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:31.819Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a8-sSehzUgm+Pc3jM4piEV6V/+jy1A"
      x-for-request-id:
      - 89e1e4c8-0e92-4f44-9704-405ac7b79c95
      x-for-trace-id:
      - 8fc209bd1fee91f0c91a79e726736ebb
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:31.963Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-fuzzing-tsan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:31.963Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a4-zAE8KCOih3GCFAvLRODjs1lRGAA"
      x-for-request-id:
      - 766916dc-87d6-4982-8deb-1ac3f96122a1
      x-for-trace-id:
      - 7a0bc3bcf08d6bc36437e6bd17053442
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-fuzzing-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:32.117Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-fuzzing-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:32.117Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-LG1xWiEuyg562nLLQdVAaLAYfJU"
      x-for-request-id:
      - a5567a39-3bcc-4119-b97f-afe9a091b336
      x-for-trace-id:
      - 38e6da9c7ad3435052b67509fe94affe
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-fuzzing-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:32.257Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-fuzzing-tsan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:32.257Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-yOnzM4P85CCxG1SQprXdzJ8WSas"
      x-for-request-id:
      - 76b60190-3885-4de6-8f09-7651c6f20dce
      x-for-trace-id:
      - 1835f0e073000c1400bf8debbc785fa9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:32.401Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:32.401Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-lvepNIHy4zVXH0i72RaeQ9w7FyY"
      x-for-request-id:
      - 6d15d8fd-8583-4a62-9de7-d14bd240093e
      x-for-trace-id:
      - 48b1990e4d71d4c841e347f3345b3108
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:32.553Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-fuzzing-tsan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:32.553Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-4/ZiCzkWbRtzKHUoRt9DkgBhhNc"
      x-for-request-id:
      - dfc3f1ac-3ac6-4b9e-a7ac-3b8782651105
      x-for-trace-id:
      - bb608f09ca167830939e8e2b2cccf1fd
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-fuzzing-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:32.699Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-fuzzing-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:32.699Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ac-SvjwUzekeEokd3+C7p/vwfYXyis"
      x-for-request-id:
      - 479da9ce-276f-4695-8a32-f88b4196a705
      x-for-trace-id:
      - cad42e6983489efe70582151fe613c66
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-fuzzing-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:32.847Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-fuzzing-tsan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:32.847Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a8-LaXW5y9L80r/qPQbyWpqxHWPOpg"
      x-for-request-id:
      - f49e7ff2-72e6-4760-a320-6d4632a70560
      x-for-trace-id:
      - 75c6ab356335c06162c586893fe5bd01
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-fuzzing-tsan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:32.987Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-fuzzing-tsan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:32.987Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1af-TRHbOx4oFGDuPB5+MnHkWEp5y/o"
      x-for-request-id:
      - 83fde898-a7f7-45c3-8820-77ce6dab532d
      x-for-trace-id:
      - c69d72c4cc088c697743c81672675efa
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-fuzzing-tsan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:23:33.137Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-fuzzing-tsan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:23:33.137Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ab-vNAE4VZx1yjhlSTFVSRAI3sTutA"
      x-for-request-id:
      - d2061010-4aed-4154-8ba9-3f0c1e8f038c
      x-for-trace-id:
      - 4078896bda389ef6302705d2d46a8510
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/WM-wDTOFTGimkPLpX2H6Cg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T09:08:14.692Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/WM-wDTOFTGimkPLpX2H6Cg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/WM-wDTOFTGimkPLpX2H6Cg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-Qb/Fpif9qFvjRiThQHL9n1U9Zjg"
      location:
      - https://firefoxci.taskcluster-artifacts.net/WM-wDTOFTGimkPLpX2H6Cg/0/public/build/target.json
      x-for-request-id:
      - bcecfcb0-f75b-49d2-bfc2-bd04ddf32ef4
      x-for-trace-id:
      - b3d5f822fd60ee3435ace9034413f003
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/WM-wDTOFTGimkPLpX2H6Cg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106085809\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clan[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.d51573edcf2dfa6ecb99ee89819162e1efd2c9e3.firefox.linux64-fuzzing-tsan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.d51573edcf2dfa6ecb99ee89819162e1efd2c9e3.firefox.linux64-fuzzing-tsan-opt\",\n
        \ \"taskId\": \"BK6fDnQVSO2Vboz6pvDn6g\",\n  \"rank\": 1730913509,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T17:24:30.993Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e7-ys990IN73YU9ncGfow6efvzkKuk"
      x-for-request-id:
      - 12d76cc2-1c02-42af-bd0d-7b7dd0ee4028
      x-for-trace-id:
      - 78120bb8523451ba34172ae1bba38f2e
    status:
      code: 200
      message: OK
version: 1
