interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux-fuzzing-asan-opt\",\n
        \ \"taskId\": \"Oex-_fcsRpaPRe4KymqsyQ\",\n  \"rank\": 1730999615,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T17:20:00.734Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ba-8tA5YUes+G4bouubf+BjbzJnsf0"
      x-for-request-id:
      - 83d9df55-320f-4eef-9214-301d490c79da
      x-for-trace-id:
      - 16492e5353cb3aa477f13d788079bc0f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Oex-_fcsRpaPRe4KymqsyQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T17:20:00.734Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T17:20:00.734Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T17:20:00.734Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Oex-_fcsRpaPRe4KymqsyQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Oex-_fcsRpaPRe4KymqsyQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-tnQTT+a6Rizr8D3K4gA322pfShQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Oex-_fcsRpaPRe4KymqsyQ/0/public/build/target.json
      x-for-request-id:
      - 4cbfff9a-b15a-4b4b-9122-5f7238f410d7
      x-for-trace-id:
      - 6b126e76093478db236c3f748228005c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Oex-_fcsRpaPRe4KymqsyQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -std=gnu99 -m32\",\n
        \ \"buildid\": \"20241107171335\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu
        -std=gnu99 -m32\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -m32\",\n  \"host_alias\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"131.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"131.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-i686-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"702b68d603bdb217fa56f0e257d15259fc45cc79\",\n  \"moz_update_channel\":
        \"default\",\n  \"target_alias\": \"i686-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"7d5eb81fd08b3aa6a3c134ad0e8cc348"'
      Last-Modified:
      - Thu, 07 Nov 2024 18:14:54 GMT
      x-goog-generation:
      - '1731003294225223'
      x-goog-hash:
      - crc32c=2N6oHw==
      - md5=fV64H9CLOqajwTStDozDSA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '378'
    status:
      code: 200
      message: OK
version: 1
