interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:39.995Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:39.995Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ba-pkiMQJLcHkGauze3uPO/t7OJBp8"
      x-for-request-id:
      - 9edf172f-9c5f-492f-a669-0a80c9d9bfe5
      x-for-trace-id:
      - 3b45653924c3e42fed5254e9844c6ba0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://hg.mozilla.org/mozilla-central/json-rev/16c36964a84ba18209a6a86b59b5e5dc20e60925
  response:
    body:
      string: '{

        "node": "16c36964a84ba18209a6a86b59b5e5dc20e60925",

        "date": [1733233803.0, 0],

        "desc": "Bug 1934330 - CookieStore - check the existence of the window, r=smaug\n\nDifferential
        Revision: https://phabricator.services.mozilla.com/D230920",

        "backedoutby": "",

        "branch": "default",

        "bookmarks": [],

        "tags": [],

        "user": "Andrea Marchesini \u003camarchesini@mozilla.com\u003e",

        "parents": ["d140333670bcd3103a668a5ec04ed438bb192368"],

        "children": ["db100843b0f00b89944d4dcbcb2439a48b33eaab"],

        "files": [{

        "file": "dom/cookiestore/CookieStore.cpp",

        "status": "modified"

        }],

        "diff": [{

        "blockno": 1,

        "lines": [{

        "t": "-",

        "n": 1,

        "l": "--- a/dom/cookiestore/CookieStore.cpp\n"

        }, {

        "t": "+",

        "n": 2,

        "l": "+++ b/dom/cookiestore/CookieStore.cpp\n"

        }, {

        "t": "@",

        "n": 3,

        "l": "@@ -633,17 +633,20 @@ already_AddRefed\u003cPromise\u003e CookieStore::G\n"

        }, {

        "t": "",

        "n": 4,

        "l": "           return;\n"

        }, {

        "t": "",

        "n": 5,

        "l": "       [...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.12.04
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.12.04.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.12.04.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-l0wTCU9Jtx3vXzi6ojhO/M4UPPM"
      x-for-request-id:
      - d3c713c0-94d6-41c8-873f-22cab7ab857d
      x-for-trace-id:
      - b800da4a84d85d3853a3b5b35e4032dc
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.12.04
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.12.04.20241204092616\",\n
        \     \"name\": \"20241204092616\",\n      \"expires\": \"2025-12-07T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.12.04.20241204144613\",\n
        \     \"name\": \"20241204144613\",\n      \"expires\": \"2025-12-07T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.12.04.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-12-06T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"209-6gcokIORb8amqbabQP15oeYERN8"
      x-for-request-id:
      - 57b6595d-d350-4e02-a115-dce991c260c9
      x-for-trace-id:
      - a861040245dcac69accf93fa6fe064ab
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.12.04.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.12.04.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"KSPMCf-0SrObaYIU7rzpug\",\n  \"rank\": 1733323573,\n  \"data\":
        {},\n  \"expires\": \"2025-12-04T14:54:00.293Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-ffBYH+9iSSsVXeR5KiZTwYrB+K8"
      x-for-request-id:
      - 928c3156-0207-4bd2-b874-3b15a83a7b78
      x-for-trace-id:
      - 0a366b5081e9201684f11ba17d725388
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KSPMCf-0SrObaYIU7rzpug/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-12-04T14:54:00.293Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-12-04T14:54:00.293Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-12-04T14:54:00.293Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KSPMCf-0SrObaYIU7rzpug/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"85-L/r0by4v0+vcrqw87frADSJpWW0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KSPMCf-0SrObaYIU7rzpug/0/public/build/target.tar.xz
      x-for-request-id:
      - 196b76e8-f025-48f9-8cf2-5fcb739e68d8
      x-for-trace-id:
      - 243394c8a43ff882b3bfec1fbdf35225
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KSPMCf-0SrObaYIU7rzpug/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-bf/phDxN1DkvQgA95xNoHNY7Vj4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KSPMCf-0SrObaYIU7rzpug/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - d3cf8a71-a79b-4ac5-9bfb-f630d457d971
      x-for-trace-id:
      - a46018edfc05bb9a77a81d9e337040b6
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KSPMCf-0SrObaYIU7rzpug/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KSPMCf-0SrObaYIU7rzpug/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-VZZes1gRgepmeg0FcWw5xVHgiVU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KSPMCf-0SrObaYIU7rzpug/0/public/build/target.json
      x-for-request-id:
      - defee23d-263f-4bfa-a242-906fb8387c6d
      x-for-trace-id:
      - 69417b34e5d3ea2126f18ddbd734d3ff
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KSPMCf-0SrObaYIU7rzpug/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20241204144613\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"135.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"135.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"233e73a17c3f7d9f9cbb3fc3dc7f8af9cad499ff\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2ca9db638fe63ecf327dbbcd809a2b17"'
      Last-Modified:
      - Wed, 04 Dec 2024 17:04:43 GMT
      x-goog-generation:
      - '1733331883175158'
      x-goog-hash:
      - crc32c=H+JdcQ==
      - md5=LKnbY4/mPs8yfbvNgJorFw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '342'
    status:
      code: 200
      message: OK
version: 1
