interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.macosx64-debug\",\n
        \ \"taskId\": \"HbFOga34SOGSzwzn1UecOA\",\n  \"rank\": 1731005078,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T18:51:07.010Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b2-zNzuBbw4YF5SifTHtjFfwRpCnf0"
      x-for-request-id:
      - ec6fef4e-2584-46f9-bb20-959b7bc66b1f
      x-for-trace-id:
      - fc1a3d5fcc2b36fdfc80dc88998e9912
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/HbFOga34SOGSzwzn1UecOA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T18:51:07.010Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T18:51:07.010Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/mozharness.zip\",\n
        \     \"expires\": \"2024-12-05T18:51:07.010Z\",\n      \"contentType\": \"application/zip\"\n
        \   },\n    {\n      \"storageType\": \"s3\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/HbFOga34SOGSzwzn1UecOA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/HbFOga34SOGSzwzn1UecOA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-23NCQUjywO+kg20o28gJCG0rIqo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/HbFOga34SOGSzwzn1UecOA/0/public/build/target.json
      x-for-request-id:
      - bd7cbb57-0204-4ab7-a833-80e4235637a4
      x-for-trace-id:
      - 18b91dcc811a96d923ab11e9e51b56d3
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/HbFOga34SOGSzwzn1UecOA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241107184438\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"mac\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"af71ea6f36594991ccbfede21efdf96c2726e10a\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"6293ddc5a03d49c1a9dd267ffa751fff"'
      Last-Modified:
      - Thu, 07 Nov 2024 18:56:39 GMT
      x-goog-generation:
      - '1731005799864843'
      x-goog-hash:
      - crc32c=MleK8g==
      - md5=YpPdxaA9ScGp3SZ/+nUf/w==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '295'
    status:
      code: 200
      message: OK
version: 1
