interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.win64-ccov-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.win64-ccov-opt\",\n
        \ \"taskId\": \"O5CyNE26RlWFEKURVCb6QA\",\n  \"rank\": 1,\n  \"data\": {},\n
        \ \"expires\": \"2025-11-07T16:49:52.881Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b5-hMHYZqq8SnTAhSOTYGfJDvRPMpA"
      x-for-request-id:
      - cbcefacc-8661-4bb8-9c3e-b2afab57ee63
      x-for-trace-id:
      - 7db55e0194d76ad2c1a9127cfd852093
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/O5CyNE26RlWFEKURVCb6QA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:52.881Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/chrome-map.json\",\n      \"expires\":
        \"2025-11-07T16:49:52.881Z\",\n      \"contentType\": \"application/json\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/config.status\",\n
        \     \"expires\": \"2025-11-07T16:49:52.881Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/O5CyNE26RlWFEKURVCb6QA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/O5CyNE26RlWFEKURVCb6QA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-S0F3fmBFQVu6VVWolBdYp5oeTYk"
      location:
      - https://firefoxci.taskcluster-artifacts.net/O5CyNE26RlWFEKURVCb6QA/0/public/build/target.json
      x-for-request-id:
      - 99d36b6a-2512-434a-babb-e439ebde18d2
      x-for-trace-id:
      - 6ced8008f2a1a5535eec82003a6e1969
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/O5CyNE26RlWFEKURVCb6QA/0/public/build/target.json
  response:
    body:
      string: "{\r\n  \"as\": \"D:/task_173099868462787/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\r\n
        \ \"buildid\": \"20241107164615\",\r\n  \"cc\": \"D:/task_173099868462787/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -Xclang -std=gnu99\",\r\n  \"cxx\": \"D:/task_173099868462787/fetches/clang/bin/clang-cl.exe
        -fms-compatibility-version=19.39 -std:c++17\",\r\n  \"host\": \"x86_64-pc-mingw32\",\r\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\r\n  \"moz_app_maxversion\":
        \"134.0a1\",\r\n  \"moz_app_name\": \"firefox\",\r\n  \"moz_app_vendor\":
        \"Mozilla\",\r\n  \"moz_app_version\": \"134.0a1\",\r\n  \"moz_pkg_platform\":
        \"win64\",\r\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\r\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\r\n
        \ \"moz_update_channel\": \"default\",\r\n  \"target\": \"x86_64-pc-mingw32\"\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"7aae686eaccaa9ec8bfbafa16c9fe2f9"'
      Last-Modified:
      - Thu, 07 Nov 2024 18:08:19 GMT
      x-goog-generation:
      - '1731002899818335'
      x-goog-hash:
      - crc32c=HBe4KA==
      - md5=eq5obqzKqeyL+6+hbJ/i+Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '444'
    status:
      code: 200
      message: OK
version: 1
