interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.win32-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.win32-opt\",\n
        \ \"taskId\": \"OaJ0p3KlTSWS8oqmVxYYHA\",\n  \"rank\": 1718319423,\n  \"data\":
        {},\n  \"expires\": \"2025-06-14T02:47:11.600Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b9-EIzG0hJ7dIg+N2lEe+RLyiFHdgE"
      x-for-request-id:
      - 2e3d1965-3ce7-4d32-97b1-e993cd16fe74
      x-for-trace-id:
      - f3ade0279d10f7be0df973e54357c929
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OaJ0p3KlTSWS8oqmVxYYHA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-06-14T02:47:11.600Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-06-14T02:47:11.600Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2025-06-14T02:47:11.600Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OaJ0p3KlTSWS8oqmVxYYHA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/OaJ0p3KlTSWS8oqmVxYYHA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-shAhmFGfywsWss7If26q/4vBDpo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/OaJ0p3KlTSWS8oqmVxYYHA/0/public/build/target.json
      x-for-request-id:
      - 199c55fc-078e-4d9e-854f-5c77e665b77e
      x-for-trace-id:
      - 28370376781b2ea54641f8e1ac7af69e
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/OaJ0p3KlTSWS8oqmVxYYHA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x86/ml.exe\",\n
        \ \"buildid\": \"20240613225703\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -m32 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -Xclang -std=c++17 -m32 -Xclang -ivfsoverlay
        -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n  \"host_alias\": \"x86_64-pc-linux-gnu\",\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\":
        \"129.0a1\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"129.0a1\",\n  \"moz_pkg_platform\": \"win32\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\":
        \"32dddfc0818f5eb2dc8a51c8a3279f4ce059cc9a\",\n  \"moz_update_channel\": \"default\",\n
        \ \"target_alias\": \"i686-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"758ad3bd9299e9dab3891fe926731646"'
      Last-Modified:
      - Fri, 14 Jun 2024 03:06:05 GMT
      x-goog-generation:
      - '1718334365451343'
      x-goog-hash:
      - crc32c=DoHgog==
      - md5=dYrTvZKZ6dqziR/pJnMWRg==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '457'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.06.13
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.13.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-06-16T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.13.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-06-17T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-MSxklgGircsYRQfF8ugIAsp4N5Q"
      x-for-request-id:
      - f3752b15-dc4a-4870-9068-e584a1885e1a
      x-for-trace-id:
      - d976a36ea71a2c61b79ef6ed194f596c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.06.13
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.13.20240613093628\",\n
        \     \"name\": \"20240613093628\",\n      \"expires\": \"2025-06-16T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.13.20240613215041\",\n
        \     \"name\": \"20240613215041\",\n      \"expires\": \"2025-06-16T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.13.20240613225703\",\n
        \     \"name\": \"20240613225703\",\n      \"expires\": \"2025-06-16T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.06.13.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-06-16T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-W2lDOiOcXtfYa5F4wt27Jy07oNE"
      x-for-request-id:
      - 008e78a3-c895-4927-b035-c21801dd7aff
      x-for-trace-id:
      - b803dd5ef7a5e0b9009d7576fcc8e3cd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.06.13.latest.firefox.win32-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.06.13.latest.firefox.win32-opt\",\n
        \ \"taskId\": \"drF5Sk2_Q1GQT40Ct11XPw\",\n  \"rank\": 1718319423,\n  \"data\":
        {},\n  \"expires\": \"2025-06-13T23:00:36.659Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ce-sY1kW+9DTfFmuHx5hvC6XwaEZTs"
      x-for-request-id:
      - 8ff7412b-3085-44b4-bc2f-a5b4f2b147c0
      x-for-trace-id:
      - ee101a3c7e8a7cfa027a5c977efde5b1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/drF5Sk2_Q1GQT40Ct11XPw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-06-13T23:00:36.659Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/drF5Sk2_Q1GQT40Ct11XPw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/drF5Sk2_Q1GQT40Ct11XPw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-NZpeowsy5tSiNZqLIz/5Wt7JYrI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/drF5Sk2_Q1GQT40Ct11XPw/0/public/build/target.json
      x-for-request-id:
      - 4b745c53-4e1b-42d5-ac08-4eca8c201d09
      x-for-trace-id:
      - b7887859c59d48a74881a914b0df4ac3
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/drF5Sk2_Q1GQT40Ct11XPw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x86/ml.exe\",\n
        \ \"buildid\": \"20240613225703\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -Xclang -std=gnu99 -m32 -Xclang -ivfsoverlay
        -Xclang /builds/wo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.32dddfc0818f5eb2dc8a51c8a3279f4ce059cc9a.firefox.win32-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.revision.32dddfc0818f5eb2dc8a51c8a3279f4ce059cc9a.firefox.win32-opt\",\n
        \ \"taskId\": \"OaJ0p3KlTSWS8oqmVxYYHA\",\n  \"rank\": 1718319423,\n  \"data\":
        {},\n  \"expires\": \"2025-06-14T02:47:11.600Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e4-3hUTnYG+Q2bC0RfXtktPNZGeyMA"
      x-for-request-id:
      - b36d658b-ed67-452d-8b66-c3a114d01f18
      x-for-trace-id:
      - a52ca5aeca6cde2dcc767f7dc1e6b06a
    status:
      code: 200
      message: OK
version: 1
