interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.win32-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.win32-opt\",\n  \"taskId\":
        \"RS5RMH31RyK22mjid7Nosg\",\n  \"rank\": 1730920721,\n  \"data\": {},\n  \"expires\":
        \"2024-12-04T19:24:00.492Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ad-UxylFzn5Ckgyg/1HkbSRydcQKe4"
      x-for-request-id:
      - ce6e48fc-a56b-4b86-b80d-351a007c18d3
      x-for-trace-id:
      - 658d462f596250ed9968a2c47fa72625
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/RS5RMH31RyK22mjid7Nosg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T19:24:00.492Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T19:24:00.492Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2024-12-04T19:24:00.492Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/RS5RMH31RyK22mjid7Nosg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/RS5RMH31RyK22mjid7Nosg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-Cay1MiAKD/IyuXlslMUHm1FA7r4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/RS5RMH31RyK22mjid7Nosg/0/public/build/target.json
      x-for-request-id:
      - 5be76f00-75d1-4d95-aa89-863dccc7398c
      x-for-trace-id:
      - 27971dfcdcd8be80bd266865d4de9c9b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/RS5RMH31RyK22mjid7Nosg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x86/ml.exe\",\n
        \ \"buildid\": \"20241106191841\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -m32 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -std:c++17 -m32 -Xclang -ivfsoverlay -Xclang
        /builds/worker/fetches/vs/overlay.yaml\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\":
        \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"134.0a1\",\n  \"moz_pkg_platform\": \"win32\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\":
        \"9181e23fdf761f0b245e35c039e33a8cf0d784b8\",\n  \"moz_update_channel\": \"default\",\n
        \ \"target\": \"i686-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"411d251acbd067316788f70968212ae4"'
      Last-Modified:
      - Wed, 06 Nov 2024 19:54:04 GMT
      x-goog-generation:
      - '1730922844973568'
      x-goog-hash:
      - crc32c=tKwKzw==
      - md5=QR0lGsvQZzFniPcJaCEq5A==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '452'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - bd35ccb6-3ec8-41d8-8e9a-173641c73dd4
      x-for-trace-id:
      - 2b8e93d7fdf2864079c8ccf8389c2fce
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.win32-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest.firefox.win32-opt\",\n
        \ \"taskId\": \"Nh-ySivwSYi7js_rnnW-GQ\",\n  \"rank\": 1730916696,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T18:17:03.414Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c2-K6nLkPtjSsT/zo+9YpQPnWmnWcU"
      x-for-request-id:
      - 59238044-8dd7-422c-8412-378f12c97d83
      x-for-trace-id:
      - b6ed39d2ab981dd827bbae9d67447390
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Nh-ySivwSYi7js_rnnW-GQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T18:17:03.414Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Nh-ySivwSYi7js_rnnW-GQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Nh-ySivwSYi7js_rnnW-GQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-zH0zChypvSe17lq5f4QB5py4kqw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Nh-ySivwSYi7js_rnnW-GQ/0/public/build/target.json
      x-for-request-id:
      - 51e1ec51-05e0-44e5-aef0-48612a0b5b8d
      x-for-trace-id:
      - 567fb522c5da3a4a869e67735d101b8c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Nh-ySivwSYi7js_rnnW-GQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241106181136\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"win32\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"bce654727f7fb95cc31d702a87bb54f07a287194\",\n  \"moz_update_channel\":
        \"nightly-try\",\n  \"target\": \"i686-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"82d2ff424eb715a6c59294c73a3f9d06"'
      Last-Modified:
      - Wed, 06 Nov 2024 18:23:00 GMT
      x-goog-generation:
      - '1730917380007374'
      x-goog-hash:
      - crc32c=GqR3Pg==
      - md5=gtL/Qk63FabFkpTHOj+dBg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '304'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.9181e23fdf761f0b245e35c039e33a8cf0d784b8.firefox.win32-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.9181e23fdf761f0b245e35c039e33a8cf0d784b8.firefox.win32-opt\",\n
        \ \"taskId\": \"RS5RMH31RyK22mjid7Nosg\",\n  \"rank\": 1730920721,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T19:24:00.492Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d8-vLkvugA5Pi6SNVhvgUl9/1ZdlYs"
      x-for-request-id:
      - bf3081fd-72f3-418c-98f8-ed1ffc615dd6
      x-for-trace-id:
      - 04a5ec3da633051697af05106f0e6b50
    status:
      code: 200
      message: OK
version: 1
