interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.win64-opt\",\n  \"taskId\":
        \"LajQ41DaTm6EF2-LHScBJw\",\n  \"rank\": 1731005610,\n  \"data\": {},\n  \"expires\":
        \"2024-12-05T18:58:52.884Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ad-2igbIPm/aD+ccabgMpLCADBfa8I"
      x-for-request-id:
      - 4d0322d6-2a6e-4a74-8e04-8ade26a1563c
      x-for-trace-id:
      - e02e33840089a5374168ddbdce8fc43b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/LajQ41DaTm6EF2-LHScBJw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T18:58:52.884Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T18:58:52.884Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2024-12-05T18:58:52.884Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/LajQ41DaTm6EF2-LHScBJw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/LajQ41DaTm6EF2-LHScBJw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-2c5X4Jo2z+T5izSj81vWlmHYcmE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/LajQ41DaTm6EF2-LHScBJw/0/public/build/target.json
      x-for-request-id:
      - 74f4aa2f-6ec4-4371-ba9d-d34b742a639a
      x-for-trace-id:
      - 2f46ffe47d3a022fdb82df10d052ccf8
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/LajQ41DaTm6EF2-LHScBJw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20241107185330\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -std:c++17 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"win64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"220ddf956ab068a8bd3fdf8de46eccefdde1302d\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2bd6e905515a3558ed15d824f8752394"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:36:01 GMT
      x-goog-generation:
      - '1731008161365772'
      x-goog-hash:
      - crc32c=P+Pa2w==
      - md5=K9bpBVFaNVjtFdgk+HUjlA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '446'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.firefox.win64-opt\",\n
        \ \"taskId\": \"QkUtVaGNR7uxP9NQp28UDQ\",\n  \"rank\": 1750773550,\n  \"data\":
        {},\n  \"expires\": \"2025-07-22T14:04:19.697Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b7-JEXNOvfWM9bt0jz54LVcWFYFLGM"
      x-for-request-id:
      - 5f552bbd-ae55-4721-8ef6-4c27e47dd4f0
      x-for-trace-id:
      - 5f3d39ef028d5850419b045ed3f06c94
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QkUtVaGNR7uxP9NQp28UDQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-22T14:04:19.697Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QkUtVaGNR7uxP9NQp28UDQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/QkUtVaGNR7uxP9NQp28UDQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-LIWfw/YlJ2RhuKHIRJrLtY+Algg"
      location:
      - https://firefoxci.taskcluster-artifacts.net/QkUtVaGNR7uxP9NQp28UDQ/0/public/build/target.json
      x-for-request-id:
      - b3516c68-a22e-4348-b6df-35101025285e
      x-for-trace-id:
      - 0960be003360488cdec6bc90ec1956c4
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/QkUtVaGNR7uxP9NQp28UDQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20250624135910\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -std:c++17 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"142.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"142.0a1\",\n
        \ \"moz_pkg_platform\": \"win64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"1ba37880aab86359b2f5a40784c821353bec574e\",\n  \"moz_update_channel\":
        \"nightly-try\",\n  \"target\": \"x86_64-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"9199876a7080ab1af4a22321e24d2c4c"'
      Last-Modified:
      - Tue, 24 Jun 2025 16:04:47 GMT
      x-goog-generation:
      - '1750781087648843'
      x-goog-hash:
      - crc32c=1QYumg==
      - md5=kZmHanCAqxr0oiMh4k0sTA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '428'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:33.584Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.win64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:33.584Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"187-jV2pqAPAD3F13Rr/qOa388dZgPQ"
      x-for-request-id:
      - d136af53-78a1-4ccd-8b29-d9091c8398b9
      x-for-trace-id:
      - 84efad39eb7e1baaedfb185a13eabdcf
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.sm-win64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:33.713Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.sm-win64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:33.713Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-lnKSCA4NVaU6K1p1q9nhEApFtMA"
      x-for-request-id:
      - 2548df1f-679c-40b3-a434-5a5256f30a70
      x-for-trace-id:
      - f2918b0dbce4f394c312019cdac99cd9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.sm-win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:33.843Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.sm-win64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:33.843Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18a-qCVP8UXbPgAamUHZTn0ZCjDpmVc"
      x-for-request-id:
      - e5ed1e43-d970-4e0e-921c-4991df95220f
      x-for-trace-id:
      - 8edd39eb6bd3a969e96ad0497412eec7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:33.971Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.win64\"\n    },\n    \"payload\": {},\n    \"time\":
        \"2025-10-29T17:51:33.971Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"17d-mSqYXBgglbJB/nFbiD0Vk4CiPKY"
      x-for-request-id:
      - d5e396da-d058-4859-b978-a33a6c8d7bd4
      x-for-trace-id:
      - 272cc6806bf1e5fcc2de1c5966d9481a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-win64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:34.112Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-win64-opt\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:51:34.112Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"184-yJ/a65tc1f/p2uheEN7Dvs/EVCc"
      x-for-request-id:
      - a49b76f9-e176-47e5-a056-17245f30895d
      x-for-trace-id:
      - 56eabf7f836d4719dbfa1d8cde67c4cd
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:34.262Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-win64\"\n    },\n    \"payload\": {},\n    \"time\":
        \"2025-10-29T17:51:34.262Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"180-rHBAcbT9SVYMQfU5krRkbXiO8WA"
      x-for-request-id:
      - d4cd50e0-b626-46f8-bf9e-72f95660d17d
      x-for-trace-id:
      - 7d6b4cdfaf910de3485a0a707be48b6d
    status:
      code: 404
      message: Not Found
version: 1
