interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-fuzzilli-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:53:31.892Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux64-fuzzilli-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:53:31.892Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19a-0Hq1s5Rp/HpHke3I+fgfPsT+i4s"
      x-for-request-id:
      - ccc54600-197d-4c8c-a9d4-fd956f79c4d8
      x-for-trace-id:
      - e92509d6214d92a3fe90894742319007
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-fuzzilli-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-fuzzilli-debug\",\n
        \ \"taskId\": \"IqurRDryRLCvOxQaDMK3sg\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-02-04T16:55:11.961Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c9-5zT4Ns7kY3vn88uWvw2Zoya/3z8"
      x-for-request-id:
      - 71eee579-9b14-43ab-bb1b-b0376a99c345
      x-for-trace-id:
      - 126df2ae7cfb951b8aba20f4b0fc593e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/IqurRDryRLCvOxQaDMK3sg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/main_raw.log\",\n      \"expires\": \"2025-02-04T16:55:11.961Z\",\n
        \     \"contentType\": \"text/plain\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/mozconfig.autospider\",\n      \"expires\":
        \"2025-02-04T16:55:11.961Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/target.json\",\n
        \     \"expires\": \"2025-02-04T16:55:11.961Z\",\n      \"contentType\": \"application/json\"\n
        \   },\n    {\n      \"storageType\": \"s3\",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/IqurRDryRLCvOxQaDMK3sg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/IqurRDryRLCvOxQaDMK3sg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-3KOY+bFz5YaZQlU840Ftv8xLC2A"
      location:
      - https://firefoxci.taskcluster-artifacts.net/IqurRDryRLCvOxQaDMK3sg/0/public/build/target.json
      x-for-request-id:
      - 23e637dc-0845-4519-bacd-e8a476f7ae6b
      x-for-trace-id:
      - ccff38280b3e664b4f4e8e511968de61
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/IqurRDryRLCvOxQaDMK3sg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"buildid\": \"20241106165131\",\n  \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"5cffb0349cde4f9d82a0ab21c5a0a9cb"'
      Last-Modified:
      - Wed, 06 Nov 2024 17:13:07 GMT
      x-goog-generation:
      - '1730913187394256'
      x-goog-hash:
      - crc32c=qcLxhQ==
      - md5=XP+wNJzeT52CoKshxaCpyw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '110'
    status:
      code: 200
      message: OK
version: 1
