interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.win32-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.win32-opt\",\n  \"taskId\":
        \"WCC5LIIQSbiKNoUiSTxOPA\",\n  \"rank\": 1731005610,\n  \"data\": {},\n  \"expires\":
        \"2024-12-05T18:58:52.888Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ad-kdbGLVA9u5aTFbd5f0VeXieRACI"
      x-for-request-id:
      - 194cd229-e48d-4541-8864-f6ae04b842b9
      x-for-trace-id:
      - a01522ab38673cf757653bea2a629d5e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/WCC5LIIQSbiKNoUiSTxOPA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T18:58:52.888Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T18:58:52.888Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2024-12-05T18:58:52.888Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/WCC5LIIQSbiKNoUiSTxOPA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/WCC5LIIQSbiKNoUiSTxOPA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-3jCIeU0uncRoJdRo6NHCYRxMIlI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/WCC5LIIQSbiKNoUiSTxOPA/0/public/build/target.json
      x-for-request-id:
      - 9c1cc51a-c16e-4815-901f-aaf40704b71b
      x-for-trace-id:
      - 11d3cae9291aa94752e55b7e790107d3
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/WCC5LIIQSbiKNoUiSTxOPA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x86/ml.exe\",\n
        \ \"buildid\": \"20241107185330\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -m32 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -std:c++17 -m32 -Xclang -ivfsoverlay -Xclang
        /builds/worker/fetches/vs/overlay.yaml\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\":
        \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"134.0a1\",\n  \"moz_pkg_platform\": \"win32\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\":
        \"220ddf956ab068a8bd3fdf8de46eccefdde1302d\",\n  \"moz_update_channel\": \"default\",\n
        \ \"target\": \"i686-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"af7c53503afc276594ca88d2de0b712e"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:35:42 GMT
      x-goog-generation:
      - '1731008142473163'
      x-goog-hash:
      - crc32c=I78AvQ==
      - md5=r3xTUDr8J2WUyojS3gtxLg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '452'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.win32-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.firefox.win32-opt\",\n
        \ \"taskId\": \"TvAtAbavSS-12i-ifV8JGw\",\n  \"rank\": 1750773550,\n  \"data\":
        {},\n  \"expires\": \"2025-07-22T14:04:19.514Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b7-lmE7kLIz4Lg0LFk0koSnrlN6alI"
      x-for-request-id:
      - d9215069-7239-4493-9254-f8107ca12ccb
      x-for-trace-id:
      - 33091539dd408c679532b7dc9d29d989
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/TvAtAbavSS-12i-ifV8JGw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-22T14:04:19.514Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/TvAtAbavSS-12i-ifV8JGw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/TvAtAbavSS-12i-ifV8JGw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-RG3Dk01ON3pdoxTZttsybGykESw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/TvAtAbavSS-12i-ifV8JGw/0/public/build/target.json
      x-for-request-id:
      - bd69b775-e5c6-495f-a941-404505f92299
      x-for-trace-id:
      - 76f74a4cb94848219da26d983accd84a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/TvAtAbavSS-12i-ifV8JGw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x86/ml.exe\",\n
        \ \"buildid\": \"20250624135910\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -m32 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -std:c++17 -m32 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"142.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"142.0a1\",\n
        \ \"moz_pkg_platform\": \"win32\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"1ba37880aab86359b2f5a40784c821353bec574e\",\n  \"moz_update_channel\":
        \"nightly-try\",\n  \"target\": \"i686-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"26d3ab01ffe5949535f213314a360f84"'
      Last-Modified:
      - Tue, 24 Jun 2025 15:54:41 GMT
      x-goog-generation:
      - '1750780481034203'
      x-goog-hash:
      - crc32c=6trvlw==
      - md5=JtOrAf/llJU18hMxSjYPhA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '433'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.win32
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:31.520Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.win32\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:31.520Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"187-BDfevW3+gTKxbUvQTawZCjaBeEU"
      x-for-request-id:
      - 727eddb4-163d-469d-bdd6-c2f8705deed2
      x-for-trace-id:
      - 59005906bd059564a55494156f4426a9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.sm-win32-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:31.661Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.sm-win32-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:31.661Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-He90iDRY+Fgs+LFMD1XKPIPbMr0"
      x-for-request-id:
      - 23dff593-5d18-4168-bf91-acdc433c6150
      x-for-trace-id:
      - f20d64ae17098419b70c0694d518f0bf
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.sm-win32
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:31.788Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.sm-win32\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:31.788Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18a-AhM54xB6CMK9XA0fiMBuIfm1iGw"
      x-for-request-id:
      - 05d5cb45-cd01-4227-9285-e3369be377f6
      x-for-trace-id:
      - 089f032cb21d36bb88e1445f2c2daf11
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.win32
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:31.926Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.win32\"\n    },\n    \"payload\": {},\n    \"time\":
        \"2025-10-29T17:50:31.926Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"17d-vFtVpJBur3z93sBeCWPREFHNyVs"
      x-for-request-id:
      - 5b5fe1a8-3da9-4188-adf8-a214e3db4489
      x-for-trace-id:
      - 278b40f2f062f7556b190f9d554e1485
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-win32-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:32.069Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-win32-opt\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:50:32.069Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"184-bnfqyuCeA3/REfiCJGKZJY1XvCk"
      x-for-request-id:
      - 7f80bb6f-b2d5-4974-bb76-990c6d89e8e4
      x-for-trace-id:
      - 6938e202162e98d676f892f6a97fd746
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-win32
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:32.241Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-win32\"\n    },\n    \"payload\": {},\n    \"time\":
        \"2025-10-29T17:50:32.241Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"180-kfsq8KbfQRmg77uhU7ZPjkRYi8g"
      x-for-request-id:
      - 5dbe1b3f-e5ae-4b5b-bbc3-67fc74118125
      x-for-trace-id:
      - c284e1f24107d377917f8e2df920b04d
    status:
      code: 404
      message: Not Found
version: 1
