interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-asan-opt\",\n
        \ \"taskId\": \"CfZl85v9S92nYvFEEOtrDA\",\n  \"rank\": 1730916696,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T18:17:03.342Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b4-pPQUIb5YOOZk3wwenirL/I1zqGc"
      x-for-request-id:
      - 247d3046-11db-455e-a8b3-ef0c03fc1623
      x-for-trace-id:
      - ce4d9ee73b9347eca88c71552fe6a24c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CfZl85v9S92nYvFEEOtrDA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T18:17:03.342Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T18:17:03.342Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-04T18:17:03.342Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CfZl85v9S92nYvFEEOtrDA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/CfZl85v9S92nYvFEEOtrDA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-tQq+bu1c1T7gH5cYrrKuh+Dn+Ps"
      location:
      - https://firefoxci.taskcluster-artifacts.net/CfZl85v9S92nYvFEEOtrDA/0/public/build/target.json
      x-for-request-id:
      - 6741e366-6ffb-4525-baf1-d3f11c93ed3d
      x-for-trace-id:
      - 2298efb28bb03f4b68d8785702968d83
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/CfZl85v9S92nYvFEEOtrDA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106181136\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"bce654727f7fb95cc31d702a87bb54f07a287194\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2ad060cf527500ba9ea8a154c5d8686a"'
      Last-Modified:
      - Wed, 06 Nov 2024 19:19:48 GMT
      x-goog-generation:
      - '1730920788614758'
      x-goog-hash:
      - crc32c=P+P8wA==
      - md5=KtBgz1J1ALqeqKFUxdhoag==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '361'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 8e3e2a0a-04fc-48dc-b8d5-e98884c92545
      x-for-trace-id:
      - f3fbdd0990808a6a3dd9037ff464f44d
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:19:59.977Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-asan-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:19:59.977Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19d-8uyo17apSjRiJqDa3OdRdOctl7I"
      x-for-request-id:
      - 28325026-b05f-4598-8935-5ed7b358465b
      x-for-trace-id:
      - b1d2a2a4c7993d867215bb407530f2e5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:00.122Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.linux64-asan\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:20:00.122Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"199-AjsrDHHb6OdRriOYUkzxNMgHPIY"
      x-for-request-id:
      - e746698f-4c32-40b2-998e-7b9fe449e5ae
      x-for-trace-id:
      - 232c53568b63c97395407e68a6f9a14e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:00.274Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:00.274Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-hyPlr++FCDVBrGB4pivXB2CfnvQ"
      x-for-request-id:
      - d01ed29e-e0ab-47ca-b203-052423405339
      x-for-trace-id:
      - 350ed8c0373e9f04c44bc626b1df08e7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:00.402Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-linux64-asan\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:20:00.402Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19c-5ZK/wsudvkWP4x9taFwXxJEh0Vg"
      x-for-request-id:
      - 3323950e-0ea2-49de-89ac-7c4d47292ecb
      x-for-trace-id:
      - f14d9a6d20a100cbfea45d723f83dab3
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:00.548Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:00.548Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-4brGWy/Sapg1CvTIo971RbOFSWs"
      x-for-request-id:
      - 15f0bf0e-5df9-4aa2-8927-7b9ed6beeae0
      x-for-trace-id:
      - 29a83ee16852d1ed836aed2c40b6dde2
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:00.695Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.linux64-asan\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:20:00.695Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19b-M0rgH2iCUkqjPM96np2NN0T6dbU"
      x-for-request-id:
      - cd3b381a-4c7c-474c-aad0-37f14b8dd9b7
      x-for-trace-id:
      - 85da880501351ab569053854ede8e901
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:00.838Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:00.838Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-KrNqRXe+4pG3AiBbteeRQ+G72zk"
      x-for-request-id:
      - e5d7ec1b-9032-44f1-a18f-e34623f744ea
      x-for-trace-id:
      - 4f0cc4e5cc2d47d1fd6ea785dd8a0724
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:01.002Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-linux64-asan\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:20:01.002Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19e-smFbsXSz5iyX9lYPtiAtakI/1l8"
      x-for-request-id:
      - a6781ecf-597b-4540-958e-5bb2eb72750b
      x-for-trace-id:
      - f0fdd84330636e4e9cd016e82dbaf2f7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:01.138Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:01.138Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a4-D0yvk52aRHSDl7aMdkisZEj3FyE"
      x-for-request-id:
      - c945b941-5ba0-4403-83b7-27ee2166c068
      x-for-trace-id:
      - 77190b42dcbed1a3c4f2015a5aba7f7b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:01.277Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.linux64-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:01.277Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-lQlWWlGJEJwpu6H/90HaRcA+QIQ"
      x-for-request-id:
      - add71d6a-ba55-47f6-84bd-ff624528895d
      x-for-trace-id:
      - da1a382decc839d599fbaf8351ee7672
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:01.420Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:01.420Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-FTEvJ0TXXSGFuSy73kO0TAhAEqw"
      x-for-request-id:
      - 9f3d6e86-d2a1-4711-a45a-f38d80665ec3
      x-for-trace-id:
      - 271ef04db3564a949b199d94eac61e66
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:20:01.569Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-linux64-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:20:01.569Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-6+Vla8IelHr5/qDElYhisgF9YoM"
      x-for-request-id:
      - 6ac52de5-f749-4058-91f1-ffdbd7285fd8
      x-for-trace-id:
      - 58a4be7127827f86b87c223e4b1ebee1
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/SEBJ2B-ISOKt791vb565WQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T05:43:23.047Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/SEBJ2B-ISOKt791vb565WQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/SEBJ2B-ISOKt791vb565WQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-WMrNfqunFq6is0irDWMgz2xmznw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/SEBJ2B-ISOKt791vb565WQ/0/public/build/target.json
      x-for-request-id:
      - 99b36eaa-4f04-48d9-9cba-33469a860ca5
      x-for-trace-id:
      - 91939d726cb1484ec87429c0a55b21ae
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/SEBJ2B-ISOKt791vb565WQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106053446\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clan[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.linux64-asan-opt\",\n
        \ \"taskId\": \"CfZl85v9S92nYvFEEOtrDA\",\n  \"rank\": 1730916696,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T18:17:03.342Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"df-O399DKex4wzgxQ5fMm4Wf18c3d0"
      x-for-request-id:
      - 3c4df054-2955-444b-99ba-3aaafea30c55
      x-for-trace-id:
      - ec84fe33652fc25b5ea9c54197764ba3
    status:
      code: 200
      message: OK
version: 1
