interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-arm-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-arm-opt\",\n
        \ \"taskId\": \"QFauKW-8Ty2zJgZGhnGh5Q\",\n  \"rank\": 1731007203,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T19:25:30.432Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b2-y2iScTBSkvBQMhllpEh6R25q+yA"
      x-for-request-id:
      - 9dbd87e7-247b-4178-bee3-b770570e3dd4
      x-for-trace-id:
      - d319ddb72dadfb30c5ff8d89a065e1a7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QFauKW-8Ty2zJgZGhnGh5Q/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T19:25:30.432Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T19:25:30.432Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-05T19:25:30.432Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QFauKW-8Ty2zJgZGhnGh5Q/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/QFauKW-8Ty2zJgZGhnGh5Q/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-2D73hL59QQ+tRegXQ6nTP1XpJpc"
      location:
      - https://firefoxci.taskcluster-artifacts.net/QFauKW-8Ty2zJgZGhnGh5Q/0/public/build/target.json
      x-for-request-id:
      - e5e6a51a-8b0b-4ff0-9fe3-41a02d199027
      x-for-trace-id:
      - bcc1127be53767046bacf5e1e5bd1b8a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/QFauKW-8Ty2zJgZGhnGh5Q/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=arm-linux-androideabi21\",\n  \"buildid\": \"20241107192003\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=arm-linux-androideabi21\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --target=arm-linux-androideabi21\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"fennec\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"android-arm\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"b135858b846c150b95ba98b3ef8e71eb883a8188\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"arm-unknown-linux-androideabi\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"1159fb1b428e0a476d4011fbd038ece4"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:52:12 GMT
      x-goog-generation:
      - '1731009131970814'
      x-goog-hash:
      - crc32c=oR0mSQ==
      - md5=EVn7G0KOCkdtQBH70Djs5A==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '373'
    status:
      code: 200
      message: OK
version: 1
