interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:57.648Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:57.648Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ba-AByrv2xCtR5K4+tb14D0voimkYM"
      x-for-request-id:
      - 2046a2e2-3276-4c1d-a1b6-76c13c05d6fb
      x-for-trace-id:
      - 4b1ce71b912cf6bc044419da8386e750
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:57.792Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:57.792Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b6-UJkN2sOHb0m8EnLyBe143BTZ85s"
      x-for-request-id:
      - 21e5c3ba-834c-406d-8391-b17e730e64b6
      x-for-trace-id:
      - 7aa461a5ca5816f90b9577300ca33b4c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:57.924Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:57.924Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1bd-MtUBYXtIDENG0JDXMMGGOhsLygc"
      x-for-request-id:
      - b0b35251-90d5-4069-9077-93c361227a30
      x-for-trace-id:
      - ac4cb510caf5e2a0a6d0e8c83bc78b0b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:58.066Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:58.066Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b9-hw4PqT4Qa1sWvqV9BD/q1a9FwFE"
      x-for-request-id:
      - c6b40fcb-c651-4053-974f-2d3019e30945
      x-for-trace-id:
      - 6ebfde22b59ca6107cc3121928f1d110
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:58.210Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:58.210Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c4-aS/qkWm/xzvWsubSuB3AxzjLYR4"
      x-for-request-id:
      - b13815a1-45a4-4d6d-8b19-0b0ffe9543bf
      x-for-trace-id:
      - f339a7274d987a37e4875eecdf54b025
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:58.350Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:58.350Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c0-4e/zB8Nt+f53Mc/FoP4hbXzfoxQ"
      x-for-request-id:
      - 5919100f-d661-41e0-9814-f616aa214fe9
      x-for-trace-id:
      - 2a6e66105dc6dc0f40a448ddb08b09ce
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:58.500Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:58.500Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c7-LIfJg88Uq/dQobZfhKEX1Ev7ceE"
      x-for-request-id:
      - d5095221-b0cb-4740-aebf-da14a4cb3a07
      x-for-trace-id:
      - 4cc4831a11c84a58b626596c83bf7c85
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:58.641Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.revision.16c36964a84ba18209a6a86b59b5e5dc20e60925.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-12-04T17:06:58.641Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1c3-qm2FTX4bbQHvIOb02g5jaUUu24M"
      x-for-request-id:
      - 3ec64915-ee92-40ef-9bf1-a99bb28e1a36
      x-for-trace-id:
      - e17f481d6116d5590378dc48df745f90
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://hg.mozilla.org/mozilla-central/json-rev/16c36964a84ba18209a6a86b59b5e5dc20e60925
  response:
    body:
      string: '{

        "node": "16c36964a84ba18209a6a86b59b5e5dc20e60925",

        "date": [1733233803.0, 0],

        "desc": "Bug 1934330 - CookieStore - check the existence of the window, r=smaug\n\nDifferential
        Revision: https://phabricator.services.mozilla.com/D230920",

        "backedoutby": "",

        "branch": "default",

        "bookmarks": [],

        "tags": [],

        "user": "Andrea Marchesini \u003camarchesini@mozilla.com\u003e",

        "parents": ["d140333670bcd3103a668a5ec04ed438bb192368"],

        "children": ["db100843b0f00b89944d4dcbcb2439a48b33eaab"],

        "files": [{

        "file": "dom/cookiestore/CookieStore.cpp",

        "status": "modified"

        }],

        "diff": [{

        "blockno": 1,

        "lines": [{

        "t": "-",

        "n": 1,

        "l": "--- a/dom/cookiestore/CookieStore.cpp\n"

        }, {

        "t": "+",

        "n": 2,

        "l": "+++ b/dom/cookiestore/CookieStore.cpp\n"

        }, {

        "t": "@",

        "n": 3,

        "l": "@@ -633,17 +633,20 @@ already_AddRefed\u003cPromise\u003e CookieStore::G\n"

        }, {

        "t": "",

        "n": 4,

        "l": "           return;\n"

        }, {

        "t": "",

        "n": 5,

        "l": "       [...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.12.04
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.12.04.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.12.04.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-l0wTCU9Jtx3vXzi6ojhO/M4UPPM"
      x-for-request-id:
      - cf5ba37a-70c9-4450-b2f9-0fe55ec723e2
      x-for-trace-id:
      - 198c54f9e1440c6aecee3930886f9625
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.12.04
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.12.04.20241204092616\",\n
        \     \"name\": \"20241204092616\",\n      \"expires\": \"2025-12-07T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.12.04.20241204144613\",\n
        \     \"name\": \"20241204144613\",\n      \"expires\": \"2025-12-07T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.12.04.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-12-06T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"209-6gcokIORb8amqbabQP15oeYERN8"
      x-for-request-id:
      - 6b9b0257-c277-499c-a675-ab6ac9213cea
      x-for-trace-id:
      - a4166f6ccda3d3c77af2afe14403e2f9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.12.04.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.12.04.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"KSPMCf-0SrObaYIU7rzpug\",\n  \"rank\": 1733323573,\n  \"data\":
        {},\n  \"expires\": \"2025-12-04T14:54:00.293Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-ffBYH+9iSSsVXeR5KiZTwYrB+K8"
      x-for-request-id:
      - 718ea436-dfd3-470e-ac78-938f51d3bcf5
      x-for-trace-id:
      - b53cad7ac0e13d19f8422eaf1c502381
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KSPMCf-0SrObaYIU7rzpug/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-12-04T14:54:00.293Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-12-04T14:54:00.293Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-12-04T14:54:00.293Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KSPMCf-0SrObaYIU7rzpug/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"85-L/r0by4v0+vcrqw87frADSJpWW0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KSPMCf-0SrObaYIU7rzpug/0/public/build/target.tar.xz
      x-for-request-id:
      - 4cf5e291-68e0-45a3-90e3-eb597c732075
      x-for-trace-id:
      - c4fbf257df08f989c65b6fdd863b0a37
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KSPMCf-0SrObaYIU7rzpug/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-bf/phDxN1DkvQgA95xNoHNY7Vj4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KSPMCf-0SrObaYIU7rzpug/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 406f5ad6-845e-4a67-9c88-bdbf511d405f
      x-for-trace-id:
      - 4d5ca20b876c7ef141ad1d6851436267
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KSPMCf-0SrObaYIU7rzpug/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KSPMCf-0SrObaYIU7rzpug/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-VZZes1gRgepmeg0FcWw5xVHgiVU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KSPMCf-0SrObaYIU7rzpug/0/public/build/target.json
      x-for-request-id:
      - c18e12e6-c542-47ba-9bfe-7d66e901d627
      x-for-trace-id:
      - ef7018284c7dedc8f8febd6e1c930a0b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KSPMCf-0SrObaYIU7rzpug/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20241204144613\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"135.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"135.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"233e73a17c3f7d9f9cbb3fc3dc7f8af9cad499ff\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2ca9db638fe63ecf327dbbcd809a2b17"'
      Last-Modified:
      - Wed, 04 Dec 2024 17:04:43 GMT
      x-goog-generation:
      - '1733331883175158'
      x-goog-hash:
      - crc32c=H+JdcQ==
      - md5=LKnbY4/mPs8yfbvNgJorFw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '342'
    status:
      code: 200
      message: OK
version: 1
