interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64-fuzzing-asan-opt\",\n
        \ \"taskId\": \"CQsnNSPsQeGo4eXl9ztdFw\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:52.729Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d1-VsnJMX6LElFCGTmiA4EeyMZwVW0"
      x-for-request-id:
      - 919cbe1a-656d-403a-ac1e-dc2e2ca9394d
      x-for-trace-id:
      - 5a8d4ce4d13459f16f3140d305e07eb9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CQsnNSPsQeGo4eXl9ztdFw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:52.729Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T16:49:52.729Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-07T16:49:52.729Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CQsnNSPsQeGo4eXl9ztdFw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/CQsnNSPsQeGo4eXl9ztdFw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-r+zpo3BRj2XXe9uON8pnmFUJY/o"
      location:
      - https://firefoxci.taskcluster-artifacts.net/CQsnNSPsQeGo4eXl9ztdFw/0/public/build/target.json
      x-for-request-id:
      - 7e5889c4-6a23-4af7-b6a4-42c58639abc9
      x-for-trace-id:
      - e2f1199acfb5c4d4ad95f864817d74aa
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/CQsnNSPsQeGo4eXl9ztdFw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=11.0
        -std=gnu99 --target=aarch64-apple-darwin\",\n  \"buildid\": \"20241107164615\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=11.0
        -std=gnu99 --target=aarch64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=11.0 -stdlib=libc++ --target=aarch64-apple-darwin\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"mac-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"aarch64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"78b9d930665b953de45932c8570b64d2"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:45:03 GMT
      x-goog-generation:
      - '1731001503032112'
      x-goog-hash:
      - crc32c=0hM4Kg==
      - md5=eLnZMGZblT3kWTLIVwtk0g==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '419'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:17.722Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.macosx64-aarch64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:51:17.722Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a1-I7v50bF6zqnDeh4qGhmzPOSQPGA"
      x-for-request-id:
      - 8532fbf3-39fb-4d76-931c-db02fc4b444d
      x-for-trace-id:
      - aee5901fb499aa578b75481da7d3e559
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-macosx64-aarch64-fuzzing-asan-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:17.843Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-macosx64-aarch64-fuzzing-asan-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:51:17.843Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a8-TUJEcDKmbaQnLkLpASSJgw3/zt4"
      x-for-request-id:
      - 4ce848bd-b252-4af5-9920-d84d00ba9079
      x-for-trace-id:
      - a2d80e1ba67af5d68ae9c53341464862
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-macosx64-aarch64-fuzzing-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:17.958Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-macosx64-aarch64-fuzzing-asan\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:51:17.958Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a4-MylEzQcjCEgZe/1y3AmHQpzjPUk"
      x-for-request-id:
      - ca4ce109-7277-482a-83ff-20c67a40165b
      x-for-trace-id:
      - f18716a19314619282804b857d8f9aab
    status:
      code: 404
      message: Not Found
version: 1
