interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.macosx64-opt\",\n
        \ \"taskId\": \"D43Q6D1jTjqmvumOlrHsaA\",\n  \"rank\": 1730920721,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T19:24:00.462Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b0-3xFcMYMwP4143cnkEjr+qngpLv0"
      x-for-request-id:
      - 1c74c13d-61da-4782-9aaa-c9a7bc8face0
      x-for-trace-id:
      - ac008446e645b0ac3447adf137e4831b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/D43Q6D1jTjqmvumOlrHsaA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T19:24:00.462Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T19:24:00.462Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-04T19:24:00.462Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/D43Q6D1jTjqmvumOlrHsaA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/D43Q6D1jTjqmvumOlrHsaA/1/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-JNXoVqQGntI62mci7AFH2ZOoKKQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/D43Q6D1jTjqmvumOlrHsaA/1/public/build/target.json
      x-for-request-id:
      - 9449233a-eb00-49dc-8a38-3152662d8a65
      x-for-trace-id:
      - a64b4b6ec2844853281a9d66a44580b7
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/D43Q6D1jTjqmvumOlrHsaA/1/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\": \"20241106191841\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=10.15 -stdlib=libc++ --target=x86_64-apple-darwin\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"mac\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"9181e23fdf761f0b245e35c039e33a8cf0d784b8\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"1223d770ac72c277111c8dfd7c3d8093"'
      Last-Modified:
      - Wed, 06 Nov 2024 20:02:55 GMT
      x-goog-generation:
      - '1730923375733819'
      x-goog-hash:
      - crc32c=lU9TgA==
      - md5=EiPXcKxywncRHI39fD2Akw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '411'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 3fa221ac-47a0-45b8-ab71-173f241ca589
      x-for-trace-id:
      - b00db88cc66a8842e7c9973b568fbf08
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.macosx64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest.firefox.macosx64-opt\",\n
        \ \"taskId\": \"JhJCM1EWQvG7SMvWIDziCA\",\n  \"rank\": 1730915875,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T18:03:07.827Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-Gq8I6eeBm9+wYNM0LEX7cc22ByM"
      x-for-request-id:
      - d3672225-407f-42e8-88be-e4fe625d5a97
      x-for-trace-id:
      - f0038a94d0241a2960c3f1e6ffc8860c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/JhJCM1EWQvG7SMvWIDziCA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T18:03:07.827Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/JhJCM1EWQvG7SMvWIDziCA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/JhJCM1EWQvG7SMvWIDziCA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-ywzhsYxP3euH09P611gAOSLxn4U"
      location:
      - https://firefoxci.taskcluster-artifacts.net/JhJCM1EWQvG7SMvWIDziCA/0/public/build/target.json
      x-for-request-id:
      - 7bffc5fc-5512-4718-aa78-b346ce55ec29
      x-for-trace-id:
      - ede7771cd54a352df2d1cfac818b2ae0
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/JhJCM1EWQvG7SMvWIDziCA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=10.15 -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\":
        \"20241106175755\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang -isysroot
        /builds/wor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.9181e23fdf761f0b245e35c039e33a8cf0d784b8.firefox.macosx64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.9181e23fdf761f0b245e35c039e33a8cf0d784b8.firefox.macosx64-opt\",\n
        \ \"taskId\": \"D43Q6D1jTjqmvumOlrHsaA\",\n  \"rank\": 1730920721,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T19:24:00.462Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"db-zUwQQpNfnQOLsbR3Tbn70SP0oT0"
      x-for-request-id:
      - 80807f82-c4b9-4aea-8f8f-30f26f3433fc
      x-for-trace-id:
      - c307c477a451ea65798bfd424a7a61b6
    status:
      code: 200
      message: OK
version: 1
