interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.mobile.android-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.mobile.android-aarch64-opt\",\n
        \ \"taskId\": \"WWWVDn1KRgeUXdDjKXeilQ\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:53.129Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c2-q9C/vZc8sTx50pEyaRZXFjI7v2s"
      x-for-request-id:
      - e48e7720-4ba5-4e34-8fd5-cec050105807
      x-for-trace-id:
      - df7992fa9fd4ee6e0051d2854ef92cc9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/WWWVDn1KRgeUXdDjKXeilQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:53.129Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T16:49:53.129Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2025-11-07T16:49:53.129Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/WWWVDn1KRgeUXdDjKXeilQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/WWWVDn1KRgeUXdDjKXeilQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-hMDempkKbnUDR5Fyeg540Js1Fz0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/WWWVDn1KRgeUXdDjKXeilQ/0/public/build/target.json
      x-for-request-id:
      - e0a6d136-c44f-4745-bd15-cf2e51112a36
      x-for-trace-id:
      - 0e9e8ffbe298dc7f5419f4f7febbb4e5
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/WWWVDn1KRgeUXdDjKXeilQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=aarch64-linux-android21\",\n  \"buildid\": \"20241107164615\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=aarch64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --target=aarch64-linux-android21\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"fennec\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"android-aarch64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"aarch64-unknown-linux-android\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"a8e795e8e03ef0a566724d1db73011a5"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:22:21 GMT
      x-goog-generation:
      - '1731000141131955'
      x-goog-hash:
      - crc32c=XEWsdA==
      - md5=qOeV6OA+8KVmck0dtzARpQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '376'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.mobile.android-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.mobile.android-aarch64-opt\",\n
        \ \"taskId\": \"Agn9GV5zTva46zc_tE08BQ\",\n  \"rank\": 1750714118,\n  \"data\":
        {},\n  \"expires\": \"2026-06-23T21:35:09.091Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cc-W4SkKFzaiDbx6dUnsbMAlro/yi4"
      x-for-request-id:
      - 0ab11fc3-6928-4a83-a44e-9f987db51e57
      x-for-trace-id:
      - b7f6ca1ee0de318e396111c5bb37bb7d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Agn9GV5zTva46zc_tE08BQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-23T21:35:09.091Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Agn9GV5zTva46zc_tE08BQ/artifacts/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Agn9GV5zTva46zc_tE08BQ/0/public/build/en-US/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89-NsjPlQ/TIFw2pM17oRsB1PEEKWE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Agn9GV5zTva46zc_tE08BQ/0/public/build/en-US/target.json
      x-for-request-id:
      - 634d0b1c-18d8-41d5-83c4-d30629b82865
      x-for-trace-id:
      - cec9fd2117fb597f0e9aa53997c0319e
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Agn9GV5zTva46zc_tE08BQ/0/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --target=aarch64-linux-android21\",\n
        \ \"buildid\": \"20250623212838\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --target=aarch64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --tar[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.mobile.android-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:01.496Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.mobile.android-aarch64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-10-29T17:51:01.496Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19c-Z82LsWsCNEgmNT8GJWbkrjroGcY"
      x-for-request-id:
      - b0656636-6159-4a8d-974b-738cf2b511ad
      x-for-trace-id:
      - b53d040977aefdc3c33de53a3b521bc7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.mobile.sm-android-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:01.641Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.mobile.sm-android-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:51:01.641Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a3-4hTE4qFm9yGB34obURGmkWaOq9w"
      x-for-request-id:
      - 9df3917e-b04b-4ee2-bcaa-1123acf85b38
      x-for-trace-id:
      - 49e57889e1f7c24e0e614e26c1f31928
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.mobile.sm-android-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:01.791Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.mobile.sm-android-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-10-29T17:51:01.791Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19f-PsyfZTCFyirC2APtyqnENY5Il/E"
      x-for-request-id:
      - 57a2bd1d-92f4-4c6a-b020-c5826f43d6a0
      x-for-trace-id:
      - 10d5fd75b02f679f2e5a2868fc3232c0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.mobile.android-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:01.931Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.mobile.android-aarch64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:01.931Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-SRQt9Be8Ye5XqUUjHy6ZLkOxiMk"
      x-for-request-id:
      - a8c21933-7ce9-4c4c-9587-38957139a440
      x-for-trace-id:
      - 2a5f53c2ee24a14ba60a8308d0353865
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.mobile.sm-android-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:02.062Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.mobile.sm-android-aarch64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-10-29T17:51:02.062Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"199-M7wsR3fywR5hiKdEbzCRnJE5u4w"
      x-for-request-id:
      - 5a6f88fc-be15-45c8-b838-c853998f12e5
      x-for-trace-id:
      - 2cf92e93faf00c962abd4c3aee32f836
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.mobile.sm-android-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:02.204Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.mobile.sm-android-aarch64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:02.204Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-tPqj41i1bDLAN2BUjLJ426lLmEY"
      x-for-request-id:
      - 3153712b-572e-4ad9-8e8e-25ce7922ded7
      x-for-trace-id:
      - 6156fd2af0175505ce9bd4d631d6ce33
    status:
      code: 404
      message: Not Found
version: 1
