interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-asan-opt\",\n
        \ \"taskId\": \"fLTqsTt8RnGN7ESj4k6Z9A\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:53.064Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c0-/lk1NxBdB1VFCk654TzZuFAg+fY"
      x-for-request-id:
      - 6c64ca9e-85e6-4396-8966-5ad651a909f7
      x-for-trace-id:
      - c6b236b28cd7ad58f7c584c73840f616
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/fLTqsTt8RnGN7ESj4k6Z9A/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:53.064Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T16:49:53.064Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-07T16:49:53.064Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/fLTqsTt8RnGN7ESj4k6Z9A/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/fLTqsTt8RnGN7ESj4k6Z9A/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-vvKNWIBCr8HmENoJ9dtwuTNX1is"
      location:
      - https://firefoxci.taskcluster-artifacts.net/fLTqsTt8RnGN7ESj4k6Z9A/0/public/build/target.json
      x-for-request-id:
      - a1e46a2a-440d-4812-8e46-29c37e6ee581
      x-for-trace-id:
      - 00fd9af384e3aae8a62099cebe19c36c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/fLTqsTt8RnGN7ESj4k6Z9A/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241107164615\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-asan\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c2782378fea0b983fe17bf43899f0321"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:54:54 GMT
      x-goog-generation:
      - '1731002094703688'
      x-goog-hash:
      - crc32c=m1NzeQ==
      - md5=wngjeP6guYP+F79DiZ8DIQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '367'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:14.939Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux64-asan\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:14.939Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"190-7E13BH8Mf2DsLapW/lGdTfFM4lY"
      x-for-request-id:
      - c5045d01-8ea8-4687-a847-00523681c170
      x-for-trace-id:
      - eaeb9d866146be33f3f5c0f6fe9f7691
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-asan-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-asan-opt\",\n
        \ \"taskId\": \"JXSv4Z5QQb62suup1ATftA\",\n  \"rank\": 1761756970,\n  \"data\":
        {},\n  \"expires\": \"2026-10-29T16:57:29.581Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c3-7BTNHjeQOd2J7p5fu6T7ZVmP7Qw"
      x-for-request-id:
      - f1700f60-e408-456f-888f-1a8cd68e57de
      x-for-trace-id:
      - 612243040dc575f6255521dc76c5ccec
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-asan
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:51:15.823Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-asan\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:51:15.823Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"193-pM2gK32x7/3m4pHrglpB8QqpGng"
      x-for-request-id:
      - 6b3da11a-1d62-425c-acc5-4da7b794c46f
      x-for-trace-id:
      - 99e70c51a996ed68dd46d3a61d7a0b6a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/JXSv4Z5QQb62suup1ATftA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/llvm-symbolizer.gz\",\n      \"expires\": \"2026-10-29T16:57:29.581Z\",\n
        \     \"contentType\": \"application/gzip\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"publ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/JXSv4Z5QQb62suup1ATftA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/JXSv4Z5QQb62suup1ATftA/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-+JRK96XRhYhy4GNtjKN90n9/89Q"
      location:
      - https://firefoxci.taskcluster-artifacts.net/JXSv4Z5QQb62suup1ATftA/0/public/build/target.json
      x-for-request-id:
      - 8392f148-1056-4854-919e-01f263a09ec9
      x-for-trace-id:
      - e63f504f67e0e7f45c2849477287684a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/JXSv4Z5QQb62suup1ATftA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"buildid\": \"20251029165610\",\n  \"moz_source_stamp\": \"6e0dd1421c8affd4915c151970e6fe9e979c759b\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c55b0d4f382b34a24f733f5e9929182c"'
      Last-Modified:
      - Wed, 29 Oct 2025 17:25:23 GMT
      x-goog-generation:
      - '1761758723780916'
      x-goog-hash:
      - crc32c=zSlgVw==
      - md5=xVsNTzgrNKJPcz9emSkYLA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '109'
    status:
      code: 200
      message: OK
version: 1
