interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-aarch64-opt\",\n
        \ \"taskId\": \"bxxYioN6TB2gnfQNB3ZnBw\",\n  \"rank\": 1731008108,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T19:40:39.438Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b6-ICUFLAA0pQvr/CBLiUb/SCCDuao"
      x-for-request-id:
      - 174d3f71-d5d9-45c7-8641-f8fc9a0035b5
      x-for-trace-id:
      - e08e315a4c20b6ff1b283d974282938e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/bxxYioN6TB2gnfQNB3ZnBw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T19:40:39.438Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T19:40:39.438Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-05T19:40:39.438Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/bxxYioN6TB2gnfQNB3ZnBw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/bxxYioN6TB2gnfQNB3ZnBw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-vZPqA1B8Jisvb2maAk+NiC8DI9M"
      location:
      - https://firefoxci.taskcluster-artifacts.net/bxxYioN6TB2gnfQNB3ZnBw/0/public/build/target.json
      x-for-request-id:
      - 82e11608-f08a-45cc-8a74-2965e1d9803f
      x-for-trace-id:
      - fcd59394e6e78e28a377992a560f20a7
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/bxxYioN6TB2gnfQNB3ZnBw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241107193508\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"fennec\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"android-aarch64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"c0e7425e57613e7b003eb0bbe97ec3ae2da4f8de\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"aarch64-unknown-linux-android\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"cb4e1d70ecf217b6374dcacb973f230e"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:51:43 GMT
      x-goog-generation:
      - '1731009103233891'
      x-goog-hash:
      - crc32c=i4o/cw==
      - md5=y04dcOzyF7Y3TcrLlz8jDg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '308'
    status:
      code: 200
      message: OK
version: 1
