interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux-fuzzing-debug\",\n
        \ \"taskId\": \"CHOvADL_QH-9UIEYPSlc8w\",\n  \"rank\": 1730999615,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T17:20:01.182Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b7-jTXAv8z5uFImHOh6leRsbo5jCv0"
      x-for-request-id:
      - 4ff88e9f-a4b0-4159-9dc6-36fd715f1bb2
      x-for-trace-id:
      - 7bdd605b1c0f42a4720e610b6286742e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CHOvADL_QH-9UIEYPSlc8w/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T17:20:01.182Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T17:20:01.182Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T17:20:01.182Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CHOvADL_QH-9UIEYPSlc8w/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/CHOvADL_QH-9UIEYPSlc8w/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-jJJNdME4q2+UI4yKu2aP+Ufxye8"
      location:
      - https://firefoxci.taskcluster-artifacts.net/CHOvADL_QH-9UIEYPSlc8w/0/public/build/target.json
      x-for-request-id:
      - 42fb2fc1-0a8f-49ef-b7f9-f4b8e432ffa0
      x-for-trace-id:
      - dae5e914d73c818bae6e35da38966f77
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/CHOvADL_QH-9UIEYPSlc8w/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -std=gnu99 -m32\",\n
        \ \"buildid\": \"20241107171335\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu
        -std=gnu99 -m32\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -m32\",\n  \"host_alias\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"131.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"131.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-i686-fuzzing\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"702b68d603bdb217fa56f0e257d15259fc45cc79\",\n  \"moz_update_channel\":
        \"default\",\n  \"target_alias\": \"i686-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"bc186d40d5bbde1f2bf714e03612f8d9"'
      Last-Modified:
      - Thu, 07 Nov 2024 18:10:07 GMT
      x-goog-generation:
      - '1731003007087687'
      x-goog-hash:
      - crc32c=UK6iqQ==
      - md5=vBhtQNW73h8r9xTgNhL42Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '381'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:43.862Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-linux-fuzzing-debug\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:43.862Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-PV7aJpaBDMxcB8wFkIU0opjewq8"
      x-for-request-id:
      - b750c694-59de-4a8b-afd3-1289fdab8328
      x-for-trace-id:
      - 5ec941c6198a5197006b939af3c31dec
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux32-fuzzing-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:44.018Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.linux32-fuzzing-debug\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:44.018Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18d-AAz3ellDtZ9EWYC+7FB8echLCp0"
      x-for-request-id:
      - ca131dc9-7c56-4921-a83c-0bbdb8abbdb7
      x-for-trace-id:
      - 4262a963b0e07278b635c6a5a1aebd9f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux32-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.sm-linux32-fuzzing-debug\",\n
        \ \"taskId\": \"ciJUSPgKQvegAW4tJaJ3hg\",\n  \"rank\": 1761755457,\n  \"data\":
        {},\n  \"expires\": \"2025-11-26T16:36:25.277Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bc-LmrwVWO3cI9iOVTYY74NlLogjyg"
      x-for-request-id:
      - d1714dba-9240-4612-95c7-9f031a0cfc17
      x-for-trace-id:
      - 6dbeba174b43354ea604514207198be6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ciJUSPgKQvegAW4tJaJ3hg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/llvm-symbolizer.gz\",\n      \"expires\": \"2025-11-26T16:36:25.277Z\",\n
        \     \"contentType\": \"application/gzip\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"publ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ciJUSPgKQvegAW4tJaJ3hg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/ciJUSPgKQvegAW4tJaJ3hg/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-M7pmKeenVDrrKdo+ym1X5e7vX2Q"
      location:
      - https://firefoxci.taskcluster-artifacts.net/ciJUSPgKQvegAW4tJaJ3hg/0/public/build/target.json
      x-for-request-id:
      - 8cff3333-e3e7-41f6-bc19-1b01ca529695
      x-for-trace-id:
      - d8e9267354f38d56f15b9ebe395b1b8d
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/ciJUSPgKQvegAW4tJaJ3hg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"buildid\": \"20251029163057\",\n  \"moz_source_stamp\": \"44981369115dae88a9880ec03345eef7195aaae3\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3880e6aa4075226fdd52fc29069e0eda"'
      Last-Modified:
      - Wed, 29 Oct 2025 17:18:49 GMT
      x-goog-generation:
      - '1761758329144475'
      x-goog-hash:
      - crc32c=Jt8LDg==
      - md5=OIDmqkB1Im/dUvwpBp4O2g==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '111'
    status:
      code: 200
      message: OK
version: 1
