interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2023.12.04.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-12-04T17:06:34.617Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2023.12.04.firefox.linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-12-04T17:06:34.617Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19c-RqaMu2CNyuqYC8Sxpx171MysF58"
      x-for-request-id:
      - 48495a72-c589-4c6a-a231-8e50be3ffd95
      x-for-trace-id:
      - a9e6fd68d9117fc47091b621f6098873
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2023.12.05
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.12.05.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.12.05.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-08T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-1pLxff0GEstEAhEgFlNKfHypmaE"
      x-for-request-id:
      - 18b7a5a2-cc95-48b9-ab32-2f63542bfe8e
      x-for-trace-id:
      - 83c5005de41e8486eb79fe34918a4030
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2023.12.05
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.12.05.20231205090844\",\n
        \     \"name\": \"20231205090844\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.12.05.20231205212944\",\n
        \     \"name\": \"20231205212944\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2023.12.05.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"209-d07Ufhvfdx+1boxeM9youFvOgRE"
      x-for-request-id:
      - 0ba44a12-c19b-4e1e-bfec-2aac1975e7b3
      x-for-trace-id:
      - 2430bffaa5ea1ffa50a667a12baf0cd6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2023.12.05.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2023.12.05.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"VkTxXkVUTWWl_VoEEUN2qA\",\n  \"rank\": 1701811784,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T04:05:34.487Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-wBjvho5G6rhu5xzZiiZKGMNpsJM"
      x-for-request-id:
      - bfd3d3e5-6051-4498-864c-5ef6f041fb24
      x-for-trace-id:
      - 4f46b5a6747ab5113ad802cc25968839
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VkTxXkVUTWWl_VoEEUN2qA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T04:05:34.487Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T04:05:34.487Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T04:05:34.487Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VkTxXkVUTWWl_VoEEUN2qA/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1d2-i4F4s5Tt8RZNQ/0/k1wMHsSbPas"
      x-for-request-id:
      - f15eb010-0de3-45ba-b400-12e168f3af83
      x-for-trace-id:
      - 4d1a19fd3ced1f10459cda2e4f739d79
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VkTxXkVUTWWl_VoEEUN2qA/artifacts/public/build/target.tar.bz2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"86-Uo4iqs+ycz5Vh0I58dDiNLKqeAo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/VkTxXkVUTWWl_VoEEUN2qA/0/public/build/target.tar.bz2
      x-for-request-id:
      - a7e126f3-9439-49d2-b597-9b76f4467674
      x-for-trace-id:
      - 0fd3cd6d17eebc68efc68d5ad6b4d42b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VkTxXkVUTWWl_VoEEUN2qA/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-rLzdL00O1X4joGxOM3qXKVySK80"
      location:
      - https://firefoxci.taskcluster-artifacts.net/VkTxXkVUTWWl_VoEEUN2qA/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - a766de86-76fc-4c16-89f0-b9a7cd6c0f34
      x-for-trace-id:
      - 88ecdc9745adfef5d36b56cb9bd94ade
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VkTxXkVUTWWl_VoEEUN2qA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/VkTxXkVUTWWl_VoEEUN2qA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-4ZswEnL56nVpiOpqalbczD09U5s"
      location:
      - https://firefoxci.taskcluster-artifacts.net/VkTxXkVUTWWl_VoEEUN2qA/0/public/build/target.json
      x-for-request-id:
      - 2212fab1-102a-4cd5-84b1-496d338866dd
      x-for-trace-id:
      - 5996325d9008390d0875d2fa9e2451f4
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/VkTxXkVUTWWl_VoEEUN2qA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"buildid\": \"20231205212944\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host_alias\": \"x86_64-pc-linux-gnu\",\n  \"host_cpu\": \"x86_64\",\n
        \ \"host_os\": \"linux-gnu\",\n  \"host_vendor\": \"pc\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"122.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"122.0a1\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\": \"23ee4ac2d048de0aac3fa27ce7eb0925c1903096\",\n
        \ \"moz_update_channel\": \"nightly\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\",\n
        \ \"target_cpu\": \"x86_64\",\n  \"target_os\": \"linux-gnu\",\n  \"target_vendor\":
        \"pc\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"1e431c8cda18ac7821157a23ae48a1c3"'
      Last-Modified:
      - Wed, 06 Dec 2023 05:53:46 GMT
      x-goog-generation:
      - '1701842026527991'
      x-goog-hash:
      - crc32c=drC6AA==
      - md5=HkMcjNoYrHghFXojrkihww==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '383'
    status:
      code: 200
      message: OK
version: 1
