interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux-opt\",\n  \"taskId\":
        \"e4qGNw6mRXS4orPeR5sBdw\",\n  \"rank\": 1730999615,\n  \"data\": {},\n  \"expires\":
        \"2024-12-05T17:20:01.255Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ad-RluJV2t5gtk59hNLNRam51SjW/A"
      x-for-request-id:
      - fcb5d410-1f58-4bd6-b25f-f60c3f5ce9e9
      x-for-trace-id:
      - a7b7349f49d4bd7e9fd6ae35ad4f7d41
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/e4qGNw6mRXS4orPeR5sBdw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T17:20:01.255Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T17:20:01.255Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-05T17:20:01.255Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/e4qGNw6mRXS4orPeR5sBdw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/e4qGNw6mRXS4orPeR5sBdw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-GcLQ3S+K3l7JzfkP+6X8JttKMxI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/e4qGNw6mRXS4orPeR5sBdw/0/public/build/target.json
      x-for-request-id:
      - 5bd61f44-8dcc-43c6-a3cf-67926bfa5467
      x-for-trace-id:
      - 0746fce2188f3e8e72e877c08464622c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/e4qGNw6mRXS4orPeR5sBdw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -std=gnu99 -m32\",\n
        \ \"buildid\": \"20241107171335\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu
        -std=gnu99 -m32\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -m32\",\n  \"host_alias\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"131.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"131.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-i686\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"702b68d603bdb217fa56f0e257d15259fc45cc79\",\n  \"moz_update_channel\":
        \"default\",\n  \"target_alias\": \"i686-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"cadc9e51aca3f5188bec7aef6dbc32fc"'
      Last-Modified:
      - Thu, 07 Nov 2024 18:06:33 GMT
      x-goog-generation:
      - '1731002792984704'
      x-goog-hash:
      - crc32c=Ea+jEA==
      - md5=ytyeUayj9RiL7Hrvbbwy/A==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '373'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.linux-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.firefox.linux-opt\",\n
        \ \"taskId\": \"FC0195GnQhq1efQIfB7GkQ\",\n  \"rank\": 1750773550,\n  \"data\":
        {},\n  \"expires\": \"2025-07-22T14:04:19.255Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b7-8T+lYSqT8v4MzeC7U7NDWa5em6A"
      x-for-request-id:
      - ab7e2451-765f-48a2-acb0-4b8dabae15fa
      x-for-trace-id:
      - 2c4aae332c665a5c8a54950a747f086c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FC0195GnQhq1efQIfB7GkQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-22T14:04:19.255Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FC0195GnQhq1efQIfB7GkQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/FC0195GnQhq1efQIfB7GkQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-VKfgInkdA/nMjz5YLzRFyn3aNPc"
      location:
      - https://firefoxci.taskcluster-artifacts.net/FC0195GnQhq1efQIfB7GkQ/0/public/build/target.json
      x-for-request-id:
      - a266a8b8-efcd-4f11-a4d8-95d554a7ac14
      x-for-trace-id:
      - d30004b8e79e09fc7b036ddb6edf853e
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/FC0195GnQhq1efQIfB7GkQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu
        -m32\",\n  \"buildid\": \"20250624135910\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu -m32\",\n  \"cxx\":
        \"/builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-i686-linux-gnu
        -m32\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"142.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"142.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-i686\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"1ba37880aab86359b2f5a40784c821353bec574e\",\n  \"moz_update_channel\":
        \"nightly-try\",\n  \"target\": \"i686-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e6492f3c6202083c3823526690de5d1f"'
      Last-Modified:
      - Tue, 24 Jun 2025 16:01:15 GMT
      x-goog-generation:
      - '1750780875288279'
      x-goog-hash:
      - crc32c=Vm4ViA==
      - md5=5kkvPGICCDw4I1JmkN5dHw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '351'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.linux
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:26.823Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.linux\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:26.823Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"187-1uro5DLp1xiTkDOYT3+zn8t5RoE"
      x-for-request-id:
      - 0667fe4a-cf7d-4504-940c-2924856a834a
      x-for-trace-id:
      - ed2b5919644654aac4809fd4a8507ba9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.sm-linux-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:26.956Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.sm-linux-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:26.956Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-WCc2z94pY3tV4a+R6yO3NZbu4aQ"
      x-for-request-id:
      - 6c3bf244-213b-4520-af4b-c981baed2e46
      x-for-trace-id:
      - eb5321b5d74994a8b66728f264313700
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.sm-linux
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:27.090Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.sm-linux\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:27.090Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18a-EOviTc+rCGz0D80ZAa/KzPOJoKU"
      x-for-request-id:
      - 69f7910f-c9f1-4381-acd2-7a4cbf1b6990
      x-for-trace-id:
      - 5e77e1fdb2f9a0691dce31480340ed2c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:27.232Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.linux\"\n    },\n    \"payload\": {},\n    \"time\":
        \"2025-10-29T17:50:27.232Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"17d-lA/V+bxb8VV/V4xTuhOhywWPmbU"
      x-for-request-id:
      - 39229be6-522f-43fa-bfe9-e33c25d89498
      x-for-trace-id:
      - 1fa5c73a1e52b60a13c907d3e9b6a77f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:27.372Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-linux-opt\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:50:27.372Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"184-Om0ngqNFtWAxJyHrxD5I0egBzaU"
      x-for-request-id:
      - a8bc3546-2ea7-4bbd-bc71-362853f86abf
      x-for-trace-id:
      - db96211c8edf58d29b0afb0e1f38cf79
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:27.512Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-linux\"\n    },\n    \"payload\": {},\n    \"time\":
        \"2025-10-29T17:50:27.512Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"180-gnQtaUHjS6m20QeCoeP/29JCSxk"
      x-for-request-id:
      - 68096baf-866d-4c44-97e2-12d87e2ba51c
      x-for-trace-id:
      - 93dbee5928b5f670602c2abb9337a154
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.linux32-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:27.717Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.linux32-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:27.717Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18d-xN1U7+O/ZZgssKzav8DZgdUI6RE"
      x-for-request-id:
      - 354f232a-7aeb-42f2-928d-68de590d81be
      x-for-trace-id:
      - 27ea237fa1182a9e45776a5b8c77107a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.linux32
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:28.322Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.linux32\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:28.322Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"189-EhW+lb57J+1S40D61n3w5GgjhGM"
      x-for-request-id:
      - 54cb6042-8227-419a-9e76-cad025b50470
      x-for-trace-id:
      - 7ea7a95ea39d4bcbcb49311d3af1d938
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.sm-linux32-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:28.503Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.sm-linux32-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:28.503Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"190-SvrCege39qdU+UisErI2MZgImIA"
      x-for-request-id:
      - 5ffa1c38-37a5-48e6-9fd7-6e4d7aae4225
      x-for-trace-id:
      - 0b319075a8169f29edb1b68fddceaff7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.sm-linux32
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:28.629Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.sm-linux32\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-10-29T17:50:28.629Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18c-4MvWbBaGGgFZL+AhyKfRz37IvMU"
      x-for-request-id:
      - 9b6b4b32-6036-4bcd-bc24-4e2a6d197d68
      x-for-trace-id:
      - 34b9c757658c7d4934c0878da41285b8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux32-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:28.768Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.linux32-opt\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:50:28.768Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"183-uPJlDROyWCCA5ON4sqfSqvdBfdc"
      x-for-request-id:
      - 2351d199-ea80-42ef-bb7e-25c12220110b
      x-for-trace-id:
      - 49f8ffe2b3ffa628bf42f63002e25e80
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux32
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:28.921Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.linux32\"\n    },\n    \"payload\": {},\n    \"time\":
        \"2025-10-29T17:50:28.921Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"17f-QCWJhECHrZUfC4aaGjiwuX/q7Ck"
      x-for-request-id:
      - 852bb28f-60c8-4b12-8448-79c33de40878
      x-for-trace-id:
      - 5dd9ec46e0130dd9ebdc98019a91d2ce
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux32-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:29.048Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-linux32-opt\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:50:29.048Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"186-pINI2YKEN2TZOUnKJRc9Ctq1TbQ"
      x-for-request-id:
      - c23afdb4-993a-4368-bd48-ce61f1948db6
      x-for-trace-id:
      - 41cd5be8a2f0876f09d2a1832a37a5dd
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux32
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-10-29T17:50:29.179Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-linux32\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-10-29T17:50:29.179Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"182-dVNkgTBS0uvfdahKPBL6Ius/IqU"
      x-for-request-id:
      - bf9f8372-6732-4729-adf5-d132c8c6b673
      x-for-trace-id:
      - 264bbf0e8a28abccae8d70017a58f27b
    status:
      code: 404
      message: Not Found
version: 1
