interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-x86_64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-x86_64-opt\",\n
        \ \"taskId\": \"EqLRpq9MTNW_bAFkQijriA\",\n  \"rank\": 1731006632,\n  \"data\":
        {},\n  \"expires\": \"2024-12-05T19:15:48.373Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b5-g5kuJhLudaGmm1V2UwCZWJR9SKg"
      x-for-request-id:
      - 8a041e96-5e79-4892-9bd3-e3311366debc
      x-for-trace-id:
      - b5a519de230f21b9570028f646b41a52
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/EqLRpq9MTNW_bAFkQijriA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-05T19:15:48.373Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-05T19:15:48.373Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-05T19:15:48.373Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/EqLRpq9MTNW_bAFkQijriA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/EqLRpq9MTNW_bAFkQijriA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-q+yeWwymgowqofyJsfyQU7nbHQ8"
      location:
      - https://firefoxci.taskcluster-artifacts.net/EqLRpq9MTNW_bAFkQijriA/0/public/build/target.json
      x-for-request-id:
      - cadc9762-a9b4-4c06-8547-390aab3b11e9
      x-for-trace-id:
      - 0c4ff7e876372ae24fc14adbfe4f376e
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/EqLRpq9MTNW_bAFkQijriA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241107191032\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n  \"moz_app_maxversion\": \"133.0a1\",\n
        \ \"moz_app_name\": \"fennec\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"133.0a1\",\n  \"moz_pkg_platform\": \"android-x86_64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"b442f2368cc25eb49442da924871a06f27a7e40e\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"x86_64-pc-linux-android\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3ff83407cc8bf941fb77fa538c695d34"'
      Last-Modified:
      - Thu, 07 Nov 2024 19:24:35 GMT
      x-goog-generation:
      - '1731007475564313'
      x-goog-hash:
      - crc32c=qkRoLA==
      - md5=P/g0B8yL+UH7d/pTjGldNA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '295'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.mobile.android-x86_64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.mobile.android-x86_64-opt\",\n
        \ \"taskId\": \"L-iYEgUwTA2SUBxn9pjyzA\",\n  \"rank\": 1750778471,\n  \"data\":
        {},\n  \"expires\": \"2025-07-22T15:25:55.658Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bf-H+Rla6GPbpy75JzcKngAcOJ+NtY"
      x-for-request-id:
      - 6b3aaf2b-4bab-4377-9a89-764ec85a5647
      x-for-trace-id:
      - dd00de467356e11ca70a8a5f5451405a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/L-iYEgUwTA2SUBxn9pjyzA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-22T15:25:55.658Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/L-iYEgUwTA2SUBxn9pjyzA/artifacts/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/L-iYEgUwTA2SUBxn9pjyzA/1/public/build/en-US/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89-kHf9bzZlSI3bqriXUH8AZB1Ae5U"
      location:
      - https://firefoxci.taskcluster-artifacts.net/L-iYEgUwTA2SUBxn9pjyzA/1/public/build/en-US/target.json
      x-for-request-id:
      - 6918ead6-1981-46b2-a9b0-49c4c6da68cc
      x-for-trace-id:
      - 5b4dfa69fd09670d859cca21a20e9511
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/L-iYEgUwTA2SUBxn9pjyzA/1/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --target=x86_64-linux-android21\",\n
        \ \"buildid\": \"20250624152111\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --target=x86_64-linux-android21\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --targe[...]
