interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.mobile.android-arm-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.mobile.android-arm-opt\",\n
        \ \"taskId\": \"KRkCQJdoSFyKPwacUBBlAw\",\n  \"rank\": 1730923168,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:06:18.498Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b2-6lEMIRQr5qjQoPE2UxyjlUcRfgY"
      x-for-request-id:
      - 4dad1dd9-d1da-4ca1-9d6d-c24079759ed8
      x-for-trace-id:
      - 04ef5f67fac0a2966fbe190a3dbe93dd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KRkCQJdoSFyKPwacUBBlAw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T20:06:18.498Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T20:06:18.498Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/geckoview-androidTest.apk\",\n
        \     \"expires\": \"2024-12-04T20:06:18.498Z\",\n      \"contentType\": \"application/vnd.android.package-archive\"\n
        \   },\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KRkCQJdoSFyKPwacUBBlAw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KRkCQJdoSFyKPwacUBBlAw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-ZTFmPT9a8/miEEWJy6Ds+IjxvXE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KRkCQJdoSFyKPwacUBBlAw/0/public/build/target.json
      x-for-request-id:
      - 67d257d0-6108-4c2b-bfce-bf05e85e1a89
      x-for-trace-id:
      - fa6cfe0085224161842472088f8ff0ae
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KRkCQJdoSFyKPwacUBBlAw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20241106195928\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{aa3c5121-dab2-40e2-81ca-7ea25febc110}\",\n  \"moz_app_maxversion\": \"134.0a1\",\n
        \ \"moz_app_name\": \"fennec\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"134.0a1\",\n  \"moz_pkg_platform\": \"android-arm\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"97f8d4b836ead4036505ae95e70be05aa8780e1e\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"arm-unknown-linux-androideabi\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"65742cff9f8610495a1daf02571ecca9"'
      Last-Modified:
      - Wed, 06 Nov 2024 20:14:04 GMT
      x-goog-generation:
      - '1730924044198688'
      x-goog-hash:
      - crc32c=KnJ63g==
      - md5=ZXQs/5+GEElaHa8CVx7MqQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '308'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 633b16ec-efc4-426c-90b0-c24090323107
      x-for-trace-id:
      - 3df4fb64a918e85e3377910095ac873c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.mobile.android-arm-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest.mobile.android-arm-opt\",\n
        \ \"taskId\": \"UwkfzE0VTVyaKL48KzfoTg\",\n  \"rank\": 1730914552,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T17:43:29.244Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c7-gVlT/yOXKTxAx26cdsGRk1wfAYo"
      x-for-request-id:
      - c3474647-b780-4a79-a135-c048dccfd011
      x-for-trace-id:
      - 8df9a787cbf1c1e5cb99a7ef571ba325
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/UwkfzE0VTVyaKL48KzfoTg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T17:43:29.244Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/UwkfzE0VTVyaKL48KzfoTg/artifacts/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/UwkfzE0VTVyaKL48KzfoTg/0/public/build/en-US/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89-Md4+tM8DJqR7XAsZbPN1xRb5hpY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/UwkfzE0VTVyaKL48KzfoTg/0/public/build/en-US/target.json
      x-for-request-id:
      - 888f02c8-977f-4d3c-abe9-3f7dfe534277
      x-for-trace-id:
      - 76b4e4873c92241f57993b18f2a02871
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/UwkfzE0VTVyaKL48KzfoTg/0/public/build/en-US/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang -std=gnu99 --target=arm-linux-androideabi21\",\n
        \ \"buildid\": \"20241106173552\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        -std=gnu99 --target=arm-linux-androideabi21\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.97f8d4b836ead4036505ae95e70be05aa8780e1e.mobile.android-arm-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.97f8d4b836ead4036505ae95e70be05aa8780e1e.mobile.android-arm-opt\",\n
        \ \"taskId\": \"KRkCQJdoSFyKPwacUBBlAw\",\n  \"rank\": 1730923168,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T20:06:18.498Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"dd-ZSfgab+mwOTvEWhvEw3UUyvp3zA"
      x-for-request-id:
      - 74c4ab90-7798-4831-8518-aa96ed142266
      x-for-trace-id:
      - cd12e6754f289d6a6e098eae7f7d9e38
    status:
      code: 200
      message: OK
version: 1
