interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:07.033Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.macosx64-aarch64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-06T20:17:07.033Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18c-bGJegpwP91szWuIuC/lHv21kAxE"
      x-for-request-id:
      - 326d100b-d75b-4915-a6bf-2383820aae1e
      x-for-trace-id:
      - 7f1f45aafb80be0b4d2128180a21e003
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.macosx64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:07.172Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.macosx64-aarch64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-06T20:17:07.172Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"188-YgIfHStM6fX/DQjhV9r0mNPtQDU"
      x-for-request-id:
      - dbef1e4a-ebf9-4a40-9274-430e4b800bbe
      x-for-trace-id:
      - 44e3da85b4a47604977c289e9c23033b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:07.318Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-macosx64-aarch64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-06T20:17:07.318Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18f-6OtBoFIPpTk2E6RA9U9tMiPlv/g"
      x-for-request-id:
      - 0eeccb6c-951a-49fe-988e-294ac31fca56
      x-for-trace-id:
      - 69980ea2b31d094afa001de5fb16bff9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-macosx64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:07.465Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-macosx64-aarch64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2024-11-06T20:17:07.465Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"18b-Ks9DNccizlJC7oYY//9ULH0C1Y8"
      x-for-request-id:
      - 78deac5b-c08c-43ff-977f-db78cb0abb62
      x-for-trace-id:
      - ab03a88a668307cdd43ef6e5204f8385
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.firefox.macosx64-aarch64-opt\",\n
        \ \"taskId\": \"R-VcrJ-YQdm_mVOrXKLZmA\",\n  \"rank\": 1730916696,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T18:17:03.335Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c2-WxSBZbMmEtNSFQtVAoeLZ+5dWxI"
      x-for-request-id:
      - 2aed63da-2dfe-451d-a1db-51b67ba18c48
      x-for-trace-id:
      - 50e545eaee00f13847bdcf22be6f966a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/R-VcrJ-YQdm_mVOrXKLZmA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T18:17:03.335Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T18:17:03.335Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2024-12-04T18:17:03.335Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/R-VcrJ-YQdm_mVOrXKLZmA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/R-VcrJ-YQdm_mVOrXKLZmA/1/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-a7OGfYjKrcWoGsh4kWhmb972VLQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/R-VcrJ-YQdm_mVOrXKLZmA/1/public/build/target.json
      x-for-request-id:
      - def5ec27-6ce5-483b-82e6-6dac9ab1de83
      x-for-trace-id:
      - 4ed97f28d36013ffa96b62c53bce7a7e
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/R-VcrJ-YQdm_mVOrXKLZmA/1/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=11.0 -std=gnu99 --target=aarch64-apple-darwin\",\n  \"buildid\":
        \"20241106181136\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang -isysroot
        /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=11.0 -std=gnu99
        --target=aarch64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=11.0
        -stdlib=libc++ --target=aarch64-apple-darwin\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n
        \ \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\":
        \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"134.0a1\",\n  \"moz_pkg_platform\": \"mac\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"bce654727f7fb95cc31d702a87bb54f07a287194\",\n
        \ \"moz_update_channel\": \"nightly-try\",\n  \"target\": \"aarch64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e17fe18e7315b1cc2560ca094eb08cca"'
      Last-Modified:
      - Wed, 06 Nov 2024 20:05:08 GMT
      x-goog-generation:
      - '1730923508265091'
      x-goog-hash:
      - crc32c=JfgW0w==
      - md5=4X/hjnMVscwlYMoJTrCMyg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '407'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - 4c4e01d1-bc60-4e51-a92f-16a1eb56afae
      x-for-trace-id:
      - 507c69fcd53189a9a00cf9482145f5eb
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest.firefox.macosx64-aarch64-opt\",\n
        \ \"taskId\": \"R-VcrJ-YQdm_mVOrXKLZmA\",\n  \"rank\": 1730916696,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T18:17:03.335Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cd-YUHcPQCt3cKOA+ThqvaWlAl2+HA"
      x-for-request-id:
      - 72b69421-3696-4b23-87f2-8f982301b0ce
      x-for-trace-id:
      - 02e79f1fbf7e104d580a68e473ec0acd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:08.973Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.macosx64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:08.973Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b7-a4Ua8BRsvR5t+IhboDTHO84yEtc"
      x-for-request-id:
      - 2d0ccc6d-dd0d-4162-909e-3179d4060b3c
      x-for-trace-id:
      - 0f0d58d86424355a24153dd8f1b1ab45
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.macosx64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:09.110Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.macosx64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:09.110Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b3-ms1YUs8VgwE3UifsPrFF/l+3vuM"
      x-for-request-id:
      - 6abc636f-3b94-4ce6-a35b-4edd1f289661
      x-for-trace-id:
      - ec28022b7dc77985a6c9895dc9790cdc
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.sm-macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:09.247Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.sm-macosx64-aarch64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:09.247Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ba-GIJr+tcI69OBJfjDvTHILk/tcgQ"
      x-for-request-id:
      - 3bb31996-6f57-435e-9aa1-95e80a5a84a5
      x-for-trace-id:
      - 67bbf10f2de0c0571492f93c9062ffcb
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.sm-macosx64-aarch64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:17:09.383Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.sm-macosx64-aarch64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:17:09.383Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1b6-1IWbHL6ONDprhdFtLzsY/v8fZ6c"
      x-for-request-id:
      - d48fad4c-0043-4ea9-bb00-1595c03a9abc
      x-for-trace-id:
      - bb45a5f797eadd3a3303fd33aef1ffcb
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.macosx64-aarch64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.revision.bce654727f7fb95cc31d702a87bb54f07a287194.firefox.macosx64-aarch64-opt\",\n
        \ \"taskId\": \"R-VcrJ-YQdm_mVOrXKLZmA\",\n  \"rank\": 1730916696,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T18:17:03.335Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ed-lwN+ZeC5HLH1OY664ArcsEv2GCo"
      x-for-request-id:
      - b4d5d52e-e406-4e57-b3fd-39ca1f9e042a
      x-for-trace-id:
      - b1cadfd82d8e6b3f633fff7f0f3ccf24
    status:
      code: 200
      message: OK
version: 1
