interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.win64-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.win64-debug\",\n
        \ \"taskId\": \"W9k7-hkXRRGfpUAlccihoA\",\n  \"rank\": 1730920721,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T19:24:00.422Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"af-OTFeOJ3xSdv+y0mc4hexZF0d/HQ"
      x-for-request-id:
      - 712743be-459c-400a-aa61-c2fabf35e7a2
      x-for-trace-id:
      - 277ecd87fd1ad9ce12559c62d8ce8129
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/W9k7-hkXRRGfpUAlccihoA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T19:24:00.422Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2024-12-04T19:24:00.422Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/install/sea/target.installer.exe\",\n
        \     \"expires\": \"2024-12-04T19:24:00.422Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/W9k7-hkXRRGfpUAlccihoA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/W9k7-hkXRRGfpUAlccihoA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-0G4ZFrjaVccarJRl3zQVDD22IBw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/W9k7-hkXRRGfpUAlccihoA/0/public/build/target.json
      x-for-request-id:
      - c7dad765-efd4-4016-84fb-8efb655c5599
      x-for-trace-id:
      - ae9086dff99f3b888daa232c7d70f87c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/W9k7-hkXRRGfpUAlccihoA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20241106191841\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -std:c++17 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"win64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/try\",\n
        \ \"moz_source_stamp\": \"9181e23fdf761f0b245e35c039e33a8cf0d784b8\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"96500771b95a847bb6259f3787d548b1"'
      Last-Modified:
      - Wed, 06 Nov 2024 19:47:46 GMT
      x-goog-generation:
      - '1730922466363456'
      x-goog-hash:
      - crc32c=I0CRxA==
      - md5=llAHcblahHu2JZ83h9VIsQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '446'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.shippable.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.try.shippable.2024.11.06.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2024-12-07T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"13c-UbnTphow5eVYHroHcRDndQeWtQk"
      x-for-request-id:
      - c01dee74-b07b-4a17-980b-bfbc455b3419
      x-for-trace-id:
      - 5af5fd5db3e4a9be712bc2e1f57e5bd6
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.try.pushdate.2024.11.06
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.try.pushdate.2024.11.06.20241106003015\",\n
        \     \"name\": \"20241106003015\",\n      \"expires\": \"2024-12-06T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.win64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:49.469Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.win64-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:18:49.469Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"198-6kJ2vmUVvtrXaiSA2w4SRB4wMhE"
      x-for-request-id:
      - c315357d-f8a5-41fe-bd49-7be376940279
      x-for-trace-id:
      - dfee528336d9dcbaccdf15a06f092ee5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-win64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:49.604Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.latest.firefox.sm-win64-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:18:49.604Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19b-P/qwppsmrUuKucgpe3pd6gBJdD8"
      x-for-request-id:
      - a7e44088-8558-4ed6-b362-252ac8ad96d9
      x-for-trace-id:
      - 6bfb9f545497a846a1a8e785974ab02d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.win64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:49.742Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.win64-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:18:49.742Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19a-se5nrktBMHhH4U6PJuCv980xth8"
      x-for-request-id:
      - 043f3b53-0a0e-41b6-bbca-24c58b50487d
      x-for-trace-id:
      - 88e67dacc22423e4a8e7c23f80f56bb7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-win64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:49.881Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.2024.11.06.revision.firefox.sm-win64-debug\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:18:49.881Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19d-ebgSknbHxOh3b3xsVmXfIHQY1NU"
      x-for-request-id:
      - 48f8dd1e-0750-4552-a486-d23f141a9f70
      x-for-trace-id:
      - 45e898345848ea3ad1712646bb81c9d4
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.win64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:50.012Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.win64-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:18:50.012Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-nqhu97sw9yQzCIIzdxMV+Q0ldKQ"
      x-for-request-id:
      - 3038e650-9920-4a4a-b5c8-4a3bdf7d9fd6
      x-for-trace-id:
      - 54194a68063ca8e2ca0bec87551c75dc
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-win64-debug
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:18:50.164Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.pushdate.2024.11.06.20241106003015.firefox.sm-win64-debug\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-11-06T20:18:50.164Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-POl0Wf+nsUnUOnH6QLWb+jQWlvs"
      x-for-request-id:
      - 56020ad7-2404-44e7-ad68-0585b321ee90
      x-for-trace-id:
      - bd6fecfe9cb8686c4af707e4471e0b5c
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/AxPCCHK6SbatUTHL7BkyqQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2024-12-04T03:39:50.463Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/AxPCCHK6SbatUTHL7BkyqQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/AxPCCHK6SbatUTHL7BkyqQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-ld7JS/L5ktiXbd1giL4uJ7esAH0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/AxPCCHK6SbatUTHL7BkyqQ/0/public/build/target.json
      x-for-request-id:
      - 1c33f003-2c7c-44e9-997b-1d4f304b953b
      x-for-trace-id:
      - a2de401cd8eedf4e46d4514c7508be02
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/AxPCCHK6SbatUTHL7BkyqQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20241106033418\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -std=gnu99 -Xc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.revision.9181e23fdf761f0b245e35c039e33a8cf0d784b8.firefox.win64-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.revision.9181e23fdf761f0b245e35c039e33a8cf0d784b8.firefox.win64-debug\",\n
        \ \"taskId\": \"W9k7-hkXRRGfpUAlccihoA\",\n  \"rank\": 1730920721,\n  \"data\":
        {},\n  \"expires\": \"2024-12-04T19:24:00.422Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"da-Fuu5giyITYUZ+2dNsJjdr3iwnVg"
      x-for-request-id:
      - 82c47feb-8dbb-41ec-8aeb-3fffbeceee95
      x-for-trace-id:
      - 444dfadf485c3bf0c955183934d2bc7d
    status:
      code: 200
      message: OK
version: 1
