interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.12.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:38.296Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.12.firefox.linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-06-11T19:50:38.296Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19c-gbgKwn7pMYVifZTew42e5coYSiw"
      x-for-request-id:
      - 49e82443-a4ec-4cb4-8910-6af4f2caa4e4
      x-for-trace-id:
      - e8ca970b6c60990176528aa11e34c512
    status:
      code: 404
      message: Not Found
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2025.06.11
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2025.06.11.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2026-06-13T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2025.06.11.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2026-06-14T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-MhGm2A35OkyXWMBsKLIzzp6HsaM"
      x-for-request-id:
      - 6c0affcf-adfc-4dcb-9338-9029764dbb6c
      x-for-trace-id:
      - c286652fa144d2e8127c25cb49713165
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2025.06.11
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925\",\n
        \     \"name\": \"20250611094925\",\n      \"expires\": \"2025-09-11T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611183851\",\n
        \     \"name\": \"20250611183851\",\n      \"expires\": \"2026-06-13T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.11.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2026-06-13T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"209-VN6ZTb9ckP5aHzZdJDWjtlxLZ8Y"
      x-for-request-id:
      - c1f0abef-301b-408f-9ee3-e4dccf90db36
      x-for-trace-id:
      - 74dd3b890782e0de74e255c141f1d703
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:38.611Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:38.611Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a4-vlwhWhY07V8YrweEFL/GiEBk8HA"
      x-for-request-id:
      - f5890f11-d745-4be2-aeca-f5776d541593
      x-for-trace-id:
      - 48e4e26fe399c8f019d2265c2e00e50a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:38.747Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:38.747Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-VSNQKlhwdhyRh+VBuJ20E6N0Wk0"
      x-for-request-id:
      - 6b828ff2-2d2c-42dc-b716-0c5b6a35f4bd
      x-for-trace-id:
      - dcaef8bf0523eca76779b9a92887e4bb
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:38.836Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:38.836Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-XSD8MM2QBX9kNmekl7ylqSKlDH8"
      x-for-request-id:
      - e88ba304-8433-4855-9c97-401db1da0b15
      x-for-trace-id:
      - 5b78e726e0b729f6742301af27ff2c8b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:38.927Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:38.927Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-eEQud3CMS2Yqpp3I3eVBuw8OMBs"
      x-for-request-id:
      - e230531b-21ef-45e8-b4db-d3a6f1553e7c
      x-for-trace-id:
      - 93d1e820415a41c6e3f4c628ee407765
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:39.075Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:39.075Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-kDLUVyux9kcTie05E8+Hnw8EPMM"
      x-for-request-id:
      - 1c5dab80-86c5-4923-aa22-db34e576884f
      x-for-trace-id:
      - 69cbd83855fb0259c4f5fcefb7adeb73
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:39.195Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:39.195Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-+EpSwNhpiCdFhvtEY15P6D+Bemg"
      x-for-request-id:
      - 60ea7ecc-6aa3-4926-9a73-afa47ee54163
      x-for-trace-id:
      - 67f1d6edf0265b977fff358190c98c2e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:39.302Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:39.302Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-IDpyZLf4TLWqT+JGpkus2su4QD4"
      x-for-request-id:
      - 4e70cb62-3b10-4c94-8642-ec6efe73f37f
      x-for-trace-id:
      - 8d1fd0e1c7fd6e00afdfc24a7c725972
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:39.395Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.11.revision.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:39.395Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-E1MFymu/43MpYnfjSQKb4jmWvgc"
      x-for-request-id:
      - e324e043-84cd-469a-be99-48849be6e291
      x-for-trace-id:
      - 071a07b871e9c623f9d8c217843a1ade
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:39.489Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:39.489Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ab-WfLsCXfMGAYSN6HQNlf64n/YYko"
      x-for-request-id:
      - 81708f6b-a2a5-43ba-ae2e-0b6286280a7f
      x-for-trace-id:
      - 34be4c25d79cf8a5ef6bfb7d8c3e1bc4
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:39.599Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:39.599Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-jjpsy2y8Fthrwy6IOVN+ukPDRSU"
      x-for-request-id:
      - 3bee3a40-e47e-4f74-b86a-c463c893737d
      x-for-trace-id:
      - e10d2475bb94395882560f9d280385cb
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:39.708Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:39.708Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-1jM0Agg9mLxyiXIv2NK4dIh3yOI"
      x-for-request-id:
      - 22fc5e62-3ea3-4d63-921c-33074ac2da62
      x-for-trace-id:
      - 018a08b445f463cfd03b8e9ce299195e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:39.813Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611094925.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:39.813Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-i0AOk/zumN1/gtOqzTu8i2LbD6g"
      x-for-request-id:
      - e5d76fa6-66e0-4edf-8fba-b55de7f2ae54
      x-for-trace-id:
      - 7540313cbf3da29e2b6b5919028fb6c1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.20250611183851.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.11.20250611183851.firefox.linux64-opt\",\n
        \ \"taskId\": \"KH_X44I_Sw2vkQgi4CYZxw\",\n  \"rank\": 1749667131,\n  \"data\":
        {},\n  \"expires\": \"2026-06-11T18:42:29.790Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d7-qAhajjTR1rAnHaGhvqyq2SuQDNw"
      x-for-request-id:
      - 87dceb3c-cf2f-4bc7-88bc-4acd61309a66
      x-for-trace-id:
      - 2c468d254d4dd3b938fad775c13413a6
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"KH_X44I_Sw2vkQgi4CYZxw\",\n  \"rank\": 1749667131,\n  \"data\":
        {},\n  \"expires\": \"2026-06-11T18:42:29.790Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cf-q8XViSR7cXuLaJZFjcba2oEDYQU"
      x-for-request-id:
      - 9e0c389d-d46d-4412-807f-932378680622
      x-for-trace-id:
      - c5c488d0aee9742eb5957ffd20cdbb56
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:40.367Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:40.367Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-/m0V1IxuxOSlZjrDNuJk/apFZfg"
      x-for-request-id:
      - e177ed46-ac87-4136-8ca4-e0a2b31b3ae1
      x-for-trace-id:
      - fc223b9d93696fa83b8f0d545f6c38b3
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:40.492Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:40.492Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-9F4qH6L8hL9lHj8gl4wqvlOAino"
      x-for-request-id:
      - 5b148226-9e5f-4f3f-96e4-e7cf84fc6e2f
      x-for-trace-id:
      - c09962abfa8a775e37a2bde2c942f3de
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-06-11T19:50:40.584Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.11.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-06-11T19:50:40.584Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-aPspAwbyjeEVVWjdIMw5z1ITqeA"
      x-for-request-id:
      - c796c9f3-230e-472c-a32b-1287164c241b
      x-for-trace-id:
      - d63babe028e1c888660e7ca4de0e9389
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KH_X44I_Sw2vkQgi4CYZxw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-11T18:42:29.790Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-06-11T18:42:29.790Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-06-11T18:42:29.790Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KH_X44I_Sw2vkQgi4CYZxw/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-z0v5s0+BLpR4dL4nv65tNhqSXhs"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.mozinfo.json
      x-for-request-id:
      - 2f011395-1af8-4697-8413-0deab716f91d
      x-for-trace-id:
      - c8de47cd303cc9df34b6bf357da5c7cc
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"opt\",\n    \"buildtype_guess\":
        \"opt\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"dbus_enabled\": true,\n    \"debug\":
        false,\n    \"devedition\": false,\n    \"early_beta_or_earlier\": true,\n
        \   \"gecko_profiler\": true,\n    \"healthreport\": true,\n    \"isolated_process\":
        false,\n    \"mingw\": false,\n    \"mozconfig\": \"/builds/worker/checkouts/gecko/.mozconfig\",\n
        \   \"nightly_build\": true,\n    \"normandy\": true,\n    \"official\": true,\n
        \   \"opt\": true,\n    \"os\": \"linux\",\n    \"pgo\": false,\n    \"platform_guess\":
        \"linux64\",\n    \"processor\": \"x86_64\",\n    \"release_or_beta\": false,\n
        \   \"require_signing\": false,\n    \"stylo\": true,\n    \"sync\": true,\n
        \   \"telemetry\": false,\n    \"tests_enabled\": true,\n    \"toolkit\":
        \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n    \"topsrcdir\":
        \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n    \"ubsan\":
        false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"f7d209ae5e1b0baafaf5fbf90e1441f9"'
      Last-Modified:
      - Wed, 11 Jun 2025 19:08:10 GMT
      x-goog-generation:
      - '1749668890262712'
      x-goog-hash:
      - crc32c=uQgVCg==
      - md5=99IJrl4bC6r69fv5DhRB+Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '424'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KH_X44I_Sw2vkQgi4CYZxw/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"85-9kzMqNRTJDoZC/3/yJZLfTTZEvI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.tar.xz
      x-for-request-id:
      - 69af73f5-bac7-4257-bb81-ad1bd62088a2
      x-for-trace-id:
      - 0ae581365158e6ebfe8c61dd2bfb63e8
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KH_X44I_Sw2vkQgi4CYZxw/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-zyurGUZBQRnmW6wcaFzjIL5eO5k"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - bcd8f586-4c34-4138-8858-a3dda194c2da
      x-for-trace-id:
      - 2cb86ebfdf6471b351e90fd469e4945c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KH_X44I_Sw2vkQgi4CYZxw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-yN27b3TzzjrEKUKoxmC+nPh1fis"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.json
      x-for-request-id:
      - 84f28934-a77a-4a21-aa5d-76d1605e1d05
      x-for-trace-id:
      - ee551d13c697ec9610b171ed6dd6e8da
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KH_X44I_Sw2vkQgi4CYZxw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20250611183851\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"141.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"141.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"38c0da99155f48368a184fe60e352259535fa464\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"26dee427a0309751d65af7b984559978"'
      Last-Modified:
      - Wed, 11 Jun 2025 19:08:08 GMT
      x-goog-generation:
      - '1749668888136484'
      x-goog-hash:
      - crc32c=Sqrb0A==
      - md5=Jt7kJ6Awl1HWWve5hFWZeA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '350'
    status:
      code: 200
      message: OK
version: 1
