interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-release.shippable.latest.thunderbird.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"comm.v2.comm-release.shippable.latest.thunderbird.linux64-opt\",\n
        \ \"taskId\": \"CPI19i0uSWmaK8cw71TaKg\",\n  \"rank\": 1762464021,\n  \"data\":
        {},\n  \"expires\": \"2026-11-06T21:24:23.468Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c5-9iW/tCj/9PHrJfE7zes41c8GqSM"
      x-for-request-id:
      - 425f58ad-794f-4515-a9e1-0a3a3a624d1a
      x-for-trace-id:
      - 5d71b9bc5c82a93024ac32aa57f2faf3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-release.shippable.latest.thunderbird.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:21.705Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-release.shippable.latest.thunderbird.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:21.705Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-nfTDJJi4rHTP+UJohGDEgo28RXI"
      x-for-request-id:
      - 25b6d8d8-6b73-477b-be9f-9bdfccf4c332
      x-for-trace-id:
      - 4ce059ce9b800db767a418fc40964554
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-release.shippable.latest.thunderbird.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:21.973Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-release.shippable.latest.thunderbird.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:15:21.973Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19c-ANBxcZ2qs3Ho5bDsC8R0JPEbTlc"
      x-for-request-id:
      - 02c902c0-d5fa-450d-9cf7-68c228ea4a27
      x-for-trace-id:
      - 667f31bf6a758f34c1287d731f457b12
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-release.shippable.latest.thunderbird.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:22.270Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-release.shippable.latest.thunderbird.sm-linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:15:22.270Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"198-ggk6gTYXKcx9n8ODoy9ClMcTx18"
      x-for-request-id:
      - f2201dd2-c434-4f84-9fa9-38fdacbe0453
      x-for-trace-id:
      - 3312188f02b19575bf4fa420c36978b9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-release.latest.thunderbird.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:22.501Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-release.latest.thunderbird.linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:22.501Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18f-cvkcg1dQVVG2EBtdoW0TDpDBvwc"
      x-for-request-id:
      - af2096fb-2927-4a1c-8900-a728287cfc18
      x-for-trace-id:
      - f4e55483e69c6d811f422d3a661e422f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-release.latest.thunderbird.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:22.773Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-release.latest.thunderbird.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:22.773Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18b-1sJW5Refhx8EGpTa2kdS9hjMZxA"
      x-for-request-id:
      - a66b2220-2354-4635-8112-d2044600a56a
      x-for-trace-id:
      - 5b8535317f003c4353e06fa1c1042616
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-release.latest.thunderbird.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:23.016Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-release.latest.thunderbird.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:23.016Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-S27wcGoLv9aHDS9nVHi1qXUehXc"
      x-for-request-id:
      - 7a8e77b9-a4c6-42b2-8ebe-5d4c72d72cee
      x-for-trace-id:
      - 3c63e24d55fb2e8ec2fabdee880aa86d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-release.latest.thunderbird.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:23.333Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-release.latest.thunderbird.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:23.333Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-9Si75kvRfzgdXe59mOOMl8iYcQk"
      x-for-request-id:
      - f2020738-ae2d-4697-81a1-bd14271546ef
      x-for-trace-id:
      - 2332807344f2792912aecad83aefeb6d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CPI19i0uSWmaK8cw71TaKg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-11-06T21:24:23.468Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-11-06T21:24:23.468Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-11-06T21:24:23.468Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/CPI19i0uSWmaK8cw71TaKg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/CPI19i0uSWmaK8cw71TaKg/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-PMRSaNG/+Xa/hLR1cHLeEXrDaZY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/CPI19i0uSWmaK8cw71TaKg/0/public/build/target.json
      x-for-request-id:
      - dcc59012-a66e-4d56-932c-a65f866b7a09
      x-for-trace-id:
      - 3552dcf53842946981d38d9a2d95709f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/CPI19i0uSWmaK8cw71TaKg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20251106212021\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{3550f703-e582-4d05-9a08-453d09bdfdc6}\",\n
        \ \"moz_app_maxversion\": \"145.*\",\n  \"moz_app_name\": \"thunderbird\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"145.0\",\n  \"moz_pkg_platform\":
        \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/releases/comm-release\",\n
        \ \"moz_source_stamp\": \"549b72eb1b19d4742e6099000846f6b7c4b8738d\",\n  \"moz_update_channel\":
        \"release\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2bf71dbfd2e99f07fae6cd9943dcf8c3"'
      Last-Modified:
      - Thu, 06 Nov 2025 22:21:36 GMT
      x-goog-generation:
      - '1762467696250727'
      x-goog-hash:
      - crc32c=n7g9EQ==
      - md5=K/cdv9Lpnwf65s2ZQ9z4ww==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '348'
    status:
      code: 200
      message: OK
version: 1
