interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.autoland.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.autoland.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"MFuPX4JZSFONeU5wgwKZwg\",\n  \"rank\": 1762527012,\n  \"data\":
        {},\n  \"expires\": \"2026-11-07T14:57:31.063Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"be-6TeK87tyoTrx3DG96YUwr7uRn14"
      x-for-request-id:
      - 9ba215df-1d49-44be-bb8a-4c5e14de9622
      x-for-trace-id:
      - 6e90251776a28c0b5b39cad3d4470aaa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.autoland.shippable.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:16:13.577Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.autoland.shippable.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:16:13.577Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-hUr5yCzZxL/CwO8MuQ6XZ1nK4So"
      x-for-request-id:
      - e48c4976-7172-4b5a-ad67-21c39fcd0f07
      x-for-trace-id:
      - 0977ed41d58a86134d621c2e028927be
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.autoland.shippable.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:16:13.885Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.autoland.shippable.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:16:13.885Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-Tpw7yy+rakouKcoOro5P6QfjKMo"
      x-for-request-id:
      - 1bc36fe4-218e-46a6-bd83-12f427fd6a2f
      x-for-trace-id:
      - 55e124e583d34e118a15728eb5bc26e8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.autoland.shippable.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:16:14.137Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.autoland.shippable.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:16:14.137Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"191-sqxiDJLcPyqj5IGQ8GA2z9ZzpCI"
      x-for-request-id:
      - 4537aac1-f7e1-46cd-a90b-a178dda441bf
      x-for-trace-id:
      - 643b2256ec609fe346558847587bcf6b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.autoland.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.autoland.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"aBRA7KDwS7mS9_goxaNRvw\",\n  \"rank\": 1762534513,\n  \"data\":
        {},\n  \"expires\": \"2026-11-07T17:03:42.956Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b4-VPbJJ9WYfwUmcmG2QFubZ766LGQ"
      x-for-request-id:
      - a6937792-1581-4df8-8d32-fa7544008130
      x-for-trace-id:
      - eb9b61a49f867bd9cef9480b01a191f0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.autoland.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:16:14.664Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.autoland.latest.firefox.linux64\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-11-07T17:16:14.664Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"184-Zi7z0o9KFkOnN0A/ZrDPL9wqHyc"
      x-for-request-id:
      - 3cf32805-d994-41fe-9646-0acff94e655e
      x-for-trace-id:
      - 0dfc6978719c9965470116676fca7b4b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.autoland.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:16:14.926Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.autoland.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:16:14.926Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18b-wt+w7zVeaIs9tTln21Tf163b85Y"
      x-for-request-id:
      - 4a0b4806-791a-4a8c-a67f-37851d91464e
      x-for-trace-id:
      - d8d9ef766b9795b55a2f5d36945f2dfa
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.autoland.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:16:15.230Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.autoland.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:16:15.230Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"187-+d9WXidYPqrbEuCawUIMRRhNULk"
      x-for-request-id:
      - 15d6a3b1-392f-44a6-9348-25ddcf70d15e
      x-for-trace-id:
      - 99f3552470eecea2650685a4f4a07ebd
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aBRA7KDwS7mS9_goxaNRvw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-11-07T17:03:42.956Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-11-07T17:03:42.956Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-11-07T17:03:42.956Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aBRA7KDwS7mS9_goxaNRvw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/aBRA7KDwS7mS9_goxaNRvw/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-/rWoOQvyKIExlShzCzHCaPg2yZQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/aBRA7KDwS7mS9_goxaNRvw/0/public/build/target.json
      x-for-request-id:
      - d93b5b6d-3e68-44b4-af39-1497d6e828f8
      x-for-trace-id:
      - 11f7ffd2b2db70d24711e85e58b25abe
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/aBRA7KDwS7mS9_goxaNRvw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20251107165513\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"146.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"146.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/integration/autoland\",\n
        \ \"moz_source_stamp\": \"1862fc377cb8edbab13546b92db977069add8d0c\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c757dd57ab4650c4066f2e2814522596"'
      Last-Modified:
      - Fri, 07 Nov 2025 17:14:30 GMT
      x-goog-generation:
      - '1762535670931566'
      x-goog-hash:
      - crc32c=JIc3gw==
      - md5=x1fdV6tGUMQGby4oFFIllg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '360'
    status:
      code: 200
      message: OK
version: 1
