interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.macosx64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.macosx64-fuzzing-debug\",\n
        \ \"taskId\": \"O7vblV0hRtm3tOHKva5N8g\",\n  \"rank\": 1731578240,\n  \"data\":
        {},\n  \"expires\": \"2025-11-14T10:04:29.846Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c6-BAq6apw1bB8l8c4PLmvu2pYwsDg"
      x-for-request-id:
      - f34b4641-a628-4c18-bce4-75d4215b9516
      x-for-trace-id:
      - 47a418f6a47b159d8a19ec1940c80164
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/O7vblV0hRtm3tOHKva5N8g/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-14T10:04:29.846Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-14T10:04:29.846Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-14T10:04:29.846Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/O7vblV0hRtm3tOHKva5N8g/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/O7vblV0hRtm3tOHKva5N8g/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-ND9YoTAXPcpU+gdcNl9RkUK+zfA"
      location:
      - https://firefoxci.taskcluster-artifacts.net/O7vblV0hRtm3tOHKva5N8g/0/public/build/target.json
      x-for-request-id:
      - 61cf2042-3f9c-4280-bc14-8828aebe70fa
      x-for-trace-id:
      - 61f4b611c8f05365b88a1c34f901f9c7
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/O7vblV0hRtm3tOHKva5N8g/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"buildid\": \"20241114095720\",\n
        \ \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        -isysroot /builds/worker/fetches/MacOSX14.4.sdk -mmacosx-version-min=10.15
        -std=gnu99 --target=x86_64-apple-darwin\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ -isysroot /builds/worker/fetches/MacOSX14.4.sdk
        -mmacosx-version-min=10.15 -stdlib=libc++ --target=x86_64-apple-darwin\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"mac-fuzzing\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"7d29edd4cb622dad685c4047a63441e3e14b0c8b\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-apple-darwin\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"1bdcfb22cc9d3b08d97c32e602d81e1f"'
      Last-Modified:
      - Thu, 14 Nov 2024 10:36:12 GMT
      x-goog-generation:
      - '1731580571959396'
      x-goog-hash:
      - crc32c=Sm1IZg==
      - md5=G9z7IsydOwjZfDLmAtgeHw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '420'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/O7vblV0hRtm3tOHKva5N8g/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/O7vblV0hRtm3tOHKva5N8g/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-pjO0X+X6ewv7gsYpRjJyhzwPh5I"
      location:
      - https://firefoxci.taskcluster-artifacts.net/O7vblV0hRtm3tOHKva5N8g/0/public/build/target.mozinfo.json
      x-for-request-id:
      - d0f87928-e8c8-414a-a643-2ae50dc718c3
      x-for-trace-id:
      - 6981b2cd6753faf192a987cd05102e82
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/O7vblV0hRtm3tOHKva5N8g/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"debug\",\n    \"buildtype_guess\":
        \"debug\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"debug\": true,\n    \"devedition\":
        false,\n    \"domstreams\": true,\n    \"early_beta_or_earlier\": true,\n
        \   \"healthreport\": true,\n    \"isolated_process\": false,\n    \"mozconfig\":
        \"/builds/worker/checkouts/gecko/.mozconfig\",\n    \"nightly_build\": true,\n
        \   \"normandy\": true,\n    \"official\": true,\n    \"opt\": false,\n    \"os\":
        \"mac\",\n    \"pgo\": false,\n    \"platform_guess\": \"macosx64\",\n    \"processor\":
        \"x86_64\",\n    \"release_or_beta\": false,\n    \"require_signing\": false,\n
        \   \"stylo\": true,\n    \"sync\": true,\n    \"telemetry\": false,\n    \"tests_enabled\":
        true,\n    \"toolkit\": \"cocoa\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n
        \   \"topsrcdir\": \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n
        \   \"ubsan\": false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"81518b78cfbf100c2c8bef09e35ffad3"'
      Last-Modified:
      - Thu, 14 Nov 2024 10:36:15 GMT
      x-goog-generation:
      - '1731580574987048'
      x-goog-hash:
      - crc32c=7CSFoQ==
      - md5=gVGLeM+/EAwsi+8J41/60w==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '414'
    status:
      code: 200
      message: OK
version: 1
