interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"SdwtPwcLQb6tK3MKyJHrWQ\",\n  \"rank\": 1762530699,\n  \"data\":
        {},\n  \"expires\": \"2025-12-05T15:54:33.436Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b9-6pDtSGQkISIF20woTLuWd/E8klw"
      x-for-request-id:
      - 530456ab-13b6-4679-9802-7433849b6c01
      x-for-trace-id:
      - 1a8f8793e4e6594af90a8c5d543534cc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:51.887Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:14:51.887Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"189-sN8Q/STfLOBRRa8xbIyiq96iFH0"
      x-for-request-id:
      - 952306e1-2587-4b23-9817-2b454e9c3723
      x-for-trace-id:
      - 6d80a17a0752a7b774e83deb10ea4d37
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:52.136Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:14:52.136Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"190-3nxt4v+9X0T+wDBZn+WfAsL7fp4"
      x-for-request-id:
      - 2279576b-7f00-4744-8cfc-51d9938573e6
      x-for-trace-id:
      - 3a18a006cd55055512eac28db3089a9e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.shippable.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:52.356Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.shippable.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:14:52.356Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18c-kICP2xS3V1WG3BJVpfYinqUR/us"
      x-for-request-id:
      - 361e57ca-67a3-402c-9f2c-361c93789627
      x-for-trace-id:
      - 12b38397741fa9562d1841f2b7c8fd8a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.try.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"Veb5PCF2SVeylXNykpz0xg\",\n  \"rank\": 1762534543,\n  \"data\":
        {},\n  \"expires\": \"2025-12-05T16:58:19.455Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"af-HsglVhjbDOdLH6L998JuKMF05f4"
      x-for-request-id:
      - 8a611013-6efe-4dbd-a644-5894472276a1
      x-for-trace-id:
      - ae2c00f68f683bf61e3bd3e96ccc391d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:52.854Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.linux64\"\n    },\n    \"payload\": {},\n    \"time\":
        \"2025-11-07T17:14:52.854Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"17f-/cie6eGIy6+IBeuoXBx8sLUqfPg"
      x-for-request-id:
      - 212e4069-b23b-4f21-9485-a9a7dd12da2c
      x-for-trace-id:
      - 221c0f546bc00bbcd318a4a5df830669
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:53.143Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-11-07T17:14:53.143Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"186-9GvLIsD+SuMj5fWODkbiZFg0moM"
      x-for-request-id:
      - bc7aff2a-b41c-4a32-b26b-2850e48f6693
      x-for-trace-id:
      - 1df4ee35ca053f634902aacb80fd5280
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.try.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:53.380Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.try.latest.firefox.sm-linux64\"\n    },\n    \"payload\": {},\n
        \   \"time\": \"2025-11-07T17:14:53.380Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"182-K9ue00PG3E0XmqKCxqOCh752T2g"
      x-for-request-id:
      - 5b57a6c1-b259-4a1c-b52f-b521ef3e9e4d
      x-for-trace-id:
      - 553322bf49362fffe614169af339bef3
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Veb5PCF2SVeylXNykpz0xg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-12-05T16:58:19.455Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-12-05T16:58:19.455Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/mozharness.zip\",\n
        \     \"expires\": \"2025-12-05T16:58:19.455Z\",\n      \"contentType\": \"application/zip\"\n
        \   },\n    {\n      \"storageType\": \"s3\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Veb5PCF2SVeylXNykpz0xg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Veb5PCF2SVeylXNykpz0xg/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-D2yzOpqBqRh38CF6MntKxcwCYpQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Veb5PCF2SVeylXNykpz0xg/0/public/build/target.json
      x-for-request-id:
      - 486f62ae-508f-4b8a-bdc8-377c069abb5a
      x-for-trace-id:
      - 8760c646a41713ba4029c5f886b2c2e6
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Veb5PCF2SVeylXNykpz0xg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20251107165543\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n  \"moz_app_maxversion\": \"146.0a1\",\n
        \ \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\":
        \"146.0a1\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/try\",\n  \"moz_source_stamp\": \"e2bbe474421feaecb5ae3aa9563f70eb42b2836f\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"36d9cb84dae27d8af60013ca1d42f240"'
      Last-Modified:
      - Fri, 07 Nov 2025 17:03:49 GMT
      x-goog-generation:
      - '1762535029298273'
      x-goog-hash:
      - crc32c=84/dow==
      - md5=NtnLhNrifYr2ABPKHULyQA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '289'
    status:
      code: 200
      message: OK
version: 1
