interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-debug\",\n
        \ \"taskId\": \"OQj86H5_Rc6vAJtzN5FPsQ\",\n  \"rank\": 1731578240,\n  \"data\":
        {},\n  \"expires\": \"2025-11-14T10:04:29.879Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-+9wFJlAOJAkbw0w1sJVEAHTnKNM"
      x-for-request-id:
      - d6ee1b5a-f936-47bf-bcbe-c32491bf9216
      x-for-trace-id:
      - 6a09d472b3192d8ca940c9011d0ed756
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OQj86H5_Rc6vAJtzN5FPsQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-14T10:04:29.879Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-14T10:04:29.879Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-14T10:04:29.879Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OQj86H5_Rc6vAJtzN5FPsQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/OQj86H5_Rc6vAJtzN5FPsQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-YgfzQShkDT3DRSpyPsmUlLk4WbY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/OQj86H5_Rc6vAJtzN5FPsQ/0/public/build/target.json
      x-for-request-id:
      - e740114d-ba8d-462b-8cb4-cd773dc5152b
      x-for-trace-id:
      - cb23f18c24bfdc862e2211783310afc5
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/OQj86H5_Rc6vAJtzN5FPsQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241114095720\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-fuzzing\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\": \"7d29edd4cb622dad685c4047a63441e3e14b0c8b\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"f881b4910c41f1a8e7219a894e981108"'
      Last-Modified:
      - Thu, 14 Nov 2024 10:31:53 GMT
      x-goog-generation:
      - '1731580313929509'
      x-goog-hash:
      - crc32c=+ddD4A==
      - md5=+IG0kQxB8ajnIZqJTpgRCA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '368'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OQj86H5_Rc6vAJtzN5FPsQ/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1d2-i39nzvE0zk5hIOQRsQGvodieQqg"
      x-for-request-id:
      - 76f3c3ba-5f2c-43a8-a610-5aa2e06564e1
      x-for-trace-id:
      - 49404202292305b0d34ae55e23c5a54d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OQj86H5_Rc6vAJtzN5FPsQ/artifacts/public/build/target.tar.bz2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"86-qaV8+ca2IIqpESeGHKPJoWALHx8"
      location:
      - https://firefoxci.taskcluster-artifacts.net/OQj86H5_Rc6vAJtzN5FPsQ/0/public/build/target.tar.bz2
      x-for-request-id:
      - 5878b15a-7aa7-4c63-aa26-3c387ea8015d
      x-for-trace-id:
      - b01a69ca63cfa92c5f15e37eecf5fd00
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OQj86H5_Rc6vAJtzN5FPsQ/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/OQj86H5_Rc6vAJtzN5FPsQ/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-1cntwUu49j1EdLD6myREorIYB7I"
      location:
      - https://firefoxci.taskcluster-artifacts.net/OQj86H5_Rc6vAJtzN5FPsQ/0/public/build/target.mozinfo.json
      x-for-request-id:
      - b763b1db-9889-4b73-8439-a445c05891cc
      x-for-trace-id:
      - 465bd3eb9481035006f5cdf7b3f4abf2
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/OQj86H5_Rc6vAJtzN5FPsQ/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"debug\",\n    \"buildtype_guess\":
        \"debug\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        false,\n    \"datareporting\": true,\n    \"debug\": true,\n    \"devedition\":
        false,\n    \"domstreams\": true,\n    \"early_beta_or_earlier\": true,\n
        \   \"healthreport\": true,\n    \"isolated_process\": false,\n    \"mozconfig\":
        \"/builds/worker/checkouts/gecko/.mozconfig\",\n    \"nightly_build\": true,\n
        \   \"normandy\": true,\n    \"official\": false,\n    \"opt\": false,\n    \"os\":
        \"linux\",\n    \"pgo\": false,\n    \"platform_guess\": \"linux64\",\n    \"processor\":
        \"x86_64\",\n    \"release_or_beta\": false,\n    \"require_signing\": false,\n
        \   \"stylo\": true,\n    \"sync\": true,\n    \"telemetry\": false,\n    \"tests_enabled\":
        true,\n    \"toolkit\": \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n
        \   \"topsrcdir\": \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n
        \   \"ubsan\": false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"03c7aea2cc1217ef5be63a5f286f12f1"'
      Last-Modified:
      - Thu, 14 Nov 2024 10:31:57 GMT
      x-goog-generation:
      - '1731580317487013'
      x-goog-hash:
      - crc32c=PM08nA==
      - md5=A8euoswSF+9b5jpfKG8S8Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '416'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OQj86H5_Rc6vAJtzN5FPsQ/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Artifact not
        found\\n\\n---\\n\\n* method:     getLatestArtifact\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-14T20:22:19.214Z\",\n  \"requestInfo\":
        {\n    \"method\": \"getLatestArtifact\",\n    \"params\": {\n      \"0\":
        \"public/build/target.crashreporter-symbols.zip\",\n      \"taskId\": \"OQj86H5_Rc6vAJtzN5FPsQ\",\n
        \     \"name\": \"public/build/target.crashreporter-symbols.zip\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-14T20:22:19.214Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1f8-RCE76Vv5yTSsb7dIjs8b1chs8nc"
      x-for-request-id:
      - bd8c3ed5-8815-44ab-9112-fcb0b78b51d7
      x-for-trace-id:
      - a3e8055c8a8feda4910baed12e13ce06
    status:
      code: 404
      message: Not Found
version: 1
