interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-central.shippable.latest.thunderbird.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"comm.v2.comm-central.shippable.latest.thunderbird.linux64-opt\",\n
        \ \"taskId\": \"fgsHpR_xRVqMMPaHRfK5Sw\",\n  \"rank\": 1762471556,\n  \"data\":
        {},\n  \"expires\": \"2026-11-06T23:33:25.380Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c5-9EHz9vmzZuN7DxibvXTT+GmCyiI"
      x-for-request-id:
      - a8268249-55f0-425a-81e7-06ab85114367
      x-for-trace-id:
      - 3913e195c3a42480940fb7f378068f33
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-central.shippable.latest.thunderbird.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:08.627Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-central.shippable.latest.thunderbird.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:08.627Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-w6knFjZdWA1AEH+2so1kR14Qj6s"
      x-for-request-id:
      - 430e309b-cd9a-4ca8-9db0-350a6ac555f9
      x-for-trace-id:
      - a406912ebfdc3bba42b55120602710f9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-central.shippable.latest.thunderbird.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:08.847Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-central.shippable.latest.thunderbird.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:15:08.847Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19c-PVnBqbptUyJBWg173yJsfpuE3E4"
      x-for-request-id:
      - 5c9ce4e8-ba33-4931-96af-338624c50252
      x-for-trace-id:
      - 3d5266446b3fd7e01eb41df7720d3fc9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-central.shippable.latest.thunderbird.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:09.100Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-central.shippable.latest.thunderbird.sm-linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:15:09.100Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"198-yQFaBqPkiRh8Z7Q9CNspV5efYag"
      x-for-request-id:
      - 142dd293-0727-42be-b933-bb325f8d96db
      x-for-trace-id:
      - 80909e2c80c8e58cb7e8fe547ac10e55
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-central.latest.thunderbird.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"comm.v2.comm-central.latest.thunderbird.linux64-opt\",\n
        \ \"taskId\": \"fm2VeV4hTtWziQBGsLZTTQ\",\n  \"rank\": 1762471556,\n  \"data\":
        {},\n  \"expires\": \"2026-11-06T23:33:25.383Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bb-6rD7H5Tm7NtiD+mCDekNQVluZeA"
      x-for-request-id:
      - 01b5fee8-e998-49c1-a77b-b6cb6f170fee
      x-for-trace-id:
      - 2fef5b75176867e9076d83a826f1d675
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-central.latest.thunderbird.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:09.592Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-central.latest.thunderbird.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:09.592Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18b-tzSrT6AnDNP/TP5uFieh4NXdim8"
      x-for-request-id:
      - 6dbf29fd-3b65-4bf7-a155-a275b3664c98
      x-for-trace-id:
      - e8417bae7dff3cc5357c1c0fdc58d93b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-central.latest.thunderbird.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:09.843Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-central.latest.thunderbird.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:09.843Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-bgm7lMUyMZ0Ia4RoPedRZ76OUe0"
      x-for-request-id:
      - cf8e6d40-85a0-4c80-b95d-92c98689548b
      x-for-trace-id:
      - 2e57c99968804445de48f113e38a6972
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-central.latest.thunderbird.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:10.123Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-central.latest.thunderbird.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:10.123Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-/i4NBdJ5Qr9yUDp5g46yTKTYRWA"
      x-for-request-id:
      - 6a7ff6fc-e4ed-4301-9f79-a6b0bb113814
      x-for-trace-id:
      - b6de5c0af43ce40afc570e419003027b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/fgsHpR_xRVqMMPaHRfK5Sw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-11-06T23:33:25.380Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-11-06T23:33:25.380Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-11-06T23:33:25.380Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/fgsHpR_xRVqMMPaHRfK5Sw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/fgsHpR_xRVqMMPaHRfK5Sw/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-KkWIWK8tCyJDUJY2cn2g0sL8ovc"
      location:
      - https://firefoxci.taskcluster-artifacts.net/fgsHpR_xRVqMMPaHRfK5Sw/0/public/build/target.json
      x-for-request-id:
      - 5df43183-703b-4459-bb94-1b10ee0b1837
      x-for-trace-id:
      - 2d8d5650cdf2eacce26ed59d81d8a74e
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/fgsHpR_xRVqMMPaHRfK5Sw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20251106232556\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{3550f703-e582-4d05-9a08-453d09bdfdc6}\",\n
        \ \"moz_app_maxversion\": \"146.0a1\",\n  \"moz_app_name\": \"thunderbird\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"146.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/comm-central\",\n
        \ \"moz_source_stamp\": \"72ccb67f77d4a45140af70108631697b84577904\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"23aa922201f7271666305835f4495efa"'
      Last-Modified:
      - Fri, 07 Nov 2025 00:31:46 GMT
      x-goog-generation:
      - '1762475506795005'
      x-goog-hash:
      - crc32c=ApJ4nA==
      - md5=I6qSIgH3JxZmMFg19Ele+g==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '347'
    status:
      code: 200
      message: OK
version: 1
