interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-beta.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-beta.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"EBj-cL9HQ_6pgTmeuUq6VA\",\n  \"rank\": 1762481727,\n  \"data\":
        {},\n  \"expires\": \"2026-11-07T02:17:00.292Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c2-1KgGAjAFQRSJTy1wQHSJdf2+hHw"
      x-for-request-id:
      - dcf7f41b-4273-4ade-a242-e52549cc55bf
      x-for-trace-id:
      - 55c74ef44ecbb61d1ee075187195d1ea
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-beta.shippable.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:01.799Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-beta.shippable.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:01.799Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-sncuB7xyvOm1GnFYxM4DqoEr1Y8"
      x-for-request-id:
      - 8f7f7afd-bb81-44e7-a49b-a213cf9df6e5
      x-for-trace-id:
      - c29dd0bb61fa71ae6bdde1a09156ee44
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-beta.shippable.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:02.056Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-beta.shippable.latest.firefox.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:15:02.056Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"199-segE8LcJm3VoQvEAIwW53xC5U+s"
      x-for-request-id:
      - 2807a699-d29e-4a58-a4db-0f9b94d59917
      x-for-trace-id:
      - 016bdb107b914777db556082bf848226
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-beta.shippable.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:02.295Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-beta.shippable.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:02.295Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-A+SqNkKtTa3H0Dia/rupck8/Ab4"
      x-for-request-id:
      - 51473257-ee4a-422e-837d-446c7c75d227
      x-for-trace-id:
      - d810907c6c573761a06d61c479bd2752
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-beta.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-beta.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"HiMEe2CMTLupwtVveakUjQ\",\n  \"rank\": 1761289275,\n  \"data\":
        {},\n  \"expires\": \"2026-10-24T07:03:21.915Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b8-rQS7JOaW9hXDxcmZLmjcZ0yYdYo"
      x-for-request-id:
      - 2ae98999-b977-4518-8057-22b7e30e6392
      x-for-trace-id:
      - 4a13f65dee72bf15670be6a068b6250c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-beta.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:02.802Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-beta.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:02.802Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"188-iZsgiINFWKVwnNhYQMWjY8IxuzQ"
      x-for-request-id:
      - 34d3a088-f181-46c2-a66a-4ff05d964f82
      x-for-trace-id:
      - e80b110d10372476d1ac6d6fd56d8c79
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-beta.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:03.040Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-beta.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:03.040Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18f-ivr67nW6ZFvHdTjQmmKU6naNv+I"
      x-for-request-id:
      - 819855ab-83af-4aae-be7c-2c9292b3e467
      x-for-trace-id:
      - 00f93cdf2c646942b2cc6f553a10232d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-beta.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:03.283Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-beta.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:03.283Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18b-ltA4TcpGAcXlxf5AHvHlyzF9YLM"
      x-for-request-id:
      - 01a8f142-d3f3-4c5f-8f4e-6d916cbdfe7e
      x-for-trace-id:
      - 6b4667d5b06a1eb176bc96dadb19bc31
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/EBj-cL9HQ_6pgTmeuUq6VA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-11-07T02:17:00.292Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-11-07T02:17:00.292Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-11-07T02:17:00.292Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/EBj-cL9HQ_6pgTmeuUq6VA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/EBj-cL9HQ_6pgTmeuUq6VA/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-ZqOg8oACkYdXRTaWd49FjQ/njIA"
      location:
      - https://firefoxci.taskcluster-artifacts.net/EBj-cL9HQ_6pgTmeuUq6VA/0/public/build/target.json
      x-for-request-id:
      - 97bdce5a-96fa-4ace-be6e-25e876fe0414
      x-for-trace-id:
      - b3361df06fe00c7d220b68db21e46bcb
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/EBj-cL9HQ_6pgTmeuUq6VA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20251107021527\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"145.*\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\":
        \"Mozilla\",\n  \"moz_app_version\": \"145.0\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/releases/mozilla-beta\",\n
        \ \"moz_source_stamp\": \"4f7635aa1aefa09e41b0c86ee2ca1b88ccb62d1b\",\n  \"moz_update_channel\":
        \"beta\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"04bea6fc33dca6d912912897092ee13b"'
      Last-Modified:
      - Fri, 07 Nov 2025 03:55:09 GMT
      x-goog-generation:
      - '1762487709110732'
      x-goog-hash:
      - crc32c=gxkgQw==
      - md5=BL6m/DPcptkSkSiXCS7hOw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '342'
    status:
      code: 200
      message: OK
version: 1
