interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr140.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr140.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"HTtNXlpETbu3mkD6wXpQFQ\",\n  \"rank\": 1762461363,\n  \"data\":
        {},\n  \"expires\": \"2026-11-06T20:40:35.820Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c4-gnRk1JhpL8SjjZjKFp2wHkTk58I"
      x-for-request-id:
      - 7ccad584-5e26-4728-ba60-ea056fd73a52
      x-for-trace-id:
      - 4cc52dcaeaedd378e98760879db084b1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr140.shippable.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:19:52.443Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr140.shippable.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:19:52.443Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"194-8I/Ewglky2Sz0mkT1meBdWkDJIs"
      x-for-request-id:
      - bc7390db-45b3-4248-8c76-3712cbae72ef
      x-for-trace-id:
      - bee2ad81ce846d46817a7593f90165d1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr140.shippable.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:19:52.695Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr140.shippable.latest.firefox.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:19:52.695Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19b-fDKaAnNIUejmMnD3ONOXxg8HBbg"
      x-for-request-id:
      - a686e530-445e-446c-ad5b-b11d0dee032c
      x-for-trace-id:
      - fa4fd6b93f601f62c6f5699aea9475dc
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr140.shippable.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:19:52.943Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr140.shippable.latest.firefox.sm-linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:19:52.943Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"197-t91NIzxJ7Kc7HXwrjhGtffaWjxM"
      x-for-request-id:
      - 383d9c1b-2d8f-4f77-94b7-abc5ac0c8e33
      x-for-trace-id:
      - e5aeac3017d0e94e5b4c0d5e3dd539d5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr140.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-esr140.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"NjfwC2o4QwC4IyU_y_SxSQ\",\n  \"rank\": 1753292117,\n  \"data\":
        {},\n  \"expires\": \"2026-07-23T17:39:05.155Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ba-XSYDj1s4ze5dJFyhBctA8TjroTE"
      x-for-request-id:
      - d668382c-3e50-42c2-adac-825e37a4a7ba
      x-for-trace-id:
      - 2b77ba3ab6b00d30d7810d1242af5346
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr140.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:19:53.476Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr140.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:19:53.476Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18a-yqsuj8dh6yq+VafzVrOwR4PbLME"
      x-for-request-id:
      - 1c70ea13-006f-44c5-9208-5814bf22ed39
      x-for-trace-id:
      - 36beee27cf10dfc92c05a588bd8eb3d5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr140.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:19:53.687Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr140.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:19:53.687Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"191-1pC7fT1uZ2Ck4Bt6dI/X4es9TcM"
      x-for-request-id:
      - 23d75150-c4bf-4d57-b72c-69fac2d5cd0b
      x-for-trace-id:
      - bf15969cb4a3267a33a2aeee6a3fb8d6
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-esr140.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:19:53.983Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-esr140.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:19:53.983Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18d-CmPIFzb4SV4DTVELlgU8bI2Cxzs"
      x-for-request-id:
      - e90d55df-4bc1-4982-93e9-f31dc2da87e8
      x-for-trace-id:
      - e12dc4dd17656e0876961b3e98fa8573
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/HTtNXlpETbu3mkD6wXpQFQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-11-06T20:40:35.820Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-11-06T20:40:35.820Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-11-06T20:40:35.820Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/HTtNXlpETbu3mkD6wXpQFQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/HTtNXlpETbu3mkD6wXpQFQ/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-09hVfS3bpQ89w2FpeoXFqHFUnck"
      location:
      - https://firefoxci.taskcluster-artifacts.net/HTtNXlpETbu3mkD6wXpQFQ/0/public/build/target.json
      x-for-request-id:
      - c0576890-fac8-40c0-9217-669356b8e932
      x-for-trace-id:
      - b2d8be722a91889cf74605514e656d18
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/HTtNXlpETbu3mkD6wXpQFQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20251106203603\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"140.*\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\":
        \"Mozilla\",\n  \"moz_app_version\": \"140.5.0\",\n  \"moz_pkg_platform\":
        \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/releases/mozilla-esr140\",\n
        \ \"moz_source_stamp\": \"558705980ca9db16de0564b5a6031b5d6e0a7efe\",\n  \"moz_update_channel\":
        \"esr\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"bb6c8f1241905618623193e2087be378"'
      Last-Modified:
      - Thu, 06 Nov 2025 22:46:30 GMT
      x-goog-generation:
      - '1762469190016999'
      x-goog-hash:
      - crc32c=RyFCjg==
      - md5=u2yPEkGQVhhiMZPiCHvjeA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '349'
    status:
      code: 200
      message: OK
version: 1
