interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-release.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-release.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"Py7WmGVsRIOq0KXQeQOYIw\",\n  \"rank\": 1762458287,\n  \"data\":
        {},\n  \"expires\": \"2026-11-06T19:49:22.923Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c5-+4zi5TL3Gd3BkqdsJ9k+tMnffwY"
      x-for-request-id:
      - 3105c5e3-f8cf-4a12-86e6-8c007f0d6d4c
      x-for-trace-id:
      - d99c397d63997d5e71fc389e9aee31b9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-release.shippable.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:04.616Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-release.shippable.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:04.616Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-rumWzEDUij/yjldNwVaYyV8stB0"
      x-for-request-id:
      - 35dd3467-5e3a-4480-b990-9f4297bd02ce
      x-for-trace-id:
      - 53bdef656e445ff2279d85773154138d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-release.shippable.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:04.844Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-release.shippable.latest.firefox.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:15:04.844Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19c-Fg6ljUixolNeuKhAdx2rSp6sJpo"
      x-for-request-id:
      - 499e6fff-1938-4071-8b61-6d5bf868b6a2
      x-for-trace-id:
      - 9336ea9aae37af0e6d2c3453304bef4f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-release.shippable.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:05.077Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-release.shippable.latest.firefox.sm-linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:15:05.077Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"198-dGDewOH1Cx5URDUP8oPe/Xku6l4"
      x-for-request-id:
      - e22d9b1e-c560-43ad-8dc5-3d2525b5f9c1
      x-for-trace-id:
      - fa294bc72af33a29b72b985c53658372
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-release.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-release.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"C-0zar1gQ8miKMnnFfkOmw\",\n  \"rank\": 1762166227,\n  \"data\":
        {},\n  \"expires\": \"2026-11-03T10:41:11.120Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bb-7BfbhDv8PWVaqBEvr9GIeot9CvM"
      x-for-request-id:
      - e3e37b27-aa0d-447a-8624-f41660c241fe
      x-for-trace-id:
      - b2a8b407e572ace58c5e6344c1fcf678
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-release.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:05.582Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-release.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:05.582Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18b-uMmZuBqkVjSeV074JUK4n3xT+38"
      x-for-request-id:
      - 567ea98a-d219-42bd-b86f-1bde63cb56ab
      x-for-trace-id:
      - a5b9f0b3081c62f8e69e8d6a4285de0a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-release.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:05.833Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-release.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:05.833Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-Jy9L0+kZ1ADS4WeM9MvhWjnbXRs"
      x-for-request-id:
      - bde4bb9c-c0f9-46a8-a10f-5e52bb14618d
      x-for-trace-id:
      - 1f6b8907fbc5137aa90e4979674bae91
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-release.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:07.452Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-release.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:07.452Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-AvsKoyBDpbyS48s47t2Vb/1+wWA"
      x-for-request-id:
      - ebac94df-e9b8-4d7e-b65b-be2d16267f9b
      x-for-trace-id:
      - 2eb45a3b4a280fb02402d516c3d1fff0
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Py7WmGVsRIOq0KXQeQOYIw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-11-06T19:49:22.923Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-11-06T19:49:22.923Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-11-06T19:49:22.923Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Py7WmGVsRIOq0KXQeQOYIw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Py7WmGVsRIOq0KXQeQOYIw/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-Ubp26EpoVQlc0CtWubpH22JYmwQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Py7WmGVsRIOq0KXQeQOYIw/0/public/build/target.json
      x-for-request-id:
      - a48a330c-2fd1-4a64-9852-8be4815ce105
      x-for-trace-id:
      - 1abce9d41e231862314d21c6b555fd35
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Py7WmGVsRIOq0KXQeQOYIw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20251106194447\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"145.*\",\n  \"moz_app_name\": \"firefox\",\n  \"moz_app_vendor\":
        \"Mozilla\",\n  \"moz_app_version\": \"145.0\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/releases/mozilla-release\",\n
        \ \"moz_source_stamp\": \"5b5b269e7de9f54f2d9de10e1aa4c6a7cb44fdfe\",\n  \"moz_update_channel\":
        \"release\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"a9312a8453f6f3b33d6d34eb60e39118"'
      Last-Modified:
      - Thu, 06 Nov 2025 21:24:38 GMT
      x-goog-generation:
      - '1762464278547288'
      x-goog-hash:
      - crc32c=yTbRGg==
      - md5=qTEqhFP287M9bTTrYOORGA==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '343'
    status:
      code: 200
      message: OK
version: 1
