interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-debug\",\n
        \ \"taskId\": \"evNvuH2wSNSP4Ph5UXtgoQ\",\n  \"rank\": 1730997975,\n  \"data\":
        {},\n  \"expires\": \"2025-11-07T16:49:52.389Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-ESnfdwqG5b39VeyRfDrTvaHiNpo"
      x-for-request-id:
      - 36a424fc-eca2-4214-8e0b-69161bb5db64
      x-for-trace-id:
      - 239463518b6b49bc642a6e0437b2ce6d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/evNvuH2wSNSP4Ph5UXtgoQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-07T16:49:52.389Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-07T16:49:52.389Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-07T16:49:52.389Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/evNvuH2wSNSP4Ph5UXtgoQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/evNvuH2wSNSP4Ph5UXtgoQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-jLu1pZZHmw6jNbqtQFAZ28CJz4U"
      location:
      - https://firefoxci.taskcluster-artifacts.net/evNvuH2wSNSP4Ph5UXtgoQ/0/public/build/target.json
      x-for-request-id:
      - bc756e59-a553-4ec7-9b29-1124927b0451
      x-for-trace-id:
      - 101d45e3235873f1944b84e7bbeb1ef9
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/evNvuH2wSNSP4Ph5UXtgoQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241107164615\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-fuzzing\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\": \"b1059d322d9fb03740953ffab81dae731d94e138\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"96add87201391a5f45e70693c904a3d9"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:16:03 GMT
      x-goog-generation:
      - '1730999763658653'
      x-goog-hash:
      - crc32c=+eHqIQ==
      - md5=lq3YcgE5Gl9F5waTyQSj2Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '370'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/evNvuH2wSNSP4Ph5UXtgoQ/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/evNvuH2wSNSP4Ph5UXtgoQ/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-1hHfgyxJFXjVe7pt0eBoyfSQx2o"
      location:
      - https://firefoxci.taskcluster-artifacts.net/evNvuH2wSNSP4Ph5UXtgoQ/0/public/build/target.mozinfo.json
      x-for-request-id:
      - 2273f261-f183-4997-b533-2787aff403d7
      x-for-trace-id:
      - 62419af29e34d30667f4463b68de9d7a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/evNvuH2wSNSP4Ph5UXtgoQ/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"debug\",\n    \"buildtype_guess\":
        \"debug\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        false,\n    \"datareporting\": true,\n    \"debug\": true,\n    \"devedition\":
        false,\n    \"domstreams\": true,\n    \"early_beta_or_earlier\": true,\n
        \   \"healthreport\": true,\n    \"isolated_process\": false,\n    \"mozconfig\":
        \"/builds/worker/checkouts/gecko/.mozconfig\",\n    \"nightly_build\": true,\n
        \   \"normandy\": true,\n    \"official\": false,\n    \"opt\": false,\n    \"os\":
        \"linux\",\n    \"pgo\": false,\n    \"platform_guess\": \"linux64\",\n    \"processor\":
        \"x86_64\",\n    \"release_or_beta\": false,\n    \"require_signing\": false,\n
        \   \"stylo\": true,\n    \"sync\": true,\n    \"telemetry\": false,\n    \"tests_enabled\":
        true,\n    \"toolkit\": \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n
        \   \"topsrcdir\": \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n
        \   \"ubsan\": false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"03c7aea2cc1217ef5be63a5f286f12f1"'
      Last-Modified:
      - Thu, 07 Nov 2024 17:16:07 GMT
      x-goog-generation:
      - '1730999767333966'
      x-goog-hash:
      - crc32c=PM08nA==
      - md5=A8euoswSF+9b5jpfKG8S8Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '416'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/evNvuH2wSNSP4Ph5UXtgoQ/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Artifact not
        found\\n\\n---\\n\\n* method:     getLatestArtifact\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-07T19:51:46.726Z\",\n  \"requestInfo\":
        {\n    \"method\": \"getLatestArtifact\",\n    \"params\": {\n      \"0\":
        \"public/build/target.crashreporter-symbols.zip\",\n      \"taskId\": \"evNvuH2wSNSP4Ph5UXtgoQ\",\n
        \     \"name\": \"public/build/target.crashreporter-symbols.zip\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-07T19:51:46.726Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1f8-JzgGwMc4aFxP5iwRW0z0wnfJvXw"
      x-for-request-id:
      - e6c58c01-089d-4716-a3d5-f88bfdec9677
      x-for-trace-id:
      - 6749d174e8b779546fc27aa09e12ed56
    status:
      code: 404
      message: Not Found
version: 1
