interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"aOrZjyWvS3yGtZ0iPIHN8Q\",\n  \"rank\": 1762507856,\n  \"data\":
        {},\n  \"expires\": \"2026-11-07T09:35:23.546Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c5-ukKWXH+Ch+JT9Kv3jpW1cffOAGk"
      x-for-request-id:
      - 65253e71-0b9d-4fd1-b7ba-ca0e047b359b
      x-for-trace-id:
      - 188578e3f2f948fea63a7038dedfffeb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:48.998Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:14:48.998Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-3MBRWBCMyfFoQ/fKZ+fnQXevr0o"
      x-for-request-id:
      - b0c2c99c-0783-4fc2-8a48-3c38a74652f9
      x-for-trace-id:
      - 2e303daf186e7d02e4ce60395b9f7297
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:49.302Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:14:49.302Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19c-UuyqKAW7i+Zl6bnA92uDbgLOfYw"
      x-for-request-id:
      - f32ccb13-ee4a-461a-9d9e-9fd53df368b7
      x-for-trace-id:
      - 162c39c604350b71f10f4ffd40b555a2
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:49.521Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:14:49.521Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"198-pcORUTxMVtveZvIRngJJLGJ1coo"
      x-for-request-id:
      - c2a3aaa4-37f7-4f34-9b36-5686c82d1a6c
      x-for-trace-id:
      - 43adb354f44cab37016b7932abebefe5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"Q1uSU6QCTDCd5yJOkDqRDQ\",\n  \"rank\": 1762533816,\n  \"data\":
        {},\n  \"expires\": \"2026-11-07T16:44:42.881Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bb-uBCnLWNdpTaRu4jg5NZ5gtcuOzo"
      x-for-request-id:
      - 9f29ea48-db6f-499d-8149-b0cbeeb976fd
      x-for-trace-id:
      - f331212091854ec76eec69f5a289e2df
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:49.997Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:14:49.997Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18b-oeg3hPtzyOhxT/GbAEjCgjnRCEg"
      x-for-request-id:
      - a7784323-f104-4214-8b51-e6d48414dd5c
      x-for-trace-id:
      - 1a454915fe03f4efb1dbf880094a3d21
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:50.209Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:14:50.209Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-qu0mCEQOVaT0WrVIB9+fuqtnxLM"
      x-for-request-id:
      - 421a2801-be1e-46ee-b365-a890c09e3132
      x-for-trace-id:
      - 29d520e425d5aa88d426e3a3c2228f94
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:14:50.561Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:14:50.561Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-Ydf0DC8Frpx7730PAJbnH7JjxP0"
      x-for-request-id:
      - 27990e37-6ce8-48b3-902b-ad1d5d8fdda0
      x-for-trace-id:
      - 8eb6000b172362cca5ec7298d2ac71e4
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Q1uSU6QCTDCd5yJOkDqRDQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-11-07T16:44:42.881Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-11-07T16:44:42.881Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-11-07T16:44:42.881Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Q1uSU6QCTDCd5yJOkDqRDQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Q1uSU6QCTDCd5yJOkDqRDQ/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-S7X7KHyHU+gOP4K8vdihwIg5JdM"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Q1uSU6QCTDCd5yJOkDqRDQ/0/public/build/target.json
      x-for-request-id:
      - 50a16a66-7f20-407a-b599-459b2778ea24
      x-for-trace-id:
      - fd49d1bdf46b7cb9d000347ce556f7bd
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Q1uSU6QCTDCd5yJOkDqRDQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20251107164336\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"146.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"146.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"8875486e6acd69759f2c3351d6f43df5c75cb119\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"648ddbfb07ca462ebcac06d5a94715b3"'
      Last-Modified:
      - Fri, 07 Nov 2025 17:00:00 GMT
      x-goog-generation:
      - '1762534800305521'
      x-goog-hash:
      - crc32c=E8TqrQ==
      - md5=ZI3b+wfKRi68rAbVqUcVsw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '354'
    status:
      code: 200
      message: OK
version: 1
