interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-esr140.shippable.latest.thunderbird.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"comm.v2.comm-esr140.shippable.latest.thunderbird.linux64-opt\",\n
        \ \"taskId\": \"EZ447LyTRiiqTHoy8bPmyA\",\n  \"rank\": 1762522383,\n  \"data\":
        {},\n  \"expires\": \"2026-11-07T13:37:33.687Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c4-wughCWF3xfva2MapPNjRbcQHwec"
      x-for-request-id:
      - 6368fc41-643a-46ff-8de3-8e96266cb4e5
      x-for-trace-id:
      - 1033575c779d4d5dd145381284bf105c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-esr140.shippable.latest.thunderbird.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:20:54.264Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-esr140.shippable.latest.thunderbird.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:20:54.264Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"194-wnNQrlrN9srFzg6w9jfSv3D54zk"
      x-for-request-id:
      - 7f62a5ba-24ff-4f22-aa98-571f9fd1fa91
      x-for-trace-id:
      - 9c7cff8be01a1d4a80c486bec45e6a0e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-esr140.shippable.latest.thunderbird.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:20:54.503Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-esr140.shippable.latest.thunderbird.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:20:54.503Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19b-wDF/+jauqij5xQCV16zXOiPcuu8"
      x-for-request-id:
      - f5d1db14-5597-46c2-8ed1-8e7c74cb4ef9
      x-for-trace-id:
      - db282d9140f30759dc93d28990361b05
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-esr140.shippable.latest.thunderbird.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:20:54.741Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-esr140.shippable.latest.thunderbird.sm-linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:20:54.741Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"197-8y0EjwCbzGOteFa/z/Y5eTsUV2I"
      x-for-request-id:
      - e57737e9-07ff-4435-989e-5c842a03eaa0
      x-for-trace-id:
      - 045ad7bf026cf3619801d19cb491260e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-esr140.latest.thunderbird.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:20:54.988Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-esr140.latest.thunderbird.linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:20:54.988Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-+47YjR44TFEGQRepCbHsd6kDzns"
      x-for-request-id:
      - 2af776df-e4e2-472e-8aab-ca343805c0c3
      x-for-trace-id:
      - 9bf28ac7a3a1ed19e6bf1c73bd93683e
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-esr140.latest.thunderbird.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:20:55.294Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-esr140.latest.thunderbird.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:20:55.294Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18a-/1hnVRZvkBzyHLdBKqE9o0XuEtw"
      x-for-request-id:
      - 423a710c-fcef-4a55-adeb-e8afa9e288ad
      x-for-trace-id:
      - a9431c9a6b89a9793a065767207db8a3
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-esr140.latest.thunderbird.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:20:55.542Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-esr140.latest.thunderbird.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:20:55.542Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"191-yG8ZTG6oqzqobBe2C1EoN9ircqE"
      x-for-request-id:
      - 670af63d-1805-4f67-9e1b-64e964753936
      x-for-trace-id:
      - 790c9eb4ab8617c2b44a9b85d6061bcf
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-esr140.latest.thunderbird.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:20:55.796Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-esr140.latest.thunderbird.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:20:55.796Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18d-EdjnsVhuaOG1NI+0DtsQv1SjcLE"
      x-for-request-id:
      - c756f4fc-4870-48a3-8b55-ed224dce2355
      x-for-trace-id:
      - e425cbd7a70a3d03baf3953a1aa437df
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/EZ447LyTRiiqTHoy8bPmyA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-11-07T13:37:33.687Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-11-07T13:37:33.687Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-11-07T13:37:33.687Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/EZ447LyTRiiqTHoy8bPmyA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/EZ447LyTRiiqTHoy8bPmyA/1/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-GEiGf8P7Ii1KQZHrem0euQ81ghs"
      location:
      - https://firefoxci.taskcluster-artifacts.net/EZ447LyTRiiqTHoy8bPmyA/1/public/build/target.json
      x-for-request-id:
      - eef7f672-dc4b-4f43-a45e-b91ca437eece
      x-for-trace-id:
      - bd939b5aa6135c48f4b196e8e33b77c1
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/EZ447LyTRiiqTHoy8bPmyA/1/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20251107133303\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{3550f703-e582-4d05-9a08-453d09bdfdc6}\",\n
        \ \"moz_app_maxversion\": \"140.*\",\n  \"moz_app_name\": \"thunderbird\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"140.5.0\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/releases/comm-esr140\",\n
        \ \"moz_source_stamp\": \"76ce5ad84904eed892d07d1a896d30c7001c63aa\",\n  \"moz_update_channel\":
        \"esr\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c9eab4309256bf485e0c847746d595b9"'
      Last-Modified:
      - Fri, 07 Nov 2025 14:50:33 GMT
      x-goog-generation:
      - '1762527033885063'
      x-goog-hash:
      - crc32c=G1R7eA==
      - md5=yeq0MJJWv0heDIR3RtWVuQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '351'
    status:
      code: 200
      message: OK
version: 1
