interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-debug
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-fuzzing-debug\",\n
        \ \"taskId\": \"aZQI1DSuR_CJvtAszBb4Hw\",\n  \"rank\": 1730911891,\n  \"data\":
        {},\n  \"expires\": \"2025-11-06T16:55:11.498Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-HxzSZZ1xJNW3Mlpj0ASf7MsbY1g"
      x-for-request-id:
      - cd591262-2001-4800-b93f-cdd64d695d21
      x-for-trace-id:
      - 0d0adcab3b1e41919e66fa1d32e1b3ec
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aZQI1DSuR_CJvtAszBb4Hw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-11-06T16:55:11.498Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-11-06T16:55:11.498Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-11-06T16:55:11.498Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aZQI1DSuR_CJvtAszBb4Hw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/aZQI1DSuR_CJvtAszBb4Hw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-AhBR0xxF+gqW6eXi3nBc9w2tVeY"
      location:
      - https://firefoxci.taskcluster-artifacts.net/aZQI1DSuR_CJvtAszBb4Hw/0/public/build/target.json
      x-for-request-id:
      - 62ca98c8-6df4-4113-b40b-10ee6c39afb4
      x-for-trace-id:
      - a82501e5579e8c9663d9c2e43f481148
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/aZQI1DSuR_CJvtAszBb4Hw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20241106165131\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"134.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"134.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64-fuzzing\",\n  \"moz_source_repo\":
        \"https://hg.mozilla.org/mozilla-central\",\n  \"moz_source_stamp\": \"8954b5fe5fb5ba67d77f21755d099d103987d632\",\n
        \ \"moz_update_channel\": \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"54f07d3ec1f3a445313f27443ff30ec6"'
      Last-Modified:
      - Wed, 06 Nov 2024 17:22:34 GMT
      x-goog-generation:
      - '1730913754432148'
      x-goog-hash:
      - crc32c=hyO4GQ==
      - md5=VPB9PsHzpEUxPydEP/MOxg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '370'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aZQI1DSuR_CJvtAszBb4Hw/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/aZQI1DSuR_CJvtAszBb4Hw/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-h0fVvm976Z5ovnLdUroGo6XvHuA"
      location:
      - https://firefoxci.taskcluster-artifacts.net/aZQI1DSuR_CJvtAszBb4Hw/0/public/build/target.mozinfo.json
      x-for-request-id:
      - c5be6473-a478-4eef-b6e1-81c36994face
      x-for-trace-id:
      - 16fe53e838cef12840b6da396c832c8a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/aZQI1DSuR_CJvtAszBb4Hw/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"debug\",\n    \"buildtype_guess\":
        \"debug\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        false,\n    \"datareporting\": true,\n    \"debug\": true,\n    \"devedition\":
        false,\n    \"domstreams\": true,\n    \"early_beta_or_earlier\": true,\n
        \   \"healthreport\": true,\n    \"isolated_process\": false,\n    \"mozconfig\":
        \"/builds/worker/checkouts/gecko/.mozconfig\",\n    \"nightly_build\": true,\n
        \   \"normandy\": true,\n    \"official\": false,\n    \"opt\": false,\n    \"os\":
        \"linux\",\n    \"pgo\": false,\n    \"platform_guess\": \"linux64\",\n    \"processor\":
        \"x86_64\",\n    \"release_or_beta\": false,\n    \"require_signing\": false,\n
        \   \"stylo\": true,\n    \"sync\": true,\n    \"telemetry\": false,\n    \"tests_enabled\":
        true,\n    \"toolkit\": \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n
        \   \"topsrcdir\": \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n
        \   \"ubsan\": false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"03c7aea2cc1217ef5be63a5f286f12f1"'
      Last-Modified:
      - Wed, 06 Nov 2024 17:22:37 GMT
      x-goog-generation:
      - '1730913757880664'
      x-goog-hash:
      - crc32c=PM08nA==
      - md5=A8euoswSF+9b5jpfKG8S8Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '416'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/aZQI1DSuR_CJvtAszBb4Hw/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Artifact not
        found\\n\\n---\\n\\n* method:     getLatestArtifact\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-11-06T20:14:50.508Z\",\n  \"requestInfo\":
        {\n    \"method\": \"getLatestArtifact\",\n    \"params\": {\n      \"0\":
        \"public/build/target.crashreporter-symbols.zip\",\n      \"taskId\": \"aZQI1DSuR_CJvtAszBb4Hw\",\n
        \     \"name\": \"public/build/target.crashreporter-symbols.zip\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2024-11-06T20:14:50.508Z\"\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1f8-6mXDR9RfJoxn216coJf3tqRyraA"
      x-for-request-id:
      - 192e6865-c49c-4ae7-8b42-a12eb9a85237
      x-for-trace-id:
      - 8859c4b2767ead9316b0e8495103cd33
    status:
      code: 404
      message: Not Found
version: 1
