interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-beta.shippable.latest.thunderbird.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"comm.v2.comm-beta.shippable.latest.thunderbird.linux64-opt\",\n
        \ \"taskId\": \"Tr8W9rLRSAC4-v7l-d-Hpw\",\n  \"rank\": 1762189733,\n  \"data\":
        {},\n  \"expires\": \"2026-11-03T17:12:10.296Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c2-VQ9MOnSsu5bomdW+LrlPZSCYXR4"
      x-for-request-id:
      - 7b9f38bb-56e5-424f-99f8-8c03676c6db5
      x-for-trace-id:
      - fd08b367550f9b532cb79336e8a9f8c9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-beta.shippable.latest.thunderbird.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:19.088Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-beta.shippable.latest.thunderbird.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:19.088Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-vVDOJNSOZocmWOXhPVoCxdM4v1g"
      x-for-request-id:
      - d4634cdd-0005-4594-865f-7882cae395e9
      x-for-trace-id:
      - f41898497496e822ba0ae8d8c8071294
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-beta.shippable.latest.thunderbird.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:19.333Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-beta.shippable.latest.thunderbird.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:15:19.333Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"199-q9o0+ZjP5p+FfjqfoPak0aoFG1s"
      x-for-request-id:
      - c117a5cb-f3bd-40a9-bc88-3f494c827ea5
      x-for-trace-id:
      - d4676f8a80eb84f93fa854da7b6ce0c5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-beta.shippable.latest.thunderbird.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:19.581Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-beta.shippable.latest.thunderbird.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:19.581Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-YHbTigaF7kQh9WZnOCd+Lwiy0WE"
      x-for-request-id:
      - cf85202d-88a4-465f-8145-5435ca26bdca
      x-for-trace-id:
      - 988d6e20dd97ec8e28941a9477b880e5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-beta.latest.thunderbird.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:19.836Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-beta.latest.thunderbird.linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:19.836Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18c-ZTf5Jj4XcVEP1j3M7TJo22dLo48"
      x-for-request-id:
      - 9d65fad0-add3-464d-98e8-f5b7070b2b89
      x-for-trace-id:
      - 5d0bceda351ca7605b5927f6d2a8d144
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-beta.latest.thunderbird.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:20.059Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-beta.latest.thunderbird.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:20.059Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"188-Y7c8sISKjQz47fBG8wI83L2aR0w"
      x-for-request-id:
      - 7d83cb1f-aef5-4ae1-b081-fc4183eb955c
      x-for-trace-id:
      - 56e28885df1855c808432dc430b4f457
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-beta.latest.thunderbird.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:20.331Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-beta.latest.thunderbird.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:20.331Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18f-rqoI+s2UVf23Z4ism0eaTF6O7p0"
      x-for-request-id:
      - aea86343-519c-4381-80d7-d4096eae8bff
      x-for-trace-id:
      - 588ab3aeec7fc8027fae80eabcc29ef7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.comm-beta.latest.thunderbird.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:20.578Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.comm-beta.latest.thunderbird.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:20.578Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18b-KYrCGBHylExniE19tHugYlwm/ZA"
      x-for-request-id:
      - 6f209231-f7b1-4ecb-9bf6-542e7ab7d740
      x-for-trace-id:
      - ab6af00bb17cd91b1be8908a994a50b9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Tr8W9rLRSAC4-v7l-d-Hpw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-11-03T17:12:10.296Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-11-03T17:12:10.296Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-11-03T17:12:10.296Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Tr8W9rLRSAC4-v7l-d-Hpw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Tr8W9rLRSAC4-v7l-d-Hpw/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-dPSS1bDG/B7CbCAkrLoUAsxtnHU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Tr8W9rLRSAC4-v7l-d-Hpw/0/public/build/target.json
      x-for-request-id:
      - 5c7bac5d-3ad9-448e-8604-856fed4628e9
      x-for-trace-id:
      - a0321044b57c4b08646c05df9661f722
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Tr8W9rLRSAC4-v7l-d-Hpw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20251103170853\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{3550f703-e582-4d05-9a08-453d09bdfdc6}\",\n
        \ \"moz_app_maxversion\": \"145.*\",\n  \"moz_app_name\": \"thunderbird\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"145.0\",\n  \"moz_pkg_platform\":
        \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/releases/comm-beta\",\n
        \ \"moz_source_stamp\": \"864bc61e5da65724fced481eeb0cdbb49632b107\",\n  \"moz_update_channel\":
        \"beta\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e11a473e158eb4058c328738f7c230b3"'
      Last-Modified:
      - Mon, 03 Nov 2025 18:09:38 GMT
      x-goog-generation:
      - '1762193378044490'
      x-goog-hash:
      - crc32c=CUSUwQ==
      - md5=4RpHPhWOtAWMMoc498Iwsw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '347'
    status:
      code: 200
      message: OK
version: 1
