interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.try-comm-central.shippable.latest.thunderbird.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"comm.v2.try-comm-central.shippable.latest.thunderbird.linux64-opt\",\n
        \ \"taskId\": \"YD7nk70oTMCRMCJQnudcMw\",\n  \"rank\": 1761591316,\n  \"data\":
        {},\n  \"expires\": \"2025-11-26T19:00:44.095Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c9-GaHsnJVeKyfIyA1k03WzlHqvPDk"
      x-for-request-id:
      - 78df9cb3-3cb2-4ebc-90e9-648396a87a4f
      x-for-trace-id:
      - c4270f25affbe3fc7c2ebc9418a7956d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.try-comm-central.shippable.latest.thunderbird.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:11.256Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.try-comm-central.shippable.latest.thunderbird.linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:15:11.256Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"199-2frHEwqWKXUYNrItIma0Jn6bIus"
      x-for-request-id:
      - 257ee3a4-4b11-497e-b778-29ac4fb67467
      x-for-trace-id:
      - 0a151b82adec538cfb1b0d1c2e978cb7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.try-comm-central.shippable.latest.thunderbird.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:11.490Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.try-comm-central.shippable.latest.thunderbird.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-11-07T17:15:11.490Z\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a0-ZZLTv1h4bW5XadiZtpqpK4ctYeE"
      x-for-request-id:
      - 7d159376-9c6b-4ebb-a300-60b887fbdf92
      x-for-trace-id:
      - c2b6778acf701b83f33539e14567a021
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.try-comm-central.shippable.latest.thunderbird.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:11.717Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.try-comm-central.shippable.latest.thunderbird.sm-linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-11-07T17:15:11.717Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19c-Zgp1mthYK/un0N7oWt1MuOEnZQ0"
      x-for-request-id:
      - 47586218-01f2-404a-8418-5300b9a84d90
      x-for-trace-id:
      - 939569d5c96201ff593eac9c64d11a8f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.try-comm-central.latest.thunderbird.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"comm.v2.try-comm-central.latest.thunderbird.linux64-opt\",\n
        \ \"taskId\": \"OOjSYpyHQgOFVrpjOjL_cQ\",\n  \"rank\": 1762484492,\n  \"data\":
        {},\n  \"expires\": \"2025-12-05T03:07:28.153Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bf-V4IOz377l+4fe9FIwDtCLGe/Tfc"
      x-for-request-id:
      - aa813333-2277-43df-b0da-5d651abcf2f4
      x-for-trace-id:
      - e1a61cf1e47be1bfde29dda7687776b4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.try-comm-central.latest.thunderbird.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:12.797Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.try-comm-central.latest.thunderbird.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:12.797Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18f-dM8gSpf5btjCuGoymfY9rCbFuxY"
      x-for-request-id:
      - 8b6884fb-dc37-4f24-963b-0cb14e08b14e
      x-for-trace-id:
      - bbf4128098cde16ab3886f276fcc9299
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.try-comm-central.latest.thunderbird.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:13.044Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.try-comm-central.latest.thunderbird.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:13.044Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"196-M2aEmv78PVWeG/twUcUpGJbPONo"
      x-for-request-id:
      - 732ea239-b6b9-4b94-869a-d05c5c761b8b
      x-for-trace-id:
      - 1892bee96738ec9574c6ea50e95a11b7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/comm.v2.try-comm-central.latest.thunderbird.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-11-07T17:15:13.291Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"comm.v2.try-comm-central.latest.thunderbird.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-11-07T17:15:13.291Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-rfal0sZ4AAho95D7vje0GwypWEg"
      x-for-request-id:
      - 02a9e663-ca3e-4228-ad36-3c2d8abc4561
      x-for-trace-id:
      - 77d00067dce370dee6165021fbb1a63b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OOjSYpyHQgOFVrpjOjL_cQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-12-05T03:07:28.153Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-12-05T03:07:28.153Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/mozharness.zip\",\n
        \     \"expires\": \"2025-12-05T03:07:28.153Z\",\n      \"contentType\": \"application/zip\"\n
        \   },\n    {\n      \"storageType\": \"s3\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/OOjSYpyHQgOFVrpjOjL_cQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/OOjSYpyHQgOFVrpjOjL_cQ/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-NLCx5XelQ7xaOJcu6731E/YJHMU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/OOjSYpyHQgOFVrpjOjL_cQ/0/public/build/target.json
      x-for-request-id:
      - 67b8e2e9-009b-49e5-94b7-77a13ec65074
      x-for-trace-id:
      - 514cb94f041a52c73d599b5900f9f4fd
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/OOjSYpyHQgOFVrpjOjL_cQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"\",\n  \"buildid\": \"20251107030132\",\n  \"cc\": \"\",\n
        \ \"cxx\": \"\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\":
        \"{3550f703-e582-4d05-9a08-453d09bdfdc6}\",\n  \"moz_app_maxversion\": \"146.0a1\",\n
        \ \"moz_app_name\": \"thunderbird\",\n  \"moz_app_vendor\": \"Mozilla\",\n
        \ \"moz_app_version\": \"146.0a1\",\n  \"moz_pkg_platform\": \"linux-x86_64\",\n
        \ \"moz_source_repo\": \"https://hg.mozilla.org/try-comm-central\",\n  \"moz_source_stamp\":
        \"b62aa70fd961de41642569f0b2f39ac0dc78765b\",\n  \"moz_update_channel\": \"default\",\n
        \ \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c1f65074a4846965762fc400a8cbd5e0"'
      Last-Modified:
      - Fri, 07 Nov 2025 03:15:30 GMT
      x-goog-generation:
      - '1762485330898358'
      x-goog-hash:
      - crc32c=55eB7g==
      - md5=wfZQdKSEaWV2L8QAqMvV4A==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '301'
    status:
      code: 200
      message: OK
version: 1
