interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hg.mozilla.org/try/json-rev/001e4eea9c6d
  response:
    body:
      string: '{

        "node": "001e4eea9c6dfbf4362dcaa0626a8d283e0b52b9",

        "date": [1730826916.0, 0],

        "desc": "try_task_config for https://phabricator.services.mozilla.com/D227724\nDifferential
        Diff: PHID-DIFF-enfzu3e53a5ako5d4zqi",

        "backedoutby": "",

        "branch": "default",

        "bookmarks": [],

        "tags": [],

        "user": "libmozevent \u003crelease-mgmt-analysis@mozilla.com\u003e",

        "parents": ["607e384ada6afda139879c369bdb47549f6f681d"],

        "children": [],

        "files": [{

        "file": "try_task_config.json",

        "status": "added"

        }],

        "diff": [{

        "blockno": 1,

        "lines": [{

        "t": "",

        "n": 1,

        "l": "new file mode 100644\n"

        }, {

        "t": "-",

        "n": 2,

        "l": "--- /dev/null\n"

        }, {

        "t": "+",

        "n": 3,

        "l": "+++ b/try_task_config.json\n"

        }, {

        "t": "@",

        "n": 4,

        "l": "@@ -0,0 +1,8 @@\n"

        }, {

        "t": "+",

        "n": 5,

        "l": "+{\n"

        }, {

        "t": "+",

        "n": 6,

        "l": "+    \"parameters\": {\n"

        }, {

        "t": "+",

        "n": 7,

        "l": "+        \"optimize_target_tasks\": true,\n"

        }, {

        "t": "+",

        "n": 8,

        "l": "+        \"phabricator_diff\": \"PHID-HMBT-tzcw7jp4taskttmbe2oq\",\n"

        }, {

        "t": "+",

        "n": 9,

        "l": "+        \"target_tasks_method\": \"codereview\"\n"

        }, {

        "t": "+",

        "n": 10,

        "l": "+    },\n"

        }, {

        "t": "+",

        "n": 11,

        "l": "+    \"version\": 2\n"

        }, {

        "t": "+",

        "n": 12,

        "l": "+}\n"

        }, {

        "t": "",

        "n": 13,

        "l": "\\ No newline at end of file\n"

        }]

        }],

        "phase": "draft",

        "pushid": 1159685,

        "pushdate": [1730826935, 0],

        "pushuser": "reviewbot",

        "landingsystem": null

        }'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: Script output follows
version: 1
