interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hg.mozilla.org/releases/mozilla-beta/json-rev/64afe096714f
  response:
    body:
      string: '{

        "node": "64afe096714f8e1198f8e4abf1510aade6fc94b0",

        "date": [1730136898.0, 0],

        "desc": "Bug 1927125 - Avoid triggering gray unmarking when unlinking module
        scripts r=sfink, a=dmeehan\n\nDifferential Revision: https://phabricator.services.mozilla.com/D226902",

        "backedoutby": "",

        "branch": "default",

        "bookmarks": [],

        "tags": [],

        "user": "Jon Coppeard \u003cjcoppeard@mozilla.com\u003e",

        "parents": ["3c6025cec16a9d513529a3d9c67863e6efd70250"],

        "children": ["327e15fdb8f4cdaf67b7ce9a19672dfde3d1de46"],

        "files": [{

        "file": "js/loader/LoadedScript.cpp",

        "status": "modified"

        }],

        "diff": [{

        "blockno": 1,

        "lines": [{

        "t": "-",

        "n": 1,

        "l": "--- a/js/loader/LoadedScript.cpp\n"

        }, {

        "t": "+",

        "n": 2,

        "l": "+++ b/js/loader/LoadedScript.cpp\n"

        }, {

        "t": "@",

        "n": 3,

        "l": "@@ -277,23 +277,23 @@ void ModuleScript::Shutdown() {\n"

        }, {

        "t": "",

        "n": 4,

        "l": " \n"

        }, {

        "t": "",

        "n": 5,

        "l": "   UnlinkModuleRecord();\n"

        }, {

        "t[...]
