interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hg.mozilla.org/mozilla-central/json-rev/2cb6128d7dca
  response:
    body:
      string: '{

        "node": "2cb6128d7dca8c9a9266b3505d64d55ac1bcc8a8",

        "date": [1730818440.0, -7200],

        "desc": "Backed out changeset 70210dd7915c (bug 1926722) for causing LeakSanitizer
        failures @ nsThread . CLOSED TREE",

        "backedoutby": "",

        "branch": "default",

        "bookmarks": [],

        "tags": [],

        "user": "Alexandru Marc \u003camarc@mozilla.com\u003e",

        "parents": ["565fd80298f9ff9d405ab90130b307a62a556c6f"],

        "children": ["7d9c8bd16879c4c31ecca77ffa956368194d332e"],

        "files": [{

        "file": "dom/file/ipc/RemoteLazyInputStream.cpp",

        "status": "modified"

        }, {

        "file": "dom/file/ipc/RemoteLazyInputStreamChild.cpp",

        "status": "modified"

        }, {

        "file": "dom/file/ipc/RemoteLazyInputStreamThread.cpp",

        "status": "modified"

        }, {

        "file": "dom/file/ipc/RemoteLazyInputStreamThread.h",

        "status": "modified"

        }],

        "diff": [{

        "blockno": 1,

        "lines": [{

        "t": "-",

        "n": 1,

        "l": "--- a/dom/file/ipc/RemoteLazyInputStream.cpp\n"

        }, {

        "t": "+",

        "n": 2,

        "l": "+++ b/dom/file/ipc/RemoteLazyInputStream.cpp\n"

        }, {

        "t": "@",

        "n": 3,

        "l": "@@ -152,18 +152,17 @@ RemoteLazyInputStream::RemoteLazyInputSt\n"

        }, {

        "t": "",

        "n": 4,

        "l": "   }\n"

        }, {

        "t": "",

        "n": 5,

        "l": " }\n"

        },[...]
